[2021-01-31 17:37] Vishal-raj-1 opened #2 "Doc: README"
We can do several changes in README. Like we can add the preview of the projects, website. We can add some gifs or images to make this readme more attractive.

[2021-01-31 17:37] Vishal-raj-1 commented on #2
Hey @urvashi-code1255 can you please add projects preview in readme.

[2021-02-01 15:44] aditya28sarin commented on #2
Can you assign the issue to me? and also brief as to what exactly you want in the readme

[2021-02-01 15:52] Vishal-raj-1 commented on #2
@aditya28sarin Sure !! I want to add project images in readme in table form may be !! I am not sure you can try

[2021-02-06 07:25] Vishal-raj-1 opened #10 "Calculator : Change the UI of calculator !!"

[2021-02-07 02:10] Sivyamkumar commented on #2
@Vishal-raj-1 can you please assign this task to me. I will do my best.

[2021-02-07 12:27] Vishal-raj-1 opened #14 "Calculator: make it scientific calculator"
Try to implement as many function as you can !!

![cal](https://user-images.githubusercontent.com/59874304/107146354-b42afd00-696d-11eb-90d6-7776427fae57.JPG)

[2021-02-07 12:36] Vishal-raj-1 opened #15 "Note App : Implementation of more features"
## Features :

- Add title for note app
- Add tags if required
- Add time stamp if required( will give notification )

## Searching 👍🏻

- On the basis of tags
- On the basis of content (means title or notes)
- On the basis of time stamp(recent or older)

## Styling 👍🏻

- You can come with your own design.

### Have more idea ?

- Be creative, try to add as many features we can add to this app. Com

[2021-02-07 12:42] Vishal-raj-1 opened #16 "Counter: Give style to button"

[2021-02-07 14:59] urvashi-code1255 commented on #10
Hi @Vishal-raj-1 I have changed the UI of the calculator. Is there anything more you want to do?

[2021-02-07 15:02] Vishal-raj-1 commented on #10
Hey @urvashi-code1255, I want scientific calculator !!

[2021-02-07 15:05] urvashi-code1255 commented on #10
But that's the functionality and this issue has a label of style

[2021-02-07 15:35] synox opened #17 "Calculator: Allow typing on the keyboard"
Either make the textfield editable, or mark it as readonly and setup keyboard listeners to react to the keypresses.

Important to keep the code short and easy to understand.

[2021-02-08 03:50] khushi935 commented on #16
I would like to work on this issue. Please assign it to me.

[2021-02-08 04:12] khushi935 commented on #16
Can you specify which button style should I change?

[2021-02-08 05:58] khushi935 commented on #16
![button](https://user-images.githubusercontent.com/62712155/107181182-4da2ef00-6a00-11eb-991d-76fad6893ec0.png)

Does this look good? Or Should I add animation?
The button of "color flipper" is the effect after hover.

[2021-02-08 06:13] Vishal-raj-1 commented on #16
Hey @khushi935 thank you for showing your interest in this project. Yes you can do this & I guess it will be great if you align this button center. And Also change the button style of counter project.
![counter](https://user-images.githubusercontent.com/59874304/107182457-ca36cd00-6a02-11eb-9141-14f8d5527a14.JPG)

[2021-02-08 09:36] khushi935 commented on #16
@Vishal-raj-1  I have a small doubt, I need to align text(ex calculator) as well as visit button in center?

[2021-02-08 10:49] Vishal-raj-1 commented on #16
@khushi935 YES !! You have to align both of them !!

[2021-02-08 10:50] Vishal-raj-1 commented on #17
Thanks for raising the issues !! You can work on this issue !!

[2021-02-08 10:53] khushi935 commented on #16
https://user-images.githubusercontent.com/62712155/107210236-dda95e80-6a29-11eb-8198-4edf12399c98.mp4

Does this look good?

[2021-02-08 10:57] Vishal-raj-1 commented on #16
@khushi935 This looks awesome !! Can you do one more thing ? Increase height of the project images. and give some fixed heights so that there would not be any extra white spaces.

Thanks

[2021-02-08 10:58] khushi935 commented on #16
okay, I will do it.

[2021-02-08 11:10] Vishal-raj-1 opened #19 "Todo List: Implementation"
Make a todolist from scratch

## features
- Add task/remove task/ marks as done
![todolist](https://user-images.githubusercontent.com/59874304/107211287-58bf4480-6a2b-11eb-8609-f663cbc829e2.png)

- When all task is done do hurrah celebration like

![star](https://user-images.githubusercontent.com/59874304/107211969-4691d600-6a2c-11eb-8912-1a60dbb26ea4.JPG)

[2021-02-08 11:12] Vishal-raj-1 opened #20 "JavaScript Clock"
Build Analog and digital clock both.

[2021-02-08 11:16] Vishal-raj-1 opened #21 "Interest Calculator"
Ask Initial Amount, Rate, Time and print interest amount !!

P.S : Only for First Time User !!

[2021-02-08 11:19] Vishal-raj-1 opened #22 "Day of the Week"
![day](https://user-images.githubusercontent.com/59874304/107212787-7b525d00-6a2d-11eb-8c11-324521a689a9.JPG)

P.S : Only for First time User !!

[2021-02-08 11:20] khushi935 commented on #16
![Screenshot (47)](https://user-images.githubusercontent.com/62712155/107212862-9624d180-6a2d-11eb-82ab-0584d4d36525.png)

Does this look good?

[2021-02-08 11:20] Vishal-raj-1 opened #23 "Image Slider"
Build a carousel using vanilla javascript.

[2021-02-08 11:21] Vishal-raj-1 commented on #16
@khushi935 Perfect send the PR for the same !!

[2021-02-08 11:23] Vishal-raj-1 opened #24 "Light Switch on/off"
On clicking the light of bulb will be on/off.

[2021-02-08 12:32] urvashi-code1255 opened #27 "Search Bar"
Deliverables:

- Add search functionality to the existing Search bar so that projects can be found easily.
- Ignore case sensitivity(means if anyone searches for counter or Counter) he/she will get the Counter project.

[2021-02-08 12:36] urvashi-code1255 opened #28 "Space between Home and About Section"
Deliverables:
- Remove the extra space present between Home and About section(Reduce the space).

Screenshot of the bug
![Capture](https://user-images.githubusercontent.com/63122133/107220332-3aac1100-6a38-11eb-8378-28cb61bc95c7.PNG)

[2021-02-08 12:44] urvashi-code1255 opened #29 "Add Issue(For feature and bug Report) and Pull request Templates"

[2021-02-08 13:01] urvashi-code1255 opened #30 "Stopwatch"
Deliverables:
- Make a decent stopwatch using Vanilla Javascript with start, stop and reset button.

[2021-02-08 13:20] khushi935 commented on #30
I would like to work on this .

[2021-02-08 14:31] urvashi-code1255 commented on #30
Sure go ahead @khushi935 :)

[2021-02-08 15:03] 96RadhikaJadhav commented on #29
@urvashi-code1255 Can I work on the issue?

[2021-02-08 15:11] urvashi-code1255 commented on #29
Sure @96RadhikaJadhav go for it :)

[2021-02-08 15:35] Nagsenwaghmare commented on #30
Hey @urvashi-code1255  I also want to work on this issue can you please suggest UI you want or How should it look like.

[2021-02-08 15:45] urvashi-code1255 commented on #30
hey @Nagsenwaghmare This issue can only be assigned to one person. There are many more issues to work on. Please have a look at those

[2021-02-08 16:53] Vishal-raj-1 opened #31 "Change UI of the Project Section"
Remove Visit button from here and make image clickable which redirect to the project. Increase the Image size.

![project](https://user-images.githubusercontent.com/59874304/107253323-34c82700-6a5c-11eb-8f80-9dff87c1d658.JPG)

[2021-02-08 16:57] Nagsenwaghmare commented on #30
@urvashi-code1255 ok, fine

[2021-02-08 17:34] Nagsenwaghmare opened #32 "bug in counter app"
![Counter - Google Chrome 08-02-2021 23_00_45](https://user-images.githubusercontent.com/64947831/107258371-b79fb080-6a61-11eb-8d0c-63b456e21e3b.png)

[2021-02-08 17:36] Nagsenwaghmare commented on #32
when a user leave a site for some time  and starts Increamenting from where he left ,counter is not increamenting value but attaching '1'  and it goes on.

[2021-02-08 17:58] khushi935 commented on #30
https://user-images.githubusercontent.com/62712155/107261166-fd11ad00-6a64-11eb-81a5-ef3c8c4a3626.mp4

Does this look good?

[2021-02-08 18:19] urvashi-code1255 commented on #30
Looking pretty cool!! @khushi935 . Please make a PR for the same.

[2021-02-09 01:27] khushi935 commented on #30
I should add a photo and shotwatch heading in the project section(home page) as well?

[2021-02-09 03:45] shakmg commented on #28
@urvashi-code1255 Hi, I've submitted a first open source PR for this issue, please take a look, thanks.

[2021-02-09 04:01] urvashi-code1255 commented on #30
Yes make a card similar to other cards and add image of stopwatch to it. Also add link of html file to href of a in the home page.

[2021-02-09 05:42] Sivyamkumar commented on #21
@Vishal-raj-1  can you assign this task to me and guide me to do this??

[2021-02-09 07:45] Vishal-raj-1 commented on #21
@Sivyamkumar Thanks for showing interest, You can go start  !!

[2021-02-09 07:50] Vishal-raj-1 commented on #21
Use this formula

![formua](https://user-images.githubusercontent.com/59874304/107331780-574c5580-6ad9-11eb-93ff-7ce2f838cbf5.JPG)

Website something like this !!
![dsi](https://user-images.githubusercontent.com/59874304/107331788-59161900-6ad9-11eb-9800-85f7997530e6.JPG)

[2021-02-09 14:24] #29 closed

[2021-02-09 15:37] #30 closed

[2021-02-10 03:48] Meghag5 commented on #23
I will work on this.

[2021-02-10 06:27] Vishal-raj-1 commented on #23
@Meghag5 Sure you can start work on this issue !!

[2021-02-10 06:30] Vishal-raj-1 commented on #2
@Sivyamkumar Sure !! You can add GSSOC & CrossWOC as open source programs !! This repo is part of this two programs so you can add the logo of this two programs in README. Thanks !!

[2021-02-10 06:32] Vishal-raj-1 commented on #10
Yep !! We will do this issue later, once our calculator is ready !!

[2021-02-10 07:16] khushi935 commented on #31
I want to work on this.

[2021-02-10 10:25] urvashi-code1255 commented on #31
Sure Go Ahead @khushi935 . Looking forward to your PR :)

[2021-02-10 12:30] urvashi-code1255 opened #37 "Scroll to Top Button"
## Is your feature request related to a problem? Please describe.

- Make a scroll to top button using html css and Javascript.

## Describe the solution you'd like

- Button should be visible at every part of the page(not only at the bottom).

[2021-02-10 14:36] khushi935 commented on #31
Should I comment the button code or remove it?

[2021-02-10 15:24] urvashi-code1255 commented on #31
Remove it @khushi935

[2021-02-10 15:28] khushi935 commented on #31
https://user-images.githubusercontent.com/62712155/107530850-40ddf100-6be2-11eb-8d16-acea0a1da695.mp4

Please have a look at once.

[2021-02-10 15:46] urvashi-code1255 commented on #31
Looking Nice @khushi935 . Please raise a PR :)

[2021-02-11 05:46] frappelatte28 opened #39 "Edit button in "Magic notes" app"
## Describe the solution you'd like
There should be an edit button alongside the delete button
![jsProjcts](https://user-images.githubusercontent.com/64382399/107605909-8807c880-6c5a-11eb-9ccc-a41468080e5f.jpg)

[2021-02-11 06:00] frappelatte28 commented on #39
@Vishal-raj-1 can you assign me this issue?

[2021-02-11 06:06] frappelatte28 opened #40 "New feature-- 2D breakout game"
## Describe the solution you'd like
We can add a 2D breakout game, which is an intermediate javascript project

https://user-images.githubusercontent.com/64382399/107606823-59d7b800-6c5d-11eb-809d-d7cfba0d7374.mp4

[2021-02-11 06:07] frappelatte28 commented on #40
@Vishal-raj-1 let me know if you want to add this game to the projects section:-)

[2021-02-11 06:38] kishankr7979 opened #41 "There is an issue in the footer section"
## Describe the bug
The Date mentioned in the footer section is still showing 2020 instead of 2021.

## To Reproduce
Steps to reproduce the behavior:
1. Updation required

## Expected behaviour
Footer section should have the latest Year to be shown, i can do that and also afterwards there is no manual updation required for the same.

## Environment (please complete the following information):
 - O

[2021-02-11 06:38] kishankr7979 commented on #41
@Vishal-raj-1 Please assign me this issue

[2021-02-11 06:52] Vishal-raj-1 commented on #39
@frappelatte28 Sure !! You can start.

[2021-02-11 06:55] Vishal-raj-1 commented on #40
@frappelatte28 Yes !! You can start.

[2021-02-11 07:43] urvashi-code1255 commented on #41
Go for it @kishankr7979 :)

[2021-02-11 07:56] urvashi-code1255 opened #42 "Bug in Project Section after recent PR"
## Describe the bug
A clear and concise description of what the bug is.
Spacing between project section and about section is increased. Project section has bug.

## Expected behavior
A clear and concise description of what you expected to happen.
- Reduce the spacing between About and project section.
- Make all the cards as same as the cards in first row.

## Screenshots
![Capture1](https://user-

[2021-02-11 08:11] #28 closed

[2021-02-11 08:17] urvashi-code1255 opened #43 "Announcement!!"
Everyone Please use the Issue and Pull request Templates provided in the Project.
Thanks!!

[2021-02-11 09:52] Nagsenwaghmare commented on #37
hey! @urvashi-code1255 I want to work on this issue  . should I make different structure or should I add it to main webpage  ?

[2021-02-11 10:11] urvashi-code1255 commented on #37
@Nagsenwaghmare Add it to the main webpage itself

[2021-02-11 10:40] Nagsenwaghmare commented on #37
hey urvashi I am done with the scroll to top button , Have a look :blush:

https://user-images.githubusercontent.com/64947831/107626255-87375c80-6c83-11eb-9bc7-160ae6318ae0.mp4

[2021-02-11 10:56] urvashi-code1255 commented on #37
Hey @Nagsenwaghmare Please change this top button to some up arrow and also change its color to some grey or black.
Also pull the recent changes from upstream before making a PR.

[2021-02-11 10:59] #41 closed

[2021-02-11 15:19] khushi935 commented on #42
I correct this issue in my recent PR. Please have a look.
https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/46

[2021-02-11 15:21] urvashi-code1255 commented on #42
Thanks @khushi935 for removing the bug from Project section 😊

[2021-02-11 15:24] khushi935 commented on #20
I want to work on this.

[2021-02-11 15:25] khushi935 commented on #20
I have a small doubt I need to build digital and analog side by side? on the same page?

[2021-02-11 15:36] urvashi-code1255 commented on #31
Hey @khushi935 window.location is not working for github. So, projects are not opening on clicking on the images. Please find some other way to do it.

![image](https://user-images.githubusercontent.com/63122133/107659284-ff664800-6cac-11eb-960b-76c5d74b259a.png)

[2021-02-11 15:38] urvashi-code1255 commented on #20
@khushi935 Please make them as a seperate projects.

[2021-02-11 15:39] khushi935 opened #47 "Extra space between about us para and projects"
## Describe the bug
A clear and concise description of what the bug is.
![bug](https://user-images.githubusercontent.com/62712155/107659301-03926580-6cad-11eb-9b9a-d839cfbbf013.png)

In the browser, there is extra space seen between about us and project details. Please have a look.

[2021-02-11 15:41] khushi935 commented on #20
okay, thank you for the information. I will do it.

[2021-02-11 15:41] urvashi-code1255 commented on #47
@khushi935 This is the same issue as #42 . Please see its description. You can work on it if you are interested. Also, Please feel free to close this issue

[2021-02-11 15:43] khushi935 commented on #47
Okay, thanks.

[2021-02-11 15:43] #47 closed

[2021-02-11 15:44] khushi935 commented on #42
I want to work on this. I will remove the extra space between about us and project section.

[2021-02-11 15:49] khushi935 commented on #31
Okay I will try to do it in some other way. Please check this is bowser also. Is it working ?

[2021-02-11 16:05] khushi935 commented on #42
![Screenshot (57)](https://user-images.githubusercontent.com/62712155/107663075-f8413900-6cb0-11eb-9dec-9d6d5dcf1fd9.png)
Does it look good?

[2021-02-11 16:19] khushi935 commented on #31
How did you get this page? Means by clicking on which button did you get there?

[2021-02-11 16:20] khushi935 commented on #31
We can use window.location.href. I am not able to find another way. Please guide me.

[2021-02-11 16:30] urvashi-code1255 commented on #31
Hey @khushi935 Its working locally. But if you try to click on the projects from [this](https://vishal-raj-1.github.io/Awesome-JavaScript-Projects/) hosted link. You will get the error.

[2021-02-11 16:33] urvashi-code1255 commented on #31
@khushi935 You can simply use [this](https://www.daniweb.com/posts/jump/1968855). There's no need of javascript.

[2021-02-11 17:22] khushi935 commented on #31
okay got it. Thanks !!

[2021-02-12 04:21] Nagsenwaghmare commented on #37
I am unable to pull changes from upstream  urvashi  can you please help ?
when I added  remote it is showing" remote upstream already exists". but when I am fetching it ti is showing  "Repository not found".

[2021-02-12 08:17] urvashi-code1255 commented on #37
hey @Nagsenwaghmare Try to do "remote -v"

if it gives 4 urls( 2 of origin and 2 of upstream) then you have added upstream.

But if it gives only 2 urls of origin then you have to do "git remote add upstream https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects.git"

[2021-02-12 09:25] Vishal-raj-1 commented on #31
@khushi935 You dont need to implement any javascript for this purpose. Just add put all code of card div in anchor tag (`<a href="...."> </a>`)

[2021-02-12 09:30] Nagsenwaghmare commented on #37
![Awesome JavaScript Project - Google Chrome 12-02-2021 14_59_16](https://user-images.githubusercontent.com/64947831/107751078-ec05bc00-6d42-11eb-9b59-1bab0ff10163.png)
@urvashi-code1255 does this looking good should I make PR?

[2021-02-12 09:31] Nagsenwaghmare commented on #37
![Awesome JavaScript Project - Google Chrome 12-02-2021 14_59_16](https://user-images.githubusercontent.com/64947831/107751078-ec05bc00-6d42-11eb-9b59-1bab0ff10163.png)
@urvashi-code1255 does this looking good should I make PR?

[2021-02-12 09:32] Vishal-raj-1 commented on #37
@Nagsenwaghmare Increase the size of arrow not circle !! You can increase fontsize !!

[2021-02-12 09:37] Nagsenwaghmare commented on #37
done!

[2021-02-12 11:35] khushi935 commented on #31
I added a tag. Please check it.

[2021-02-13 03:39] #31 closed

[2021-02-13 05:31] #42 closed

[2021-02-13 05:52] urvashi-code1255 opened #51 "Dark Theme Toggler"
## Describe the solution you'd like
A clear and concise description of what you want to happen.
Make dark theme for this project using Javascript.

[2021-02-13 05:54] urvashi-code1255 commented on #20
@khushi935 Shall I assign this to you?

[2021-02-13 06:15] khushi935 commented on #20
Yes, please.

[2021-02-13 07:20] urvashi-code1255 commented on #20
@khushi935 Please send seperate PRs for both the clocks.

[2021-02-13 08:25] khushi935 commented on #20
okay 😊

[2021-02-13 11:58] anjali1102 commented on #51
hey, I am taking up this issue!  assign me

[2021-02-13 12:03] urvashi-code1255 commented on #51
Go for it @anjali1102

[2021-02-13 12:12] jainh6148 commented on #23
Hi, I would like to contribute to this project. Kindly assign it to me.

[2021-02-13 12:14] urvashi-code1255 commented on #23
Hi @Meghag5 Are you working on this issue?

[2021-02-13 13:33] ArkajyotiChakraborty commented on #14
Good Evening sir, I want to contribute in this project, i have a build a basic calculator and working in web development.

[2021-02-13 15:18] urvashi-code1255 commented on #14
Hi @ArkajyotiChakraborty You can surely go for this issue. Assigning this to you

[2021-02-13 15:45] Abhinav0909 commented on #27
Hi,@urvashi-code 1255 . I want to work on this issue.

[2021-02-13 15:48] Archna29 commented on #27
I want to work on this issue

[2021-02-13 16:01] ArkajyotiChakraborty commented on #14
Thanks, is there's any discord channel for this specific project or repo, and when is the deadline.

[2021-02-13 16:04] urvashi-code1255 commented on #27
Hi @Abhinav0909 @Archna29 Welcome to this project. As we follow first come first first serve. So, I am assigning this issue to @Abhinav0909 . There are more issues to work on. You can work on some other issue in this repository @Archna29 :)

[2021-02-13 16:06] urvashi-code1255 commented on #27
Hi @Abhinav0909 @Archna29 Welcome to this project. As we follow first come first first serve. So, I am assigning this issue to @Abhinav0909 . There are more issues to work on. You can work on some other issue in this repository @Archna29 :)

[2021-02-13 16:25] urvashi-code1255 commented on #14
You have 3 days to complete a particular issue. For now, you can ask any query in this issue thread only..

[2021-02-13 16:30] TidbitsJS opened #53 "Animated Counter"
## Animated Counter in JavaScript.
An animated counter that counts up to any number using JavaScript with HTML & CSS on page load.

Useful to use in any website to show/display statistics of particular stuff. (Ex., social media followers, ranks, number of projects, etc )

[2021-02-13 16:36] Meghag5 commented on #23
Yes

[2021-02-13 17:05] #53 closed

[2021-02-13 17:09] urvashi-code1255 commented on #23
Hi @jainh6148 Welcome to the project!! As this issue is already assigned. I can't assign this to you.. There are more issues to work on in this repository. Have a look. Select an issue not having a label of "assigned". i will assign it to you :)

Thanks!

[2021-02-13 17:20] urvashi-code1255 opened #54 "Replace the card images of the project section with GIFs"
Replace the card images of the project section with GIFs like the animated counter project

[2021-02-13 17:23] urvashi-code1255 commented on #2
Hey @aditya28sarin @Sivyamkumar Are you working on this issue?

[2021-02-13 17:41] khushi935 commented on #20
![Screenshot (75)](https://user-images.githubusercontent.com/62712155/107856785-a3d4bf80-6e50-11eb-96c3-8569ebc7f113.png)

How does this looking?

[2021-02-13 17:59] ArkajyotiChakraborty commented on #14
ok thanks.

[2021-02-13 18:15] TidbitsJS commented on #54
Well, can I do this with GIF zoom on hover?

[2021-02-13 18:22] TidbitsJS commented on #20
Hello, I have created these clocks. You can take a look ( Might help to improve or can be merged )

![Analog](https://i.ibb.co/6H0WdkT/Screenshot-from-2021-02-13-23-46-36.png)

![Digital](https://i.ibb.co/27hGZhY/Screenshot-from-2021-02-13-23-47-20.png)

[2021-02-13 19:56] Sloth-Panda opened #56 "Music Player"
## Is your feature request related to a problem? Please describe.
Yes
## Describe the solution you'd like
Would like to make a javascript music player game made using html, css, js

## Additional context
Add any other context about the feature request here.
It wiil be having a good background animation

[2021-02-13 19:57] Sloth-Panda commented on #56
Would like  to work on this as part of crossWOC

[2021-02-13 19:59] Sloth-Panda opened #57 "Maze game in js"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
YES
## Describe the solution you'd like
A clear and concise description of what you want to happen.
Would like to add a maze game that will be having different levels and built using js, html, css
## Additional context
Add any other context

[2021-02-13 20:29] Devenkapoor7303 commented on #54
Can I work on this issue?

[2021-02-14 02:06] khushi935 commented on #20
Thank you for the information, I will improve my clock😊

[2021-02-14 04:40] urvashi-code1255 commented on #56
Go for it @Sloth-Panda

[2021-02-14 04:49] #37 closed

[2021-02-14 05:02] Sloth-Panda commented on #56
@urvashi-code1255, this issue should contain crossWoc and a level tag right? for it to be counted for score?

[2021-02-14 05:08] Sloth-Panda commented on #57
@urvashi-code1255 please assign this too I am already on it

[2021-02-14 05:15] Meghag5 commented on #19
I will like to work on this can we use react for this?

[2021-02-14 05:17] urvashi-code1255 commented on #19
Hi @Meghag5 , for now we are only using vanilla javascript

[2021-02-14 05:17] urvashi-code1255 commented on #19
Shall I assign this to you?

[2021-02-14 07:31] Archna29 opened #61 "Dynamic quote generator"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-02-14 07:31] khushi935 commented on #20
![Screenshot (77)](https://user-images.githubusercontent.com/62712155/107871100-9f49ee80-6ec4-11eb-8009-0dfc8f585062.png)

please have l look, let me know if any changes required.

[2021-02-14 07:31] Archna29 commented on #61
I would like to work on this issue

[2021-02-14 08:11] Sloth-Panda opened #62 "Creation of url shortener"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Creation of url shortener
## Describe the solution you'd like
A clear and concise description of what you want to happen.
This js code will be able to make shorter the provided link
## Additional context
Add any other context about the featu

[2021-02-14 08:12] Sloth-Panda commented on #62
@urvashi-code1255 do assign it to me and kindly add the tags too

[2021-02-14 08:42] Archna29 commented on #61
this issue will count in crosswoc?

[2021-02-14 08:43] Ayush7614 opened #63 "Add Cross WOC Banner or Poster"
## Is your feature request related to a problem? Please describe.
Add Cross WOC Banner or Poster

## Describe the solution you'd like
Add Cross WOC to  Banner or Poster

[2021-02-14 09:58] Vishal-raj-1 commented on #54
@TidbitsJS Yes !! @Devenkapoor7303 It is assigned to @TidbitsJS for Now !! You can check other issues for Now !!

[2021-02-14 10:07] Meghag5 commented on #24
I will work on this issue

[2021-02-14 10:08] urvashi-code1255 commented on #61
Yes, But everytime specify the programs!! So that I can add the label

[2021-02-14 10:09] urvashi-code1255 commented on #24
Go for it @Meghag5

[2021-02-14 10:11] Meghag5 opened #64 "Whack-a-mole"
## Describe the solution you'd like
It is a game in which moles will pop up and when we will select it our points will increase.

[2021-02-14 10:12] Vishal-raj-1 commented on #20
@TidbitsJS WoW !! Its looks awesome for me !! Can you raise the PR for the digital clock !!

@khushi935 Change color of the clock, It is not matching with background. Try to improve the color of the clock.

[2021-02-14 10:12] Meghag5 commented on #64
@urvashi-code1255 pls assign it to me and kindly add the tags too

[2021-02-14 10:13] Vishal-raj-1 commented on #62
@Sloth-Panda Sure !!

[2021-02-14 10:13] urvashi-code1255 commented on #64
@Meghag5 Add the description of your project in the pr template you have used!!

[2021-02-14 10:14] Vishal-raj-1 commented on #63
@Ayush7614 Go for it and Please add GSSOC banner as well.

[2021-02-14 10:15] #23 closed

[2021-02-14 10:24] Vishal-raj-1 commented on #64
@Meghag5 That will be great project !! Go for it and Try to complete one issue then ask for next issue !!

[2021-02-14 10:30] Ayush7614 commented on #63
@Vishal-raj-1 you can also add crosswoc level because I can do it under crosswoc

[2021-02-14 10:50] Archna29 commented on #61
What level this project will be of?

[2021-02-14 11:21] Aayushi-Mittal commented on #22
Hey! @Vishal-raj-1 Can I work on this issue?

[2021-02-14 11:23] urvashi-code1255 commented on #22
@Aayushi-Mittal Sure go for it!!

[2021-02-14 12:08] Abhinav0909 commented on #19
Hi, @ Vishal-rag -1 I would like to work on this issue

[2021-02-14 12:12] urvashi-code1255 commented on #19
Sure @Abhinav0909 you can take this issue!! Make sure to follow the PR template and show the video demo!!

Also, What are the programs you are participating in?

[2021-02-14 12:24] Abhinav0909 commented on #19
@urvashi-code1255 thank you for assigning this issue to me.
what do you mean by other programs you are participating in?

[2021-02-14 12:30] urvashi-code1255 commented on #19
@Abhinav0909 Means Are you participating in gssoc or crosswoc?

[2021-02-14 12:39] khushi935 commented on #20
https://user-images.githubusercontent.com/62712155/107877007-a2a69f80-6eef-11eb-8f24-ed418a26e497.mp4

How it's looking?

[2021-02-14 12:42] urvashi-code1255 commented on #20
Wow!! Its looking pretty cool @khushi935 !! You can raise a PR for it

[2021-02-14 13:04] #64 closed

[2021-02-14 13:17] Meghag5 opened #68 "Click-And-Drag"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.
in this project when we drag sideways it will show more pictures and no.s like in netflix when we click and drag it shows more movies.

## Addit

[2021-02-14 13:18] Meghag5 commented on #68
@urvashi-code1255 pls assign it to me and kindly add the tags too.

[2021-02-14 13:19] urvashi-code1255 opened #69 "[Enhancement]: Mole-game-project"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
- Overflow in horizontal direction.
- Start button is too small and don't have any designs.

## Describe the solution you'd like
A clear and concise description of what you want to happen.
- Remove the Overflow(scroll bar) in horizontal dire

[2021-02-14 13:21] urvashi-code1255 commented on #68
@Meghag5 Go for it!!

Do follow the PR template and make a seperate branch!!

[2021-02-14 13:24] Meghag5 commented on #69
i will work on this . pls assign it to me @urvashi-code1255

[2021-02-14 13:25] urvashi-code1255 commented on #69
Sure @Meghag5

[2021-02-14 13:27] urvashi-code1255 opened #70 "Add Contributing.md and Code of Conduct Files"

[2021-02-14 13:27] Meghag5 commented on #68
yes sure

[2021-02-14 13:55] Sloth-Panda opened #73 "PR template is not in place"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes
## Describe the solution you'd like
A clear and concise description of what you want to happen.
When I try to make a pr it does not show me the pr template
## Additional context
Add any other context about the feature request here.

[2021-02-14 13:59] urvashi-code1255 commented on #73
Hey @Sloth-Panda Do you want to solve this issue?

[2021-02-14 14:05] Sloth-Panda commented on #73
Yes, can make this asap @urvashi-code1255

[2021-02-14 14:30] Abhinav0909 commented on #19
@urvashi-code1255 I am participating in crosswoc.

[2021-02-14 14:37] TidbitsJS opened #74 "Valentine Special"
## Heart It
Many many hearts to all people who are trying to code & want to become a better version of oneself

## JS developer's Valentine
Simple yet elegant creative application using JS. The project is about to create multiple hearts with different timeouts + a single heart creation on every click anywhere in the window ( Drizzle of Hearts )

## Demo ( Keep an eye on cursor )
![demo](https://s2

[2021-02-14 14:39] TidbitsJS commented on #74
Assign this to me & I will make PR by today itself. Do add GSSOC labels to all of my contributions to help me achieve my goal ( Contributing as a participant of GSSOC event )

[2021-02-14 14:40] urvashi-code1255 commented on #74
@TidbitsJS I love this project!! You can go for it!

[2021-02-14 14:40] TidbitsJS commented on #74
Thank you so much @urvashi-code1255

[2021-02-14 14:57] 96RadhikaJadhav commented on #70
@urvashi-code1255  Can I work on it :)

[2021-02-14 14:59] urvashi-code1255 commented on #70
Sure @96RadhikaJadhav

[2021-02-14 15:04] TidbitsJS commented on #20
Thank you @Vishal-raj-1. I will create the PR very soon

[2021-02-14 15:20] Aayushi-Mittal commented on #22
Thanks! @urvashi-code1255 I am participating in GSSOC.

[2021-02-14 16:02] urvashi-code1255 commented on #73
Hey @Sloth-Panda Make a PR for this one first!! Then only I can merge any PR!!

[2021-02-14 16:04] Sloth-Panda commented on #73
@urvashi-code1255 I have already made the pr for the other two You can check them its just basically a set of checklists and nothing else is there in a pr template else I have to again close both the prs for no reason

[2021-02-14 16:06] Sloth-Panda commented on #73
Assign me this and add the tags then but doing this wont affect already made prs but the ones that will be coming after this gets merged @urvashi-code1255

[2021-02-14 16:08] urvashi-code1255 commented on #73
Hey @Sloth-Panda You can always edit your PR or issue from here..

![Capture](https://user-images.githubusercontent.com/63122133/107881986-e956c280-6f0c-11eb-8640-2e38cb88eb27.PNG)

I am only saying you to send its PR and then copy this template and edit your current PR!!

[2021-02-14 16:12] urvashi-code1255 commented on #73
For your current PRs you can copy the format from [here](https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/blob/main/.github/PR_template.md) and fill it accordingly!!

[2021-02-14 17:14] fsafarkhani opened #80 "add sidenav"
## Is your feature request related to a problem? Please describe.
Yes, this feature is useful for any websites to simply access the menu

## Describe the solution you'd like
I would like to add a Sidenav .made by JAVASCRIPT, HTML, CSS

## Additional context
Useful to show/hide the menu in any website

Demo
![Sidenav](https://user-images.githubusercontent.com/79014168/107883650-5f572b80-6f05-11eb-9

[2021-02-14 17:34] 96RadhikaJadhav commented on #70
@urvashi-code1255  Can you please add CrossWoc tag to this issue?

[2021-02-14 18:05] archana-9430 commented on #21
Please allow to work on this @Vishal-raj-1 and guide me for the same :)

[2021-02-14 19:38] #80 closed

[2021-02-14 19:40] Vishal-raj-1 commented on #21
@Sivyamkumar Are you working on this issue ? I will assign this issue to @archana-9430 if you haven't reply me !!

[2021-02-14 19:46] #74 closed

[2021-02-15 06:25] TidbitsJS commented on #32
@Vishal-raj-1, I have solved the issue. Created PR as well. Take a look!

[2021-02-15 06:40] #32 closed

[2021-02-15 08:17] Abhijay007 opened #84 "JavaScript drum-kit"
vanilla javascript project:  'javascript drum kit'

![drum kit](https://user-images.githubusercontent.com/64387054/107920977-cc190700-6f93-11eb-80c6-8de7dcfff681.gif)

I made this project during 30 days of vanilla javascript challenge by WES BOS.

live preview link: https://agitated-mccarthy-b9d840.netlify.app/

[2021-02-15 08:22] urvashi-code1255 commented on #84
Its Looking great!! @Abhijay007 You can go for it!!

[2021-02-15 08:24] Abhijay007 commented on #84
Gssoc.

[2021-02-15 08:25] urvashi-code1255 opened #85 "Website Logo"
Design logos for the website!!

Show the samples here before making a PR!!

[2021-02-15 08:42] urvashi-code1255 opened #86 "Website Favicon"
Design favicons for the website and show the demo here before making  a PR!!

[2021-02-15 08:44] urvashi-code1255 opened #87 "Footer Updation"
Add github repo link to the footer using github icon.

[2021-02-15 08:55] nilisha-jais commented on #87
I want to work on it

[2021-02-15 09:09] urvashi-code1255 commented on #87
Sure @nilisha-jais Go for it!! Also, tell about the programs you are participating in

[2021-02-15 09:18] nilisha-jais commented on #87
I would like to work on it as a part of cwoc

[2021-02-15 11:31] #84 closed

[2021-02-15 12:58] TidbitsJS opened #90 "Text Generator"
## Tired of boring lorem ipsum?
Ever ran out of words or tired enough of having same lorem ipsum all over the website. Yess??

## Proposal
Here is a thing for you, a text generator in JS to help you generate random text paragraphs

## Event
Participating as a part of GSSOC

## Demo
![demo](https://s2.gifyu.com/images/cinnamon-20210215-4.gif)

[2021-02-15 12:58] TidbitsJS commented on #90
Assign this to me & I will get it done!

[2021-02-15 12:59] ArkajyotiChakraborty commented on #14
Can i merged it on Wednesday, the basic part is ready i have to implement some advance functions, but having a test tomorrow.

[2021-02-15 13:22] urvashi-code1255 commented on #90
@TidbitsJS I like it!! Go for it :)

[2021-02-15 13:24] ArkajyotiChakraborty commented on #14
And do i have to merge the javascript file only.

[2021-02-15 13:26] urvashi-code1255 commented on #14
Okay @ArkajyotiChakraborty No problem!

[2021-02-15 13:26] urvashi-code1255 commented on #14
You have to push all the files changed!! @ArkajyotiChakraborty

[2021-02-15 13:27] ArkajyotiChakraborty commented on #14
ok thanks.

[2021-02-15 13:47] muthuannamalai12 opened #92 "Integrate Welcome Bot"
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

Please assign it to me as a part of Cross Woc.

[2021-02-15 14:08] Aayushi-Mittal commented on #85
Can I work on this issue?

[2021-02-15 15:17] archana-9430 commented on #21
Since, @Sivyamkumar seems no longer be interested in resolving this issue, kindly @Vishal-raj-1 allow me to do the same.

[2021-02-15 16:08] urvashi-code1255 commented on #21
Sure @archana-9430 You go for it!!

[2021-02-15 16:17] urvashi-code1255 commented on #92
@muthuannamalai12 Sure go for it!!

[2021-02-15 16:20] urvashi-code1255 commented on #85
Sure @Aayushi-Mittal Go for it!!

[2021-02-15 16:25] muthuannamalai12 opened #94 "Create Code of Conduct"
I would like to add code of conduct file as code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-02-15 16:25] muthuannamalai12 commented on #94
I would love to work on this issue as a part of Cross-woc. Kindly assign it to me.

[2021-02-15 16:30] muthuannamalai12 commented on #92
@urvashi-code1255  We need a code of conduct file for the custom message shown by the welcome bot. So I have created a new issue for it. Kindly assign me that issue.

[2021-02-15 16:53] #70 closed

[2021-02-15 16:54] urvashi-code1255 commented on #94
@muthuannamalai12 There was an existing assigned issue for code_of_conduct file. which I have merged just now! you can check that!

And feel free to close this issue

[2021-02-15 17:12] muthuannamalai12 commented on #94
Ok Thank You I will close it.

[2021-02-15 17:12] #94 closed

[2021-02-15 17:22] Archna29 opened #95 "Guess the word game in js"

[2021-02-15 17:23] Archna29 commented on #95
I would like to work on this issue please assign it toe

[2021-02-15 17:23] Archna29 commented on #95
I want to work on this issue please assign it to me.

[2021-02-15 18:07] #73 closed

[2021-02-15 18:08] #57 closed

[2021-02-15 18:08] #56 closed

[2021-02-15 18:16] Aayushi-Mittal commented on #85
These are some samples. Hope you like it!
## Design-1
<img src="https://user-images.githubusercontent.com/60853067/107980677-b2ed7600-6fe6-11eb-8fda-ead88fa5de2c.png" height=40% width=40%>

## Design-2
<img src="https://user-images.githubusercontent.com/60853067/107980692-b7199380-6fe6-11eb-916d-f23e72125cfd.png" height=40% width=40%>

[2021-02-15 20:32] archana-9430 commented on #21
![InterestCalculator](https://user-images.githubusercontent.com/78868726/107990570-b12dad80-6ffa-11eb-9fc9-46921f32b72b.png)
Please check this out. If there is some improvement needed , do let me know.

[2021-02-15 20:41] Abhijay007 opened #97 "netflix clone using vanilla javascript"
Netflix clone using vanilla javascript:

![netflix](https://user-images.githubusercontent.com/64387054/107990722-0b2e7300-6ffb-11eb-9ff2-467d8f3de5f2.gif)

It is not exactly like Netflix but I use the same color contrast as the original Netflix website to depict something like that.

This project also has search functionality and also I use some APIs (for images, loading movies, rating, etc) in th

[2021-02-15 20:58] archana-9430 commented on #21
@urvashi-code1255 and @Vishal-raj-1  let me know the changes (if any).

[2021-02-16 05:46] urvashi-code1255 commented on #95
@Archna29 go for it!!

[2021-02-16 05:54] urvashi-code1255 commented on #97
Great @Abhijay007 go for it!

[2021-02-16 05:56] Abhijay007 commented on #97
ok

[2021-02-16 07:24] khushi935 commented on #86
I want to work on this.

[2021-02-16 08:04] kmryashasvi opened #99 "Removing GIFs from readme files"
As we know that,
A readme file lets you know about the repo as well as attracting contributors to contribute in it.
But, readme file included in your repo is loosing grip in both of the roles, because of the GIFs mentioned in it,
They create an informal image of your repo, which is not good,
In order to maintain formality of your readme file,
Let me remove the gifs and insert some catching sentenc

[2021-02-16 10:01] urvashi-code1255 commented on #86
@khushi935 go for it!

[2021-02-16 10:03] urvashi-code1255 commented on #99
Hey @kmryashasvi I don't want to remove GIFs!!

[2021-02-16 10:27] #92 closed

[2021-02-16 10:34] #97 closed

[2021-02-16 12:12] kmryashasvi commented on #99
okay

[2021-02-16 12:12] #99 closed

[2021-02-16 14:58] TidbitsJS opened #104 "Digital Clock"
## Digital Clock in JS
Here is what you have been asking for .. The Digital Clock with stop & start features

### Approach
Use of Date & Time of JS with classlist & attribute functions

### Event
Participating as a part of GSSOC

### Demo
![demo](https://s2.gifyu.com/images/cinnamon-20210216-1.gif)

[2021-02-16 15:05] TidbitsJS commented on #104
@Vishal-raj-1, you have asked for this. So here it is! I have created the PR

[2021-02-17 06:06] Sloth-Panda opened #107 "Qr Code generator app"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes
## Describe the solution you'd like
A clear and concise description of what you want to happen.
On givining this app anylink it will convert it to a qr code
## Additional context
Add any other context about the feature request here.
No a

[2021-02-17 06:06] Sloth-Panda commented on #107
@urvashi-code1255  will like to work on it under cwoc

[2021-02-17 06:08] Sloth-Panda opened #108 "Geolocation app"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes
## Describe the solution you'd like
A clear and concise description of what you want to happen.
Would like to add a geolocation app with proper error handling that will display ur location on a google map
## Additional context
Add any ot

[2021-02-17 06:08] Sloth-Panda commented on #108
@urvashi-code1255 would like to work this under cwoc plz assign me

[2021-02-17 06:16] #104 closed

[2021-02-17 06:28] urvashi-code1255 commented on #107
Hey @Sloth-Panda Before assigning this to you keep some points in your mind!!

1. Always follow the PR template ( write closes or fixes #issue_number )
2. Always make a PR with a new branch!!
3. Also your new PRs are also having your previous merged commits so read [this](https://stackoverflow.com/questions/56708751/github-pull-requests-showing-more-and-more-old-merges) for it!

[2021-02-17 06:40] Meghag5 opened #109 "Local-Storage"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.
In this project it will help us to create menu and add items in this list.

## Additional context
Add any other context about the feature reques

[2021-02-17 06:41] Meghag5 commented on #109
@urvashi-code1255 pls add the tags and assign it to me.

[2021-02-17 06:42] urvashi-code1255 commented on #109
@Meghag5 go for it!!

[2021-02-17 06:44] urvashi-code1255 commented on #39
Hey @frappelatte28 Are you working on this? Any updates?

[2021-02-17 07:51] #68 closed

[2021-02-17 08:06] frappelatte28 commented on #39
Hey @urvashi-code1255! Actually, I am working on the other feature request that I have mentioned earlier. And I am facing some issues in that I tried my hands and did my research but that issue is not resolving. I am attaching the screenshot of the error that is showing up, let me know if you can help me with it :)
![Awesome_js_project_issue](https://user-images.githubusercontent.com/64382399/1081

[2021-02-17 09:02] Jyotsna555 commented on #15
Hello Sir, I would like to contribute to this project. I have started learning Web development recently, and I will be able to add some styling to the note app.

[2021-02-17 09:54] Vishal-raj-1 commented on #39
click on source where you will see the error at line number 27 of init.js . check [this](https://stackoverflow.com/questions/10291693/cannot-read-property-getcontext-of-null-using-canvas)

[2021-02-17 10:07] frappelatte28 commented on #39
yeah I did check the source you mentioned but I dont understand what is happening and why it is happening

[2021-02-17 11:38] diptendunandi opened #111 "Login Credential App"
## App Description
It will add an authentication process so that anyone can not access the content which will increase the security of any system.

## Solution
Making of Login and Password App

[2021-02-17 11:52] Abhijay007 opened #112 "Mario-run project"
Mario-run game project using vanilla javascript inspired by chorme dino-run game:

![mario-run](https://user-images.githubusercontent.com/64387054/108199945-be09e880-7143-11eb-9a87-84c51074c129.gif)

I made this project during hacktoberfest 2020, in this project I use javascript DOM and CSS keyframes(for animations) which may help a beginner to understand these concepts in more detail.

[2021-02-17 13:07] kanishkaa24 commented on #86
Hey, Can I work on this ?

[2021-02-17 13:08] kanishkaa24 commented on #85
Hey, Can I work on this?

[2021-02-17 13:10] TidbitsJS commented on #112
@Abhijay007, stupendous creation. Awesome!

[2021-02-17 13:14] Abhijay007 commented on #112
@TidbitsJS thanks!!

[2021-02-17 13:29] TidbitsJS opened #116 "Let's draw"
### Drawing App
A simple yet elegant drawing app with three - colors & brushes with an eraser

### Proposal
The goal is to learn how to draw with the mouse using Canva in JS

### Event
Participating as a part of GSSOC

### Demo
![draw](https://s2.gifyu.com/images/cinnamon-20210217-3.gif)

[2021-02-17 13:30] TidbitsJS commented on #116
Let me create a PR for this. Do assign!

[2021-02-17 13:56] #90 closed

[2021-02-17 14:13] Vishal-raj-1 commented on #116
It will be great project @TidbitsJS 😃

[2021-02-17 14:16] Vishal-raj-1 commented on #111
@diptendunandi Go ahead !! Looking forward to your PR !!

[2021-02-17 14:22] Vishal-raj-1 commented on #21
@archana-9430 We can place this calculator in the middle, and decrease the size of the `input`. Also try to add some styling to buttons. Let me know if you need any help for the same.

[2021-02-17 14:24] Vishal-raj-1 commented on #22
@Aayushi-Mittal You can contribute to this issue but it will not be counted for GSSOC'21 as it will be started from 1st march.

[2021-02-17 14:25] Vishal-raj-1 commented on #27
@Abhinav0909 any update ?

[2021-02-17 14:29] Vishal-raj-1 commented on #39
@frappelatte28 did you make edit features in this note app ?

[2021-02-17 14:30] Vishal-raj-1 commented on #51
@anjali1102 any update ?

[2021-02-17 15:27] anjali1102 commented on #51
I will give PR by today. Can you add [ crossWoc, difficulty level ]  labels on this issue?

[2021-02-17 15:46] asimaries commented on #87
I would like to work on it

[2021-02-17 16:26] urvashi-code1255 commented on #87
Hi @

[2021-02-17 16:29] diptendunandi commented on #111
$ git push -u origin login
ssh: Could not resolve hostname github.com:Vishal-raj-1: Name or service not known
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

Can anyone please tell me where am I wrong?

[2021-02-17 16:30] urvashi-code1255 commented on #86
@kanishkaa24 Sure go for it!

[2021-02-17 16:34] urvashi-code1255 commented on #111
Hey @diptendunandi You haven't forked the repo!

follow the guidelines given in readme!

[2021-02-17 16:38] urvashi-code1255 commented on #85
Hey @kanishkaa24 you can go for it!

[2021-02-17 16:39] urvashi-code1255 commented on #85
Hey @Aayushi-Mittal I like them! Could you please try them out on navbar?

[2021-02-17 16:51] supzi-del commented on #87
Can I work on this even if I'm not assigned?

[2021-02-17 16:58] ArkajyotiChakraborty commented on #14
I have added the changes, hope you like it, it was my first Open Source Contribution and made it in a very short time due to some exams. Thanks a lot to assign me with this opportunity.

[2021-02-17 17:25] diptendunandi commented on #111
Thanks, @urvashi-code1255. Login Feature is open for the pull request.

[2021-02-17 17:30] shreyasingh7673 opened #121 "sidenav project updation"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
I want to replace the current simple sidenav project with an animated one.
## Additional context
Add any other context about the feature request here.
![SIDENAV](https://user-images.githubusercontent.com/

[2021-02-17 17:34] shreyasingh7673 commented on #121
do assign me this for PR as a gssoc and cwoc participant.

[2021-02-17 17:38] #121 closed

[2021-02-17 17:42] asimaries commented on #87
I have completed the issue  please just check it once

[2021-02-17 17:42] shreyasingh7673 opened #123 "sidenav project updation"
#121  I
## Describe the solution you'd like
###
![SIDENAV](https://user-images.githubusercontent.com/72204395/108244667-713f0580-7175-11eb-8119-4a7879212105.png)
![Uploading ### ### `SIDENAV2.png…]()`
![SIDENAV2](https://user-images.githubusercontent.com/72204395/108244998-d09d1580-7175-11eb-9b4a-3dfe51bbe526.png)

I want to add animation to sidenav.

## Additional context

[2021-02-17 17:45] shreyasingh7673 commented on #123
can I do this as a cwoc and gssoc participant.

[2021-02-17 17:45] asimaries commented on #123
I would like to work on this

[2021-02-17 17:47] asimaries commented on #87
I have completed it just checkout
Ma'am thank you

[2021-02-17 18:31] anjali1102 commented on #51
Dark theme mode is to be only on main page only or it should be applicable on project pages too? @urvashi-code1255

[2021-02-17 19:39] archana-9430 commented on #21
![SI](https://user-images.githubusercontent.com/78868726/108258198-c5ea7c80-7185-11eb-9517-63e1d26028ae.png)
check it and let me know if some improvements are needed :)

[2021-02-17 20:42] shakmg commented on #28
@urvashi-code1255 Can you please help me understand as I can't see my contribution to this repo even though my changes have been merged in?

[2021-02-18 05:31] asimaries opened #127 "Open every card on new tab"
every card element should get a  target="_blank" in order to open in new tab and also other needed link should also get

[2021-02-18 05:32] asimaries commented on #127
I would like to work on this issue

[2021-02-18 05:35] Meghag5 opened #128 "Ajax Type Ahead"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.
In this project it will show every single word that matches the name we will search.

## Additional context
Add any other context about the feat

[2021-02-18 05:36] Meghag5 commented on #128
@urvashi-code1255 pls add tags and pls assign it to me.

[2021-02-18 07:07] kanishkaa24 commented on #85
![Logo (3)](https://user-images.githubusercontent.com/71253790/108318554-07127900-71e6-11eb-98a5-5126e5faf499.png)
![Logo (4)](https://user-images.githubusercontent.com/71253790/108318558-08dc3c80-71e6-11eb-8709-068b18f1bfbb.png)
Mam these are a few samples.

[2021-02-18 08:20] kanishkaa24 commented on #86
![9](https://user-images.githubusercontent.com/71253790/108326349-24e4db80-71f0-11eb-92f9-5d21bbb11d15.png)
![10](https://user-images.githubusercontent.com/71253790/108326357-26ae9f00-71f0-11eb-8802-bd4dc6c62cc9.png)
![11](https://user-images.githubusercontent.com/71253790/108326361-26ae9f00-71f0-11eb-84b8-b0f066699e0e.png)
![12](https://user-images.githubusercontent.com/71253790/108326364-2747358

[2021-02-18 08:59] urvashi-code1255 commented on #87
No @supzi-del Find a issue which is not assigned to anyone!

[2021-02-18 09:02] urvashi-code1255 commented on #127
@asimaries You can work on this issue!

Keep in mind to follow the PR template!

[2021-02-18 09:03] urvashi-code1255 commented on #128
@Meghag5 go for it!

[2021-02-18 09:04] urvashi-code1255 commented on #24
Hey @Meghag5 Will you work on this or shall I unassign you? As you are already assigned three issues!

[2021-02-18 09:05] urvashi-code1255 commented on #21
I think the reset button should be at the right @archana-9430

[2021-02-18 09:07] urvashi-code1255 commented on #51
Hi @anjali just make it for main website for now!

[2021-02-18 09:10] urvashi-code1255 commented on #85
Hey @kanishkaa24 I like the second one very much!! You can try it out on website navbar!

[2021-02-18 09:27] Vishal-raj-1 commented on #85
Hey @Aayushi-Mittal I think Design - 3 would look nice without that background at about section. What do you say ? We can replace about section image with design-3. And on scrolling we can give this effect as shown here.

![about](https://user-images.githubusercontent.com/59874304/108335527-13540180-71f9-11eb-9319-734587fa465e.JPG)

@kanishkaa24 As logo We should focus on `Awesome JavaScript Proje

[2021-02-18 09:30] Vishal-raj-1 commented on #86
@kanishkaa24 I am not sure, but for now we can use third one !! You raise the PR for it.

[2021-02-18 09:42] Meghag5 commented on #24
Hey @urvashi-code1255 i am working on this

[2021-02-18 12:04] urvashi-code1255 commented on #24
Okay @Meghag5

[2021-02-18 13:01] supzi-del commented on #20
![Screenshot (51)](https://user-images.githubusercontent.com/78655439/108360696-87050700-7217-11eb-89e5-4b949b891741.png)

[2021-02-18 16:15] diptendunandi commented on #111
I have done some changes to the code. Please pull the request @Vishal-raj-1 and @urvashi-code1255

[2021-02-18 17:26] shreyasingh7673 commented on #123
@urvashi-code1255  I have made PR. Do check and please give feedback.

[2021-02-18 17:32] TidbitsJS commented on #116
Thank you so much @Vishal-raj-1

[2021-02-18 17:52] #116 closed

[2021-02-18 18:00] #69 closed

[2021-02-18 18:01] TidbitsJS opened #137 "Clear all in Drawing App"
### Clear all in Drawing App .
Goal is to create a button, which when clicked will clear everything previously drawn.

### Event
Participating as a part of GSSOC

[2021-02-18 18:03] shreyasingh7673 opened #138 "toggle bar is not working"
## Describe the bug
while decreasing the screen size the toggle bar is not working.
![Screenshot 2021-02-18 230457](https://user-images.githubusercontent.com/72204395/108400660-7c5f6780-7241-11eb-9265-e717b063726a.png)

## To Reproduce
Steps to reproduce the behaviour:
1. by setting an id to div of navbar section.

## Expected behaviour
A clear and concise description of what you expected to happe

[2021-02-18 18:04] shreyasingh7673 commented on #138
please review the bug and assign me this as cwoc and gssoc participant to remove the bug.

[2021-02-18 18:04] shreyasingh7673 commented on #138
@urvashi-code1255

[2021-02-18 18:09] urvashi-code1255 commented on #138
@shreyasingh7673 I want to mention one thing! That your PR for gssoc will not be counted till 1 march. But I can surely assign this to you for crosswoc!

[2021-02-18 18:17] #112 closed

[2021-02-18 18:19] shreyasingh7673 commented on #138
okay

[2021-02-18 18:28] TidbitsJS commented on #137
Assign this to me & I will add the feature!

[2021-02-18 18:59] #51 closed

[2021-02-18 20:52] frappelatte28 commented on #39
No, I didn't, if somebody else wants to work on this issue please assign them.

[2021-02-19 04:07] shreyasingh7673 commented on #138
I have sent  PR. please check

[2021-02-19 06:31] Vishal-raj-1 commented on #20
@supzi-del Analog clock is already made. You can improve its design.

[2021-02-19 06:38] Vishal-raj-1 commented on #111
@diptendunandi It contains merge conflicts, Please resolve it !! Rest is fine.

[2021-02-19 06:40] Vishal-raj-1 commented on #137
Sure !!

[2021-02-19 14:51] kanishkaa24 commented on #85
Sure @urvashi-code1255 Mam and @Vishal-raj-1 Sir. I will change the title and adjust the background and try it on navbar.

[2021-02-19 15:16] kanishkaa24 commented on #85
It is not visible on the header because of the small size.

[2021-02-19 15:42] samfubuki commented on #21
I would like to work on this issue as a part of GSSOC 21

[2021-02-19 16:01] #86 closed

[2021-02-19 16:20] kanishkaa24 commented on #85
![Logo (7)](https://user-images.githubusercontent.com/71253790/108531180-6bbff780-72fc-11eb-8fd9-233b630ac33d.png)

[2021-02-19 17:01] archana-9430 commented on #21
![Screenshot (269)](https://user-images.githubusercontent.com/78868726/108536139-17b81180-7302-11eb-8e9d-4105f7a03ac6.png)
I made the necessary changes. Please let me know if some improvements are needed.

[2021-02-19 17:04] archana-9430 commented on #21
As a participant of GSSoC'21, can I work on this issue @Vishal-raj-1

[2021-02-19 20:35] Aayushi-Mittal commented on #85
Agree @Vishal-raj-1. It is a good idea.

[2021-02-19 20:48] Aayushi-Mittal commented on #22
Okay, No problem @Vishal-raj-1.

[2021-02-20 03:10] Vishal-raj-1 commented on #21
@archana-9430 You are already working on this issue. Yes Design is fine but where is the answer ? Where we will see the output/calculated interest ? You can share your local website by enabling github pages on your local forked repo.

[2021-02-20 03:12] #137 closed

[2021-02-20 03:15] Vishal-raj-1 commented on #85
@kanishkaa24 LGTM !!

[2021-02-20 08:07] #109 closed

[2021-02-20 09:16] ArkajyotiChakraborty commented on #14
hey just to clarify it's done right, as the PR merged i guess no work is left for now.

thanks again.

[2021-02-20 09:43] TidbitsJS opened #143 "Missing Projects"
### Few projects missing
Not able to track down the "Drawing app", "Scientific Calculator", "Password Generator", "Mario", "URL Shortner"  etc app projects cards in the index file

As per mine project is considered, it had been merged properly ( Twice with the enhancement ) .. Files seem to be there in the public & assets folder. Cards are missing

### Expected behavior
Projects cards have to be t

[2021-02-20 10:29] kanishkaa24 commented on #85
Shall I make a PR?

[2021-02-20 13:09] Mukta-Sawant commented on #15
@Vishal-raj-1 Can I work on this issue? I would like to solve this problem as a part of GirlScript Summer of code 2021.

[2021-02-20 17:10] archana-9430 commented on #21
@Vishal-raj-1 , do check this out-   https://archana-9430.github.io/

[2021-02-20 19:37] mirakiii commented on #15
Hey, @Vishal-raj-1 here I have worked on its styling and currently working on adding title to the note card would love add more functionality on the go!
![image](https://user-images.githubusercontent.com/68226051/108606626-101b6a00-73e1-11eb-8590-264f4d7246eb.png)

[2021-02-20 20:11] sidmohanty11 opened #146 "NewYearCountDown"
#145 Added a new cool stuff, which can be visited at new year time if new year celebration will be happening virtually. It will light up a confetti which I also added and make UX great.

##EVENT
GSSOC

[2021-02-21 02:31] khushi935 commented on #39
Can I work on this?

[2021-02-21 05:16] Vishal-raj-1 commented on #21
Looks good to me, You can send the PR for the same.

[2021-02-21 05:16] Vishal-raj-1 commented on #39
@khushi935 sure !!

[2021-02-21 05:18] Vishal-raj-1 commented on #143
@TidbitsJS Please make the PR for the same !! Except that scientific calculator

[2021-02-21 05:20] Vishal-raj-1 commented on #146
close #146

[2021-02-21 05:20] #146 closed

[2021-02-21 16:52] bitaashna commented on #10
Hey @Vishal-raj-1  I would like to contribute to this PR..I will work on turning the given calculator into scientific calculator? Can I start working on it?

[2021-02-21 17:09] TidbitsJS commented on #143
Done with PR.
If you want & no one is assigned for the scientific calculator project, then I am happy to work on that.
Let me know @Vishal-raj-1

[2021-02-21 18:02] pranabprohit opened #148 "Tic Tac Toe Game"
It's a multiplayer game and the players of this game have to position their marks(sign) so that they can construct a continuous line of three cells or box vertically, horizontally, or diagonally. An opponent can stop a win by blocking the end of the opponent's line.

[2021-02-21 18:02] bitaashna commented on #17
Hey @Vishal-raj-1 !! I would like to contribute to it. I will setup keyboard listeners to react to the keypresses.
Can u please assign this task to me.

[2021-02-21 18:03] pranabprohit commented on #148
Hi @urvashi-code1255 , I would like to work on this issue.

[2021-02-21 18:32] bitaashna opened #149 "Flash_card (short notes)"
In this students can make note of a particular topic in form of small Flashcards and thus making it easier for them to learn,memorize and revise.They can add as many flashcards they want!

[2021-02-21 18:34] bitaashna commented on #149
Hi @urvashi-code1255 ! I would like to work on this issue.

[2021-02-22 06:35] Abhinav0909 commented on #27
@urvashi-code1255 Actually I am working on other projects. Please give me two days more I will complete it for sure.

[2021-02-22 06:37] Abhinav0909 commented on #27
@Vishal-raj-1 Actually, I am working on other projects. So, Please give me two days more then I will complete it for sure

[2021-02-22 06:42] Abhinav0909 commented on #27
@Vishal-raj-1  could you provide me your discord link? I have some queries regarding the project so I want to clear it out.

[2021-02-22 09:46] #143 closed

[2021-02-22 09:52] Vishal-raj-1 opened #151 "add projects using js"
## Description

Make one object add all projects details in it. Projects Details includes Project Name, Project link, Images/Gif. Use JS to iterate through these projects.

[2021-02-22 09:55] Vishal-raj-1 commented on #149
I think it is same as our note app. Check it once !!

[2021-02-22 09:56] Vishal-raj-1 commented on #17
@bitaashna Sure !!

[2021-02-22 10:01] bitaashna commented on #149
okay ! got it.. thanks

[2021-02-22 10:01] #149 closed

[2021-02-22 10:42] DEEPALI-SUK commented on #20
If we generate a PR right now , then would it be counted as GSSOC PROJECT 2021 valid pull request , as according to the  schedule it is starting from 1st March?

[2021-02-22 10:46] Vishal-raj-1 commented on #20
It will not counted !!

[2021-02-22 14:40] TidbitsJS commented on #151
I will like to do this @Vishal-raj-1  ( I had even thought about this today itself ... The DRY )
Let's just make a separate JSON file for project info!

[2021-02-22 14:57] sukhpreet-singh1 commented on #151
can you please assign this issue to me ?
i would love to solve it

[2021-02-23 05:45] rohansharma4050 commented on #148
HI, I am a GSSoC'21 participant and would like to work on this issue. Can you assign this to me?

[2021-02-23 06:45] urvashi-code1255 opened #152 "Add Contributors Images in Readme"

[2021-02-23 10:45] sonalisonawane opened #153 "About adding one project of JavaScript"
## Is your feature request related to a problem? Please describe.
This is a simple project in which all the events of drag and drop API are used like dragstart, dragend, dragover, dragleave, drop.etc and here we have to drag the object and drop it into its correct box for eg. cat should be drop into cat box.

[2021-02-23 12:56] urvashi-code1255 commented on #148
Sure @pranabprohit go for it!

[2021-02-23 12:57] urvashi-code1255 commented on #148
Hey @rohansharma4050 Welcome to the project! As @pranabprohit asked first so I assigned this issue to @pranabprohit . You can go for an issue which is not assigned to anyone yet.

[2021-02-23 12:58] urvashi-code1255 commented on #153
Hey @sonalisonawane Please add the full description of what your project is!!

[2021-02-23 13:21] pranabprohit commented on #148
Hey @urvashi-code1255, I am part of CWOC so can you please add the required labels. And is their any group for discussion or for asking doubt related to project.

[2021-02-23 15:49] saaiswetha commented on #151
I would like to take up this issue. I'm a participant of GSSOC'21, could this be assigned to me?

[2021-02-23 16:46] Mukta-Sawant commented on #152
@urvashi-code1255 @Vishal-raj-1 Can I work on this issue? Please assign it to me, I would like to solve this as a part of GirlScript Summer of code 2021.

[2021-02-23 16:58] urvashi-code1255 commented on #152
Sure @Mukta-Sawant go for it :)

[2021-02-23 17:01] urvashi-code1255 commented on #148
@pranabprohit there is no group for now.

You can ask your doubts in this issue thread!

[2021-02-24 04:02] Harshal0902 opened #156 "QR Code Generator"
## Is your feature request related to a problem? Please describe.
Convert a link or text into QR Code.

## Describe the solution you'd like
I want to build a QR Code generator, through which the user just need to type text and it will convert that text into QR Code.

## Additional context
I want to build a QR Code generator.

[2021-02-24 04:03] Harshal0902 commented on #156
@Vishal-raj-1 Can you please assign this issue to me?
I would like to work on this issue.

[2021-02-24 14:51] mirakiii commented on #153
Hey @sonalisonawane may I add a project of a video player that is solely made of javascript that contains play, pause, skip 10 sec, timeline features.. what say?

[2021-02-24 15:13] mirakiii opened #158 "vanilla javascript Video player"
## Description
hey ! @urvashi-code1255 I would like make a addition to this amazing list of projects by creating _Video Player_ that is solely made up of **vanilla javascript** and basic css, html .
## Features
* Play / Pause by clicking on screen
* 10 seconds skip button
* timeline feature
* appearance of dashboard only when hovering on screen
* And many more...

would love to get my hands over t

[2021-02-24 15:38] sonalisonawane commented on #153
yes sure!

[2021-02-24 15:49] khushi935 commented on #39
https://user-images.githubusercontent.com/62712155/109026624-f2524b80-76e5-11eb-9884-cdd39f7c1cdd.mp4

Have a look at this.

[2021-02-24 16:55] #39 closed

[2021-02-24 16:57] Sapna2001 opened #160 "Text to voice conversion"
I would like to add the voice generator to the list of projects using HTML, CSS, JS.

In this mini-project, the text will be converted to voice.

Features:
1. Different accent
2. rate and pitch can be set
3. the speech can be stopped and restarted anytime

@urvashi-code1255 I would love to work on this issue as a part of GSSOC 2021 and I will start working on this when the contribution period star

[2021-02-24 17:01] urvashi-code1255 commented on #151
@TidbitsJS go for it.

@sukhpreet-singh1 @saaiswetha As @TidbitsJS asked first so I m assigning this issue to her. please have a look at other issues which are kot assigned to anyone.

[2021-02-24 17:02] urvashi-code1255 commented on #158
Hey @mirakiii I like your idea. Do implement it :)

[2021-02-24 17:03] urvashi-code1255 commented on #153
Hey @sonalisonawane I like your idea

[2021-02-24 18:08] #63 closed

[2021-02-24 18:16] #152 closed

[2021-02-24 18:29] Vishal-raj-1 commented on #156
@Harshal0902 Sure !!

[2021-02-24 18:32] Vishal-raj-1 commented on #158
@mirakiii Waiting for your PR !!

[2021-02-25 05:49] sonalisonawane commented on #153
Thank you :) @urvashi-code1255 mam ,glad to add more projects in this repo onwards.

[2021-02-25 12:23] #156 closed

[2021-02-25 12:44] mirakiii commented on #158
👋 hey ! @Vishal-raj-1 , nice to hear from you as I am applying through GSSOC would it be ok if I send PR after march 1 by then I would add some aditional features to make it more exciting :sparkler:
waiting to hear from you :)

[2021-02-25 13:04] Vishal-raj-1 commented on #158
@mirakiii Yeah no problem !!

[2021-02-25 16:50] bilal-23 opened #162 "Pig/Dice Game"
I would like to add a game  called Pig Dice Game.
The basic rules of this game are -
![Screenshot_20210225-221904](https://user-images.githubusercontent.com/71442068/109187099-95bf6100-77b7-11eb-8b68-12dfe8cbfc11.jpg)

Let me know if you are interested.

[2021-02-25 19:21] yashsehgal opened #163 "URL Shortener"
## Describe the solution you'd like
I want to contribute, one of the javascript-based projects of mine, which is a URL Shortner Application. I would love that you'll assign me to work and will merge my project into your codebase :)

## Additional context
Currently, This project is under the development phase, I am still working on the frontend part.

*If you want to take a look at the project code

[2021-02-25 21:17] Ayush7614 opened #165 "github-profiles"
## Is your feature request related to a problem? Please describe.
github-profiles

## Describe the solution you'd like
This application gives your github profile statics like followers repo etc

## Additional context
Add any other context about the feature request here.

[2021-02-25 21:18] Ayush7614 commented on #165
@Vishal-raj-1 plss assign me this issue under crosswoc

[2021-02-25 21:20] Ayush7614 opened #166 "insect-catch-game"
## Is your feature request related to a problem? Please describe.
insect-catch-game

## Describe the solution you'd like
This is insect catching game in javascript  when you catch the insect the score was increase

## Additional context
Add any other context about the feature request here.

[2021-02-25 21:21] Ayush7614 commented on #166
@Vishal-raj-1 plss assign me this issue under crosswoc

[2021-02-25 21:23] Ayush7614 opened #167 "quiz-app"
## Is your feature request related to a problem? Please describe.
quiz-app

## Describe the solution you'd like
This is quiz app made of javascript it will ask random question

## Additional context
Add any other context about the feature request here.

[2021-02-25 21:23] Ayush7614 commented on #167
@Vishal-raj-1 plss assign me this issue under crosswoc

[2021-02-26 07:17] Vishal-raj-1 commented on #162
@bilal-23 Waiting for your PR !!

[2021-02-26 07:18] bilal-23 commented on #162
@Vishal-raj-1 Can I upload the PR after 1st march, as a GSSOC Participant.

[2021-02-26 07:21] Vishal-raj-1 commented on #167
Sure !!

[2021-02-26 07:23] Vishal-raj-1 commented on #166
complete one issue first !!

[2021-02-26 07:24] Vishal-raj-1 commented on #165
@Ayush7614 This will be awesome project. Once you complete quiz app I will assign this issue to you as well.

[2021-02-26 07:26] Vishal-raj-1 commented on #163
@yashsehgal We already have `url shortener`. Kindly improve that project.

[2021-02-26 07:28] Vishal-raj-1 commented on #162
@bilal-23 Sure !!

[2021-02-26 07:31] yashsehgal commented on #163
Okay, That's great too. I will work on that.

[2021-02-26 07:39] #151 closed

[2021-02-26 11:42] ravireddy07 opened #168 "Adding Project Memory Game"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This is a Javascript game. There will be 16 cards, which hiding 8 different symbols/icons, where we have to flip two cards one after the other of same symbol/icon. If we fail to select same two cards, then the cards will get closed, but the

[2021-02-26 11:47] urvashi-code1255 commented on #168
Hey @ravireddy07 welcome to the project. I love your project. Go for it and add it. Eagerly waiting for your PR :)

[2021-02-26 14:30] gaurav24072002 commented on #166
Hey !!
Can you assign this to me as I have made the same project once so I can solve any issue in it for sure.
please assign me this issue under GSSOC '21

[2021-02-26 15:24] Ayush7614 commented on #166
no @gaurav24072002 i have to work on the issue first i will ask to @Vishal-raj-1

[2021-02-26 15:31] gaurav24072002 commented on #166
Hey !! it's not a compitation any one can contribute that's the main aim of Open-Source..... lets work together in it.. ok.

[2021-02-26 17:57] pranabprohit commented on #148
Hii @urvashi-code1255, I think `index.html` file got changed earlier it was having more than 500 line of code but now it shows only 150 line. Can you please check.

[2021-02-26 18:09] Vishal-raj-1 commented on #166
@gaurav24072002 & @Ayush7614 I have assigned some projects to you already once you finished those project, Then both of you can work on this, till now we have more than 20+project but once the GSSOC open I will open more issues for every project because now they are looking only basic project. So dont worry you both of have many issues to solve.

[2021-02-26 18:11] Vishal-raj-1 commented on #148
@pranabprohit Yes, we have moved all the projects card from index.html to script.js. Now you have to add your project detail in script.js.

[2021-02-26 20:57] pranabprohit opened #172 "Weather App"
It is a javascript app which tells weather of current location as well as of any other location which user prefers.

[2021-02-26 20:57] pranabprohit commented on #172
Hii @urvashi-code1255 , I would like to work on this issue as a part of CWOC.

[2021-02-27 07:28] urvashi-code1255 commented on #172
Sure @pranabprohit Go for it :)

[2021-02-27 07:39] #148 closed

[2021-02-27 13:56] ChitvanRamani22 commented on #54
@Vishal-raj-1 Can i work on this issue.

[2021-02-27 14:13] Vishal-raj-1 commented on #54
@TidbitsJS Any update or shall i assign this to @ChitvanRamani22 ?

[2021-02-27 14:18] bilal-23 commented on #162
I am still working on it. Just have to make it responsive so it may work properly in every device

[2021-02-27 14:37] TidbitsJS commented on #54
So sorry for the delayed work ... I will create PR by today itself

[2021-02-27 16:58] #54 closed

[2021-02-27 17:27] TidbitsJS opened #174 "Dynamic Quote Generator not working"
### Workflow Issue
The project named - Dynamic Quote Generator, is not functioning properly ... Not generating any quotes on click, instead, it's displaying an error alert

### Event
Part of GSSOC

[2021-02-27 17:28] TidbitsJS commented on #174
Assign this to me, & I will look into the issue

[2021-02-27 17:44] gaurav24072002 opened #175 "Blurry Loading Interface"
#169
Blurry Loading Interface
A new project..

[2021-02-27 18:22] urvashi-code1255 commented on #174
Yes @TidbitsJS Its not working! You can look into it.

[2021-02-27 18:24] urvashi-code1255 commented on #175
Hey @gaurav24072002 I told you to follow the issue template and explain your project!!

Please do that

[2021-02-27 18:41] Vishal-raj-1 opened #176 "Magic Note App: Replace alert box with bootstrap alert"
## Is your feature request related to a problem? Please describe.
Currently it show normal alert box, which is not look nice to me.

![bootstrap alert](https://user-images.githubusercontent.com/59874304/109396826-69dbe100-7959-11eb-8066-d783ce76238d.JPG)

## Describe the solution you'd like
Use bootstrap alert for styling

[2021-02-27 18:43] Vishal-raj-1 opened #177 "Magic Note App: Add title of the note"
## Is your feature request related to a problem? Please describe.
Some notes required title as well.

## Describe the solution you'd like
Put Add Title above add note

[2021-02-27 18:48] Vishal-raj-1 opened #178 "Magic Note App: Mark as favorite"
## Is your feature request related to a problem? Please describe.
We can star some notes as well.

## Describe the solution you'd like
Top Right side of the note card give star icon, and if user click on this icon, then mark this note as favorite/important.

P.S: We have to also implement search functionality for it as well i.e, we can see all important notes in one place.

[2021-02-27 18:56] Vishal-raj-1 opened #179 "Calculator: Bug"
## Describe the bug
let say when we are doing `8*9 = 72` but now if want to do `72-6`, it show `8*9-6`.

## To Reproduce
Steps to reproduce the behavior:
Check the video

https://user-images.githubusercontent.com/59874304/109397160-5e89b500-795b-11eb-949f-2920a746c0b8.mp4

## Expected behavior
It should show final result only. Means it should show `72-6` instead of `8*9-6`

## Environment (please

[2021-02-27 19:00] Vishal-raj-1 opened #180 "Calculator: neumorphism css"
## Is your feature request related to a problem? Please describe.
Change background of the website/calculator, remove outline of the button. Currently it show square box on clicking the box.

## Describe the solution you'd like
Change the background , I prefer neumorphism css for this project.

[2021-02-27 19:06] Vishal-raj-1 opened #181 "color flipper: Styling required"
## Is your feature request related to a problem? Please describe.
Currently, Button color also changes as background color changes.

## Describe the solution you'd like
Fixed background color of button to black. Align the text vertically.

[2021-02-27 19:09] Vishal-raj-1 opened #182 "Dark theme Button missing"
May be in some merge conflicts, dark theme button is missing from navbar. @anjali1102 Could please raise one PR for the same !!

[2021-02-27 19:10] urvashi-code1255 commented on #182
I did that @Vishal-raj-1

[2021-02-27 19:13] #182 closed

[2021-02-27 19:32] satcasm commented on #179
Hi, would like to work on this under GSSOC' 21.
Thanks.

[2021-02-27 19:46] tinchods93 commented on #177
Could you assign this issue to me? I would like to give it a try.

[2021-02-27 20:39] mtwn105 commented on #176
Hi @Vishal-raj-1

I would like to work on this.

[2021-02-27 20:47] tinchods93 commented on #176
I could work on this also.

[2021-02-28 03:44] urvashi-code1255 commented on #179
Go for it @satcasm

[2021-02-28 03:46] urvashi-code1255 commented on #176
Go for it @mtwn105

[2021-02-28 05:22] TidbitsJS commented on #174
Thank you @urvashi-code1255  ... Will it be okay if I changed the UI as well? ( It doesn't seem that appealing to me )

[2021-02-28 11:38] Mukta-Sawant commented on #180
@Vishal-raj-1 @urvashi-code1255 Can I work on this issue? I would like to solve this as a part of GSSOC'21. Please assign it to me.

[2021-02-28 12:28] urvashi-code1255 commented on #180
Sure go for it @Mukta-Sawant

[2021-02-28 12:29] urvashi-code1255 commented on #174
Yeah sure you can try good designs on it. @TidbitsJS

[2021-02-28 13:06] urvashi-code1255 opened #188 "Whack a Mole Game is not Responsive"
Screenshot:

![Capture1](https://user-images.githubusercontent.com/63122133/109419491-bf64cc00-79f3-11eb-8e9c-f594e0902cbf.PNG)

Make it responsive for all screen sizes!

[2021-02-28 13:17] urvashi-code1255 opened #189 "Password Generator: Copied Alert"
For now after clicking on copy button an alert box is showing like this:

![Capture](https://user-images.githubusercontent.com/63122133/109419732-ef609f00-79f4-11eb-88dc-722efd8b24a7.PNG)

1. Change this alert box to a tooltip.
2. Change the text of copy button to copied after clicking on it. Also change its color after clicking.
3. Also for now the copy button is interfering in the password so ap

[2021-02-28 13:18] satcasm commented on #179
Should I wait till 8th march ? As on that day GSSOC' 21 coding period starts or should I start now?
Thanks.

[2021-02-28 13:23] urvashi-code1255 opened #190 "URL Shortner: Bug"
URL Shortner is not working properly. Its not showing short URL .

See the screenshot below:

![Capture](https://user-images.githubusercontent.com/63122133/109419993-2daa8e00-79f6-11eb-86b9-22a8a32e1232.PNG)

[2021-02-28 13:24] urvashi-code1255 commented on #127
Any updates @asimaries ?

[2021-02-28 14:30] asimaries opened #192 "ReadMe needs to fix"
## Describe the bug
the main branch is named as "main" and not "master"

## To Reproduce
Steps to reproduce the behavior:
1. ReadMe file needs to update
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
I was not able to run "git pull upstream master" instead "git pull upstream main" worked for me
if it's working for you then theirs no need for

[2021-02-28 14:32] asimaries commented on #192
Can I work on This issue ?

[2021-02-28 14:40] asimaries commented on #127
sorry Urvashi di I forgot about this but I have completed it, you can check it please it's working 100% in my pc 🤞
ALSO PLEASE MERGE IT AND HELP ME TO MAKE MY FIRST CONTRIBUTION TO OPEN-SOURCE🤗

[2021-02-28 14:53] asimaries commented on #127
let me know if something went wrong I'll try to fix that

[2021-02-28 15:22] archana-9430 commented on #21
Sorry for the delay. Actually, I was busy in my semesters. I have send the PR for the same. Do check that out. Please merge this after 01/03/2021 , so that, I can get scores in GSSoC as well.

[2021-02-28 16:39] #177 closed

[2021-02-28 16:45] urvashi-code1255 commented on #192
Sure go for it @asimaries . Also Can you please reduce the size and add some space between the open source programs logos as they are looking pretty awkward to me?

[2021-02-28 16:46] asimaries commented on #192
yes I cn do that you

[2021-02-28 16:47] asimaries commented on #192
![image](https://user-images.githubusercontent.com/75176367/109426269-b6372780-7a12-11eb-8ec7-ad07e2e6ab4f.png)
you are talking about this .right?

[2021-02-28 16:48] asimaries commented on #192
yes I can do that

[2021-02-28 16:48] urvashi-code1255 commented on #192
Yes @asimaries

[2021-02-28 16:48] asimaries commented on #192
sure

[2021-02-28 16:50] urvashi-code1255 commented on #179
You can start working on it and send the PR. I will review it and will merge it after 8!

[2021-02-28 17:05] TidbitsJS commented on #174
Thank you @urvashi-code1255 :)

[2021-02-28 17:26] kunal299 commented on #190
@urvashi-code1255 I would love to solve this bug. Could you plz assign this issue to me as a part of Gssoc'21?

[2021-02-28 17:28] urvashi-code1255 commented on #190
Sure go for it @kunal299 :)

[2021-02-28 17:31] kunal299 commented on #190
@urvashi-code1255 But our coding period will start on 8th march.

[2021-02-28 17:31] kunal299 commented on #190
@urvashi-code1255 will it be fine?

[2021-02-28 17:33] asimaries commented on #192
please check the readme file should I add more space

[2021-02-28 17:35] asimaries commented on #192
https://github.com/asimaries/Awesome-JavaScript-Projects.github.io/tree/openInNewTab check this should I add more space

[2021-02-28 17:40] urvashi-code1255 commented on #190
Yes you can send a PR and I will review and merge it after 8!

[2021-02-28 17:42] kunal299 commented on #190
ok

[2021-02-28 18:53] tinchods93 commented on #178
Hello! I would like to give this issue a try. Can you assign it to me?

[2021-02-28 18:55] asimaries commented on #192
I am not able to make a new PR for this, Please HELP
and my all commits have been sent at https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/191 at this PR please check that  https://asimaries.github.io/Awesome-JavaScript-Projects.github.io/README.md here

[2021-03-01 03:20] Ankit0225 opened #196 "Hovering is not smooth"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-03-01 03:21] Ankit0225 commented on #196
Can I work On this issue

[2021-03-01 06:01] ravireddy07 commented on #168
The initial PR was not complete that i forgotten to add this project in collection.

[2021-03-01 07:33] flyingsonu122 commented on #188
can I work on this?

[2021-03-01 07:38] #179 closed

[2021-03-01 07:52] Vishal-raj-1 commented on #127
@asimaries Learn how to squash commits and write good commit messages. I am sharing one video checkout this and let me know if you have any doubts after watching this [video](https://youtu.be/f1wnYdLEpgI).

[2021-03-01 07:54] Vishal-raj-1 commented on #178
@tinchods93 sure !!

[2021-03-01 07:55] Vishal-raj-1 commented on #188
@flyingsonu122 Sure !!

[2021-03-01 07:58] #127 closed

[2021-03-01 07:59] Vishal-raj-1 commented on #196
@Ankit0225 yes !!

[2021-03-01 09:02] ishani02 commented on #189
Hello @urvashi-code1255 , I would like to work on this issue as a part of GSSOC'21.Could you please assign this to me ?

[2021-03-01 09:59] asimaries commented on #192
@urvashi-code1255 @Vishal-raj-1 this issue is also been solve via #191. PLease close this

[2021-03-01 10:05] asimaries commented on #127
OK Thanks

[2021-03-01 10:10] asimaries commented on #127
![image](https://user-images.githubusercontent.com/75176367/109482534-1fb34680-7aa4-11eb-83b3-0d6e38323e24.png)
my profile is not showing their I want to show off that on LinkedIn "my first contribution"
😢😅😐

[2021-03-01 11:38] urvashi-code1255 commented on #192
Its looking perfect @asimaries . Thanks for your contribution!!

[2021-03-01 11:38] #192 closed

[2021-03-01 11:39] urvashi-code1255 commented on #189
Sure got for it @ishani02

[2021-03-01 13:26] flyingsonu122 commented on #188
made it responsive for all screen sizes
@Vishal-raj-1 please have a look [Here](https://flyingsonu122.github.io/Awesome-JavaScript-Projects/public/molegame.html)

is it okay?

[2021-03-01 13:28] Ayush7614 commented on #165
@Vishal-raj-1 now plss assign me under crosswoc

[2021-03-01 13:29] Ayush7614 commented on #166
@Vishal-raj-1 now plss assign me this issue under gssoc

[2021-03-01 13:30] Ankita297 commented on #181
I want to work on this issue under GSSOC . Please assign it to me.

[2021-03-01 16:34] yashikabhargava commented on #181
@Vishal-raj-1 Hii there! I would love to work on this issue, Could you plz assign this issue to me as a part of Gssoc'21?

[2021-03-01 16:38] urvashi-code1255 opened #200 "Set Favicon"
Try out all the favicons present in the favicons folder and show me the pictures here. I will choose from them!!

[2021-03-01 17:03] aniketsingh98571 commented on #200
@urvashi-code1255  I can go with it as a part of GSSoC 2021

[2021-03-01 17:08] urvashi-code1255 commented on #181
@Ankita297 go for it!

@yashikabhargava Please look at some other issue as @Ankita297 asked for this first!

[2021-03-01 17:10] urvashi-code1255 commented on #188
Yes, Its looking good @flyingsonu122 . You can open a PR!!

[2021-03-01 17:12] urvashi-code1255 commented on #200
@aniketsingh98571 go for it!

[2021-03-01 17:18] flyingsonu122 commented on #188
Alright

[2021-03-01 17:26] flyingsonu122 commented on #188
Done [PR here](https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/201)

[2021-03-01 17:59] #188 closed

[2021-03-02 05:10] aniketsingh98571 commented on #200
![Screenshot (122)](https://user-images.githubusercontent.com/63097956/109600702-8471ae00-7b43-11eb-9daa-79ca439cb128.png)
![2](https://user-images.githubusercontent.com/63097956/109600705-85a2db00-7b43-11eb-9c56-cfe1220ab446.png)
![3](https://user-images.githubusercontent.com/63097956/109600706-86d40800-7b43-11eb-8044-38fa3ff384a0.png)
![4](https://user-images.githubusercontent.com/63097956/10960

[2021-03-02 06:42] Avnish5 commented on #160
I am doing web dev from last 1 year.
I am also selected as a participant under GSSOC 2021.
Kindly assign this task to me...

[2021-03-02 06:57] Vishal-raj-1 commented on #160
@Sapna2001 Sure Sapna you can !! @Avnish5 You can check other issues

[2021-03-02 07:03] Vishal-raj-1 commented on #200
@urvashi-code1255 I like the first and the last one, what's about you ?

[2021-03-02 07:07] urvashi-code1255 commented on #200
@Vishal-raj-1 I like the first one. I think we can go for it.

@aniketsingh98571 Please make a PR for the first one.

[2021-03-02 07:11] Avnish5 commented on #160
OKK

[2021-03-02 07:28] yashikabhargava commented on #181
okay sure, thank you!

[2021-03-02 08:48] yashikabhargava opened #204 "URL Shortner : Alignment and hover"
**Is your feature request related to a problem? Please describe.**
URL Shortner

**Describe the solution you'd like**

alignment of text and button to the center, change in color of button while hovering and change in design of button.

**Additional context**
Add any other context about the feature request here.

[2021-03-02 08:50] yashikabhargava commented on #204
can you please assign this issue to me as a part of Gssoc'21.

[2021-03-02 11:09] #153 closed

[2021-03-02 11:11] urvashi-code1255 commented on #204
@yashikabhargava you can go for it!

Show me the design here, before making a PR!

[2021-03-02 14:39] yashikabhargava commented on #204
okay ,once its done I'll show it .

[2021-03-02 17:27] Suhail-BW opened #206 "Image of the quiz app is not appearing."
## Describe the bug
A clear and concise description of what the bug is.
The card image of the Quiz App is not appearing.
<img width="372" alt="Screenshot 2021-03-02 at 10 52 42 PM" src="https://user-images.githubusercontent.com/76062078/109688317-275d1300-7baa-11eb-8f26-94ea3b21a34f.png">

## To Reproduce
Steps to reproduce the behavior:
1. Open the website
2. Navigate to the quiz app
3.
4.

## Ex

[2021-03-02 17:27] Ayush7614 commented on #166
@Vishal-raj-1 now plss assign me under gssoc

[2021-03-02 17:29] Suhail-BW commented on #206
I am beginner with open source, if this is a genuine issue I would like to work on it.

[2021-03-02 18:02] TidbitsJS commented on #174
I am trying few designs for Dynamic Quote Generator ( The bug is resolved )
I tried the neumorphism very first ... Let me know what you think ( whether should I go with this or do something different ) @Vishal-raj-1 & @urvashi-code1255

![pic](https://i.ibb.co/WcyyyVj/Screenshot-from-2021-03-02-23-13-12.png)

[2021-03-02 18:35] urvashi-code1255 commented on #174
It's looking good to me @TidbitsJS

[2021-03-02 18:52] Mukta-Sawant commented on #180
![Screenshot (168)](https://user-images.githubusercontent.com/77935961/109697396-25984d00-7bb4-11eb-8f8b-eb0b7a2d27c5.png)
@urvashi-code1255 @Vishal-raj-1 please check this out and do let me know the changes.

[2021-03-02 19:20] Mukta-Sawant commented on #180
Or should I make buttons neumorphic too? like given in the picture?
![Screenshot (170)](https://user-images.githubusercontent.com/77935961/109702237-fe447e80-7bb9-11eb-832c-2bf94e5c1a9a.png)

[2021-03-03 06:03] Sapna2001 opened #208 "Currecy Convertor"
I would be using HTML, CSS, JS to complete this task.
In this, the user will enter the amount, to currency and from currency, and according to the options chosen the value will be displayed.

@urvashi-code1255 @Vishal-raj-1 I would love to work on this issue as a part of GSSOC 2021 and I will make a PR for this when the contribution period starts.

I have completed the earlier issue also and will

[2021-03-03 08:50] Ankita297 commented on #181
![Color Flipper - Google Chrome 03-03-2021 14_18_54](https://user-images.githubusercontent.com/67833077/109778980-7bf4a280-7c2b-11eb-9ce1-30cf977e9305.png)

[2021-03-03 08:51] Ankita297 commented on #181
Is it okay ?

[2021-03-03 08:51] Ankita297 commented on #181
![Color Flipper - Google Chrome 03-03-2021 14_17_37](https://user-images.githubusercontent.com/67833077/109779269-c83fe280-7c2b-11eb-8902-2caa1524849b.png)

[2021-03-03 08:52] Ankita297 commented on #181
Is it okay ?

[2021-03-03 12:28] #22 closed

[2021-03-03 12:30] #196 closed

[2021-03-03 12:37] urvashi-code1255 commented on #180
Yes @Mukta-Sawant make the buttons neumorphic too!

[2021-03-03 12:38] urvashi-code1255 commented on #206
Yes @Suhail-BW I also noticed this! You can work on it !

[2021-03-03 15:45] yashikabhargava commented on #204
![url shortner 1](https://user-images.githubusercontent.com/76060661/109831494-7fa51b00-7c65-11eb-86b1-43cc905ee826.PNG)

[2021-03-03 15:45] yashikabhargava commented on #204
Is it okay?

[2021-03-03 15:53] yashikabhargava commented on #204
![URL Shortner 2](https://user-images.githubusercontent.com/76060661/109832739-a879e000-7c66-11eb-969d-76ded860510d.png)

[2021-03-03 15:54] yashikabhargava commented on #204
button will look like this when hovering.

[2021-03-03 18:23] #189 closed

[2021-03-03 18:49] Suhail-BW commented on #206
@urvashi-code1255 there is no GIF regarding quiz app in assets/GIFs/. Where/How can I get this GIF to include there.

[2021-03-03 19:43] urvashi-code1255 commented on #204
Yes Looking good @yashikabhargava

[2021-03-03 20:29] pranabprohit opened #211 "Animated eye follow mouse cursor"
Minion animated eyes follow mouse cursor. wherever the cursor will move the animated eyes will follow it.

[2021-03-03 20:30] pranabprohit commented on #211
@urvashi-code1255, I would like to work on this issue as a part of CWOC. Can you assign this issue to me.

[2021-03-04 04:17] bilal-23 commented on #162
@Vishal-raj-1 check the pr.

[2021-03-04 04:31] bilal-23 opened #214 "Whack A Mole Game suggestions"
This issue is regarding the whack a mole game.
#Issues:
1) No functionality to store Highscore.
2) Not responsive hence doesn't work properly on mobile devices.
3) Less number of holes, which makes it easier to play.

#Solutions
1) I would like to store the highscore in localstorage of browser and we can also reset the highscore.
2) Will make  it responsive.
3) Will add 3 more holes , so that it w

[2021-03-04 04:32] bilal-23 commented on #214
@urvashi-code1255 @Vishal-raj-1 Let me know , if you are interested

[2021-03-04 06:53] chaitanyashimpi opened #215 "Modify the looks of Website"
@urvashi-code1255 @Vishal-raj-1

I would like to revamp the looks of the website as a part of **GSSOC 21.**
I am sure, it will help a lot.

[2021-03-04 06:53] chaitanyashimpi commented on #215
@urvashi-code1255
As a GSSOC participant, I would like to revamp the looks of the website.

[2021-03-04 07:01] chaitanyashimpi opened #216 "Build a Analogue Clock with JavaScript"
It will be a great add-on JavaScript Project.

I would like if you to assign this issue to me as a part of GSSOC.

[2021-03-04 07:16] akshitadixit opened #217 "Visual Bubble sort"
Hey i want to add visualisation for bubble sort and late work on all sorting algos.

[2021-03-04 07:38] WaderManasi opened #218 "Number System converter"
Number system converter is a project in which we can easily convert decimal, binary, hexadecimal values into required number system. eg hex to binary or decimal to binary, etc.
Hello @urvashi-code1255 ,
I would like to contribute this project as a part of gssoc'21.

[2021-03-04 10:00] #200 closed

[2021-03-04 10:10] #181 closed

[2021-03-04 10:16] urvashi-code1255 commented on #206
@Suhail-BW you can make a GIF by your own

[2021-03-04 10:18] urvashi-code1255 commented on #208
@Sapna2001 go for it

[2021-03-04 10:21] urvashi-code1255 commented on #211
@pranabprohit go for it.

[2021-03-04 10:22] pranabprohit commented on #211
Can you please add the CWOC required labels.

[2021-03-04 13:14] Ayush7614 commented on #166
@Vishal-raj-1 plss assigne me under gssoc i continuosuly msg you everyday plss respond it bro

[2021-03-04 16:02] gaurav24072002 commented on #166
Brother Please wait you will get reply from him have patience ...

[2021-03-04 16:39] urvashi-code1255 commented on #218
@WaderManasi go for it :)

[2021-03-04 16:41] urvashi-code1255 commented on #216
@chaitanyashimpi we already have an analog clock. You can modify it

[2021-03-04 16:43] #167 closed

[2021-03-04 16:47] Ayush7614 commented on #166
@urvashi-code1255 plss level it with gssoc

[2021-03-04 16:49] urvashi-code1255 commented on #166
@Ayush7614 there is no level tag yet for the gssoc.

[2021-03-04 18:10] Sapna2001 opened #219 "DNS Lookup"
I would be using HTML, CSS, JS to complete this task.

@urvashi-code1255 @Vishal-raj-1 I would love to work on this issue as a part of GSSOC 2021 and I will make a PR for this when the contribution period starts.

Please assign me this issue.

[2021-03-04 18:13] satyampgt4 opened #220 "Dynamic Calendar"
It will a Dynamic calendar you can go to any particular month or date
 In default it will show the calendar of current month with highlighting current date Dynamically
 I will Use HTML, CSS, JS to complete this task.

I would like to work on this issue as a part of GSSOC 2021 and I will make a PR for this when the contribution period starts.

@urvashi-code1255 @Vishal-raj-1
Please assign me this i

[2021-03-04 18:13] satyampgt4 commented on #220
@urvashi-code1255 @Vishal-raj-1 Please assign me this issue.

[2021-03-04 18:29] Harshal0902 opened #221 "Tetris game"
## Is your feature request related to a problem? Please describe.
I want to make a Tetris game.

## Describe the solution you'd like
I want to make a Tetris game using HTML, CSS and Js

## Additional context
NA

[2021-03-04 18:30] Harshal0902 commented on #221
@urvashi-code1255 can you please assign this issue to me as a part of Cross WOC?

[2021-03-05 06:14] chaitanyashimpi commented on #216
@urvashi-code1255 Ok I will modify it. Can you assign it to me?

[2021-03-05 10:14] #178 closed

[2021-03-05 12:48] Suhail-BW commented on #206
@Vishal-raj-1 By the way I am participating in GSSOC 2021

[2021-03-05 13:28] #172 closed

[2021-03-05 13:38] #206 closed

[2021-03-05 13:41] urvashi-code1255 commented on #219
@Sapna2001 Can you please explain what your project will do?

[2021-03-05 13:42] urvashi-code1255 commented on #220
@satyampgt4 go for it.

[2021-03-05 13:43] urvashi-code1255 commented on #221
@Harshal0902 go for it.

[2021-03-05 13:57] Sapna2001 commented on #219
It will take the website name as input and run a DNS Lookup after which the IP address is displayed on the screen.

[2021-03-05 14:01] kmryashasvi opened #223 "add banner of crosswoc to the readme file"
I will add banner of crosswoc to the readme file so that, People will know it is associated to crosswoc. Moreover, I will associate link of the crosswoc website to its banner such that, if someone clicks the banner on readme file, it will redirect them to the website of crosswoc.

[2021-03-05 14:04] kmryashasvi opened #224 "I want to add a guessing game"
I will add a guessing game in which user has to guess the number between 1 and 10 and the score will depend upon the number of tries before guessing the correct number.

[2021-03-05 18:44] Mukta-Sawant commented on #180
![ucCuz3rZTq](https://user-images.githubusercontent.com/77935961/110159305-891eb680-7e10-11eb-8e02-e90bc700ed29.gif)
@Vishal-raj-1 @urvashi-code1255 Please, check this!

[2021-03-05 21:36] Ayush7614 commented on #166
Plss level it for gssoc i see in many projects they can level for gssoc

[2021-03-06 12:34] urvashi-code1255 commented on #180
Its looking great @Mukta-Sawant . You can open a PR

[2021-03-07 07:12] Aayush-hub opened #230 "Randon Quotes Generator"
## Is your feature request related to a problem? Please describe.
Add a random quote generator, which can generate daily motivational quotes.

[2021-03-07 07:13] Aayush-hub commented on #230
@Vishal-raj-1 @urvashi-code1255 Can I work on this for GSSoC21?

[2021-03-07 15:13] #216 closed

[2021-03-07 20:46] pranabprohit opened #232 "Moving car animation"
A project in which a car will move on road using animation.

[2021-03-07 20:47] pranabprohit commented on #232
Hii @urvashi-code1255, I want to work on this issue as a part of GSSOC. Could you please assign this issue to me.

[2021-03-08 04:17] #211 closed

[2021-03-08 04:20] vkassingh commented on #230
@Vishal-raj-1 @urvashi-code1255 i would like to contribute to the "AWESOME JAVASCRIPT PROJECTS". do we have a discord server or same for the further discussions?

[2021-03-08 04:38] urvashi-code1255 commented on #230
@vkassingh Discord Server link is in the readme

[2021-03-08 04:40] urvashi-code1255 commented on #230
@Aayush-hub Welcome to the Awesome Javascript Projects

We have a Random Quote Generator Project in our list.

You can modify it if you want.

[2021-03-08 04:41] urvashi-code1255 commented on #232
@pranabprohit Sure go for it :)

[2021-03-08 05:44] #230 closed

[2021-03-08 07:28] Aayush-hub opened #234 "Typing Speed Tester app"
## Is your feature request related to a problem? Please describe.
Add a typing speed tester which can be used to test the typing speed of developers.

[2021-03-08 07:28] Aayush-hub commented on #234
@Vishal-raj-1 @urvashi-code1255 Can I work on this?

[2021-03-08 07:56] medhavi11 commented on #175
I would like to work on this issue, I am GSSOC 2021 participant.

[2021-03-08 10:50] sidmohanty11 opened #236 "hangman game"
## Is your feature request related to a problem? Please describe.
No. I created this separate project of hangman, where the user guesses the word. If he/she wins the hangman is saved else it dies.

## EVENT
GSSOC

[2021-03-08 12:49] JaveedYara72 commented on #165
@Vishal-raj-1 can i work on this?

[2021-03-08 13:42] #204 closed

[2021-03-08 13:49] #180 closed

[2021-03-08 13:52] urvashi-code1255 commented on #234
Sure @Aayush-hub Go for it :)

[2021-03-08 13:55] urvashi-code1255 commented on #236
@sidmohanty11 You can go for it!

[2021-03-08 16:05] padmajabhol opened #240 "I want to creating a sticky navbar."
The current navbar disappears when we scroll down, I want to solve this issue, please assign me this issue.

[2021-03-08 16:40] nandini7637 commented on #240
Please assign me this issue , I woul like to contribute to it. I am a GSSOC participant.

[2021-03-08 16:43] nandini7637 commented on #10
Hey I would like to contribute to this issue, please assign me this . I am a GSSOC participant

[2021-03-08 16:51] urvashi-code1255 commented on #240
@padmajabhol Please go for it :)

[2021-03-08 16:52] urvashi-code1255 commented on #240
@nandini7637 Please have a look at the other issues in the project. As @padmajabhol asked first so I have assigned her!

[2021-03-08 16:54] urvashi-code1255 commented on #175
Hi @medhavi11 Welcome to the project! Please have a look at other issues in this project. As @gaurav24072002 has already made a PR for this one :)

[2021-03-08 17:48] Vansh-Gupta4 commented on #217
I am a GSSOC '21 participant.

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 18:03] gaurav24072002 commented on #175
Hey !! @urvashi-code1255 I have solved all the issues on #238 ... Please check it and merge it...

[2021-03-08 18:07] Ruchip16 commented on #16
Does this issue is resolved?

[2021-03-08 18:16] padmajabhol commented on #240
@urvashi-code1255 I have sent the PR. Do check.

[2021-03-08 19:37] codebuzzer01 opened #244 "Javascript Login Authentication"
I want to add one more Javascipt project for login authentication using AngularJS. If no one is working on it then please assign it to me.

[2021-03-08 19:42] Nkap23 opened #245 "[JavaScript] Fixed Header: The color of header changes based on how much the page has scrolled!"
I am a participant of Gssoc 21. I would love to contribute to this repo!

## The Idea

Basically a fixed header (which will remain at top of the page), but the color of the header will change based on how much the page has been scrolled.

Example: Initially the color is blue, when the page scrolls by 20vh, the color changes to green, and so on.
Live example (I implemented this in my portfolio webs

[2021-03-08 19:45] raveena69 commented on #87
I would like to work on this issue.

[2021-03-08 19:55] shairanshrawat commented on #245
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021
Thank you.

[2021-03-08 19:56] shairanshrawat commented on #215
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same.
Thank you.

[2021-03-08 19:58] raveena69 commented on #10
I would like to contribute to this issue

[2021-03-08 20:14] jainstuti commented on #2
Hi, I can add details to the readme as to what exactly the project is about. Can you please assign it to me as a part of gssoc21?

[2021-03-08 20:36] bitaashna opened #247 "Text to speech"
A text to speech app for non-verbal conversations. Pre-made buttons and custom text speech.

**Project Specifications**

- Create a responsive UI (CSS Grid) with picture buttons
- Speaks the text when button clicked
- Drop down custom text to speech
- Speaks the text typed in
- Change voices and accents(in the language of your own choice)

I would like to contribute to it as a part of **GSSOC'21.*

[2021-03-09 02:48] kmryashasvi commented on #224
Sorry,
I was not able to work as expected,
I regret to say, I will not be able to add the guessing game

[2021-03-09 02:48] #224 closed

[2021-03-09 03:40] sahildotexe commented on #240
Hey !! I 'm a participant of GSSOC'21, can you assign this issue to me?

[2021-03-09 05:09] sanjana-coder opened #248 "Productivity Tracker App"
We all have come across **TODO Apps** which keeps track of tasks which we are supposed to do in the near future. Once the task is complete it is **struck off** the list.
Nowadays people find it difficult to keep track of what all they have done!
This app aims to keep track of the tasks the person has completed in the day and also provide notifications what help increase productivity.
**Features**

[2021-03-09 05:20] subhangi2731 commented on #175
can you please assign it to me?

[2021-03-09 05:52] Saatvik21 opened #250 "Drum Kit bug"
**## Describe the bug
A clear and concise description of what the bug is.**

In the Drum Kit App, there's a mistake in the audio files of the drums. For the `data-key = "70"` ie the "Kick" button, the audio given to that button is of `data-key = "65"` ie the "Boom" button.

As a participant of GSSOC'21 , I would like to work on this issue.

Please assign me this issue @urvashi-code1255 @Vishal-raj

[2021-03-09 05:52] Simran2337 commented on #215
I am GSSOC 2021 participant. I want to contribute

[2021-03-09 06:04] Simran2337 commented on #250
i want to contribute as a GSSOC participant

[2021-03-09 06:29] dcs-soni opened #251 "Issue Tracker App built using pure JS."
Hi. I want to add an ISSUE TRACKER WebApp based on pure JS. This project will be very beneficial for the project maintainers of the Github as well.

Description of the App -

The project maintainer will be able to
-> Add the description of the specific issue
-> Add the security level of the issue for the existing project in which the issue is to be created.
-> To whom the project is assigned.
-> T

[2021-03-09 06:34] janvi01 opened #252 "Change the effect of navbar on hover"
I would like to Change the effect of the navbar on hover, something like animation or background changes.

[2021-03-09 06:35] janvi01 commented on #252
Please assign this issue, I would like to contribute as a part of GSSOC.

[2021-03-09 06:58] bitaashna opened #253 "Speed Typing Game"
Game to beat the clock by typing random words

**Project Specifications**

- Create game UI including a difficuly setting(easy,medium,hard)
- Generate random word and place in DOM
- increasing the score after word is typed
- Implement timer
- Add of certain amount of time after word is typed based on difficulty
- Store difficulty setting in local storage

Hi @urvashi-code1255 @Vishal-raj-1 ! I wou

[2021-03-09 07:32] Suhail-BW opened #255 "The navbar expansion button(hamburger) is not working"
## Describe the bug
The hamburger button of navbar is not expanding the navbar when screen size is minimised.

## To Reproduce
Steps to reproduce the behavior:
1. Minimize the main web-page, press the hamburger button of navbar.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the erro

[2021-03-09 07:34] Suhail-BW commented on #255
@urvashi-code1255  Please look into the issue. If possible assign this to me as participant in GSSOC21.

[2021-03-09 08:10] sejalshri opened #257 "Stone paper scissors game"
I would like to add javascript stone paper scissors game project as a participant of GSSOC,21 .
Kindly assign this issue to me.

[2021-03-09 08:28] vinayak0127 commented on #257
- As a GSSOC'21 participant i'd like to contribute this project rock , paper and scissor game in pure vanilla js:
- this will have following key features :-
  - Score Section
  - Winning message
  - Nice custom emojis to play
-Kindly assign this issue to me @urvashi-code1255  @Vishal-raj-1

[2021-03-09 08:36] vinayak0127 commented on #244
As a GSSOC'21 participant i'd like to contribute this project in pure vanilla js ,
kindly assign this project to me @urvashi-code1255  @Vishal-raj-1

[2021-03-09 09:28] gnikita432 opened #258 "enhance the color flipper styling"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I am trying to enhance the styling of the color flipper.
## Describe the solution you'd like
I will modify the CSS file of the color flipper to enhance its styling
![jsissue1](https://user-images.githubusercontent.com/61223163/110448037-d50a7d80-80e6-11eb-9767-3e8dea4ce609.PNG)
![jsissue2](https://user-images

[2021-03-09 10:02] Sakshi0401 commented on #252
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 10:05] Sakshi0401 commented on #27
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 10:05] Quickbeasts51429 commented on #253
can I be assigned the task? Will be showing you the demo by tomorrow.

[2021-03-09 10:06] Sakshi0401 commented on #21
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 10:07] Sakshi0401 commented on #10
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 10:07] Sakshi0401 commented on #15
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 10:08] Sakshi0401 commented on #16
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 10:09] Sakshi0401 commented on #20
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 10:41] bitaashna commented on #17
@Vishal-raj-1 I have created a pull request to the issue. PLease check it and let me know.

[2021-03-09 10:46] ishita-sehgal opened #259 "BMI-calculator-UI-changes"
I would like to improve the styling of the BMI calculator UI.
I would like to do following changes/rectify:
-after submitting, the fields should have automatically become clear or have a placeholder.
-on submitting on empty fields , the div content moves out.
-make the UI a little better looking .

@urvashi-code1255 , @Vishal-raj-1  Can you please assign this issue to me as a participant of GSSOC'

[2021-03-09 10:47] codDoc98 commented on #257
please label it gssoc'21 and assign me this project, will be grateful to you.

[2021-03-09 11:50] srisatya1197 commented on #259
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:10] Siddharth1006 commented on #215
My name is Siddharth. I am a participant in GSSOC 2021. I am interested in this issue. If you can, then please assign the above issue to me! If not, then I am also ready to team up with another participant if he/she doesn't mind!

[2021-03-09 12:17] Siddharth1006 commented on #15
Hey! My name is Siddharth S.  I am GSSOC'21 participant. I have a good understanding of HTML , CSS and Javascript. I also have couple of styling ideas for the design. If you can then please assign this issue to me.
I am also ready to work with another participant if the other person agrees!

[2021-03-09 12:19] padmajabhol opened #260 "Insert margin-top in the project cards."
## Describe the bug
There isnt any top margin in the project cards and doesn't look good.
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following i

[2021-03-09 13:52] abhinav5481 commented on #108
Hi,
I would like to work on this issue. Please assign it to me.

[2021-03-09 13:53] abhinav5481 commented on #107
Hi,
I would like to work on this issue. Please assign it to me.

[2021-03-09 13:57] #108 closed

[2021-03-09 14:03] abhinav5481 commented on #62
Hi,
I would like to work on it. Could you please assign it to me?

[2021-03-09 14:04] #62 closed

[2021-03-09 14:05] AakankshaShah opened #261 "I would like to work on a todo javascript web project Please assign it to me under GsSOc'21"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):
 - O

[2021-03-09 15:04] sarala-2210 commented on #21
I would like to contribute on this issue as a part of gssoc-21 participant,  @Vishal-raj-1 please assign this to me.Thank you!!

[2021-03-09 15:13] sarala-2210 commented on #10
I would like to contribute to this issue, @Vishal-raj-1 please assign me this . I am a GSSOC participant. Thank you!!

[2021-03-09 15:19] sarala-2210 commented on #240
i would like to work on this issue.  I 'm a participant of GSSOC'21, can you assign this issue to me?

[2021-03-09 15:55] urvashi-code1255 commented on #245
You can go for it @Nkap23 :)

Please look at other issues @shairanshrawat . As @Nkap23 asked first so I have assigned this issue to him

[2021-03-09 15:57] urvashi-code1255 commented on #247
@bitaashna Please go for it :)

[2021-03-09 15:58] urvashi-code1255 commented on #248
@sanjana-coder Please go for it :)

[2021-03-09 16:01] urvashi-code1255 commented on #250
@Saatvik21 go for it.

@Simran2337 Please look at other issues in this repository, as @Saatvik21 asked first I have assigned this issue to him.

[2021-03-09 16:03] Suhanii1214 commented on #260
hello!! @padmajabhol
I would like to work on this issue please assign it to me. I already have some experience in working with HTML & CSS

[2021-03-09 16:05] urvashi-code1255 commented on #251
@dcs-soni Welcome to the project :)

go for it.

[2021-03-09 16:07] padmajabhol commented on #260
I m not the project admin 😅

[2021-03-09 16:09] Aayush-hub opened #264 "Add Github action to auto label issues"
## Is your feature request related to a problem? Please describe.
Add github action which auto add GSSOC label to the issue, if the contributor asks to work on the issue under GSSOC label.

[2021-03-09 16:15] AmeyaJain-25 opened #265 "Color Code Converter and Color picker"
# Color Code Converter and Color picker
I would like to make an color code converter web page using javascript.

## Features:
1. HEX to RGB converter.
2. RGB to HEX converter.
3. Select a color by inputting the range using progress input.
4. Random color picker.

Please assign this to me under GSSoC 21'

[2021-03-09 16:43] cicada3006 commented on #244
@urvashi-code1255
Sure! I will work in vanilla js. Kindly assign it to me.

[2021-03-09 16:45] codebuzzer01 commented on #244
@urvashi-code1255
Sure, I will work on vanilla js. Please assign it to me.

[2021-03-09 16:51] #17 closed

[2021-03-09 17:11] urvashi-code1255 commented on #265
@AmeyaJain-25 go for it :)

[2021-03-09 17:12] urvashi-code1255 commented on #255
Yeah @Suhail-BW I noticed this too. Please go for it :)

[2021-03-09 17:39] HarshMarolia opened #268 "Random Password Generator"
## Features
Desired length Password.
Copy to clipboard feature.

Please assign this issue to me :)

[2021-03-09 17:52] mohdjameel2412 opened #269 "ADD TrackerU web app Js"
**hello greetings fellas** , I want to contribute a project that build on top of pure js HTML CSS
**Project** : TrackerU
**Features** :
1. get users location info: **longitude &  latitude** **state** **country** **city**
2. get users device info : **os** **os type/version** **build info**
3. detect ip is exposed or not
4. have a scale of venerability and for R&D purposes save users info
i want to

[2021-03-09 17:55] HarshMarolia commented on #268
Please assign this issue to me @urvashi-code1255

[2021-03-09 18:03] sanjana-coder commented on #248
Thank you!!

[2021-03-09 18:18] SHAGUN0312 opened #270 "RGB COLOR GUESSING GAME!"
I would like to make a color guessing game using javascript.

**Features**
1. Button to choose between easy or Hard level.
2. Change in the background color, if the right color is chosen.
3. You'll be able to choose new colors, if you are not happy with the current shuffle of colors, just like it happens in spider solitaire, basically new game.
4. A 'try again', 'play again' and Correct alerts, ba

[2021-03-09 18:34] satyampgt4 commented on #220
@urvashi-code1255 please add GSSOC 2021 label

[2021-03-09 18:48] AmeyaJain-25 commented on #265
Please add a label for GSSoC 21.
As mentioned on Discord, the points will be provided for GSSoC labels only
@urvashi-code1255

[2021-03-09 19:52] mohdjameel2412 opened #272 "impoved UI of calculator Webapp"
## Is your feature request related to a problem? Please describe.
impoved UI of caculator Webapp
## Describe the solution you'd like
improve styling

## Additional context
please assign me

[2021-03-09 19:58] mohdjameel2412 opened #274 "ADD MemeUrl web app"
## MemeU web app

## features

1. upload meme using image url
2. delete edit
4.authentication

please assign this to me under gssoc21

[2021-03-10 00:14] kumarishalini6 opened #275 "bug:- the search bar is not working."
search bar;-
1. while searching someting like;- project... etc noting happens.
can you assign this to me under gssoc21

[2021-03-10 05:07] LazySukanta commented on #95
I would like to contribute, Assign me for this project as I am GSSOC (participate)2021.

[2021-03-10 05:07] sanjana-coder commented on #248
Could you please add gssoc21 label to the issue
@urvashi-code1255 @Vishal-raj-1
Thank you

[2021-03-10 05:40] AbhishekTiwari07 opened #276 "Task-Manager"
I would like to add a task manager based on VanillaJS.

## Features
- Add new tasks
- Mark completed ones.
- Remove any task

## Additional Features
I'll try to add some animation :)

Please assign this to me under GSSoC'21

[2021-03-10 05:58] sejalxz opened #277 "Weather App using Vanilla Javascript"
# Weather App
I would like to make a Weather app using JavaScript. I will be using darksky API to pull the necessary weather information.

## Features
1. Time zone
2. Temperature in Fahrenheit
3. Temperature in Celsius
4. SVG to represent weather condition (sunny/cloud..)

Please assign this to me under GSSoC 21'

[2021-03-10 06:10] Aanchal116 opened #278 "Netflix Clone Search Bar and Logo Not Fixed On Top"
Hii @Vishal-raj-1 ,
The topmost search bar containing the logo disappears if we scroll down, I would like to work on this issue and make the same fixed to the top. Please assign this issue to me as a part of GSSOC'21.

[2021-03-10 06:12] shubhraagarwal opened #279 "Adding a logo in the nav bar"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of navbar.
## Describe the solution you'd like
The navbar is missing a logo and that makes it look very dull, I would like to add a logo in the navabar, similar to the one in the title
![image](https://user-images.githubusercontent.com/67220475/110584725-af887d00-8195-11eb-8a94-39e

[2021-03-10 06:20] ireneelizabethsabu opened #280 "Personal library app"
Hi,
I am participant of GSSOC'21. I would like to contribute a simple **personal library website** using js.
Kindly assign this to me.

[2021-03-10 06:23] sanjaysunil34 opened #281 "Netflix Clone searchbar is not working"
## Describe the bug
A clear and concise description of what the bug is.

The search bar in Netflix Clone doesn't give any results when filled.

As a participant of GSSOC'21 , I would like to work on this issue.

[2021-03-10 06:23] abhishek96k commented on #279
I would like to add a logo in the navbar.
so, can I go for it?
I am GSSoC'21 participant.
please /assign it to me.

[2021-03-10 06:26] SanskaarPatni opened #282 "Typewriter effect using vanilla js"
I would love to add a simple html page with a typerwriter effect.
@Vishal-raj-1 please assign me this issue as a part of GSSOC'21.

[2021-03-10 06:32] sanjaysunil34 opened #283 "Sliding Puzzle Game"
I would like to make a sliding puzzle game using js.
Please assign this to me under GSSoC 21'.

[2021-03-10 06:41] poojitha2002 opened #284 "Text Formatter"
Hi I am GSSOC participant. I would like to contribute this project. This is used to format the given text. Like converting text to upper case, lower case,  calculating frequency of each word, character count, number of lines in given text  and word count. The tech stack used is HTML,CSS,JS. Hope it will get assigned. Please assign this to me under GSSoC '21.

[2021-03-10 06:52] Manish-kasera opened #285 "Dice Game"
I want to build a Dice game using Js and little bit CSS3 and HTML5 which can be simply play by refreshing the page..

[2021-03-10 07:02] Aanchal116 commented on #279
Hii,
I would like to work on this issue as a part of GSSOC'21. Please assign it to me.

[2021-03-10 07:06] Aanchal116 opened #286 "UI Design and Text Formatting"
Hii,
I'm a GSSOC'21 participant. I would like to edit the text style and few other things for UI on the text generator site to make it more attractive .Please assign this issue to me. Thankyou.

[2021-03-10 07:19] aditya28sarin commented on #2
I am adding the images in table form @Vishal-raj-1

[2021-03-10 07:25] Praddyumn16 opened #287 "Javascript Drawing - Infinite Rainbow Maker"
This is a beginner friendly JS project which I would like to add in this set of awesome JS projects as a part of GSSoC'21.
@Vishal-raj-1 I would recommend this project to be added because I myself started learning JS recently and this project was one of the initial projects I created.

[2021-03-10 07:27] rohank2502 opened #288 "We can add the link to the website in readme.md This will be easy for new comers to get interacted with project"
## Describe the bug
Not a Bug  but an update
We can add the link of website ( github page ) in the read me file

## To Reproduce
Steps to reproduce the behavior:
1. Add the link in readme file

## Expected behavior
A clear and concise description of what you expected to happen.
This will help new comers to get interacted with the website in a better way

I will like to work on this issue as a part

[2021-03-10 09:23] amrzaki2000 opened #289 "[GSSoC '21] Adding pixels game"
Hello,
I'd like to create a mouse-click game in which pixels are falling from top of the screen and the user has to click them before  they reach bottom of the screen.

I'm a GSSoC participant. Can you assign this to me , please?

[2021-03-10 09:46] vinayak0127 opened #290 "[GSSOC'21] Expense tracker app"
id like to contribute this project as a gssoc'21 participant in pure vanilla js
please assign this project to me @urvashi-code1255  @Vishal-raj-1

[2021-03-10 10:10] bitaashna commented on #247
can u please label the issue as GSSOC'21

[2021-03-10 10:13] ishita-sehgal opened #291 "Typo error in local storage display-card"
As a participant of GSSOC 2021, I would like to rectify this typing mistake in local storage display-card. Can you assign this issue to me.
![Screenshot (645)](https://user-images.githubusercontent.com/78426468/110612471-3a796f80-81b6-11eb-85ea-685fbeda7d0b.png)

[2021-03-10 11:13] ORKO06 commented on #279
I would like to work on this issue as a part of GSSOC'21. Please assign it to me.

[2021-03-10 11:22] sagunjaiswal commented on #279
hi,

I would love to work on this issue can you assign this to me ?

thanks in advance

[2021-03-10 11:23] sagunjaiswal commented on #268
hi,
I am a GSSOC'21 participant.
I would love to work on this issue can you assign this to me?

thanks in advance

[2021-03-10 11:26] sandipswain commented on #232
Hi, @urvashi-code1255, I am a participant of GSSOC'21. I would like to work on this issue. Can you please assign me?

[2021-03-10 11:30] risingphoenixx opened #293 "Glassmorphism UI effect"
We can add a Glassmorphism UI effect to the calculator web page. well, It looks really cool and the tilt effect will make this project more interesting.
 Solu:- we can add this effect by using the Vanilla tilt javascript library.

I want to add this effect with calculator.html
I want to work on these things. could you pls assign it for me @Vishal-raj-1 @urvashi-code1255? Pls, reply.

[2021-03-10 12:50] machine-sg opened #294 "Add favicon"
## Describe the solution you'd like
I want to add favicon in the header of the  home page. It will give a good outlook to the website. Please assign me this. I want to do it as a part of GSSoC'21 participant.

[2021-03-10 13:01] Ishikakhurana opened #295 "Feature: Simon Game"
I can add Simon Game project built using HTML CSS Javascript jQuery .It is a memory game. The game detects if user got same sequence from start to end (most recent ) displayed key. It will have sound effects on click given as a pattern to follow.

[2021-03-10 13:03] Ishikakhurana opened #296 "Feature:DrumKit"
The present Drum Kit project does not allow mouse click to select sound, only keypress is detected. if you allow, i can add the on click feature.

[2021-03-10 13:32] Maitryee-Choudhary opened #297 "Filter Search (JavaScript)"
The project aims that it will have list of  items/images and based on user filter it will display the item/image that corresponds to required filter.
It will be easy for the user to have the content by filtering the items.
I will be displaying group of images and after applying filter, corresponding list of images will be display.

Hey @urvashi-code1255  can you please assign this issue to me?

[2021-03-10 13:36] guruc-134 opened #298 "Impossible Button Game (using HTML CSS and JavaScript)"
I would like to add a small web application in which the users will be challenged to click a button while it moves to a random location each time the user tries to click on it.
Some additional features
* button color changer
*  random button color option
*  background image changed for each new game

[2021-03-10 13:40] guruc-134 opened #299 "New Project: Markdown Previewer"
I would like to add a web application that is built using HTML, CSS and  JavaScript along with some external libraries.
This comes with a text editor which provides a place to type the lines of text. then the previewer will translate those lines of text along with the syntax and semantics of markdown language and display it dynamically as the user is typing.

[2021-03-10 13:51] Prajwal-ctrl opened #300 "[GSSOC 21 ']Digital Clock Project"
Hi i am a GSSOC 21 participant i'm a newbie to web dev . Can i work on this project ,

[2021-03-10 14:22] midhun-b-m opened #301 "[GSSOC'21] [IDEA] 2048 Game"
## Is your feature request related to a problem? Please describe.
I would like to develop 2048 Game using Javascript

## Describe the solution you'd like
Develop a 2048 game using javascript

**Features**

- Different coloured tiles for different numbers
- A score indicator
- Best score display

## Additional context
NA

[2021-03-10 14:23] midhun-b-m commented on #301
@urvashi-code1255 I would like to work on this project idea.

[2021-03-10 14:29] Saumya-07 opened #302 "Maths Quiz Game"
I would like to contribute to this project by adding a maths quiz game for fun,
please assign this project addition to me @urvashi-code1255 @Vishal-raj-1
I am a GSSOC'21 participant and I am excited to contribute to this project

[2021-03-10 14:37] Saumya-07 opened #303 "Github profile finder"
I would like to add a GitHub profile finder using GitHub API which can display various users name and their data
I would like @urvashi-code1255 @Vishal-raj-1 to please assign me this project.
I am a GSSOC'21 participant and looking forward to contributing to this project

[2021-03-10 14:53] SatyaPrakash26 opened #304 "Movie search app"
I would like to add a movie search app using API and can display various movies with the word you searched
I would like @urvashi-code1255 @Vishal-raj-1 to please assign me this project.
I am a GSSOC'21 participant and want to contribute to this project

[2021-03-10 14:55] SatyaPrakash26 opened #305 "Food recipe app"
I would like to add a food recipe app using  API which can display various recipes can be made from the item you searched
I would like @urvashi-code1255 @Vishal-raj-1 to please assign me this project.
I am a GSSOC'21 participant and want  to contribute to this project

[2021-03-10 14:58] SatyaPrakash26 opened #306 "Fruit slicer game"
It is a simple fruit slicing game for fun, various fruits would drop, we have to slice each fruit and earn points, we will have three chances to continue the game if w a drop a fruit and timer also
I would like to add this project and work on it
@urvashi-code1255 @Vishal-raj-1 to please assign me this project.
I am a GSSOC'21 participant and want to contribute to this project

[2021-03-10 15:00] Asmita-si commented on #10
I want to work on this issue. Can you please assign it to me? @Vishal-raj-1  @urvashi-code1255

[2021-03-10 15:03] Asmita-si commented on #15
I want to work on this issue. Can you please assign it to me? @Vishal-raj-1  @urvashi-code1255

[2021-03-10 15:04] Asmita-si commented on #16
I want to work on this issue. Can you please assign it to me? @Vishal-raj-1  @urvashi-code1255

[2021-03-10 15:04] Saumya-07 opened #307 "Add feature in Local Storage project"
I am thinking I can add a button to delete the items added to the local storage project or strike the things done y clicking on the box,
I would like to work on this, please assign the issue to me  @urvashi-code1255 @Vishal-raj-1
I am a GSSOC'21 participant and looking forward to contributing to this project

[2021-03-10 15:05] Asmita-si commented on #165
I want to work on this issue. Can you please assign it to me? @Vishal-raj-1  @urvashi-code1255

[2021-03-10 15:13] #236 closed

[2021-03-10 15:32] #234 closed

[2021-03-10 15:34] #160 closed

[2021-03-10 15:35] Avishake007 opened #308 "3d cube effect"
I would  to add a 3d cube effect .
I would like @urvashi-code1255 @Vishal-raj-1 to please assign me this project.
I am a GSSOC'21 participant and want to contribute for this project.

[2021-03-10 15:48] Amisha-here opened #309 "Number System Calculator"
I would like to add a different calculator which will be converting decimal numbers to Binary,Ternary,Octal,Hexadecimal and vice versa.
I would like @urvashi-code1255 @Vishal-raj-1 to please assign me this project.
I am a GSSOC'21 participant and want to contribute to this project.

[2021-03-10 16:05] Avishake007 opened #312 "AND , OR and XOR converter"
It will take take two decimal numbers as input and will produce the AND, OR and XOR of the two numbers.
I want to work on this project.
Please @urvashi-code1255 and @Vishal-raj-1  assign me for this project.
I am a GSSOC'21 participant and wants to contribute for this project

[2021-03-10 16:12] ambivert-sam commented on #87
Hey!!
@urvashi-code1255  I am participate at GSSoC'21 I would like to work with this issue
Would you please assign it to me?

[2021-03-10 16:18] #291 closed

[2021-03-10 16:27] #10 closed

[2021-03-10 16:31] urvashi-code1255 commented on #15
@mirakiii Are you working on this?

[2021-03-10 16:31] urvashi-code1255 commented on #16
yes

[2021-03-10 16:32] #16 closed

[2021-03-10 16:33] urvashi-code1255 commented on #20
@Sakshi0401 You can work on it! We already have both the clocks. You can improve their UI.

[2021-03-10 16:36] urvashi-code1255 commented on #27
Its in the readme @Abhinav0909 .

Any updates on this issue @Abhinav0909 ?

[2021-03-10 16:37] #87 closed

[2021-03-10 16:38] urvashi-code1255 commented on #95
Go for it @LazySukanta

[2021-03-10 16:47] Amisha-here opened #313 "A Simple Ballon Firing Game"
I would like to add a simple balloon firing game in which we have to fire the balloon and jump for obstacles. Score will be counted.
Adding a Image for the same.

<img width="959" alt="Annotation 2021-03-10 221408" src="https://user-images.githubusercontent.com/66164747/110665343-497c1400-81ee-11eb-8615-3703e2c25fc0.png">

I would like @urvashi-code1255 @Vishal-raj-1 to please assign me this proje

[2021-03-10 16:47] urvashi-code1255 commented on #312
@Avishake007 Sure go for it!

Make sure to follow the project guidelines

[2021-03-10 16:48] urvashi-code1255 commented on #309
@Amisha-here  Sure go for it!

Make sure to follow the project guidelines

[2021-03-10 16:51] urvashi-code1255 commented on #307
@Saumya-07  Sure go for it!

Make sure to follow the project guidelines and pattern

[2021-03-10 16:51] urvashi-code1255 commented on #306
@SatyaPrakash26  Sure go for it!

Make sure to follow the project guidelines and pattern

[2021-03-10 16:55] urvashi-code1255 commented on #303
@Saumya-07 Can you please first show the demo here?

[2021-03-10 16:56] urvashi-code1255 commented on #302
@Saumya-07 I am assigning you two issues, so first complete those two, then ask for this :)

[2021-03-10 16:57] urvashi-code1255 commented on #301
@midhun-b-m  Sure go for it!

Make sure to follow the project guidelines and pattern

[2021-03-10 16:58] urvashi-code1255 commented on #300
@Prajwal-ctrl We already have a digital clock, if you have any ideas to improve it then you can go for it .

[2021-03-10 16:59] urvashi-code1255 commented on #299
@Avishake007 Sure go for it!

Make sure to follow the project guidelines and pattern

Make sure to use only vanilla js

[2021-03-10 17:00] urvashi-code1255 commented on #298
@guruc-134  Sure go for it!

Make sure to follow the project guidelines and pattern

[2021-03-10 17:01] urvashi-code1255 commented on #297
@Maitryee-Choudhary  Sure go for it!

Make sure to follow the project guidelines and pattern

[2021-03-10 17:02] urvashi-code1255 commented on #296
@Ishikakhurana  Sure go for it!

Make sure to follow the project guidelines and pattern

[2021-03-10 17:22] ayush461 commented on #288
@rohank2502  Can u please assign this task to me,I am GSSOC 21 participant.

[2021-03-10 17:33] ishita-sehgal opened #314 "project cards are not showing up due to missing comma in code [gssoc'21]"
project cards are not showing up due to missing comma at correct place in code. Kindly assign this issue to me as a participant of gssoc 2021.

![Screenshot (649)](https://user-images.githubusercontent.com/78426468/110671640-c7431e00-81f4-11eb-9332-217b8a768b68.png)

[2021-03-10 17:33] TidbitsJS opened #315 "Contacts Search"
## Search Contacts
Creating an application to demonstrate searching.

## Event
Part of GSSOC'21

## Demo
![demo](https://s4.gifyu.com/images/cinnamon-20210309-2.gif)

[2021-03-10 17:35] TidbitsJS commented on #315
@urvashi-code1255 assign this to me :)

[2021-03-10 17:36] nikhil-Vaibhav opened #316 "Navbar Toggler not working"
## Describe the bug
I have found that when the window is resized the navigation menu gets hidden under a toggler which is not working when clicked.

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
When the toggler is clicked the navigation menu should open perfectly

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or excep

[2021-03-10 17:48] mirakiii commented on #15
yes @urvashi-code1255  ! I am would send PR by tommorow :) just want to ask if the styling showcased above OK ?

[2021-03-10 17:57] Maitryee-Choudhary commented on #297
Yes,Thank you!

[2021-03-10 18:24] amrzaki2000 commented on #289
@Vishal-raj-1

[2021-03-10 18:50] barsha119 opened #319 "A stone paper scissor game"
This is a simple game of stone paper scissor where 2 players can play. Stone wins over scissor , scissor wins over paper and paper wins over stone.
Please @urvashi-code1255 and @Vishal-raj-1 assign me for this project.
I am a gssoc'21 participant and wants to contribute for this project

[2021-03-10 18:51] nagasaisriya opened #320 "add Expense Tracker project"
![2021-03-11 (2)](https://user-images.githubusercontent.com/63009472/110680926-3aea2880-81ff-11eb-88d5-bf80ed37f809.png)

To Keep track of income and expenses, add and remove items and save to local storage.
I would like to contribute to this project by adding expense tracker as a part of gssoc'21.

[2021-03-10 19:37] sneha-nitdgp opened #321 "Quiz app"
It'll be an interactive quiz app, where users will have to answer a set of questions, and they'll be assigned points for it. At the end, their total scores would be displayed along with animation effects.
@urvashi-code1255 @Vishal-raj-1 please assign me this project. I'd like to work on it.

[2021-03-10 19:41] sahilempire commented on #294
I want to work on this issue, please **aasign me** ,

Thanking you.

[2021-03-10 19:41] sneha-nitdgp opened #322 "Improve Footer"
I'd like to improve the footer and add social media icons.
@Vishal-raj-1 Can you please assign this to me?

[2021-03-10 19:43] sahilempire commented on #294
I want to work on this issue, I want to do it as a part of **GSSoC'21 participant**.

Thank You.

[2021-03-10 19:46] aashi2912 opened #324 "Improve navbar and make it fixed navbar at top."
**[GSSOC'21]** No its not a problem. I tried to enhancing the look and make it more easier to jump on one page to another through navbar.
Navbar should be fixed at top. Right now It is not. When scrolling it's not getting displayed to user and have to go up again to navigate through another section.

@urvashi-code1255 @Vishal-raj-1  I need to make that update allow me to do it and add the label of

[2021-03-10 19:54] m-rNOBODY opened #325 "I would like to add a Weather application to this project as a GSSOC'21 participant."

[2021-03-10 20:02] aashi2912 opened #326 "I want to add Contact Us feature in navbar."
**[GSSOC'21]** Just wanted to add contact us section in navbar with one contact us form. It would be great and important feature need to be add for users for any query related to website and they can contact us.

@Vishal-raj-1 @urvashi-code1255 If you like it or wanted to add this, please assign it to me :) and add the label.

[2021-03-10 20:14] cicada3006 opened #327 "BUILD A JAVASCRIPT MAP"
Hey! I would like to build a java script map. Please assign me this work .

[2021-03-10 20:25] Riya764 opened #328 "ping pong game"
Hey! I would like to build a ping pong game using js. Please assign me this work .

[2021-03-10 20:37] akshitadixit commented on #217
Hi @Vansh-Gupta4 and @Siddharth1006 please let me know what part do you wish to pickup :)

[2021-03-10 20:57] cryptofox17 opened #329 "A Typing Game"
I would like to contribute as a GSSOC participant by adding a typing game to this project. Please assign me this issue

[2021-03-10 21:21] DevrajDC opened #330 "MusicBox using JS"
I would like to contribute as a GSSOC participant by adding a musicbox to this project which has various sounds which can be played by either clicking on the boxes or pressing the keys on keyboard. Please assign me this issue.

[2021-03-11 03:13] pritamkr1 commented on #300
Hi! I want to work on this issue.

[2021-03-11 03:27] Sapna2001 commented on #160
Please add a label for GSSoC 21.
As mentioned on Discord, the points will be provided for GSSoC labels only
@urvashi-code1255

[2021-03-11 03:39] pritamkr1 opened #331 "Progress bar"
I want to add a progress bar to this project

[2021-03-11 04:21] chaitanyashimpi commented on #215
@urvashi-code1255 @Vishal-raj-1  I think you are a night owl at coding. Great :)

First of all, your project is fabulous, it will help many people in order to get the project ideas or can take these projects as a part of the project, It's awesome. You had done great work on your GUI of your website of your project.

But I would like to give an attentive look to the website with proper navigation,

[2021-03-11 04:21] pritamkr1 opened #332 "progress bar, giveaway, countdown to new year, digital clock with best UI, review application to this project"
Hello Sir! I'm Pritam Kumar. I'm a front-end developer.
and I'm want to work on some vanillaJS  projects
1. Progress bar
2. giveaway
3. countdown to the new year
4. digital clock with best UI
5. testimonial app

[2021-03-11 04:47] Prajwal-ctrl opened #334 "[GSSOC 21']Twitter-Clone using React.js and deploy using firebase"
Hey I'm GSSOC 21 Participant I want to make a clone of twitter . @tinchods93  @kishankr7979 @chaitanyashimpi can I work on this on please let me known

[2021-03-11 04:50] Prajwal-ctrl commented on #300
Can change the Ui and improve it . Can I work on this issue

[2021-03-11 04:52] Avishake007 commented on #308
@urvashi-code1255  and @Vishal-raj-1  here is what I have made . Do give your feedback.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/56298861/110737584-a4942200-8253-11eb-92f5-913577e4c590.gif)

[2021-03-11 05:24] SanskrutiRP commented on #21
Heyy @urvashi-code1255.  I am GSSoC'21 participant. I would like to add some styling to this so it will be looking attractive and user friendly, will you please assign it to me?

[2021-03-11 05:37] SanskrutiRP commented on #15
Hey @urvashi-code1255 . I would like to improve styling part of this. Will you please assign this to me?

[2021-03-11 05:39] SanskrutiRP commented on #24
Hey @urvashi-code1255  I will like to work on this. Will you assign this to me??

[2021-03-11 05:50] nandini2110 opened #336 "Snake Game using JavaScript, Html and CSS"
I am Nandini Dasgupta a frontend developer. I would like to add this Javascript based game
Could you please assign this to me as a GSSOC'21 participant?

[2021-03-11 06:04] Sakshi0401 commented on #20
Thanks @urvashi-code1255

[2021-03-11 06:18] Saumya-07 commented on #307
I can see all the older code is removed so should I make a local storage project from start then add changes
I want to tell you I had forked the project before assigning it to me, so should I continue with that one and apply changes or make a new one @urvashi-code1255

[2021-03-11 06:22] Saumya-07 commented on #303
It would be like we can enter Github username, and it would display the count of public repos, gists, followers, and following. Their bio can be displayed and the name of the followers

[2021-03-11 07:28] nagasaisriya opened #337 "Memory Cards project"
Memory Cards is a Flash card app for learning, features-display, add and remove memory cards with questions and answers.
I would like @urvashi-code1255 @Vishal-raj-1 to please assign me this issue.
I am a GSSOC'21 participant and want to contribute to this project.

[2021-03-11 07:39] vanshikapandey commented on #316
Sir I would like to take this issue and work on it as GSSOC'21 participant. Please assign it to me.

[2021-03-11 08:24] WebVishal opened #339 "Random User Generator"
It will use Random User API as input and will get the random User when the Click Button with some Details
I want to work on this project.
Please @ urvashi-code1255 and @ Vishal-raj-1 assign me for this project.
I am a GSSOC'21 participant and wants to contribute to this project

[2021-03-11 08:40] vinayak0127 opened #341 "[GSSOC'21] Weight converter"
id like to work on this in pure javascript please assign it to me.
@urvashi-code1255 @Vishal-raj-1

[2021-03-11 08:59] Anshika-Srivastava opened #342 "Navbar Improvement"
I would like to improve the navbar by adding a **search widget** and providing a **dropdown for projects** so that they can be segregated under easy, medium and hard.
I am a GSSOC'21 participant. Please assign this to me!
Thank you.

[2021-03-11 09:02] Anshika-Srivastava opened #343 "Project: JS Clock"
I would like to contribute my code for JS clock having light and dark themes.
I am a GSSOC'21 participant. Please assign me this.
Thank You!

[2021-03-11 09:13] mohammedjameel24 opened #344 "Meme sharing web app"
## memeUrl

share memese using image url
edit delete memes
add caption

[2021-03-11 09:14] amrzaki2000 commented on #289
@urvashi-code1255 @Vishal-raj-1  please assign this to me

[2021-03-11 09:14] mohammedjameel24 commented on #344
@urvashi-code1255  please assign me this under gssoc

[2021-03-11 09:17] mohammedjameel24 opened #345 "Device info webapp"
shows users device configuration
location based map data
pure javascript implementation

@urvashi-code1255  pls assign me this under gssoc

[2021-03-11 09:51] Mainakroy050 opened #347 "[GSSOC ' 21] Tip calculator"
### Hello !!
i am Mainak Roy ,a front end developer
I want to add a _Tip calculator_ (it is a simple `html,` `css` and  `js` project )

Please @urvashi-code1255  and @Vishal-raj-1  assign me for this project.
I am a GSSOC'21 participant and wants to contribute for this project

[2021-03-11 10:02] urvashi-code1255 commented on #347
@Mainakroy050 Can you please show me the demo here!

[2021-03-11 10:04] Vedant-Rahane opened #348 "[GSSOC 21'] Date and Time Widget"
I am Vedant Rahane, GSSOC'21 participant.
I would like to add this simple Javascript based project it will show current date and live time.

![clock widget](https://user-images.githubusercontent.com/71424483/110770079-e5556080-827e-11eb-80fd-dae76203381c.png)

Please @urvashi-code1255 and @Vishal-raj-1 assign me this.

[2021-03-11 10:04] urvashi-code1255 commented on #345
@mohammedjameel24 go for it :)

Make sure to follow the project guidelines and pattern

[2021-03-11 10:33] pritamkr1 commented on #348
I'm Pritam Kumar (P) GSSOC'21.
please assign me to these projects

[2021-03-11 10:37] urvashi-code1255 opened #349 "Rock Paper Scissors: Responsiveness"
Make Rock paper scissors game responsive for all screen sizes.

[2021-03-11 10:39] nagasaisriya commented on #349
Hello, would like to work on this issue

[2021-03-11 11:00] mohammedjameel24 commented on #345
Started working
✅

[2021-03-11 11:32] Prajwal-ctrl opened #351 "Create a to do list web app using js"
Hi i am a GSSOC 21 participant . Can i work on this project ?

[2021-03-11 11:51] risingphoenixx commented on #306
I want to work on this issue. pls, Assign me @urvashi-code1255. I am a GSSOC'21 participent and want to contribute .

[2021-03-11 12:02] Ankita297 opened #352 "Add a preloader to the website"
## Is your feature request related to a problem? Please describe.
As the site takes some time to load so it will be better if we will add a preloader to the website.
## Describe the solution you'd like
I want to implement a preloader.

## Additional context
Add any other context about the feature request here.

[2021-03-11 12:04] Vedant-Rahane opened #353 "[GSSOC 21'] Drag Image Slider"
I am Vedant Rahane, GSSOC'21 participant.
I would like to add this Javascript based project in which we can drag image left or right like Slider or Carousel

You can see Demo here  - > [Image-Slider](https://vedant-rahane-touch-drag-slider.netlify.app/)

Please @urvashi-code1255 and @Vishal-raj-1 assign me this.

[2021-03-11 12:31] Avishake007 commented on #312
This is what I have developed. @urvashi-code1255  and @Vishal-raj-1 kindly give your feedback.
![Uploading andorxor(1).PNG…]()

[2021-03-11 12:37] sanjana-coder commented on #248
Please add gssoc21 label to the issue
@urvashi-code1255 @Vishal-raj-1
Thank you

[2021-03-11 12:38] Avishake007 commented on #312
@urvashi-code1255  please provide a label for gssoc21

[2021-03-11 12:39] Avishake007 commented on #308
@urvashi-code1255  please provide a label for gssoc21

[2021-03-11 13:46] nagasaisriya commented on #349
Hello @urvashi-code1255 , I've made some modifications and the page in mobile view looks like this, can you please guide me further on how to adjust the middle col-6 grid?
Thank you!
![2021-03-11 (3)](https://user-images.githubusercontent.com/63009472/110796654-33c62780-829e-11eb-9726-b53d59eeba2a.png)

[2021-03-11 13:53] pri1311 opened #354 "Nav bar collapse/dropdown doesnt seem to work."
## Describe the bug
The navigation toggle button for small screen sizes to display nav-links doesn't work/ doesn't serve its purpose of showing nav links, in short nothing happens when the toggle button is clicked.

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to h

[2021-03-11 14:29] Mainakroy050 commented on #347
**_Here is the link_** @urvashi-code1255
[https://mainakroy050.github.io/Tip-Calculator/](url)
i can add some changes if you want me to do !

[2021-03-11 15:14] rk05-lenavo commented on #349
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:15] rk05-lenavo commented on #345
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:16] rk05-lenavo commented on #312
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:17] rk05-lenavo commented on #298
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:17] rk05-lenavo commented on #265
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:49] Vedant-Rahane commented on #354
I am Vedant Rahane, GSSOC'21 participant.
I would like to work on this issue.
Please @urvashi-code1255 and @Vishal-raj-1, can you assign it to me.

[2021-03-11 16:10] urvashi-code1255 commented on #324
@aashi2912 Check the website. This issue is already solved.

[2021-03-11 16:12] urvashi-code1255 commented on #326
@aashi2912 go for it!

[2021-03-11 16:14] urvashi-code1255 commented on #327
@cicada3006 go for it!

[2021-03-11 16:15] urvashi-code1255 commented on #328
@Riya764 go for it!

[2021-03-11 16:20] aashi2912 commented on #326
Thank you!

[2021-03-11 16:32] Vedant-Rahane opened #355 "Reviews : Not well Responsive"
Reviews project is not well responsive, content is getting compressed.

![reviews](https://user-images.githubusercontent.com/71424483/110820636-4a2bad80-82b5-11eb-9e3b-38ead22f85c2.png)

I can fix this.
@urvashi-code1255 @Vishal-raj-1 Can you please assign this to me as GSSOC'21 participant.

[2021-03-11 16:33] urvashi-code1255 commented on #329
Can you show me the demo @cryptofox17 ?

[2021-03-11 16:35] urvashi-code1255 commented on #330
@DevrajDC go for it

[2021-03-11 16:43] cryptofox17 commented on #329
@urvashi-code1255  sure. So here is what i have worked on so far : https://cryptofox17.github.io/typingGame/
I will be using API to generate random words and also improve the UI to make to look more interactive

[2021-03-11 17:02] DPrinceKumar commented on #354
Hello There! I am Prince Kumar, GSSOC 2021  participant  I would like to work on this issue.
Please @urvashi-code1255 and @Vishal-raj-1, can you assign it to me.

[2021-03-11 18:02] DPrinceKumar opened #357 "[GSSOC'21] Responsiveness of Image in page"
**1.** About us image is not visible in mobile device.
**2.** Hamburger **menu** is not working in mobile dvice
![Screenshot](https://user-images.githubusercontent.com/56465180/110830865-ad224200-82bf-11eb-97d9-5d1d282a1642.png)

**3. 1st image** of webisete is not in proper place both in small screen and big screen
![Screenshot](https://user-images.githubusercontent.com/56465180/110830883-b14e5f8

[2021-03-11 18:15] LalitMishra1504 opened #358 "Want to Add live Code Editor in this project"
I am Gssoc'21 participant and want to add live code editor in this project in which developer can make changes in html css javascript and see it live on the side of the screen they don't have to go to browser for this

So please assign me this project @urvashi-code1255 @Vishal-raj-1

[2021-03-11 20:12] Vansh-Gupta4 commented on #217
I would help in implementation of algo

On Thu, Mar 11, 2021 at 2:08 AM Akshita Dixit ***@***.***>
wrote:

[2021-03-12 02:25] akshitadixit commented on #217
@Vansh-Gupta4 sure thing. I'll design the layout and make a PR and leave the sorting function blank, so you can pull the changes and implement the algo inside the function, that works?

[2021-03-12 02:34] akshitadixit commented on #217
Also @urvashi-code1255 if you could add the gssoc21 label please?

[2021-03-12 03:06] dcs-soni commented on #251
Hey! @urvashi-code1255 I am halfway through the project and some UI part is remaining with final touch. I am here to remind that **GSSoC'21** label is not present in this issue along with the level of the issue. Kindly note this..

This is what I have achieved upto this point

![image](https://user-images.githubusercontent.com/52232900/110886012-eb465280-830d-11eb-99f9-89c85e55b980.png)

[2021-03-12 03:15] Ankita297 opened #359 "typo error in rock paper scissor game"
## Describe the bug
the spelling of scissors is sessior  .
## To Reproduce
Steps to reproduce the behavior:
1. Rock Paper  Sessior game .

## Expected behavior
It should be scissors
## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):
 - OS:
 - Browser:

## Additional context
A

[2021-03-12 03:15] Ankita297 commented on #359
![Rock Paper Sessior - Google Chrome 12-03-2021 08_41_46](https://user-images.githubusercontent.com/67833077/110886850-4dec1e00-830f-11eb-84b2-84b756582b96.png)

[2021-03-12 03:26] jhamadhav opened #360 "Project Idea : Simple Avatar Maker"
# Simple Avatar Maker
A simple and useful API, microservice app to generate minimalistic profile pic using the username initials.

Example : for username = John Doe
![example pic (John Doe)](https://user-images.githubusercontent.com/37475140/110887065-a4595c80-830f-11eb-8a40-bc33c8ed6d09.png)

## Main goal
1. Using node.js make an API to fetch the avatar image when passed username name and other d

[2021-03-12 04:55] amrzaki2000 commented on #289
@urvashi-code1255 @Vishal-raj-1

[2021-03-12 05:13] vaishnavig20 commented on #21
Heyy @urvashi-code1255.I am GSSoc '21 participant. I would like to add more features to this project and improve the styling of this project so please assign it to me.

[2021-03-12 05:17] 0Faiz0 commented on #351
I Would like to work on this issue as a GSSOC'21 participant.

[2021-03-12 05:18] 0Faiz0 commented on #322
I would like to work on this issue as a GSSOC'21 participant.

[2021-03-12 05:18] pranabprohit commented on #232
@urvashi-code1255, Can you please add the required lables of GSSOC21 to this issue.

[2021-03-12 05:19] 0Faiz0 commented on #279
I Would like to work on this issue as a GSSOC'21 participant.

[2021-03-12 05:25] 0Faiz0 commented on #270
I would like to make a color guessing game using javascript. as a GSSOC'21 participant

[2021-03-12 05:39] vaishnavig20 opened #362 "[GSSOC 21] Ludo game using javascript"
I would like to add a ludo game application to this project.
I am a GSSOC 21 participant. Please assign this project to me.

[2021-03-12 06:48] satcasm opened #364 "Colorgame"
Would like to add a color guessing game in the website as a GSSOC' 21 participant.
Thanks!

[2021-03-12 06:50] guruc-134 commented on #298
@urvashi-code1255 I have added the necessary files and submitted a Pull Request[ here]( https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/361)
Please review it.

[2021-03-12 06:52] guruc-134 commented on #299
@urvashi-code1255  I have added the necessary files and made a Pull Request. please review it from [here](https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/333)

[2021-03-12 06:58] guruc-134 opened #365 "New Project: Study Timer and Scheduler"
I would like to add a Web Application which, would have the following features:
Allows you to set your session length and break length
Allows you to change your study session time, break length the effect is noticed dynamically in the session clock
It prevents you from resetting your break time  and  you can't extend your break periods
There is a single slot allocated for both session and break ti

[2021-03-12 08:30] AmeyaJain-25 commented on #265
I'm ready with the code @urvashi-code1255
Please add the label of GSSoC 21' so that I can make the PR.

[2021-03-12 08:40] rohank2502 opened #367 "Add techstack with logos in readme"
I wil like to add all the tech stacks used in this project with their logo this will make the read me more attractive !!

[2021-03-12 09:11] pushpakumari5117 opened #368 "CAR AVOIDANCE GAME USING JAVASCRIPT"
@Vishal-raj-1 @urvashi-code1255
PLEASE GO THROUGH THIS PROJECT IDEA ONCE AND ASSIGN IT TO ME, IT WILL BE A GREAT CONTRIBUTION TO YOUR AWESOME JAVASCRIPT PROJECTS.

**DESCRIPTION**
I want to create a car avoidance game using HTML, CSS AND JAVASCRIPT.

**FEATURES:**
1. CALCULATES SCORE.
2. HANDLE DIRECTION WITH ARROW KEYS.
3. IF CAR COLLIDES WITH ANOTHER CAR, GAME FINISHES.
4. FINAL SCORE IS DISPLAY

[2021-03-12 09:11] anushree71199 commented on #328
Can I contribute to this issue? Under GSSoc'21.

[2021-03-12 10:24] balarka135 commented on #302
@urvashi-code1255 I like to work on this issue. Please Assign me

[2021-03-12 11:51] Alik-Kumar-Ghosh opened #371 "Particle JS project"
## Particle.js JavaScript Project

I am Alik Kumar Ghosh. I would like to add a particle.js Javascript based project.
Could you please assign this to me as I am **GSSOC'21 participant**?

![image](https://user-images.githubusercontent.com/33929979/110936462-ef4a9280-8356-11eb-924f-fa829ee43c26.png)

[2021-03-12 12:04] srija920 commented on #371
hey, I am a GSSOC'21 participant , I would love to take up this task, can you please assign it to me?

[2021-03-12 12:06] Alik-Kumar-Ghosh commented on #371
I have already completed, i am about to push my code now.

[2021-03-12 12:09] mohammedjameel24 commented on #345
@urvashi-code1255

#370 generated pull request successfully

[2021-03-12 12:18] urvashi-code1255 commented on #215
@chaitanyashimpi Yeah I have corrected the error in the website yesterday. Now its good,

I just love your idea @chaitanyashimpi You can go for it :)

[2021-03-12 12:24] urvashi-code1255 commented on #15
@mirakiii Yeah design is looking good to me, Just change the yellow color.

[2021-03-12 12:25] urvashi-code1255 commented on #15
Sure @SanskrutiRP go for it!

[2021-03-12 12:28] urvashi-code1255 commented on #24
Hey @Meghag5 Are you working on this?

[2021-03-12 12:30] urvashi-code1255 commented on #244
Sure @codebuzzer01 go for it :)

[2021-03-12 12:37] urvashi-code1255 commented on #257
@vinayak0127 @codDoc98 @sejalshri @Riya764 There is a rock paper scissor already present in the project.

[2021-03-12 12:41] urvashi-code1255 commented on #258
@gnikita432 @Quickbeasts51429 You both can divide the styling work. I am assigning this to both of you :)

[2021-03-12 12:41] #257 closed

[2021-03-12 12:47] urvashi-code1255 commented on #259
@srisatya1197 Please look at other issues in this repository which are opened by either me or @Vishal-raj-1

[2021-03-12 12:49] urvashi-code1255 commented on #260
@padmajabhol Do you want to work on it?

Or shall I assign this to @Suhanii1214

[2021-03-12 12:50] aashi2912 commented on #326
@urvashi-code1255  I created one PR regarding this please check it.

[2021-03-12 12:50] urvashi-code1255 commented on #261
@AakankshaShah There is already an issue present on todo list. Please check that out #19

[2021-03-12 12:53] Engineervinay opened #372 "Feature- download option in lets draw project"
## Is your feature request related to a problem? Please describe.
hello, I want to add a download feature to the Let's Draw project so the user can download the painting he/she draws.
## Describe the solution you'd like
it will be really beneficial if the user can download the memory he created by drawing on the canvas, I can convert the canvas element into a jpeg image using javascript and then p

[2021-03-12 12:58] urvashi-code1255 commented on #264
@Aayush-hub It will help me alot. go for it :)

[2021-03-12 13:03] urvashi-code1255 commented on #268
@HarshMarolia We already have a Random Password Generator App!!

[2021-03-12 13:08] urvashi-code1255 commented on #269
@mohdjameel2412 go for it!

[2021-03-12 13:11] urvashi-code1255 commented on #270
@SHAGUN0312 @0Faiz0 You both can divide the work :)

[2021-03-12 13:12] urvashi-code1255 commented on #272
@mohdjameel2412 go for it :)

[2021-03-12 13:12] urvashi-code1255 commented on #276
@AbhishekTiwari07 go for it!

[2021-03-12 13:25] SanskrutiRP commented on #15
Thank You!!!

[2021-03-12 13:39] #274 closed

[2021-03-12 13:43] mohdjameel2412 commented on #269
already  pull requested from @mohammedjameel24

i did not use this account to register with GSSOC21 that's the reason i created a account with my GSSOC registered account
i apologies for confusions

[2021-03-12 13:43] #269 closed

[2021-03-12 13:47] mohdjameel2412 commented on #272
@urvashi-code1255  please assign this task to @mohammedjameel24

the resason is this account of mine was not used to register in GSSOC and thats the reason i created a account with registered account
I apologize for confusions

thank you

[2021-03-12 13:50] mohammedjameel24 commented on #272
@urvashi-code1255

Confirming both are my accounts
Again sorry for confusions

[2021-03-12 13:59] rk05-lenavo commented on #285
I'm the participant in GSSOC'21. i would love to work on this.Please assign me this issue.

[2021-03-12 13:59] mohammedjameel24 commented on #269
Please merge my pull request @urvashi-code1255

Issue #370

[2021-03-12 14:08] aliya-rahmani opened #374 "[GSSOC'21 ]JAVASCRIPT BROWSER CODE EDITOR"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I would like to work on a javascript browser code editor.
## Describe the solution you'd like
Here are a few ideas for additional features for our code editor:
- Use CSS for syntax highlighting
- Allow the user to switch between languages
- Add another screen next to our editor where the user can run the code

[2021-03-12 14:25] Mukta-Sawant commented on #19
@urvashi-code1255 @Vishal-raj-1  Can I work on this as a part of GSSOC'21?

[2021-03-12 15:07] bitaashna commented on #247
Hey @urvashi-code1255 ! I have created a pull request . Please check it :)

[2021-03-12 15:11] ManasUniyal opened #376 "Add github workflow for automatic build and deployment"
- Use github build action to test javascript, HTML and CSS files
- Use github build action for deployment

[2021-03-12 15:49] Fab-Gaurav commented on #21
Any Update or may I work on this issue?? @Vishal-raj-1 , @urvashi-code1255

[2021-03-12 16:06] anjali-tejasvi opened #377 "Feature: Drumkit"
The present drum-kit doesn't have any option to change the theme. With a click, the theme will be changed. If you allow I can add this new feature to it.
@urvashi-code1255 pls assign me this under gssoc.

[2021-03-12 16:27] FireQueen-3010 opened #378 "[GSSOC'21] Lorem Ipsum Generator."
##New Project
A Lorem Ipsum words generator based on the number of words that the user needs.

## To Reproduce
Steps to reproduce the behavior:
1. Use Lorem Ipsum API's
2. DOM manipulation.
3. Use advanced CSS to properly style with modern UI themes.

## Feature:
The user will be able to generate Lorem Ipsum words according to the input number he provides along with a great UI experience.

[2021-03-12 16:28] FireQueen-3010 commented on #378
Please assign this to me under Gssoc'21.

[2021-03-12 17:13] bitaashna commented on #253
@urvashi-code1255 I have completed my previously assigned task..can I start working on this?
Please assign me this task
#gssoc21

[2021-03-12 18:08] sejalxz opened #380 "Gray Code to Binary Code Converter."
Hey I would like to make a code converter from Gray Code to Binary Code

Please  assign me this issue under GSSOC' 21!

[2021-03-12 18:14] HarshMarolia commented on #190
@urvashi-code1255 I've solved the bug, can you please assign me the issue so that I can me my first PR.

[2021-03-12 18:19] #268 closed

[2021-03-12 19:08] AnanyaJajoo opened #382 "[GSSOC'21] RGB Color guessing game"
I would like to add a new game called RGB Color guessing game.

I am a GSSOC 21 participant. Can you please assign me this task under gssoc!
Please @urvashi-code1255 and @Vishal-raj-1 assign me this.

[2021-03-12 20:39] urvashi-code1255 commented on #253
Sure go for it @bitaashna :)

[2021-03-12 20:41] urvashi-code1255 commented on #272
@mohammedjameel24 Please go for it :)

[2021-03-12 20:43] urvashi-code1255 commented on #277
@sejalxz A weather app is already present in the project. Let me know if you can modify it :)

[2021-03-12 20:44] urvashi-code1255 commented on #278
@Aanchal116 Sure go for it :)

Make sure to follow the project guidelines and pattern.

[2021-03-12 20:48] urvashi-code1255 commented on #279
@sagunjaiswal @shubhraagarwal  @Aanchal116 @0Faiz0 @ORKO06 @abhishek96k You all can suggest the logo designs.

[2021-03-12 20:49] urvashi-code1255 commented on #280
@ireneelizabethsabu Sure go for it :)

[2021-03-12 20:51] urvashi-code1255 commented on #281
@sanjaysunil34 Its working for me. Can you please show me the demo?

[2021-03-12 20:52] urvashi-code1255 commented on #282
@SanskaarPatni Sure go for it :)

Try to make it unique :)

[2021-03-12 20:52] urvashi-code1255 commented on #283
@sanjaysunil34 Sure go for it :)

[2021-03-12 20:53] urvashi-code1255 commented on #284
@poojitha2002 Sure go for it :)

[2021-03-12 20:54] urvashi-code1255 commented on #285
@Manish-kasera Sure go for it :)

[2021-03-12 20:55] urvashi-code1255 commented on #285
@rk05-lenavo Please look at other issues as we follow first ask first get rule!

[2021-03-12 20:56] urvashi-code1255 commented on #286
Sure go for it @Aanchal116 :)

[2021-03-12 20:57] urvashi-code1255 commented on #287
@Praddyumn16 Sure go for it :)

[2021-03-12 20:59] urvashi-code1255 commented on #288
@rohank2502 How will you add the link? Like in the form of badge or what? Can you show me the preview?

[2021-03-12 21:00] urvashi-code1255 commented on #289
@amrzaki2000 Sure go for it :)

[2021-03-12 21:01] urvashi-code1255 commented on #290
@vinayak0127 Sure go for it :)

[2021-03-12 21:02] urvashi-code1255 commented on #293
@risingphoenixx Sure go for it :)

[2021-03-12 21:03] urvashi-code1255 commented on #294
Favicon is already present in the website @machine-sg

[2021-03-12 21:04] urvashi-code1255 commented on #295
@Ishikakhurana This project is only build using vanilla js , so let me know if you can implement it using pure vanilla js

[2021-03-12 21:07] urvashi-code1255 commented on #300
Sure @Prajwal-ctrl go for it :)

[2021-03-12 21:09] urvashi-code1255 commented on #302
@Saumya-07 You have already assigned two issues so I am assigning this to @balarka135

[2021-03-12 21:10] urvashi-code1255 commented on #303
@Saumya-07 go for it :)

[2021-03-12 21:14] urvashi-code1255 commented on #308
Its looking good to me @Avishake007 You can come up with a PR!!

[2021-03-12 21:15] urvashi-code1255 commented on #312
@Avishake007 Please reduce the border-radius of input boxes as its difficult to see the numbers entered

[2021-03-12 21:16] urvashi-code1255 commented on #313
@Amisha-here Sure go for it :)

[2021-03-12 21:18] urvashi-code1255 commented on #314
@ishita-sehgal Sorry to say and thanks for help but I have solved this issue!

[2021-03-12 21:18] urvashi-code1255 commented on #315
@TidbitsJS Sure go for it :)

[2021-03-12 21:20] urvashi-code1255 commented on #316
@vanshikapandey Sure !!

[2021-03-12 21:21] urvashi-code1255 commented on #319
@barsha119 There is already a stone paper sccissors game present in the website. Let me know if you can modify it :)

[2021-03-12 21:23] urvashi-code1255 commented on #320
@nagasaisriya Expense Tracker issue is already made!!

Please get assigned to an issue before starting working on it .

[2021-03-12 21:24] urvashi-code1255 commented on #321
@sneha-nitdgp There is a quiz app already present in the project! Let me know if you can modify it :)

[2021-03-12 21:24] risingphoenixx commented on #293
Thank you @urvashi-code1255

[2021-03-12 21:25] urvashi-code1255 commented on #322
@sneha-nitdgp Sure go for it :)

[2021-03-12 21:26] bitaashna commented on #253
oops !! Somebody have already done it ! I haven't checked it...I will be closing this issue as it is already done

[2021-03-12 21:27] #253 closed

[2021-03-12 21:27] urvashi-code1255 commented on #329
@cryptofox17 That's why I asked for the demo!

A very similar typing speed tester game is already present in the project!

[2021-03-12 21:28] urvashi-code1255 commented on #331
@pritamkr1 Sure go for it :)

[2021-03-12 21:29] #329 closed

[2021-03-12 21:29] urvashi-code1255 commented on #332
@pritamkr1 Welcome to the Project :)

We already have new year countdown and Digital clock!

So youcan add others :)

[2021-03-12 21:30] urvashi-code1255 commented on #332
Make seperate issues for all

[2021-03-12 21:31] urvashi-code1255 commented on #334
@Prajwal-ctrl We are  using pure vanilla js in this project, so please tell me know if you can do this with vanilla js

[2021-03-12 21:32] urvashi-code1255 commented on #336
Sure go for it @nandini2110 :)

[2021-03-12 21:32] urvashi-code1255 commented on #337
@nagasaisriya Go for it :)

[2021-03-12 21:33] urvashi-code1255 commented on #339
@WebVishal Random User project is already present in the project, let me know if you can modify it :)

[2021-03-12 21:34] urvashi-code1255 commented on #341
@vinayak0127 Sure go for it :)

[2021-03-12 21:35] urvashi-code1255 commented on #342
@Anshika-Srivastava Sure go for it

[2021-03-12 21:35] sejalxz commented on #277
Sure, should I work on the same code base or work on this issue here?

[2021-03-12 21:36] urvashi-code1255 commented on #343
@Anshika-Srivastava Js clock is already present in the project! Let me know if you can add dark theme to them

[2021-03-12 21:36] bitaashna opened #384 "Recipie Finder"
Search and generate random meals and their recipie
#GSSOC'21
**Project Specifications:-**
Display UI with form to search and button to generate
Connect to API and get meals
Display meals in DOM with image and hover effect
By clicking on meal , details can be seen
Click on generate button and fetch & display a random meal

Hey @urvashi-code1255 ! I would like to work on it as a participant of **GSS

[2021-03-12 21:38] urvashi-code1255 commented on #347
@Mainakroy050 Its looking good, just remove the extra space and the vertical scroll bar.

[2021-03-12 21:40] urvashi-code1255 commented on #348
@Vedant-Rahane Sure go for it :)

[2021-03-12 21:40] urvashi-code1255 commented on #348
@pritamkr1 Please look at other issues in the project! We follow FCFS

[2021-03-12 21:42] urvashi-code1255 commented on #349
@nagasaisriya You can adjust it to less columns like col-4 or 3

[2021-03-12 21:42] urvashi-code1255 commented on #351
@Prajwal-ctrl Todo app issue is already present have a look!

[2021-03-12 21:43] urvashi-code1255 commented on #352
Sure go for it @Ankita297 :)

[2021-03-12 21:45] urvashi-code1255 commented on #353
@Vedant-Rahane Click and drag project is already present in this project!

Modify it to this!

[2021-03-12 21:45] sahilempire commented on #294
But, maybe they want better fevicon as compare to present one.

[2021-03-12 21:46] urvashi-code1255 commented on #355
@Vedant-Rahane Sure go for it!

[2021-03-12 21:47] urvashi-code1255 commented on #358
@LalitMishra1504 Sure go for it :)

[2021-03-12 21:48] urvashi-code1255 commented on #359
@Ankita297 Sure correct it!

[2021-03-12 21:50] urvashi-code1255 commented on #360
@jhamadhav We are only using vanilla js. Let me know if you can do something with only vanilla js :)

[2021-03-12 21:51] urvashi-code1255 commented on #362
@vaishnavig20 Sure go for it :)

[2021-03-12 21:52] urvashi-code1255 commented on #364
Can you show me the preview here @satcasm ?

[2021-03-12 21:53] urvashi-code1255 commented on #365
@guruc-134 go for it :)

[2021-03-12 21:58] urvashi-code1255 commented on #367
@rohank2502 Sure go for it :)

[2021-03-12 22:00] urvashi-code1255 commented on #368
@pushpakumari5117 I Loved this project idea :) go for it

[2021-03-12 22:01] urvashi-code1255 commented on #372
@Engineervinay Sure go for it :)

[2021-03-12 22:02] urvashi-code1255 commented on #374
@aliya-rahmani This issue has already made by some one

[2021-03-12 22:03] urvashi-code1255 commented on #376
@ManasUniyal Sure go for it :)

[2021-03-12 22:04] urvashi-code1255 commented on #377
@anjali-tejasvi Sure go for it :)

[2021-03-12 22:06] urvashi-code1255 commented on #378
@FireQueen-3010 We already have Text Generator which is an updation of lorem ipsum. So I think we don't need this.

Please feel free to close this issue

[2021-03-12 22:06] urvashi-code1255 commented on #380
@sejalxz Sure go for it :)

[2021-03-12 22:07] urvashi-code1255 commented on #382
@AnanyaJajoo This issue has already been made my some one .

[2021-03-12 22:08] urvashi-code1255 commented on #384
@bitaashna go for it

[2021-03-12 22:10] urvashi-code1255 commented on #277
Sure go for it @sejalxz :)

[2021-03-12 22:24] #220 closed

[2021-03-12 23:00] ManasUniyal commented on #376
Hello, @urvashi-code1255 I am a mentor myself 😄.
Kindly assign it to someone else.

[2021-03-13 00:13] Aarti002 commented on #343
hey @urvashi-code1255 under gssoc'21 can i work on this issue using dark theme?
Thank you!

[2021-03-13 00:16] Aarti002 commented on #321
hello @urvashi-code1255 under gssoc'21 can i add some modification to quiz app ?
Thank you!

[2021-03-13 00:31] Aarti002 opened #385 "Palindrome-Checker in Javascript"
This is a very basic project in javascript, for a complete beginner like me : )
Building a simple palindrome checker is great practice for working with strings and manipulating them with JavaScript. Plus, checking for palindromes can be a lot of fun!

i will be using some animation and will try to make my project  responsive and easy to deal.
Requirements: some javascript, html and css

=>It can b

[2021-03-13 00:33] Aarti002 commented on #385
hey @urvashi-code1255 please assign this to me  will try my best .
Thank you!

[2021-03-13 00:46] Aarti002 opened #386 "Image-gallery Project in Javascript"
This is beginner kind project  and i would love to add some more features from my side.

Features : -
1. User can add on more photos to the gallery
2. Each photo will have a category and photos with same category will be queue in same row
3. On clicking at particular pic user can view that pic in bigger font

---With some animations----

[2021-03-13 00:46] Aarti002 commented on #386
hey @urvashi-code1255 please assign this to me.
Thank you!

[2021-03-13 02:12] gnikita432 commented on #258
@Quickbeasts51429 I have added hex colors in the color flipper. can you please share your idea?

[2021-03-13 02:57] Mrinal81 opened #387 "Want To Add Blog Website In this Project"
I am a GSSOC'21 Participant. I would like to add the blog website where anyone can post his/her blogs.I want to work on this Issue.
Please assign me this issue..

[2021-03-13 03:01] jhamadhav commented on #360
@urvashi-code1255 definitely as this - project will only need Javascript, I can make it using only vanilla Javascript too 👍

[2021-03-13 03:16] Avishake007 commented on #312
Sure @urvashi-code1255

[2021-03-13 03:37] aliya-rahmani commented on #374
@urvashi-code1255  but I didn't see any similar issues, please reference it. And if it isn't there, please add gssoc labels.

[2021-03-13 03:40] aliya-rahmani commented on #374
@urvashi-code1255 should I change to another project idea?

[2021-03-13 03:43] aliya-rahmani commented on #248
@urvashi-code1255 can you also assign me this task?

[2021-03-13 03:52] guruc-134 commented on #365
@urvashi-code1255  Thank, you

[2021-03-13 03:57] aliya-rahmani opened #388 "Address Book Using Javascript"
Hi ! I am Aliya Rahmani, a GSSOC'21 participant.
I would like to work on an Address Book management system developed by javascript, HTML, CSS. In this javascript project has a Name, Address, Telephone number, Email, website for the Address Book management system. If any information is incorrect, there are buttons to correct and delete.

Please , kindly assign this task to me

[2021-03-13 04:14] Avishake007 commented on #312
@urvashi-code1255  I have made the necessary changes and also updated the PR. Kindly check if it is alright.
![andorxor(1)](https://user-images.githubusercontent.com/56298861/111018714-7728af00-83e0-11eb-88b8-e5ac88b4c329.PNG)

[2021-03-13 04:20] HelenEH0 commented on #21
Hey @Vishal-raj-1 ,
 As a GSSOC'21 participant I would like to make some changes in the design of this project, Please assign this to me.

[2021-03-13 04:45] Goheljay opened #392 "[GSSOC'21] Design note app like keep"
Hello, I participate in gssoc 2021.
@urvashi-code1255  and @Vishal-raj-1 I can redesign the note app. look like google keep. So can you assign me?

[2021-03-13 04:56] Goheljay opened #393 "[GSSOC'21] Navgation bar not work in mobile view or reponsive view"
## Describe the bug
when I goto the mobile view than the navbar toggle not work.
So can you assign me? I can work on this issue.

[2021-03-13 04:56] #378 closed

[2021-03-13 04:59] balarka135 commented on #302
Thank you for assigning me. I will update you tomorrow about my project status.

[2021-03-13 05:37] chaitanyashimpi commented on #216
@urvashi-code1255 I have completed this issue under GSSOC '21. Can you please tag it with that. I hope this will also be counted on the leaderboard.
Anyway, I am working on the Website Looks, it's going well. It will complete soon.

[2021-03-13 05:43] #367 closed

[2021-03-13 06:08] ishita-sehgal commented on #314
Okay :)

[2021-03-13 06:14] sidmohanty11 opened #397 "Yoga App [gssoc'21]"
## Is your feature request related to a problem? Please describe.
No, I would like to add a yoga app . Basically, I made this according to the health issues today, its fairly simple and has a very soothing music added to it. It makes the whole pranayam yoga a breeze.
## Describe the solution you'd like
Made this yoga app and it can be further be made complex with addition of more musics and more y

[2021-03-13 06:43] pritamkr1 opened #400 "A giveaway app using vanilaJS"
Please assign me to this project.

[2021-03-13 06:50] pushpakumari5117 commented on #368
Thank you so much @urvashi-code1255

[2021-03-13 07:07] ibhavikamalhotra opened #402 "Giphy Search Engine [Javascript]"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I want to add a JS Project which is a Giphy Search Engine, kindly assign me this issue so that I can do the mentioned.

@urvashi-code1255  ! I would like to work on this as I am a participant of GSSoC'21. This is going to be my first contribution to #GSSoC'21.

[2021-03-13 07:09] Alik-Kumar-Ghosh commented on #371
[https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/373/#issue-591691906](https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/373/#issue-591691906)

That's my PR link please have a look if possible.

[2021-03-13 07:10] satcasm commented on #364
![image](https://user-images.githubusercontent.com/56315878/111022468-f32ef100-83f8-11eb-86ac-1ea6814d6e55.png)
There will be two modes and the user just has to guess the color.
![image](https://user-images.githubusercontent.com/56315878/111022490-0cd03880-83f9-11eb-8565-92b882888f9d.png)
The user can also choose new colors anytime and upon guessing the color:
![image](https://user-images.githubus

[2021-03-13 07:10] icoderharshit opened #403 "Play Beats [Javascript]"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I want to add a JS Project which is a music player with an API, kindly assign me this issue so that I can do the mentioned.

@urvashi-code1255 ! I would like to work on this as I am a participant of GSSoC'21. This is going to be my first contribution to #GSSoC'21.

[2021-03-13 07:16] padmajabhol commented on #260
I want to work on it. Please assign this to me.

[2021-03-13 07:33] WebVishal commented on #339
@urvashi-code1255  It's not yet listed on Project Section how I can try to modify ;)

[2021-03-13 09:00] deeptea22 opened #404 "Flappy Bird Game"
The game is a side-scroller where the player controls a bird, attempting to fly between columns of green pipes without hitting them.
Hey @urvashi-code1255 ! I would like to work on it as a participant of GSSOC'21.Can you please assign this issue to me.

[2021-03-13 09:05] nikhil-Vaibhav commented on #316
Hey @urvashi-code1255  Please check the linked pull request which can close this issue as I have fixed this and tested on my system. Only few code lines have been finally changed but during testing many changes were tested. At the end final PR has been made. Thank you

[2021-03-13 09:24] sneha-nitdgp opened #405 "Image Gallery"
I'd like to add a  pure JavaScript based gallery that helps you showcase your images with thumbnails and displays the image along with the description on hovering over it.
@urvashi-code1255 Can you please assign this to me?

[2021-03-13 09:29] #324 closed

[2021-03-13 10:04] sneha-nitdgp commented on #322
@urvashi-code1255 Can I get some information regarding contact number, email id etc of creator or any social links apart from Github, which I can add in Footer?

[2021-03-13 10:04] sneha-nitdgp commented on #322
@urvashi-code1255 Can I get some information regarding contact number, email id etc of creator or any social links apart from Github, which I can add in Footer?

[2021-03-13 10:05] poojitha2002 commented on #284
Thank you for assigning!!

[2021-03-13 10:17] Dimple115 commented on #405
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:17] Dimple115 commented on #393
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:19] Dimple115 commented on #304
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:22] Dimple115 commented on #260
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me. @padmajabhol

[2021-03-13 10:23] Dimple115 commented on #252
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:24] Dimple115 commented on #27
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:24] Dimple115 commented on #21
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me. @Vishal-raj-1 @urvashi-code1255

[2021-03-13 10:51] nagasaisriya commented on #320
I'm sorry! I thought we can directly make a pull request, wouldnt repeat it again.

[2021-03-13 10:52] nagasaisriya commented on #349
Yeah, would try it. Thank you

[2021-03-13 10:53] nagasaisriya commented on #337
Thank you! @urvashi-code1255

[2021-03-13 11:05] WebVishal opened #408 "2D Brick Breaker Game in JavaScript"
Project Specifications:-
JavaScript functions
2 dimensional arrays
event listeners
control structures

Hey @urvashi-code1255 ! I would like to work on it as a participant of GSSOC'21.Can you please assign this issue to me.

[2021-03-13 11:40] Aanchal116 commented on #278
Thanks @urvashi-code1255 , I'll get back to you as soon as possible.

[2021-03-13 11:42] satcasm opened #409 "Todo list"
Would like to add a todo listing site as a part of GSSOC'21.
Look [here](https://tudo-list.netlify.app/) for preview.

[2021-03-13 11:52] rohank2502 commented on #288
We can do both !! Which will look nice ? What you think ?

[2021-03-13 12:20] Vedant-Rahane commented on #353
@urvashi-code1255 means to change previous Click and drag project with mine correct ?

[2021-03-13 12:54] Vedant-Rahane opened #411 "[GSSOC 21'] Add Birthday Reminder project"
I am Vedant Rahane, GSSOC'21 participant.
I would like to add this Javascript based project which contain people's data in array like name and birthday. It will show person if its birthdate matches current date and also automatically calculate age.

Something like this -

![birthday-reminder](https://user-images.githubusercontent.com/71424483/111030496-87647c80-8428-11eb-8609-c662841fb90a.png)

Pl

[2021-03-13 12:58] Deeksha-Rawat opened #412 "KeyEvent_code[GGSOC'21]"

[2021-03-13 13:03] Deeksha-Rawat commented on #412
HIi! I have made a PR regarding KeyEvent code.
It will give us the keycode, keyevent which is pressed by us in the keyboard.
It is made with vanilla javascript.
![KeyNote_code](https://user-images.githubusercontent.com/50552823/111030810-4cfbdf00-842a-11eb-9833-57d2533c8885.png)

[2021-03-13 13:15] narasimhareddy04 opened #413 "SGPA Calculator"
Hi..I'm a GSSoC'21 participant. I want to create an SGPA calculator using HTML, CSS, Bootstrap and Java Script. @urvashi-code1255 please assign this project to me. Thanks in advance for your time and consideration.

[2021-03-13 13:15] #371 closed

[2021-03-13 13:20] #190 closed

[2021-03-13 13:23] Aanchal116 commented on #278
Hey @urvashi-code1255 , I completed my task and created a pull request for the same. Please have a look.

[2021-03-13 13:42] syedmdsaifihassan commented on #392
@urvashi-code1255 @Vishal-raj-1 I would like to work on this issue, please let me know if it is not assigned to anyone.

[2021-03-13 13:47] kumarankm opened #415 "New year crackers Firework with JS"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
What if we add new year wish with JS with cracking animation on background with sound?
I would like to work on it.

## Additional context
Assign me this issue under GSSOC' 21!

[2021-03-13 13:53] #264 closed

[2021-03-13 14:00] syedmdsaifihassan opened #416 "Timeline"
I want to create a timeline project in javascript.

[2021-03-13 14:03] #355 closed

[2021-03-13 14:06] Vedant-Rahane opened #418 "Digital Clock : Responsiveness"
Digital clock project is not well responsive, the clock is getting out off window on small screen.

**Issue -**

![digitalClock](https://user-images.githubusercontent.com/71424483/111032624-27270800-8433-11eb-995f-2e28fe141086.png)

I can fix this.
@urvashi-code1255 @Vishal-raj-1 please assign this to me as GSSOC'21 participant.

[2021-03-13 14:06] aashi2912 commented on #326
@urvashi-code1255 I created PR again with recent changes. check that out.

[2021-03-13 15:15] Alik-Kumar-Ghosh opened #420 "Particle JS issue"
## Particle JS issue
Particle JS project is not working.

### GSSOC'21
Please assign this issue to me, I am a GSSOC'21 participant.

### Screenshot
![image](https://user-images.githubusercontent.com/33929979/111034708-e59b5a80-843c-11eb-9520-922771ed8e9e.png)

[2021-03-13 15:24] Goheljay commented on #418
I participated in gssoc 2021.
I can fix this problem. @Vishal-raj-1  @urvashi-code1255 please assign me this issue.

[2021-03-13 15:58] Tanu-priya-Roy opened #423 "Survey App with Js"
I would like to contribute to GSSOC'21 by making this project. Please assign me this Project.

[2021-03-13 16:06] gupta31 opened #424 "Random quote generator"
It will generate quotes randomly and post that quote in social media like twitter etc.

[2021-03-13 16:09] gupta31 opened #425 "Spock Rock Game"

[2021-03-13 16:30] amrzaki2000 commented on #289
@urvashi-code1255
Hello,
I've raised PR regarding this issue.
Thank you

[2021-03-13 16:32] khareyash05 opened #427 "update contributing.md"
Hi! I would like to update contributing.md and and all the mentioned below with all the steps so that even a beginner in open source can contribute
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as th

[2021-03-13 16:36] kumarankm commented on #415
Can you assign me this issue? @urvashi-code1255 @Vishal-raj-1

[2021-03-13 16:46] amrzaki2000 opened #428 "[GSSoC '21] Creating Tetris game"
Hello,
I'd like to create Tetris game using javascript as part of my GSSoC contribution.
Thanks

[2021-03-13 16:48] gupta31 commented on #425
I want to work on this under GSSOC21.Please assign to me

[2021-03-13 16:49] gupta31 commented on #424
I want to work on this under GSSOC21.Please assign to me

[2021-03-13 16:50] amrzaki2000 commented on #428
@urvashi-code1255 @Vishal-raj-1

[2021-03-13 17:08] gupta31 opened #430 "Creating Word cloud using js and jquery"
I want to work on this issue. Please assign to me

[2021-03-13 17:11] balarka135 commented on #302
@urvashi-code1255 I build the math game already. But after several tries
![problem](https://user-images.githubusercontent.com/43699566/111038099-3915a480-844d-11eb-92fe-0d9e17306344.png)
 I am unable to link the image or gif with the Project section on the page. I attached a screenshot for your reference. pls, help me.Thank you

[2021-03-13 17:35] aditidewangan commented on #362
Please assign me for these project.  I also made a ludo game using javascript .

[2021-03-13 17:42] SharmaTanish opened #431 "Adding Rode Slider Game"
### GSSOC21
Hello , Tanish this side !
I have made a wonderful Rode slider game using native Javascript and I want to contribute to this project by adding my game here. You can observe the game in the demo video link below attached .
Please have a look at this @Vishal-raj-1 @urvashi-code1255 .
Thank you
Regards

vedio link :
https://user-images.githubusercontent.com/75024552/111038872-256c3d00-845

[2021-03-13 18:19] SharmaTanish commented on #431
Hi ! I am ready with the code . Can I place pull request now?

[2021-03-13 20:53] signifershrey opened #433 "New Project : Minion Translation App"
I would like to add a Web Application to your project, It would have the following features:

It would translate the English conversation into minions native language.
It uses pure VanillaJs and takes the help of API to get the translated text.

Please assign me this issue under GSSoC 2021

[2021-03-14 02:39] rray14 opened #434 "New Project: Budget app"
Hi my name is Ardra, participant of GSSoC'21
I'll contribute by adding a new project in JS, which is the budget calculator, which will give the total budget from the user's input of incomes and expenses
Please assign this issue to me
Thanks!!

[2021-03-14 02:47] rray14 opened #435 "Grocery list app"
My name is Ardra, participant of GSSoC'21
Using javascript, I'll be creating a grocery list app where users can input the items and it generates a list
Please assign this issue to me
Thanks!!

[2021-03-14 03:08] malavikarajeshvikraman opened #436 "Javascript Bill Splitter"
Hi ! I am Malavika R Vikraman, a GSSOC'21 participant.
I will like to contribute to this project by adding a a simple bill splitter app. It will take the total amount, no of people and tip  and calculate the amount each person will pay.
Please , kindly assign this task to me

[2021-03-14 03:15] malavikarajeshvikraman opened #437 "JavaScript Tip Calculator"
Hi ! I am Malavika R Vikraman, a GSSOC'21 participant.
I will like to contribute to this project by adding a a simple tip calculating  app. It will take the total amount, and ask you haw the service was .Depending on which a tip will be calculated and displayed.
Please , kindly assign this task to me

[2021-03-14 03:29] aliya-rahmani opened #438 "Javascript Audio App Meditation APP"
Hi ! I am Aliya Rahmani, a GSSOC'21 participant.
I will like to contribute to this project by adding a simple Audio app. It will play some relaxing audio with different themes and simple UI. Made with HTML, CSS, and Javascript.
Please , kindly assign this task to me

[2021-03-14 04:22] akshitadixit commented on #217
@urvashi-code1255 for some reason this issue isn't being counted by gssoc, will be counted after it is closed?

[2021-03-14 04:28] ashutosh-cusat commented on #21
Hey, I'm GSSOC'21 participant, I want to make some changes in the design of this project, Please assign this issue to me @Vishal-raj-1 @urvashi-code1255

[2021-03-14 04:33] ashutosh-cusat commented on #24
I will work on this issue please assign me @Vishal-raj-1 @urvashi-code1255

[2021-03-14 05:54] Ankit0225 commented on #418
hey @urvashi-code1255 @Vishal-raj-1 I would love to work on this project

[2021-03-14 06:15] Ankit0225 commented on #435
Het I would like to work on this project

[2021-03-14 06:26] nagasaisriya commented on #349
@urvashi-code1255 made a pr unknowingly i corrected the typo too, do check it out

[2021-03-14 06:54] samar08 commented on #418
Hey @urvashi-code1255  @Vishal-raj-1  I am a GSSOC participant. I would like to add an alarm feature for the digital clock. Please assign me this issue. Thanks and regards A.M.Samara simha reddy.

[2021-03-14 07:21] mahesh-11102 commented on #24
hello @Vishal-raj-1  sir @urvashi-code1255 mam, I'm a GGSOC participant,, I was the one who contacted  you in the discord , please assign me this issue , I can share you my prototype

[2021-03-14 07:44] Amisha-here commented on #309
<img width="957" alt="Annotation 2021-03-14 131131" src="https://user-images.githubusercontent.com/66164747/111061012-132ce600-84c7-11eb-8eb0-40568e2a3859.png">

I have completed it.. please review it.. also add gssoc21 tag

[2021-03-14 08:35] tushartiwari7 opened #444 "UX improvement- adding keyboard shortcuts to calculator project."
### PR: #444
# [Calculator Project:](https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/blob/main/public/calculator.html)
## there's no option to reset the output screen of the calculator, neither is to delete a single number from the screen using Keyboard.

## I want to add both of these features when user presses the `End` key or `Delete` key.

## Additional context

[2021-03-14 09:24] jhamadhav commented on #360
Can I start making it ?
@urvashi-code1255

[2021-03-14 10:47] vasanthgk02 commented on #208
Hii, I am interested to work on this project. So pls assign this to me !

[2021-03-14 10:49] vasanthgk02 commented on #300
I am very much interested to work on this project . So pls assign this to me😇

[2021-03-14 10:51] vasanthgk02 commented on #312
I am very much interested in this project. So pls assign this to me💪

[2021-03-14 11:31] SharmaTanish commented on #431
The following error ( in image ) is occuring when I am pushing the changes and hence it is not reflecting on github !

![Capture](https://user-images.githubusercontent.com/75024552/111066754-ad505680-84e6-11eb-9d69-a2787fde1d49.PNG)

[2021-03-14 11:32] Deeksha-Rawat opened #446 "Rotating Navigation added(ggsoc)"
PR --  #445
My name is Deeksha, participant of GSSoC'21
I have created a Rotating navigation in which the the navigation bar opens up from side.
it is completely made up of Javascript.
Please assign this to me and merge my PR.

Thanks!!
![RotatingNav](https://user-images.githubusercontent.com/50552823/111066992-e6d59180-84e7-11eb-8daf-15f955d5d601.gif)

[2021-03-14 11:57] AmeyaJain-25 commented on #265
Made the PR #447
Please review my PR

[2021-03-14 13:46] AnanyaJajoo opened #448 "[GSSOC 21'] JavaScript Hangman game"
Hi! I am Ananya and I am a  GSSOC'21 participant.
I would like to contribute to this project by adding a JavaScript Hangman game.
Please assign this to me @urvashi-code1255

[2021-03-14 14:07] apoorvachawda opened #450 "[GSSOC'21] Password generator in vanilla javascript"
Hello, I am a GSSOC'21 participant and I want to create a vanilla js password generator. Here are the salient features of the project -

1. User will be asked to enter the number of characters for the password.
2. A **strong** password will be generated using that number of characters.
3. The password will consist of special characters, uppercase and lowercase letters and numbers.

Please assign m

[2021-03-14 14:43] poojitha2002 commented on #284
Hello I have completed the project, please do verify it.
https://github.com/poojitha2002/TextFormatter

[2021-03-14 14:45] poojitha2002 opened #451 "Javacript Clock"
Hello, I am GSSOC participant, I would like to design a real time clock by using Javascript. Please do assign it to me.
Thank you.

[2021-03-14 14:51] aliya-rahmani opened #452 "JavaScript Dragon Game"
Hi ! I am Aliya Rahmani, a GSSOC'21 participant.
I would like to contribute to this project by adding a simple dragon. It's a dragon game with audio effects and simple UI. Made with HTML, CSS, and Javascript.
Please , kindly assign this task to me.

[2021-03-14 15:08] aliya-rahmani commented on #423
/assign

[2021-03-14 15:29] mohammedjameel24 commented on #451
i also want to work on this

[2021-03-14 15:48] satcasm commented on #364
@urvashi-code1255 should I proceed with it?

[2021-03-14 16:04] Tanu-priya-Roy commented on #423
Thank u for assigning me this project.

On Sun, 14 Mar 2021, 8:38 pm Aliya Rahmani, ***@***.***>
wrote:

[2021-03-14 16:05] poojitha2002 commented on #451
@mohammedjameel24 I have raised the issue as I am interested to work on this. So please assign this issue to me.

[2021-03-14 16:07] mohammedjameel24 commented on #451
Go ahead @poojitha2002
If and only if u aren't able to deliver
I want to work on this
Happy

🔥

[2021-03-14 16:09] poojitha2002 commented on #451
Yeah, I will work on this:)

[2021-03-14 17:00] poojitha2002 commented on #451
Thanks for assigning.

[2021-03-14 17:32] NOiR-07 opened #456 "Changing background theme in particle js project"
Hello I am Abhishek Kumar and currently a participant of GSSOC21
**I have seen your project and want to change the background theme to black in the particle js project.**
Assign me this issue to make changes.

[2021-03-14 17:46] anjali1102 opened #457 "auto assign, welcome bot"

[2021-03-14 17:47] anjali1102 commented on #457
@Vishal-raj-1  verify this issue
I want to take up this issue

[2021-03-14 17:57] poojitha2002 commented on #451
Please verify the project.
https://github.com/poojitha2002/clock

[2021-03-14 18:20] haarsh01 commented on #448
Hi! I am Harsh and a GSSOC 2021 participant of this time
I would like to contribute to this project. Please assign me this project and further steps.

[2021-03-14 19:04] mahesh-11102 opened #459 "adding a button for Animated Counter"
**_### feature that I would like to add on Animated counter?_**
## I would like to add a button on left side of the page, on clicking that button the counter should start.

### **_**what's My solution?**_**
=> I will add an onclick function to the button in that function I will add the counter function , So that on clicking the button the counter should start.

please assign me this issue , I woul

[2021-03-14 19:08] #459 closed

[2021-03-14 19:10] mahesh-11102 opened #460 "adding a button in Animated Counter js project"
**_Feature that I would like to add on Animated counter?_**

=>I would like to add a button on left side of the page, on clicking that button the counter should start.
### **_What's my solution?_**
=> I will add an onclick function to the button in that function I will add the counter function , So that on clicking the button the
      counter should start.

@Vishal-raj-1 @urvashi-code1255  please

[2021-03-14 19:41] Ayushbajpai19 commented on #325
I would like to contribute to this issue. Once you approve, I can start working on it under GSSOC'21.

[2021-03-14 20:11] akshay1027 opened #462 "Card image cap image not working"
## Describe the bug
The image of project Card image cap is not loading properly.

[2021-03-14 20:17] micksharma commented on #436
Hi I want to work on this issue.

[2021-03-14 20:18] micksharma commented on #434
Hi I want to work in this issue.

[2021-03-14 20:18] micksharma commented on #428
Hi I want to work on this.

[2021-03-14 20:19] micksharma commented on #423
Hi I want to work on this.

[2021-03-15 03:14] guruc-134 commented on #365
@urvashi-code1255
Current Progress:
-->completed the timer
-->added the planner
--> completed dropdown bar.

current website look:-  https://guruc-134.github.io/Pomodoro-Timer/

I'm also planning to add a local storage feature so that in that way the user will not loose his session progress if the tab is closed
Im also planning to add an alternate theme and alternate font option for the page

coul