[2021-05-18 11:28] prayas7102 opened #1491 "Color Guessing Game Using JavaScript DOM"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I am suggesting to add a RGB color game using DOM.
In this game there are 6 blocks of random color and at the top there is a random RGB text indicating a color. The player have to guess which block corresponds to the color enclosed by the RGB at the top. The player can guess

[2021-05-18 12:03] ridsuteri commented on #1478
ok great @K-jais :)

[2021-05-18 12:05] PritomDutta89 opened #1492 "Filterable Image Gallery Project"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I would like to add a project where you can filter images by your choice in JavaScript

## Additional context
Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-18 12:09] PritomDutta89 opened #1493 "Get Battery Level Project"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I would like to add a project where you can see your battery percentage and also add light and dark mode in JavaScript

## Additional context
Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-18 13:26] ainy-123 opened #1494 "Add Tic Tac Toe Game"
I want to add Tic-Tac-Toe game using HTML,CSS and Javascript.

I am GSSoC'21 participant and I want to work on this.
Kindly assign me this issue.

[2021-05-18 13:28] ainy-123 opened #1495 "ADD TIC-TAC-TOE GAME"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I want to implement the "Tic-Tac-Toe" game using HTML,CSS and javascript.

## Additional context
I am GSSoC'21 participant and I want to work on this issue.
Kindly assign this to me under GSSOC'21.

[2021-05-18 13:29] #1495 closed

[2021-05-18 14:59] anushree71199 opened #1496 "Adding a fall game"
I would like to add a project of JavaScript game where the player will play to fall down from one point to another. It will look something like this:
![Screenshot from 2021-05-18 18-29-41](https://user-images.githubusercontent.com/59678817/118674633-934d3000-b817-11eb-9aaf-fa343f606c3d.png)

Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-18 14:59] Shivangi-ch opened #1497 "Add a Credit Card Payment Form"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I would like to add  a  Credit Card Payment Form
![Screenshot from 2021-05-18 20-20-28](https://user-images.githubusercontent.com/57783826/118674622-8fb9a900-b817-11eb-8d05-4557773b299e.png)
![Screenshot from 2021-05-18 20-20-31](https://user-images.githubusercontent.com/5778

[2021-05-18 15:00] Shivangi-ch commented on #1497
@ridsuteri @991rajat Please assign.

[2021-05-18 15:06] Shivangi-ch opened #1498 "Add 3D digital Clock."
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I would like to add 3D digital Clock.
![Screenshot from 2021-05-18 20-31-21](https://user-images.githubusercontent.com/57783826/118675921-9eed2680-b818-11eb-9586-b90e87412614.png)

## Additional context
Please assign this under `gssoc21`

[2021-05-18 15:07] Shivangi-ch commented on #1498
@ridsuteri @991rajat Please assign.

[2021-05-18 16:44] Shivangi-ch opened #1500 "Add an Animated Unsubscribe Page"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I would like to add an Animated Unsubscribe Page
![Screenshot from 2021-05-18 22-09-10](https://user-images.githubusercontent.com/57783826/118690931-2db47000-b826-11eb-9dee-b2cc5f299e69.png)
![Screenshot from 2021-05-18 22-09-13](https://user-images.githubusercontent.com/5778

[2021-05-18 16:44] Shivangi-ch commented on #1500
@ridsuteri @991rajat Please assign.

[2021-05-18 17:42] ridsuteri commented on #1498
srry @Shivangi-ch but a digital clock already exists in the repo, you can make the change to the existing clock and add 3d factor to it

[2021-05-18 17:43] #1479 closed

[2021-05-19 09:48] Amit366 commented on #790
@ridsuteri any other issue which is open and no one is working??

[2021-05-19 09:50] Amit366 commented on #1288
@991rajat @ridsuteri can I work??

[2021-05-19 11:40] jhamadhav opened #1504 "Project addition : Bridge n Torch"
# Bridge n Torch

The bridge and torch problem (also known as The Midnight Train and Dangerous crossing) is a logic puzzle that deals with four people, a bridge, and a torch. It is in the category of river crossing puzzles, where a number of objects must move across a river, with some constraints.
[source - wikipedia](https://en.wikipedia.org/wiki/Bridge_and_torch_problem)

## Main goals

- Solve

[2021-05-19 13:10] ridsuteri commented on #1491
sorry @prayas7102 , but this project already exists in the repo , you can either improve that or add any other awesome js project :)

[2021-05-19 13:10] #1491 closed

[2021-05-19 13:58] neha07kumari opened #1505 "Fibonacci series generator in javascript"
I would like to add a project (Fibonacci series generator) in JavaScript under GSSOC 2021.

![Screenshot (289)](https://user-images.githubusercontent.com/47255445/118856146-425f3980-b8f4-11eb-906a-d0d440ebea0d.png)

![Screenshot (288)](https://user-images.githubusercontent.com/47255445/118856142-412e0c80-b8f4-11eb-9c36-0bd447a5b525.png)

[2021-05-19 13:58] neha07kumari commented on #1505
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-19 14:06] neha07kumari opened #1506 "Dynamic Time message in Javascript"
I would like to add a project (Dynamic time message) in JavaScript under GSSOC 2021.
Description: This project will generate  messages according to the day time (as per morning , afternoon & evening) as and when you click the button "GET MESSAGE".

![Screenshot (287)](https://user-images.githubusercontent.com/47255445/118855378-56ef0200-b8f3-11eb-9c07-f0492a5444fa.png)

[2021-05-19 14:06] neha07kumari commented on #1506
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-19 14:07] anushree71199 opened #1507 "Adding WebPage Printing Project"
I would like to add a project where the user can print the webpage using javascript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20
[gssoc21][javascript]

[2021-05-19 15:26] anushree71199 opened #1509 "Adding a blob maker"
I would like to add a blob maker using JavaScript Project, it would look something like this:
![Screenshot from 2021-05-19 20-53-13](https://user-images.githubusercontent.com/59678817/118839817-75013600-b8e4-11eb-8c74-6ff6c3fc4838.png)
Please review this issue and assign it to me under GSSOC'21 participation @ridsuteri @991rajat @harshgupta20
[gssoc21][javascript]

[2021-05-19 15:44] anushree71199 opened #1510 "Adding Interactive Flashlight Project"
I would like to add an interactive flashlight project made using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20
[gssoc21][javascript]

[2021-05-19 15:51] anushree71199 opened #1511 "Adding expanding menu bar"
I would like to add an expanding menu bar project made by using JavaScript. It will toggle and open up a list of icons to display a menu of some icons like home, messages, notifications, camera.
Please assign me this project under GSSOC'21 participation @ridsuteri @991rajat @harshgupta20
[gssoc21][javascript]

[2021-05-19 16:21] anushree71199 opened #1512 "Adding a mood slider"
I would like to add a mood slider where the user will click on the level of their mood and know that whether they are happy, sad, angry.
Please assign me this issue under GSSOC'21 participation @ridsuteri @991rajat @harshgupta20
[gssoc21][javascript]

[2021-05-19 17:03] ridsuteri commented on #790
@Amit366 try looking in issues sections for issues which are open/ not addressed for a while..
i will also let you know , if i came across any such issues :)

[2021-05-19 17:04] ridsuteri commented on #1288
yes @Shivangi-ch , rajat has already assigned you the issue , you can start modifying the project

[2021-05-19 17:06] ridsuteri commented on #1505
@neha07kumari fibonacci series as in , series generator?

[2021-05-19 17:07] ridsuteri commented on #1506
@neha07kumari please elaborate the issue with a brief description and a image/gif :)

[2021-05-19 17:14] neha07kumari commented on #1506
done @ridsuteri .

[2021-05-19 17:15] ridsuteri commented on #1510
@anushree71199 can you elaborate the issue with images/gifs ?

[2021-05-19 17:16] ridsuteri commented on #1506
@neha07kumari ok go ahead with it :)

[2021-05-19 17:18] neha07kumari commented on #1505
Yes, series generator.

[2021-05-19 17:21] ridsuteri commented on #1505
ok go ahead @neha07kumari :)

[2021-05-19 17:59] anushree71199 commented on #1510
This is what it will look like:
![flashlight](https://user-images.githubusercontent.com/59678817/118861350-07600480-b8fa-11eb-88be-39d01cf01deb.gif)

[2021-05-19 18:25] vanshikachokhani opened #1515 "Project Idea: JavaScript vertical Timeline for a website"
I want to build a vertical timeline using javascript with animations for a website. This timeline will be different from the one already present in the repo. The timeline present in the repo is one for personal use but I want to build a timeline for a company website.
Please assign me this issue under Gssoc'21 @991rajat @ridsuteri @harshgupta20

[2021-05-20 02:04] ridsuteri commented on #1515
@vanshikachokhani can you please share an ss/gif of how your project would look like?

[2021-05-20 04:59] TidbitsJS opened #1519 "Script Detection"
## Script Detection

Idea is to add the project in which when inputted a string of any language will output the script of it. Ex.,
Input - Hello World
Output - 100% LATIN

Input - युवकभारती
Output - 100% DEVANAGARI

Demo - https://tidbitsjs.github.io/Language-Detection

[2021-05-20 05:00] TidbitsJS commented on #1519
If you like the idea, kindly assign @Vishal-raj-1  @ridsuteri  & @991rajat

[2021-05-20 06:47] Ritika-Agrawal811 opened #1520 "Project idea : step by step origami dog visualizer"
Hey I would like to add a small project I created using Js which is a step by step visualization of how to create an origami dog. I just need to work on its responsiveness. Please would you assign this issue to me. [Project on codepen ](https://codepen.io/RitikaAgrawal08/full/WNGbJyz)

[2021-05-20 11:14] vanshikachokhani commented on #1515
![Screenshot from 2021-05-20 16-42-15](https://user-images.githubusercontent.com/54857354/118969338-9157ae00-b98a-11eb-8603-89bd55088caa.png)
![Screenshot from 2021-05-20 16-42-53](https://user-images.githubusercontent.com/54857354/118969352-94eb3500-b98a-11eb-88a0-8335b8ada363.png)

[2021-05-20 11:44] K-jais opened #1521 "Add Circus Game"
It's a game in which a random person will come and you have to ensure that person never touches the ground with the help of a trampoline.

Its working video,

https://user-images.githubusercontent.com/75881393/118972991-cf56d100-b98e-11eb-9de3-567fb5de4c95.mp4

[2021-05-20 11:44] K-jais commented on #1521
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-20 11:48] K-jais opened #1522 "Add Loan Calculator Project"
This project will calculate the amount and the principal amount which will be there for the particular rate of interest and time and it will show this with a pie graph and dynamic numbers.

Its working video,

https://user-images.githubusercontent.com/75881393/118973355-37a5b280-b98f-11eb-84dc-946e983c581c.mp4

[2021-05-20 11:48] K-jais commented on #1522
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-20 13:38] #1302 closed

[2021-05-20 13:41] #1380 closed

[2021-05-20 13:47] #1322 closed

[2021-05-20 13:48] #1280 closed

[2021-05-20 13:50] #1314 closed

[2021-05-20 14:10] #1425 closed

[2021-05-20 14:13] #1444 closed

[2021-05-20 16:00] #1442 closed

[2021-05-20 16:02] vanshikachokhani opened #1528 "Bug in script.js file"
## Describe the bug
The factorial calculator proejct is included in the script.js file twice.

## To Reproduce
Steps to reproduce the behavior:
1. Remove the repeating

## Expected behavior
The project should be included only once.

Please assign me this under Gssoc'21 @991rajat @ridsuteri @harshgupta20

[2021-05-20 16:05] vanshikachokhani opened #1529 "Project idea: Scientific calculator"
I want to add a scientific calculator project using javascript.
Please assign me this issue under Gssoc'21 @991rajat @ridsuteri @harshgupta20

[2021-05-20 17:13] #1324 closed

[2021-05-20 17:22] #1506 closed

[2021-05-20 17:25] #1505 closed

[2021-05-20 17:27] ridsuteri commented on #1515
looks great @vanshikachokhani , go ahead with it :)

[2021-05-20 17:31] ridsuteri commented on #1522
sorry @K-jais but a loan calculator already exists, you can update the existing one if you want !

[2021-05-20 17:37] ridsuteri commented on #1528
@vanshikachokhani I am assigning you the issue, please make sure that you remove every duplicate entry of each project

[2021-05-20 17:39] ridsuteri commented on #1529
@vanshikachokhani can you add the scientific calculator features to the existing calculator in the repo?

[2021-05-20 17:41] #1481 closed

[2021-05-20 17:45] #1507 closed

[2021-05-20 17:48] vanshikachokhani commented on #1529
Ok I will update the calculator proejct.

[2021-05-20 17:49] #1496 closed

[2021-05-20 17:50] ridsuteri commented on #1529
that's great @vanshikachokhani , go ahead with the issue :)

[2021-05-20 17:56] #1457 closed

[2021-05-20 19:34] K-jais commented on #1522
@ridsuteri Ok then I will update that

[2021-05-20 20:02] K-jais opened #1532 "Add Etch Sketch Game"
It's a game in which you have to first select the number of boxes and then you have to color that with random colors or black colors and you can erase that as well.

Its working video,

https://user-images.githubusercontent.com/75881393/119041493-537f7780-b9d4-11eb-8afd-7c2aaa9ec2fc.mp4

[2021-05-20 20:02] K-jais commented on #1532
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-20 20:03] K-jais opened #1533 "Add Shooting Game"
It's a game of Shooting in which you have to hit the bull's eye to gain the maximum points.

Its working video,

https://user-images.githubusercontent.com/75881393/119041695-8f1a4180-b9d4-11eb-9b54-998639b506fa.mp4

[2021-05-20 20:04] K-jais commented on #1533
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-21 07:11] TidbitsJS opened #1543 "Barcode Generator"
## Barcode Generator

Project to demonstrate how to create barcode on given text input.

### Event

Part of gssoc21

### Demo

![Barcode](https://i.ibb.co/ZWFKb6t/Screenshot-from-2021-05-21-12-38-02.png)

[2021-05-21 07:13] TidbitsJS commented on #1543
Kindly assign @Vishal-raj-1 @ridsuteri & @991rajat :)

[2021-05-21 07:23] Ankita297 commented on #1105
Can i work on this @ridsuteri  @harshgupta20 @991rajat ?

[2021-05-21 07:28] Ankita297 commented on #1082
Can i work on this  @ridsuteri @harshgupta20 @991rajat ?

[2021-05-21 07:35] Ankita297 commented on #997
Can i work on this  @ridsuteri @harshgupta20 @991rajat @urvashi-code1255 ?

[2021-05-21 07:43] Ankita297 commented on #1296
Can i work on this  @ridsuteri @harshgupta20 @991rajat ?

[2021-05-21 07:56] SilverGraph commented on #1296
@Ankita297 It's already been resolved.

[2021-05-21 07:56] #1296 closed

[2021-05-21 13:08] Ankita297 opened #1545 "Pokemon pokedex"
## Is your feature request related to a problem? Please describe.
it will be page of pokemon characters .
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-21 13:10] Ankita297 commented on #1545
Can i work on this @ridsuteri @Vishal-raj-1 @harshgupta20 ?

[2021-05-21 13:15] Ankita297 opened #1546 "Hover board"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-21 13:16] Ankita297 commented on #1546
Can i work on this  @ridsuteri @harshgupta20 ?

[2021-05-21 13:22] Ankita297 opened #1547 "Hover effects css"
## Is your feature request related to a problem? Please describe.
I want to add different  image hover effects on the page
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-21 13:22] Ankita297 commented on #1547
Can i work on this @ridsuteri @harshgupta20 ?

[2021-05-21 15:49] Ankita297 commented on #1199
Can i work on this  @ridsuteri @harshgupta20 . I will modify it further .

[2021-05-21 15:52] Ankita297 opened #1548 "Add preloader Project"
## Is your feature request related to a problem? Please describe.
I want to add diffrent preloaders
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-21 16:35] #1475 closed

[2021-05-21 16:36] #1504 closed

[2021-05-21 17:22] ridsuteri commented on #1522
ok go ahead @K-jais :)

[2021-05-21 17:33] #1521 closed

[2021-05-21 17:34] Muskan0 opened #1549 "Custom Range Slider"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a Custom Range Slider using HTML, CSS and javascript.
## Additional context
Please assign this under ```gssoc```

[2021-05-21 17:37] Muskan0 opened #1550 "Double Vertical Slider"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a double vertical slider using html, css and javascript.
## Additional context
Please assign this under ```gssoc```

[2021-05-21 17:39] Muskan0 opened #1551 "Ripple effect on clicking button"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add the feature of ripple effect when a button is clicked.
## Describe the solution you'd like
I will make it using html, css and javascript.
## Additional context
Please assign this under ```gssoc```

[2021-05-21 17:44] #1510 closed

[2021-05-21 17:47] #1511 closed

[2021-05-21 17:52] #1512 closed

[2021-05-21 17:56] #1509 closed

[2021-05-21 17:56] harshgupta20 commented on #1350
@Priyadarshan2000 Go ahead and You can send the PR now :)

[2021-05-21 17:57] harshgupta20 commented on #1343
@WebVishal Any update? Kindly reply within 2 days or else we have to close this issue due to inactivity.

[2021-05-21 17:59] harshgupta20 commented on #1341
@akshay399 Any update? Kindly reply within 2 days or else we have to close this issue due to inactivity.

[2021-05-21 17:59] harshgupta20 commented on #1334
Any update? Kindly reply within 2 days or else we have to close this issue due to inactivity.

[2021-05-21 18:00] akshay399 commented on #1341
Sorry was busy in vivas, will make a PR by tomorrow

[2021-05-21 18:24] Priyadarshan2000 commented on #1350
@harshgupta20 yes I send PR within 30 min

[2021-05-21 18:25] harshgupta20 commented on #1318
@kanisshka Go ahead with the issue :)

[2021-05-21 18:27] harshgupta20 commented on #1292
@satcasm Nice point , since the projects is already well responsive so It may cause of rising other issue as well, let me know if you found anything un-responsive.

[2021-05-21 18:28] harshgupta20 commented on #1290
@Abhikr-git Can you attach any gif or image so that we see, how it will look like.

[2021-05-21 18:29] harshgupta20 commented on #1232
@AkanchhaBhadani Any update? Kindly reply within 2 days or else we have to close this issue due to inactivity.

[2021-05-21 18:39] harshgupta20 commented on #1210
Already exist

[2021-05-21 18:39] #1210 closed

[2021-05-21 18:40] harshgupta20 commented on #1199
@Ankita297 Can you describe the changes you want to make ?

[2021-05-21 18:42] harshgupta20 commented on #1167
@Furquan712 Go ahead :)

[2021-05-21 18:42] #1148 closed

[2021-05-21 18:44] harshgupta20 commented on #1105
@yashikabhargava Any update? Kindly reply within 2 days or else I will assign it to @Ankita297 .

[2021-05-21 18:45] harshgupta20 commented on #1082
@SrishtiArya07 Any update? Kindly reply within 2 days or else I have to assign it to @Ankita297 .

[2021-05-21 18:47] harshgupta20 commented on #1041
This issue is not relevant since the website layout and UI has been changed.

[2021-05-21 18:47] #1041 closed

[2021-05-21 18:48] harshgupta20 commented on #997
@tanya070820 Kindly link that PR with this issue.

[2021-05-21 18:48] #985 closed

[2021-05-21 18:49] harshgupta20 commented on #983
@ambivert-sam Any update? Kindly reply within 2 days or else we have to close this issue due to inactivity.

[2021-05-21 18:55] harshgupta20 commented on #887
Thanks for contributing, PR has been merged : )

[2021-05-21 18:55] #887 closed

[2021-05-21 20:05] kanisshka commented on #1318
So sorry for the delay. I'll surely complete this shortly.

[2021-05-21 20:22] AkanchhaBhadani commented on #1232
Yes, I am working on the issue. It's almost done. I will give updates by evening.

[2021-05-22 02:21] Ankita297 commented on #1199
@harshgupta20  right now there is only mouse clicking option we can key board event listener and also image is small we can enhnace the image and we can add some animation to button when it get clicked .

[2021-05-22 04:28] anushree71199 opened #1556 "Adding a Physics Engine Game"
I would like to add a physics engine game made by using JavaScript. This project will look like this:

https://user-images.githubusercontent.com/59678817/119214391-26ba8580-bae4-11eb-88cb-bedf49e2f258.mp4

Please assign me this issue under GSSOC'21 participation @ridsuteri @991rajat @harshgupta20

[2021-05-22 05:32] anushree71199 opened #1557 "Adding a Pixelated Image Project"
In this the image can be displayed as a pixelated image which will give them a idea of how pixels make images as a whole.

The original image will look like a pixelated image.
![Screenshot from 2021-05-22 10-59-10](https://user-images.githubusercontent.com/59678817/119215678-d09e1000-baec-11eb-8c1b-1dbcd7778db1.png)
Pixelated Image
![Screenshot from 2021-05-22 10-59-21](https://user-images.githubu

[2021-05-22 06:04] Ankita297 commented on #1199
So can i work on this @ridsuteri ?

[2021-05-22 06:07] anushree71199 opened #1558 "Adding a Nebula Effect Sign Up Form"
I would like to add a sign up form where in the background there will be some cloud plus light effects and it will look something like this:

https://user-images.githubusercontent.com/59678817/119216540-e104b980-baf1-11eb-94e5-52af92aca1ad.mp4

Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20
[gssoc21][javascript]

[2021-05-22 06:32] anushree71199 opened #1559 "Adding a Space Wrap Project"
I would like to add an infinity space wrap project made by using JavaScript. It will look something like this:

https://user-images.githubusercontent.com/59678817/119217096-79e90400-baf5-11eb-9573-9a6d27a5eb7b.mp4

Please assign me this issue under GSSOC'21 participation @ridsuteri @991rajat
[gssoc21][javascript]

[2021-05-22 08:21] anushree71199 opened #1561 "Adding Thanos Snap Effect Project"
I would like to add an Image effect for thanos snapping finger using JavaScript. It will look something like this
![Screenshot from 2021-05-22 13-48-11](https://user-images.githubusercontent.com/59678817/119219695-74df8100-bb04-11eb-96e0-ec0292685650.png)

Please assign me this issue under GSSOC'21 participation @ridsuteri @991rajat @harshgupta20
[gssoc21][javascript]

[2021-05-22 08:53] ambivert-sam commented on #983
Would please describe to me exactly from where do I have to remove excessive blank space in contact us

[2021-05-22 12:21] Amit366 commented on #385
@991rajat @ridsuteri can I work??

[2021-05-22 12:27] Amit366 opened #1564 "GST calculator"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a GST calculator.
## Describe the solution you'd like
I am a GSSOC participant and would like to work using JavaScript.

## Additional context
Add any other context about the feature request here.

[2021-05-22 12:28] Amit366 opened #1565 "Angry bird game"
## Is your feature request related to a problem? Please describe.
No its not a problem. I would like to add angry bird game
## Describe the solution you'd like
I am a GSSOC participant and would like to work using JavaScript

## Additional context
Add any other context about the feature request here.

[2021-05-22 13:25] YasmineEl-shahat opened #1567 "Change the page brightness using a Range Slider"
I would like to add a brightness effect using JS
![image_2021-05-22_152201](https://user-images.githubusercontent.com/58048543/119228062-7499b280-bb11-11eb-8b10-615f3f2477f7.png)

Please assign me this issue under GSSOC'21 participation @harshgupta20  @ridsuteri @991rajat @urvashi-code1255

[2021-05-22 14:25] anushree71199 opened #1569 "Adding a rain effect project"
I would like to add a Realistic Rain effect Project using Three.js in JavaScript. I will create cloud, lights and all the external things manually using CSS and JS manipulation.
The clouds will look like this:
![Screenshot from 2021-05-22 19-53-06](https://user-images.githubusercontent.com/59678817/119229862-6eb6c800-bb37-11eb-9985-1105ff89e55d.png)
The black color background of lighting will look

[2021-05-22 14:53] Sweeti-Gupta opened #1570 "Adding a Circle Animation Project that will work on Mouse Move"
I would like to add a Circular animation project made using HTML, CSS and JavaScript. The circles are created when we move our mouse anywhere on the page. It looks interesting like a comet moving in the universe .

Hey @ridsuteri , @991rajat , I am a GSSOC'21 participant and want to work on this issue as a part of it. Please assign this issue to me.

[2021-05-22 15:17] vanshikachokhani opened #1572 "Update in infinite scroll image gallery project"
## Describe the bug
I want to make the infinite scroll image gallery proejct to make it infinite scroll blog project and add a search function to the same.

## To Reproduce
Steps to reproduce the behavior:
1. Update the projects from images to blogs.
2. Add a search option to search any blog from the same.

Please assign me this issue under Gssoc'21 @ridsuteri @991rajat @harshgupta20

[2021-05-22 15:31] nidhivanjare commented on #1485
@ridsuteri any changes ??

[2021-05-22 15:45] YasmineEl-shahat opened #1573 "BirdLoader"
when it comes to the right , the left half of bird's eye disappear .
![image](https://user-images.githubusercontent.com/58048543/119232338-33ab9900-bb25-11eb-911a-ccd471287271.png)
Please assign me this issue under GSSOC'21 participation @harshgupta20 @ridsuteri @991rajat @urvashi-code1255

[2021-05-22 16:27] TidbitsJS opened #1574 "Gray Scale Cursor"
## Gray Scale Cursor

Idea is to create a grayscale custom cursor using JavaScript that will have the gray effect all over the page.

### Event

Part of gssoc21

[2021-05-22 16:35] #1483 closed

[2021-05-22 16:39] #1519 closed

[2021-05-22 16:44] #1543 closed

[2021-05-22 16:45] Ankita297 commented on #1545
@ridsuteri Sir ?

[2021-05-22 16:45] Ankita297 commented on #1547
Can i work on this @ridsuteri ?

[2021-05-22 16:45] ridsuteri commented on #1545
@Ankita297 yes go ahead :)

[2021-05-22 16:46] Ankita297 commented on #1548
Can i work on this @ridsuteri Sir ?

[2021-05-22 16:47] ridsuteri commented on #1546
@Ankita297 can you explain this  issue?

[2021-05-22 16:48] Ankita297 commented on #1199
Can i work on this @ridsuteri Sir ?

[2021-05-22 16:50] #1288 closed

[2021-05-22 16:52] Ankita297 commented on #1546
![hover board](https://user-images.githubusercontent.com/67833077/119234549-2229b780-bb4c-11eb-8722-f3094f62de26.png)
@ridsuteri  like this .

[2021-05-22 16:57] #1497 closed

[2021-05-22 16:59] #1532 closed

[2021-05-22 17:08] ridsuteri commented on #1546
@Ankita297 I guess it looks similar to an existing project in the repo, checkout etch sketch game in the repo, and let me know if your project is different from that one :)

[2021-05-22 17:10] ridsuteri commented on #1548
@Ankita297 can you please share the preloader's ss/gif and how would the site look after adding it !

[2021-05-22 17:11] ridsuteri commented on #1547
@Ankita297 please share ss/gif to support this issue :)

[2021-05-22 17:14] ridsuteri commented on #1199
@Ankita297 keypress events are active on this project so if you want to improvise the project on any other basis please give a brief description of the changes you are going to make also if possible please share img/gifs :)

[2021-05-22 17:18] ridsuteri commented on #1558
@anushree71199 how about adding this nebula effect to any of the existing forms-related projects from the repo?

[2021-05-22 17:20] ridsuteri commented on #1561
@anushree71199 do you mind clubbing this effect with that pixelated image effect that is already assigned to you?

[2021-05-22 17:22] ridsuteri commented on #385
sorry @Amit366 , it's resolved now :)

[2021-05-22 17:22] #385 closed

[2021-05-22 17:24] TidbitsJS opened #1576 "Text Animation"
## Text animation using Canvas

Beautiful text animation created using Canvas in JavaScript.

### Event

Part of gssoc21

[2021-05-22 17:27] ridsuteri commented on #1567
@YasmineEl-shahat  please checkout the **image editor** project in the repo and let me know if your issue is different from brightness feature of  that one :)

[2021-05-22 17:44] Ankita297 commented on #1199
@ridsuteri Sir you can check previously if keypress event occurs there is no animation in button and also theme toggler button does not work and it is not mobile responsive

https://user-images.githubusercontent.com/67833077/119236102-39b86e80-bb53-11eb-8685-9499b9fde1bd.mp4

[2021-05-22 17:46] Ankita297 commented on #1547
@ridsuteri Sir this is  just demo right now there is  not much  styling  . I will add more hover styles into one page

https://user-images.githubusercontent.com/67833077/119236089-29a08f00-bb53-11eb-8c3e-3a6437ba4bdf.mp4

[2021-05-22 17:48] Ankita297 commented on #1548
@ridsuteri  it is bascially going to be page which consist of different  types of preloader  , right now i have not started making it .

[2021-05-22 17:53] TidbitsJS opened #1579 "Array Methods"
## Array Methods

Idea is to implement a project where one can learn array methods like filter, reduce, sort, map with real data fetching in JavaScript.

### Event

Part of gssoc21

### Screenshot

![demo](https://i.ibb.co/PtPJ0XL/Screenshot-from-2021-05-22-22-16-51.png)

[2021-05-22 17:54] Ankita297 commented on #1546
@ridsuteri in etch sketch  the keyboard are used to drag  the lines trail  but in this we use mouse  and also the trail auto disappear after sometime .
So can i work on this ?

[2021-05-22 17:55] ridsuteri commented on #1573
sorry @YasmineEl-shahat, but this issue already exists in the repo :(, you can either improve this one or add  any other awesome js project

[2021-05-22 18:00] #1545 closed

[2021-05-22 18:01] ridsuteri commented on #1199
ok got it @Ankita297 , go ahead :)

[2021-05-22 18:04] ridsuteri commented on #1548
ok go ahead, but do share gifs in the PR :)

[2021-05-22 18:05] ridsuteri commented on #1546
ohk sounds cool, go ahead :)

[2021-05-22 18:06] harshgupta20 commented on #1374
@Ananya-Misra Any Update? Kindly Reply within 2 days or else I have to close it due to inactivity.

[2021-05-22 18:06] harshgupta20 commented on #1373
Any Update? Kindly Reply within 2 days or else I have to close it due to inactivity.

[2021-05-22 18:06] harshgupta20 commented on #1372
Any Update? Kindly Reply within 2 days or else I have to close it due to inactivity.

[2021-05-22 18:07] harshgupta20 commented on #1360
Any Update? Kindly Reply within 2 days or else I have to close it due to inactivity.

[2021-05-22 18:07] harshgupta20 commented on #1350
@Priyadarshan2000 Thats Great👍👍

[2021-05-22 18:09] harshgupta20 commented on #1341
@akshay399 Ok, no problem, just try to give PR within a week.

[2021-05-22 18:10] ridsuteri commented on #1485
suggested few changes, please have a look :)

[2021-05-22 18:51] kumarankm opened #1584 "Motivational Speech App"
## Describe the solution you'd like
Motivation is the best one for people's careers. So I would like to add motivational audio of the great influencer like a playlist.

## Additional context
Assign me this issue under GSSOC' 21!

[2021-05-22 19:06] anushree71199 commented on #1561
@ridsuteri Actually the thing is I wanted to showcase uses of some javascript libraries (html2canvas.js, chance.js ) here and including it in pixelated image effect issue will make it look too simple as pixelated one is a very basic project using only arrays concept, DOM manipulation. So I would like to work on this issue particularly as it will display something really new and cool.

[2021-05-22 19:10] Ananya-Misra commented on #1373
Yes, I have just made the PR for the issue. Sorry for the delay, due to my college lectures and assignments I was not able to give it sufficient time.

[2021-05-22 19:15] anushree71199 commented on #1558
@ridsuteri Yeah I can add it in other sign up forms too but I noticed that there aren't many good looking forms in the project so I just thought that adding it alone as a project will give others idea on how to use these kind of effects and make their sign up forms look better. If you want me to add this effect in other forms I'll make an issue for that too.

[2021-05-22 19:42] vanshikachokhani opened #1587 "Update the form validator project UI"
## Describe the bug
I want to update the user interface of the form validator project.

## To Reproduce
Steps to reproduce the behavior:
1. Impove the UI of the project.

Please assign me this issue under Gssoc'21 @ridsuteri @991rajat @harshgupta20

[2021-05-22 19:45] kumarankm commented on #1584
@991rajat  @urvashi-code1255  @harshgupta20  Assign me, please😄

[2021-05-22 19:49] kumarankm commented on #1397
@harshgupta20 Assign me here too!

[2021-05-22 20:10] Ananya-Misra commented on #1374
Yes, I am working on it. I will try to make the pr by tomorrow.

[2021-05-22 22:00] YasmineEl-shahat commented on #1573
I know it needs to be improved cause when it comes to the right , the left half of bird's eye disappear .

[2021-05-22 22:05] YasmineEl-shahat commented on #1567
Ooh I didn't see it . It uses the same feature.

[2021-05-22 23:46] YasmineEl-shahat opened #1588 "Awesome Image Slider"
I would like to add an image slider like this

![sliderVideo](https://user-images.githubusercontent.com/58048543/119243564-311e6300-bb68-11eb-9dc6-1264898ff594.gif)

Please assign me this  issue under GSSOC'21 participation @harshgupta20 @ridsuteri @991rajat @urvashi-code1255

[2021-05-23 03:58] ridsuteri commented on #1561
ok got your point, continue with your initial idea then :)

[2021-05-23 03:59] ridsuteri commented on #1558
ok go on with your idea :)

[2021-05-23 04:01] ridsuteri commented on #1573
ok, so you want to work on its improvement?

[2021-05-23 04:02] ridsuteri commented on #1567
yeah, and since it is already present, hence I am closing this issue :)

[2021-05-23 04:02] #1567 closed

[2021-05-23 04:04] YasmineEl-shahat commented on #1573
Yes, I will fix it

[2021-05-23 04:05] ridsuteri commented on #1588
@YasmineEl-shahat a similar project by the name **click and drag image slider** already exists :(

[2021-05-23 04:05] #1588 closed

[2021-05-23 04:06] ridsuteri commented on #1573
ok great then !

[2021-05-23 04:12] yashikabhargava commented on #1105
@harshgupta20 yes I'm working on it ,got delayed because of my exams.

[2021-05-23 05:43] nidhivanjare commented on #1485
DONE!!

[2021-05-23 05:43] nidhivanjare commented on #1485
DONE!!

[2021-05-23 05:44] YasmineEl-shahat opened #1591 "Improve search box"
I wanna improve the search box in projects page so when I hit enter the results show
![image](https://user-images.githubusercontent.com/58048543/119249619-44e2bd00-bb9a-11eb-89f5-0ef4e6bf6c75.png)

Please assign me this issue under GSSOC'21 participation @harshgupta20 @ridsuteri @991rajat @urvashi-code1255

[2021-05-23 06:27] viraldevpb opened #1593 "Lyrics Search App"
## Feature Add
I found in this repository there is no app that searches the music and related it's lyrics so I came with idea to add lyrics search app in Javascript. I would like to add this files into your repository as an contributor.

## Additional context
Assign me this issue under GSSOC' 21!

[2021-05-23 07:20] Amit366 commented on #1565
@ridsuteri @991rajat please assign

[2021-05-23 07:21] Amit366 commented on #1564
@ridsuteri @991rajat please assign

[2021-05-23 08:02] #1574 closed

[2021-05-23 08:03] #1576 closed

[2021-05-23 08:04] #1579 closed

[2021-05-23 10:35] Amit366 commented on #587
@ridsuteri can I work??

[2021-05-23 11:34] Amit366 opened #1598 "Minesweeper"
## Is your feature request related to a problem? Please describe.
No its not a problem. I will add a minesweeper game
## Describe the solution you'd like
@991rajat @ridsuteri I am a GSSOC participant and would like to work in javascript.
Please assign this to me.

## Additional context
Add any other context about the feature request here.

[2021-05-23 12:45] TidbitsJS opened #1600 "Check Multiple Checkboxes"
## Check Multiple Checkboxes

A project, demonstrating how to check multiple checkboxes using key input in JavaScript.

### Event

Part of gssoc21

[2021-05-23 13:07] TidbitsJS opened #1602 "DOM Node"
## DOM Node

Visualizing array methods like pop, push, shift, unshift through dom Node properties in JavaScript.

### Event

part of gssoc21

### Demo

![demo](https://i.ibb.co/fYSsCp3/Screenshot-from-2021-05-23-18-33-22.png)

[2021-05-23 13:22] Shivangi-ch commented on #1360
Made a PR

[2021-05-23 13:29] vanshikachokhani opened #1606 "Project Idea: Relaxer application"
I want to contribute a relaxer application project in javascript.
This is a screenshot of the project.
![Screenshot from 2021-05-23 18-58-33](https://user-images.githubusercontent.com/54857354/119262445-e6006080-bbf8-11eb-8b84-9db9f52fb066.png)
Please assign me this issue under Gssoc'21 @ridsuteri @991rajat @harshgupta20

[2021-05-23 13:49] TidbitsJS opened #1607 "Scratch-Off"
## Scratch-Off to Reveal

The project built using p5.js. Scratch-Off the screen ( i.e mouse events ) to reveal the hidden text in JavaScript.

### Event

Part of gssoc21

[2021-05-23 15:57] robin025 opened #1609 "Addition of Javascript Responsive SIdebar Project"
# Feature Add
I found in this repository there is no app having JavaScript Responsive Sidebar Menu, i would like to work on this issue

# Additional context
Assign me this issue under GSSOC' 21!

[2021-05-23 16:04] robin025 opened #1610 "addition of line through animation"
# Feature Add
I found in this repository there is no app having Line through animation project, i would like to work on this issue

# Additional context
Assign me this issue under GSSOC' 21!

[2021-05-23 16:06] robin025 opened #1611 "addition of page scroll indicator"
# Feature Add
I found in this repository there is no app having page scroll indicator project, i would like to work on this issue

# Additional context
Assign me this issue under GSSOC' 21!

[2021-05-23 16:08] robin025 opened #1612 "addition of table sorting"
# Feature Add
I found in this repository there is no app having tabel sort project, i would like to work on this issue

# Additional context
Assign me this issue under GSSOC' 21!

[2021-05-23 16:12] robin025 opened #1613 "scientific calculator"
# Feature Add
I found in this repository there is no app having scientific calculator project, i would like to work on this issue

# Additional context
Assign me this issue under GSSOC' 21!

[2021-05-23 16:17] #1613 closed

[2021-05-23 16:59] robin025 opened #1618 "Whack a mole game"
# Feature Addition
Whack A mole game using JS
Please assign me this under GSSOC 21

[2021-05-23 17:04] robin025 opened #1619 "addition of filter project"
# feature addition
addition of filter project where user can filter any view card or project card
Please assign me this under gssoc 21

[2021-05-23 18:39] TidbitsJS opened #1621 "Reading progress bar"
## Progress bar

The project is about creating a reading progress bar, a visual representation of how much of a blog post remains, in JavaScript.

### Event

Part of gssoc21

[2021-05-23 19:51] WebVishal commented on #1343
Hey bro I working on this project give me 2 day I create new pr for this project idea

[2021-05-24 02:42] Ankita297 commented on #1082
Can i work on this now @harshgupta20 @ridsuteri ?

[2021-05-24 02:44] Ankita297 commented on #997
Can i work on this now @harshgupta20 @ridsuteri ?

[2021-05-24 02:49] Ankita297 commented on #510
Can i work on this @harshgupta20 @ridsuteri ?

[2021-05-24 02:59] Ankita297 opened #1625 "Portfolio page"
## Is your feature request related to a problem? Please describe.
I want to add a page for Portfolio .
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-24 04:13] Ankita297 opened #1626 "Css gradient background animated"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-24 06:43] Amit366 commented on #1598
@991rajat @ridsuteri please assign this to me

[2021-05-24 08:45] Ankita297 commented on #1626
@ridsuteri @harshgupta20  can i work on this ?
https://user-images.githubusercontent.com/67833077/119321631-78a50c00-bc9a-11eb-9f8e-d45a725b24f0.mp4

[2021-05-24 12:54] #1621 closed

[2021-05-24 12:55] #1607 closed

[2021-05-24 12:56] #1602 closed

[2021-05-24 12:56] #1600 closed

[2021-05-24 15:22] bilal-23 commented on #1187
@991rajat Please review my PR

[2021-05-25 05:05] jaypatel31 opened #1631 "JavaScript Drum Kit Fixes"
## Describe the bug
JavaScript Drum Kit footer overlapping with content and keypress animation not working

## To Reproduce
Steps to reproduce the behavior:
1. I will fix the footer section so that the content can get visible.
2. I will also add the animation on keypress which is currently not working.

## Expected behavior
To view Full Content and to get animation on keypress

## Logs
Not Applica

[2021-05-25 07:50] manisha-27 opened #1633 "add google maps clone"
## A Google Maps Clone using API.

### Screenshot

![image](https://user-images.githubusercontent.com/67019423/119459353-38f22900-bd5b-11eb-88fb-1d9f534f165b.png)

[2021-05-25 12:11] TidbitsJS opened #1636 "Image Classifier"
## Image Classifier

Idea is to create a machine learning project - Image Classifier - with ml5.js library of JavaScript.

### Event

Part of gssoc21

[2021-05-25 12:14] bitaashna opened #1637 "Sortable List"
Display a scrambled list that can be sorted with drag and drop

**Project Specifications**

1. Create an ordered list (Top 10 cars)
2. Scramble list items randomly
3. Allow user to drag and drop an item to a different position
4. Button to check if items are in correct order
5. Show green for correct order and red for wrong order

@urvashi-code1255 I would like to contribute to it as a part of GSS

[2021-05-25 12:19] bitaashna opened #1638 "Rotating Navigation Animation"
I would like to add a rotating navigation bar Animation as as GSSOC paticipant. @urvashi-code1255 @Vishal-raj-1 Please assign me the issue

[2021-05-25 12:23] #1528 closed

[2021-05-25 12:29] Ankita297 commented on #1082
@ridsuteri @harshgupta20 Can i work on this ?

[2021-05-25 12:29] Ankita297 commented on #1082
@ridsuteri @harshgupta20 Can i work on this ?

[2021-05-25 12:30] TidbitsJS opened #1640 "Food Menu"
## Food Menu

A responsive food catalog project with JSON file data in JavaScript.

### Event

Part of gssoc21

[2021-05-25 12:32] bitaashna opened #1641 "Drink Water App"
Simple app to count intake of water.
In this we will be having a fixed goal of 2L and at a time we can drink 250 ml of water. So 8 glasses 250 ml each will be there which will act like buttons  to add or remove the number of drinks recorded.

@urvashi-code1255 @Vishal-raj-1 @ridsuteri I would like to contribute to it as a part of GSSOC'21
Please assign it to me.

[2021-05-25 12:48] bitaashna opened #1642 "Loan Calculator"
@urvashi-code1255  @Vishal-raj-1 @ridsuteri  i would like to add a loan calculator.
Please assign me this issue under the label GSSOC'21

[2021-05-25 12:54] harshgupta20 commented on #1343
@WebVishal Kindly give update about this issue

[2021-05-25 12:55] #1334 closed

[2021-05-25 12:57] harshgupta20 commented on #1292
Closed due to inactivity

[2021-05-25 12:57] #1292 closed

[2021-05-25 13:01] harshgupta20 commented on #1167
Issue Closed

[2021-05-25 13:01] #1167 closed

[2021-05-25 13:03] harshgupta20 commented on #1105
@yashikabhargava No problem, plz give any timeline so that it would good enough for the issue, to not to take too much time on this.

[2021-05-25 13:03] harshgupta20 commented on #1082
@Ankita297 Yes, You can work on this :)

[2021-05-25 13:06] harshgupta20 commented on #997
@Ankita297 I have already assigned you the task of other issue, and since the @tanya070820 has already made PR so if her PR got closed then after that it would allowed to you to work on it : )

[2021-05-25 13:07] akshay399 opened #1644 "Random cat image generator"
## Describe the bug
i will add a random cat pic generating page with help of thecatapi

![cat - Brave 25-05-2021 14_41_44](https://user-images.githubusercontent.com/55823965/119503144-44a81480-bd88-11eb-8361-0cc9b89ff6d1.png)

[2021-05-25 13:08] harshgupta20 commented on #997
@tanya070820 kindly link your PR with this issue, if you didn't do that then it could cause the point error in gssoc for you, since its a rule that participants should have to link PR with issue so that we can track their point.
So Link you PR with this Fast.

[2021-05-25 13:12] harshgupta20 commented on #983
@ambivert-sam Its too late to respond because someone has already resolved this issue, you need to be active so that you can track about this project, but dont worry here are more to learn, you can find another bug, resolve it, as fast as speed of light ; ).
But till then take and good bye

[2021-05-25 13:12] #983 closed

[2021-05-25 13:14] harshgupta20 commented on #714
@subhangi2731 You can send the PR now : )

[2021-05-25 13:16] harshgupta20 commented on #636
@mdatif796 Its been a long time you didn't sent the PR till now, Kindly respond within a week.

[2021-05-25 13:18] #1082 closed

[2021-05-25 13:24] TidbitsJS opened #1646 "Traffic Lights"
## Traffic Lights

Idea is to build a traffic lights lamp in JavaScript.

### Event

Part of gssoc21

[2021-05-25 13:32] WebVishal commented on #1343
Almost completed I create a pull request today late at night

[2021-05-25 13:53] ridsuteri commented on #1591
@YasmineEl-shahat search box looks exactly like the above image, can you share the gif/img of how will it look after improvement ?

[2021-05-25 14:00] vanshikachokhani opened #1649 "Project Idea: Flip Cards"
I want to add a memory card project where you can add cards giving question and answer. Every card has flip funcitonality whcih can show the answer afterwards.
Please assign me this issue under Gssoc'21 @991rajat @harshgupta20 @ridsuteri

[2021-05-25 15:02] Ankita297 commented on #510
@harshgupta20 @ridsuteri @urvashi-code1255 Can i work on this ?

[2021-05-25 15:12] Ayushjain2205 commented on #1429
Closing issue as pacman already merged

[2021-05-25 15:12] #1429 closed

[2021-05-25 15:59] YasmineEl-shahat commented on #1591
I won't change it's style . I'll add a feature that when I hit enter the results is shown not only when I click on the search icon.

[2021-05-25 17:11] #1386 closed

[2021-05-26 04:32] #1642 closed

[2021-05-26 06:50] #1558 closed

[2021-05-26 06:54] #1557 closed

[2021-05-26 06:58] #1559 closed

[2021-05-26 06:59] Ankita297 commented on #510
@ridsuteri  ?

[2021-05-26 07:05] #1556 closed

[2021-05-26 07:06] Ankita297 opened #1651 "background gradient page"
## Is your feature request related to a problem? Please describe.
It will be page of different gradient background contrast styles and user can copy  and paste it .

## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-26 07:14] Ankita297 opened #1652 "Contact us form Project"
## Is your feature request related to a problem? Please describe.
Contact us form project
 ## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-26 07:17] ridsuteri commented on #1626
sorry @Ankita297, but a css gradient background generator already exists :(

[2021-05-26 07:26] #1651 closed

[2021-05-26 07:28] #1626 closed

[2021-05-26 07:33] #1548 closed

[2021-05-26 07:36] ridsuteri commented on #1105
yes go ahead make a pr

[2021-05-26 07:36] Shatakshijain opened #1653 "Social media icons"
I would like to add the code for social media icons using the hover effect, under GSSOC'21

[2021-05-26 07:36] Ankita297 opened #1654 "Image search project"
## Is your feature request related to a problem? Please describe.
In this there will be search box user will type fill in it and imag related to it will be availbale .
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-26 07:46] #1199 closed

[2021-05-26 07:48] ridsuteri commented on #510
@haarsh01 you want to work on this?

[2021-05-26 07:49] ridsuteri commented on #510
@Ankita297 since it's fcfs , so let's wait for 2-3 till @haarsh01 responds

[2021-05-26 07:53] #1546 closed

[2021-05-26 08:02] Ankita297 commented on #1654
Can i work on this @ridsuteri ?

[2021-05-26 08:04] #1564 closed

[2021-05-26 08:09] ridsuteri commented on #1654
@Ankita297 please try to provide a brief description of the issue :)
please share image/gif of the project,
also I think the issue template is also incorrectly filled , please correct it :)

[2021-05-26 08:12] #1565 closed

[2021-05-26 08:18] ridsuteri commented on #1598
@Amit366 minesweeper game has already been added  through #1217 :(
if you want to work on it's improvement do open another issue !

[2021-05-26 08:18] #1598 closed

[2021-05-26 08:20] ridsuteri commented on #1591
ok go ahead @YasmineEl-shahat :)

[2021-05-26 08:46] Amit366 opened #1656 "Checkers game"
## Is your feature request related to a problem? Please describe.
No its not a problem. I will add checkers game
## Describe the solution you'd like
I am a GSSOC participant and would like to contribute in Javascript.
@ridsuteri please assign it to me

## Additional context
Add any other context about the feature request here.

[2021-05-26 09:47] #1646 closed

[2021-05-26 09:48] #1636 closed

[2021-05-26 10:09] manisha-27 commented on #1633
Hey, @Vishal-raj-1  please review this issue

[2021-05-26 15:08] TidbitsJS opened #1658 "Sentiment Analysis"
## Sentiment Analysis

Project - To create a Sentiment analysis machine learning application with ml5.js in JavaScript

### Event

Part of gssoc21

[2021-05-26 15:18] TidbitsJS opened #1660 "Text Extraction"
## Text Extraction

Project - To extract text from images using Tesseract in JavaScript

### Event

Part of gssoc21

[2021-05-26 15:29] TidbitsJS opened #1662 "State Search"
## State Search

Project - A state, city or district search application in JavaScript with JSON data of India

### Event

Part of gssoc21

[2021-05-26 15:35] Ankita297 opened #1663 "3d animated cards"
## Is your feature request related to a problem? Please describe.
Project of 3d animated cards
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-26 16:06] Ankita297 opened #1666 "transformation in css"
## Is your feature request related to a problem? Please describe.
Project to show transform  style in css
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-26 19:25] manisha-27 commented on #1633
hey, @Vishal-raj-1 , @991rajat please review this issue.

[2021-05-26 19:40] #1633 closed

[2021-05-27 03:04] sheetalj2205 opened #1668 "Active link : highlight which link is active in navbar"
## Describe the bug
A clear and concise description of what the bug is.
in the navbar which page is active is not visible now, I want to add active link feature
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or

[2021-05-27 12:18] SrishtiArya07 opened #1670 "Compound Interest Calculator"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a new feature called Compound Interest Calculator.
## Describe the solution you'd like
Compound interest is the interest on a loan or deposit calculated based on both the initial principal and the accumulated interest from previous periods. This tool will calculate the compound interest using HTML

[2021-05-27 14:28] Maaz-Code opened #1673 "Google Assistant Clone addition"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I am adding another javascript project to the list.
## Describe the solution you'd like
I have made a clone of Google Assistant and would like to contribute to the website. I would like the issue to be assigned to me and will send a related pull request.

## Additional context
I am a GSSOC'21 participant and

[2021-05-27 14:42] Amit366 commented on #1494
@ridsuteri can I work on this??

[2021-05-27 15:00] Maaz-Code commented on #1673
#1674 Corresponding pull request for this issue.

[2021-05-27 15:02] Amit366 commented on #1593
@ridsuteri can I work??

[2021-05-27 16:31] viraldevpb commented on #1593
I am Already Working on It

On Thu, May 27, 2021, 8:32 PM Amit Kumar Mishra ***@***.***>
wrote:

[2021-05-27 16:58] ainy-123 commented on #1494
/assign

[2021-05-27 17:58] #1662 closed

[2021-05-27 17:59] #1660 closed

[2021-05-27 17:59] #1658 closed

[2021-05-27 18:36] krishna-NIT opened #1676 "PR Labeler for automatically adding gssoc21 label on successful merged pr"
## Adding PR-Labeler so that Label will be added automatically after successfully merge
Using GitHub Action Workflow.

## How I will do?
GitHub Action not Taking the .yml file in GitHub Action Workflow as a result. I will completely change the pr-labeler with the help of taking labeler and pr closed action. The job of this Action will be to add the GSSOC21 label on Merged PR.

## In this way the B

[2021-05-27 18:38] krishna-NIT commented on #1676
@Vishal-raj-1 Please Assign this issue to Me, I am ready to start with this, The Same code will be useful in the future as well. This automatic adding of label by bot will be helpful a lot and will save time

[2021-05-27 18:39] krishna-NIT commented on #1676
"gssoc21" label is added by bot on creating new issue but not added when any pr got merge @Vishal-raj-1

[2021-05-27 18:42] anjali1102 opened #1677 "Chat bot Feature"
Simulates human-like conversations with users via text messages on chat. Its key task is to help users by providing answers

[2021-05-27 18:43] anjali1102 commented on #1677
assign me with the required labels

[2021-05-27 23:55] bindu030 opened #1678 "Add simon game"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add the simon game.

please assign this issue to me .

[2021-05-27 23:58] bindu030 opened #1679 "Adding error page(404)"
## Is your feature request related to a problem? Please describe.
No its not a problem.
I want to add a error page when a user is trying to access which is not available.
Please assign this issue to me.

[2021-05-28 10:54] TidbitsJS opened #1682 "Stripe Dropdown"
## Stripe Dropdown

Idea is to create a stripe-like animated follow-along dropdown in JavaScript.

### Event

Part of gssoc21

[2021-05-28 11:19] TidbitsJS opened #1684 "3D texture cube"
## 3D Texture Cube

Project - Creating a 3D texture cube with images using Three JS in JavaScript.

### Event

Part of gssoc21

[2021-05-28 12:21] TidbitsJS opened #1686 "Markdown Editor"
## Markdown Editor

Project - Create  a live markdown editor in JavaScript

### Event

Part of gssoc21

[2021-05-28 12:34] TidbitsJS opened #1688 "3D cubeMap"
## 3D cubeMap

Idea - Create a 3D cube map with Three JS in JavaScript

### Event

Part of gssoc21

[2021-05-28 17:30] prayas7102 opened #1690 "Add Note Making App project"
## Is your feature request related to a problem? Please describe.

No its not a problem. I am suggesting this Vanilla JavaScript project to add under the group of projects.

## Describe the solution you'd like

This project works similar to a Scribble pad. The web app can be used to create and store random notes.
This web app is responsive and uses bootstrap cards to show information stored in loc

[2021-05-29 00:04] viraldevpb commented on #1593
@Amit366 You can work on this project!!

[2021-05-29 05:13] Ankita297 opened #1691 "fun facts about maths"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-29 05:48] kanishka8276 opened #1693 "Bug in Top Button in light mode."
## Describe the bug
A circle is visible in the light mode when you are at the top of the page.

![Screenshot (35)](https://user-images.githubusercontent.com/66053534/120059493-8af2c180-c06f-11eb-8fd8-0ab9e9f3369b.png)

Please assign this to me.

GSSoC'21.

[2021-05-29 06:08] kanishka8276 opened #1694 "Adding show and hide password option in sign in form"
I will like to add Show and Hide password option in sign in form.
Please assign this to me.
GSSoC'21.

[2021-05-29 06:24] Shatakshijain opened #1695 "Quote generator"
I would like to add the code for a random quote generator using html, css and javascript under GSSOC'21.

[2021-05-29 06:52] Maaz-Code commented on #1673
@Vishal-raj-1 please see to this

[2021-05-29 07:08] #1640 closed

[2021-05-29 07:09] #1688 closed

[2021-05-29 07:09] #1686 closed

[2021-05-29 07:10] #1684 closed

[2021-05-29 07:11] #1682 closed

[2021-05-29 07:12] #1691 closed

[2021-05-29 07:15] #1652 closed

[2021-05-29 07:39] #1676 closed

[2021-05-29 10:01] Shatakshijain opened #1697 "Number facts"
I would to add the code for a number facts project. In this, each time we enter a number a fact related to it appears. It is made using the numbers api which fetches the fact corresponding to the entered number.

[2021-05-29 10:02] Shatakshijain commented on #1697
It is a project under GSSOC'21.

[2021-05-29 11:27] #1224 closed

[2021-05-29 11:38] sheetalj2205 opened #1698 "Talk with Banana : Javascript fun game"
## Is your feature request related to a problem? Please describe.
No. I have made a fun game using vanilla js.  I want to add this in js projects.
## Describe the solution you'd like
![sug](https://user-images.githubusercontent.com/64475191/120068829-66fba400-c0a0-11eb-8b09-c5ae3c0418ba.JPG)

Currently It's UI look like this.

## Additional context
Add any other context about the feature request h

[2021-05-29 11:41] #1515 closed

[2021-05-29 11:54] #1187 closed

[2021-05-29 11:56] #1490 closed

[2021-05-29 12:07] #1350 closed

[2021-05-29 12:23] #1436 closed

[2021-05-29 12:29] Ankita297 commented on #510
@991rajat ?

[2021-05-29 12:33] #1476 closed

[2021-05-29 12:45] #1529 closed

[2021-05-29 13:04] #1492 closed

[2021-05-29 13:44] TidbitsJS opened #1700 "3D Cube controls"
## 3D cube Controls

Adding orbits controls effects so that the user can interact with the cube with Three Js in JavaScript.

### Event

Part of gssoc21

[2021-05-29 14:02] TidbitsJS opened #1702 "GLTF Loader"
## GLTF File Loader

Create a 3D scene of gltf file with ThreeJs in JavaScript.

###  Event

Part of gssoc21

[2021-05-29 14:46] TidbitsJS opened #1704 "3D Paint"
## 3D Paint

Creating a 3D Paint of IcosahedronGeometry with Three Js in JavaScript

### Event

Part of gssoc21

[2021-05-29 15:09] prayas7102 commented on #1491
Ok sir, I've created other issue #1690. Please have a look at it and let me
know if I can work on it.

On Wed, 19 May, 2021, 6:40 PM Riddhi Suteri, ***@***.***>
wrote:

[2021-05-29 16:02] TidbitsJS opened #1706 "Wiki Search"
## Wikipedia Search

Project - Create a Wikipedia Search engine in JavaScript

### Event

Part of gssoc21

[2021-05-29 16:36] Ankita297 opened #1708 "emoji factory"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-29 16:45] TidbitsJS opened #1709 "Panorama Cube"
## Panorama Cube

Creating a panorama cube with Three JS in JavaScript

### Event

Part of gssoc21

[2021-05-29 17:02] TidbitsJS opened #1712 "3D Texture Cube Controls"
## 3D Texture Cube Controls

Adding orbits controls effects so that the user can interact with the cube with Three Js in JavaScript.

### Event

Part of gssoc21

[2021-05-29 17:27] #166 closed

[2021-05-29 17:50] harshgupta20 commented on #1712
@TidbitsJS Spamming warning, You are creating multiple issue for same PR ( 3D Cube controls #1700 ), If we found this again we may need to close all your issues and PR. Right away

[2021-05-29 17:50] #1712 closed

[2021-05-29 17:50] harshgupta20 commented on #1709
@TidbitsJS Spamming warning, You are creating multiple issue for same PR ( 3D Cube controls #1700 ), If we found this again we may need to close all your issues and PR. Right away

[2021-05-29 17:50] #1709 closed

[2021-05-29 17:55] harshgupta20 commented on #1698
This project already exist.

[2021-05-29 17:55] #1698 closed

[2021-05-29 17:56] harshgupta20 commented on #1695
Similar project already exist

[2021-05-29 17:56] #1695 closed

[2021-05-29 17:59] harshgupta20 commented on #1690
Similar project already exist

[2021-05-29 17:59] #1690 closed

[2021-05-29 18:00] harshgupta20 commented on #1679
Issue has been resolved already

[2021-05-29 18:00] #1679 closed

[2021-05-29 18:00] harshgupta20 commented on #1678
Similar project already exist

[2021-05-29 18:00] #1678 closed

[2021-05-29 18:01] harshgupta20 commented on #1677
@anjali1102 Can you make this using pure vanilla JS ?

[2021-05-29 18:02] harshgupta20 commented on #1670
Similar project already exist

[2021-05-29 18:03] Ankita297 commented on #510
@harshgupta20 ?

[2021-05-29 18:04] #1708 closed

[2021-05-29 18:06] #1706 closed

[2021-05-29 18:06] #1704 closed

[2021-05-29 18:06] harshgupta20 commented on #510
hello @Ankita297, why you mentioned me here ?

[2021-05-29 18:07] #1702 closed

[2021-05-29 18:08] #1700 closed

[2021-05-29 18:08] Ankita297 commented on #510
Sir Can i work on this ?

[2021-05-29 18:09] #1654 closed

[2021-05-29 18:09] harshgupta20 commented on #1649
Similar project already exist

[2021-05-29 18:09] #1649 closed

[2021-05-29 18:10] harshgupta20 commented on #510
@Ankita297 Go ahead : )

[2021-05-29 18:26] #1663 closed

[2021-05-29 18:35] Vishal-raj-1 opened #1715 "Projects are not visible on the side."
## Describe the bug
While resolving some merge conflicts, this bug arises !!

## To Reproduce
Steps to reproduce the behavior:
1.  Check projects section of the website

## Expected behavior
Projects should be visible.

[2021-05-29 18:37] #510 closed

[2021-05-29 18:42] harshgupta20 commented on #1644
Similar project already exist

[2021-05-29 18:42] #1644 closed

[2021-05-29 18:44] harshgupta20 commented on #1641
Similar project already exist, can you plz describe it more, or attach some photos or gifs so that we can see

[2021-05-29 18:47] harshgupta20 commented on #1619
already resolved by other participant

[2021-05-29 18:47] #1619 closed

[2021-05-29 18:49] harshgupta20 commented on #1609
issue already created by other participant

[2021-05-29 18:49] #1609 closed

[2021-05-29 18:49] krishna-NIT opened #1716 "Auto Message on closing of pr but it must be only on merging pr"
## Bug in Auto Message by GitHub action Bot when merged
this will also add a label on merged pr but currently, it is add on the closing of the issue
Currently, when pr is closed we are getting this message also, but this must be there only when pr is merged

## Bug screenshot
![image](https://user-images.githubusercontent.com/73196470/120081681-697bef00-c0dc-11eb-9655-66f9a449def7.png)

## Solutio

[2021-05-29 18:50] harshgupta20 commented on #1606
Similar project already exist

[2021-05-29 18:50] #1606 closed

[2021-05-29 18:51] harshgupta20 commented on #1593
@Amit366 You can send the PR now

[2021-05-29 18:51] krishna-NIT commented on #1716
@Vishal-raj-1 Please assign this issue to me so that this issue will be resolved because when anyone closes the issue he gets the message and a tag of gssoc as well which must be executed only on merging of pr

[2021-05-29 18:52] harshgupta20 commented on #1591
thanks for contributing, PR has been merged

[2021-05-29 18:52] #1591 closed

[2021-05-29 18:53] Amit366 commented on #1656
@harshgupta20 since it is a game won't it be a level 3??

[2021-05-29 18:55] harshgupta20 commented on #1656
@Amit366 It not only about game but how complex it is and what are things you have used in this defines the level tag : )

[2021-05-29 18:56] Amit366 commented on #1656
Ok

[2021-05-29 19:11] anjali1102 commented on #1677
Yes sure

[2021-05-29 19:15] harshgupta20 commented on #1677
Ok Great, you can send the PR for it : )

[2021-05-29 19:34] #920 closed

[2021-05-29 19:53] bitaashna commented on #1641
@harshgupta20  Please refer the below images
![Screenshot from 2021-05-30 01-22-49](https://user-images.githubusercontent.com/57864526/120083324-8ff25800-c0e5-11eb-9ca4-0188717c4f9a.png)
![Screenshot from 2021-05-30 01-22-46](https://user-images.githubusercontent.com/57864526/120083333-97196600-c0e5-11eb-869d-549cbef68b85.png)
![Screenshot from 2021-05-30 01-22-42](https://user-images.githubuserco

[2021-05-29 20:01] SrishtiArya07 commented on #1670
I've checked. The project that already exists is of simple interest. I want to make Compound Interest Calculator

[2021-05-29 22:07] bitaashna commented on #1637
@urvashi-code1255  I have created a PR #1719, Please check it!

[2021-05-29 22:29] bitaashna opened #1720 "Insect Catch game"
I would like to add a insect catch game.as a GSSOC'21 participant.
@harshgupta20 @ridsuteri @urvashi-code1255 @991rajat  Please assign it to me

[2021-05-29 22:37] bitaashna opened #1721 "Netflix Mobile Navigation"
I would like to add an app for NETFLIX MOBILE NAVIGATION as a GSSOC'21 participant.

![Screenshot from 2021-05-30 04-06-34](https://user-images.githubusercontent.com/57864526/120086425-6e509b00-c0fc-11eb-9923-a096bb205036.png)
![Screenshot from 2021-05-30 04-06-30](https://user-images.githubusercontent.com/57864526/120086427-71e42200-c0fc-11eb-8d21-4ea92ffa37d9.png)
![Screenshot from 2021-05-30 04

[2021-05-29 23:20] bitaashna opened #1722 "Animated Navigation"
I would like to add a  new app for "Animated Navigation" as a GSSOC'21 participant.

![gif_20210530_042005 (1)](https://user-images.githubusercontent.com/57864526/120087063-70b5f380-c102-11eb-9d32-68aed864a77e.gif)
@991rajat @urvashi-code1255 @harshgupta20 @ridsuteri Please assign it to me.

[2021-05-29 23:24] bitaashna opened #1723 "Random Choice picker"
In this, you need to Enter all of the choices divided by a comma (',').
and press 'enter' after u done writing your choices
Then from the choices given by you,it will provide you with a randomly selected choice.
I would like to contribute to it as a GSSOC'21 participant.
 @991rajat @urvashi-code1255 @harshgupta20 @ridsuteri please assign it to me.

[2021-05-30 03:30] 991rajat commented on #1670
@harshgupta20

[2021-05-30 03:52] Ankita297 commented on #1715
Can i work on this @Vishal-raj-1 ?

[2021-05-30 06:21] Ankita297 opened #1726 "Search any book"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-30 06:31] Vishal-raj-1 commented on #1715
Yes @Ankita297

[2021-05-30 10:26] Maaz-Code opened #1733 "Adding Physics Calculator"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I am adding another project to the list. It is made using basic HTML, CSS, and Javascript.

## Describe the solution you'd like
I wanted to add a Calculator meant for Physics specifically. This includes various physics numerical-based terms that have different formulas. Just we have to enter the numbers and t

[2021-05-30 11:05] Maaz-Code commented on #1733
@harshgupta20  please see to it! Thank you.

[2021-05-30 14:42] TidbitsJS opened #1738 "Skeleton Loading Effect"
## Skeleton Loading Effect

Create a skeleton loading effect on cards in JavaScript

### Event

Part of gssoc21

[2021-05-30 14:49] Ankita297 opened #1739 "Joke with category"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-30 14:51] TidbitsJS commented on #1709
@harshgupta20, sorry, but I am not spamming. I have created different PRs for different issues. There are three different cube projects made using Three JS ( all of them created by me ). The cube projects are named as - 1) Simple Cube 2) Cube with texture & 3) Panorama effect cube. I was working on that. & if the concern is of creating multiple issues, then I think, I am clear in that as well. Eve

[2021-05-30 15:10] TidbitsJS opened #1742 "Background Effect"
## Background Effect

Project - Add an animated background effect in JavaScript using canvas

### Event

Part of gssoc21

[2021-05-30 15:16] TidbitsJS opened #1744 "Notifications"
## Notifications

Creating warning, danger, success, and info notifications in JavaScript

### Event

Part of gssoc21

[2021-05-30 15:42] TidbitsJS opened #1746 "Play Loader"
## Play Loader

Create a play fill loader using bodymovin.js & Lottie file in JavaScript

### Event

Part of gssoc21

[2021-05-30 15:52] TidbitsJS opened #1748 "Tabs"
## Tabs

Creating responsive tabs in JavaScript

### Event

Part of gssoc21

[2021-05-30 16:20] Ankita297 commented on #1715
@Vishal-raj-1 the projects are now visible but there are some projects which are repeated or their image  in project section is not visible so can i work on this ?
![Projects _ Awesome JavaScript - Google Chrome 30-05-2021 21_44_01](https://user-images.githubusercontent.com/67833077/120111794-fb453400-c190-11eb-981d-106027038885.png)
![Projects _ Awesome JavaScript - Google Chrome 30-05-2021 21_44

[2021-05-30 17:26] TidbitsJS opened #1750 "Navigation"
## Navigation Bar

Creating a bottom animated navigation bar in JavaScript

### Event

Part of gssoc21

[2021-05-30 17:31] Shatakshijain opened #1751 "Joke Generator"
I would like to add the code for a random joke generator using html, css and javascript, under GSSOCC'21.

[2021-05-31 02:59] Ankita297 opened #1754 "Background video header"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-31 03:18] bitaashna commented on #1723
/assign

[2021-05-31 10:27] Shatakshijain opened #1756 "Piano"
I would like to add the code for a virtual piano which can be played using the computer keyboard as well as on mouse click., under gssoc'21.

[2021-05-31 13:06] Ankita297 opened #1758 "gradient showcase"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-31 14:00] Amit366 commented on #1584
@991rajat can i work??

[2021-05-31 14:04] Shatakshijain opened #1760 "Animated leaves"
I would like to add the code for animated leaves using html, css and javascript under gssoc'21.

[2021-05-31 14:06] Shatakshijain opened #1761 "Background generator"
I would like to add the code for background generator using html, css and javascript under gssoc'21.

[2021-05-31 14:08] ridsuteri commented on #1494
sorry @Amit366 and  @ainy-123 , but this project already exists :(

[2021-05-31 14:08] #1494 closed

[2021-05-31 14:18] #1656 closed

[2021-05-31 14:21] #1374 closed

[2021-05-31 14:23] #1373 closed

[2021-05-31 14:28] #1522 closed

[2021-05-31 14:29] #1750 closed

[2021-05-31 14:30] #1748 closed

[2021-05-31 14:30] #1746 closed

[2021-05-31 14:31] #1744 closed

[2021-05-31 14:31] #1742 closed

[2021-05-31 14:32] #1738 closed

[2021-05-31 14:34] #1754 closed

[2021-05-31 14:55] #1666 closed

[2021-05-31 14:57] #1105 closed

[2021-05-31 15:05] ridsuteri commented on #1641
@bitaashna exactly similar project already exists :( hence i am closing this one

[2021-05-31 15:05] #1641 closed

[2021-05-31 15:30] #1637 closed

[2021-05-31 15:30] anubhav201241 opened #1762 "Random_Picker_visualiser"
## Is your feature request related to a problem?
Yes

## Describe the solution you'd like
Want to create a Random Picker Visualiser using Javascript which can pick the random winner  from the site

@urvashi-code1255 Please assign this issue to me

[2021-05-31 15:31] urvashi-code1255 commented on #1762
@anubhav201241 go for it

[2021-05-31 15:32] ridsuteri commented on #1722
@bitaashna similar project already exists, hence i am closing this one :(

[2021-05-31 15:32] #1722 closed

[2021-05-31 15:33] #1360 closed

[2021-05-31 15:40] #1500 closed

[2021-05-31 15:50] Ankita297 opened #1764 "video search"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-31 16:00] #1764 closed

[2021-05-31 16:04] #1361 closed

[2021-05-31 16:30] Ankita297 opened #1767 "meal genrator"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-31 16:45] #1397 closed

[2021-05-31 17:03] #1760 closed

[2021-05-31 17:06] #1761 closed

[2021-05-31 17:20] #1767 closed

[2021-05-31 17:23] #1677 closed

[2021-05-31 17:24] #1758 closed

[2021-05-31 17:27] #1756 closed

[2021-05-31 17:27] #1697 closed

[2021-05-31 17:27] #1751 closed

[2021-05-31 17:28] #1739 closed

[2021-05-31 17:31] #1065 closed

[2021-05-31 17:33] #85 closed

[2021-05-31 17:36] #1670 closed

[2021-05-31 17:38] #1403 closed

[2021-05-31 17:38] #1399 closed

[2021-05-31 17:41] #1290 closed

[2021-05-31 17:41] #1726 closed

[2021-05-31 17:42] #1587 closed

[2021-05-31 17:44] #1631 closed

[2021-05-31 17:45] #1572 closed

[2021-05-31 17:46] #1318 closed

[2021-05-31 17:48] #1638 closed

[2021-05-31 17:49] #1610 closed

[2021-05-31 17:49] #1593 closed

[2021-05-31 17:50] #1716 closed

[2021-05-31 17:51] #1493 closed

[2021-05-31 17:53] #1232 closed

[2021-05-31 17:54] #1653 closed

[2021-05-31 17:57] #1721 closed

[2021-05-31 17:58] #1570 closed

[2021-05-31 18:01] #1618 closed

[2021-05-31 18:14] bitaashna commented on #1721
@Vishal-raj-1 Please add the labels

[2021-05-31 18:15] #1733 closed

[2021-05-31 18:18] #1723 closed

[2021-05-31 18:20] #1383 closed

[2021-05-31 18:31] #2 closed

[2021-05-31 18:32] #14 closed

[2021-05-31 18:32] #20 closed

[2021-05-31 18:33] #21 closed

[2021-05-31 18:34] #128 closed

[2021-05-31 18:35] #272 closed

[2021-05-31 18:37] Vishal-raj-1 commented on #304
for this first you have to add & commits your changes then you have to pull changes

[2021-05-31 18:37] #515 closed

[2021-05-31 18:38] Vishal-raj-1 commented on #587
@Amit366 are you working on this project ?

[2021-05-31 18:39] bitaashna commented on #1720
It's already there.
 Therefore closing it.

[2021-05-31 18:39] #1720 closed

[2021-05-31 18:39] #636 closed

[2021-05-31 18:41] #662 closed

[2021-05-31 18:42] Vishal-raj-1 commented on #714
@subhangi2731 are you working on this ?

[2021-05-31 18:44] #801 closed

[2021-05-31 18:44] #982 closed

[2021-05-31 18:45] #997 closed

[2021-05-31 18:45] #1343 closed

[2021-05-31 18:46] #1351 closed

[2021-05-31 18:46] #1372 closed

[2021-05-31 18:46] #1393 closed

[2021-05-31 18:48] #1437 closed

[2021-05-31 18:48] #1450 closed

[2021-05-31 18:49] Vishal-raj-1 commented on #1462
It's done i think ?

[2021-05-31 18:50] Vishal-raj-1 commented on #1484
@Shivangi-ch ?

[2021-05-31 18:50] Vishal-raj-1 commented on #1487
@Muskan0 ?

[2021-05-31 18:51] Vishal-raj-1 commented on #1488
@Muskan0 ?

[2021-05-31 19:28] kanisshka commented on #1462
But I checked on your website and I didn't find anything like this.

[2021-06-02 17:55] #1715 closed

[2021-06-04 08:30] Atif0604 opened #1774 "Add New version of weather app with good ui"
i wanna add a new version of weather app
Please assign it to me
I'm a participant of LGM SOC-21
@Vishal-raj-1

[2021-06-04 17:21] shreyansh30saxena opened #1775 "New Project"
Can I contribute with a javascript project? It is visual STONE-PAPER-SCISSORS Game.
 Also can that be counted as a contribution under LGM-SOC'21?

[2021-06-06 12:06] manognyaa opened #1776 "cooking loader"
hello there !
my idea is all about a loading process for restaurant websites.
I would like to work on this issue
can you please assign me this issue ? @Vishal-raj-1

[2021-06-07 05:14] RR-Sahoo commented on #1668
can I work on this as I am a participant of LGM-SOC.

[2021-06-07 16:41] SamikshaSankar opened #1777 "Overlap and double icon"
## Describe the bug
1. Github icons are double
2. In top-button one circle are there
3. theme changer and chatbot overlapping each other

## Expected behavior
1. outer-circle of top button will be removed (Not top-button  removed just extra circle will removed)
2. change the position of Chatbbot into right-bottom corner/ lower to top-button

## Environment (please complete the following informatio

[2021-06-08 04:58] Kartikey0205 opened #1778 "Wants to add date and time feature in Notes App!!"
I want to add date and time feature in it , so that one who is adding notes keeps reference when he/she has added that note.
@Vishal-raj-1 , @urvashi-code1255  I will be thankful to you if you assign me under Lgm-Soc

/assign

[2021-06-08 18:07] RakeshCharpe commented on #1777
Can i work on this issue?

[2021-06-08 18:20] RakeshCharpe commented on #1551
can I work on this issue under LCM Soc21.

[2021-06-09 10:32] harshita9621 commented on #1775
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 10:32] harshita9621 commented on #1551
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 11:48] shreyansh30saxena commented on #1775
@harshita9621 Hi,
This issue wasn't created by the project admin.
This is the issue I created to ask if I can contribute.

[2021-06-09 12:19] mitali-1703 opened #1779 "Want to change the UI of the Dinosaur Game!!"
Hey @Vishal-raj-1 I would love to change the UI of the dinosaur game along with some background music when the dinosaur hits the obstacle. Could you please assign me this under LGM-SOC'21so that I can enhance its look?

[2021-06-09 16:47] aktamoli0910 opened #1780 "New Project."
Can I contribute with a javascript project as a part of LGM-SOC-21?
It is a  TO-DO-LIST project with all the required features.

[2021-06-09 17:09] aktamoli0910 commented on #1780
Can i work on this issue under LGM-SOC-21?

[2021-06-09 17:40] Kartikey0205 commented on #1779
Hey @Vishal-raj-1 I want to work on this issue please assign me if possible under Lgm-soc '21

[2021-06-09 22:30] Astitva7717 opened #1781 "New Project"
I am a LGM-SOC21 participent and I wanna add my javascript weather app (using api) in this repo???

[2021-06-10 01:33] RiyaGupta89 commented on #1551
I am a participant of LGMsoc'21. May I please work under this issue?

[2021-06-10 01:35] RiyaGupta89 opened #1782 "Can I add my dinosaur Javascript video game in this repository?"
Can I add my dinosaur Javascript video game in this repository?

[2021-06-10 01:58] RiyaGupta89 commented on #1782
Sure :)

[2021-06-10 02:47] Veeresh-Rex opened #1784 "Password Generator New Project"
###  New Project
Hey,I am from LGM-SOC 21 .  I want to add password generator project .

[2021-06-10 03:37] khushi-purwar opened #1785 "Can I add a Quiz App in this project?"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I am a LGM-SOC21 participent and I wanna add my javascript quiz app in this repo???

[2021-06-10 06:54] jugeshraghav opened #1786 "Improvement in contact us page."
## Describe the bug.
The send message button is not responsive in mobile view.

## To Reproduce
Steps to reproduce the behavior:
1. add some style to it.

## Expected behavior
The send message button will be responsive with good visuals.

[2021-06-10 06:57] jugeshraghav opened #1787 "extra github link in the navbar"
## Describe the bug
There is one extra github link in the navbar which points to the same repository as the previous one.

## To Reproduce
Steps to reproduce the behavior:
1. Remove the link or add some other link.

[2021-06-10 06:57] jugeshraghav commented on #1787
Can i work on this issue .

[2021-06-10 07:00] jugeshraghav commented on #1786
Can I work on the issue.

[2021-06-10 07:56] Ciggzy1312 opened #1788 "Update the footer design and layout"
I would like to change the layout of the footer section
And add separate columns for About us section and links in the footer

Please assign this issue it to me under LGM-SOC tag

[2021-06-10 08:40] Veeresh-Rex commented on #1784
@Vishal-raj-1  please assign me this issue.

[2021-06-10 09:04] Veeresh-Rex opened #1790 "Add detect Online or Offline project"
Hey, I'm LGMSOC21 participant. I'd like to add a project which detect you are online or offline.
Please assign me.

[2021-06-10 10:15] siddhi-244 opened #1791 "Simple calculator using javascript"
## Is your feature request related to a problem? Please describe.
No its not a problem. I would like to add my project calculator. I am a lgmsoc participant

[2021-06-10 10:15] siddhi-244 commented on #1791
Shall I add it?

[2021-06-10 21:23] Kartikey0205 commented on #1778
Hey @Vishal-raj-1 when will you assign this to anyone??

[2021-06-11 01:55] Veeresh-Rex commented on #1784
I'm LGM-SOC21 participant So please assign me labels of LGMSOC21.

[2021-06-11 06:52] Tulsi25 commented on #1788
Hii, I am a LGM-SOC'21 participants , would like to update the footer design and layout.
I want to  update on footer with some columns and rows so that it would look symmetrical.

please assign this issue to me

[2021-06-11 10:15] SamikshaSankar commented on #1777
@Vishal-raj-1 please assigned this issue...program has been started

[2021-06-11 12:39] Atif0604 commented on #1774
/assign

[2021-06-11 12:42] jugeshraghav commented on #1786
/assign

[2021-06-11 17:46] Vishal-raj-1 opened #1792 "Remove Extra Github Icon"
## Describe the bug
Remove this extra github icon
![extra](https://user-images.githubusercontent.com/59874304/121728456-ebbbd880-cb0a-11eb-8158-0917f16cf0b3.JPG)

[2021-06-11 17:50] Vishal-raj-1 opened #1793 "shift the theme changing button in navbar"
![color](https://user-images.githubusercontent.com/59874304/121728974-903e1a80-cb0b-11eb-8bdc-0fc4e056a67f.JPG)

[2021-06-12 06:32] RiyaGupta89 commented on #1792
I can work on this issue sir. Please assign me the issue.

[2021-06-12 10:48] siddhi-244 commented on #1791
I haven't got any info regarding this issue !

[2021-06-12 15:16] Vishal-raj-1 commented on #1792
Sure RIya go for it

[2021-06-12 16:13] mdinesh124 commented on #1694
@harshgupta20 Please assign me this issue under LGMSOC,

[2021-06-12 16:58] #1787 closed

[2021-06-12 16:59] jugeshraghav commented on #1793
i would like to work on the issue. please assign it to me @Vishal-raj-1

[2021-06-12 17:15] jugeshraghav opened #1795 "some projects are displayed twice."
## Describe the bug
Some projects are displayed twice.

## To Reproduce
some projects in the projects section are displayed twice. Prefix expression evaluator, random name generator , purple rain and re-create giphy are displayed twice in the project section.

![Screenshot (86)](https://user-images.githubusercontent.com/74092377/121784117-b4fbc600-cbcf-11eb-9da1-258cd10d0b71.png)
![Screenshot (87)

[2021-06-13 11:01] RiyaGupta89 commented on #1792
I have resolved this issue. Please review my code.

[2021-06-14 06:31] Kartikey0205 commented on #1778
@Vishal-raj-1 @urvashi-code1255 ???

[2021-06-14 15:38] Vishal-raj-1 commented on #1795
Go for it

[2021-06-15 13:02] Kartikey0205 commented on #1778
/assign

[2021-06-15 13:46] priyaastha opened #1798 "Want to add a SVG generator"
This SVG generator is used for generating beautiful SVGs for the users. It is coded in vanilla JavaScript. In this, we can customize the SVG according to our choice. It has various filters(or controls) which allow customization of the SVG. The created SVGs can also be downloaded.
Below are the screenshots for the same.

![127 0 0 1_5500 - Google Chrome 15-06-2021 18_49_24](https://user-images.gith

[2021-06-15 13:47] priyaastha commented on #1798
/assign

[2021-06-15 20:35] ishitakapoor26 opened #1799 "Add column of LGM-SOC'21 in readme.md"
## Describe the bug
Project is not mentioned to be part of LGM-SOC'21 in readme.md

[2021-06-15 20:35] ishitakapoor26 commented on #1799
@Vishal-raj-1 pls assign this issue to me.

[2021-06-16 07:40] ishitakapoor26 commented on #1799
/assign

[2021-06-16 10:28] ishitakapoor26 commented on #1799
@Vishal-raj-1 pls review my pr.

[2021-06-16 12:49] ROHAN842 opened #1801 "Successful alert pop up feature for contact page "Send Message" button"
## Is your feature request related to a problem? Please describe.
As when user fills all the detail and clicks on "Send Message" button then site takes user 405 not allowed page.

## Describe the solution you'd like
 I want to add an alert which will pops up and will tell the user that message was delivered successfully with a green tick along with I would also like to add a feature without back e

[2021-06-16 12:50] ROHAN842 commented on #1801
/assign

[2021-06-16 13:25] #1792 closed

[2021-06-16 13:36] Vishal-raj-1 commented on #1801
sure

[2021-06-16 13:42] Vishal-raj-1 commented on #1793
sure

[2021-06-16 13:46] Vishal-raj-1 commented on #1791
Siddhi, there is already this project, you can make new project which haven't added yet or you can improve these projects because there's lot of improvement required.

[2021-06-16 13:46] #1791 closed

[2021-06-16 13:46] Vishal-raj-1 commented on #1790
sure

[2021-06-16 13:48] Vishal-raj-1 commented on #1788
is it done ? if yes then don't forget to mention issue number in your PR otherwise it will not be counted

[2021-06-16 13:49] Vishal-raj-1 commented on #1785
It's already there, if you want to improve that then you can go for it otherwise explore other project from the website.

[2021-06-16 13:49] #1785 closed

[2021-06-16 13:51] siddhi-244 opened #1802 "Can i add a payment integration gateway website using html,css and js"
Plzz assign to me

[2021-06-16 13:54] Vishal-raj-1 commented on #1781
it's already there, try to improve other projects

[2021-06-16 13:55] #1781 closed

[2021-06-16 13:55] siddhi-244 commented on #1802
Thank you @Vishal-raj-1  can I create a folder in the public file because I am gonna work in different files !

[2021-06-16 13:56] Vishal-raj-1 commented on #1780
It's already there, if you want to improve that then you can otherwise try for other projects (don't need to work on already exist project from scratch)

[2021-06-16 13:56] #1780 closed

[2021-06-16 13:57] Vishal-raj-1 commented on #1802
go for it

[2021-06-16 13:58] siddhi-244 commented on #1802
Ok thank you !

[2021-06-16 14:37] ROHAN842 commented on #1801
OK thanks

[2021-06-16 16:51] siddhi-244 commented on #1802
Sir please check my pr!

[2021-06-16 18:07] ishitakapoor26 opened #1804 "Add hover effect to contact page buttons"
Add hover effect to contact page button and some buttons in homepage header.

[2021-06-16 18:07] ishitakapoor26 commented on #1804
@Vishal-raj-1 pls assign this issue to me.

[2021-06-16 18:09] ishitakapoor26 opened #1805 "FAQ section"
Add FAQ section to homepage.

[2021-06-16 18:10] ishitakapoor26 commented on #1805
@Vishal-raj-1 pls assign this issue to me.

[2021-06-17 11:43] ROHAN842 commented on #1801
Hey @Vishal-raj-1 after cloning in my desktop this error is coming I have tried every possible way to resolve this but was not successful can u help me in solving it,
![image](https://user-images.githubusercontent.com/61961107/122390244-65324b80-cf8f-11eb-8497-bd87bb92a153.png)

[2021-06-18 14:54] shreyansh30saxena commented on #1775
@Vishal-raj-1 Can you please assign this to me

[2021-06-18 16:37] Veeresh-Rex commented on #1784
There is already a "password generator project". should i make another password generator app.
@Vishal-raj-1

[2021-06-19 09:54] ROHAN842 opened #1808 "Project Section doesn't consists Signup/Login Option in the Navbar"
## Describe the bug
The Project page navbar doesn't have Signup/Login Option, I want to add this feature in the navbar.

## Additional context
![image](https://user-images.githubusercontent.com/61961107/122638574-72c40e80-d112-11eb-884e-b6a18f40c2b5.png)

[2021-06-19 09:55] ROHAN842 commented on #1801
@Vishal-raj-1 sir please review my PR

[2021-06-19 16:16] UJALA-TYAGI opened #1809 "Update the homeProjects Section"
I would like to make some changes in the homeProjects Section.
It will make the section look more organised and complement to the body section.

This is the current homeProjects Section.

![org](https://user-images.githubusercontent.com/69709596/122648477-192a0700-d147-11eb-8e22-519c52f02558.png)

After the changes it'll look more like:

![myedit](https://user-images.githubusercontent.com/69709596

[2021-06-19 19:32] ishitakapoor26 opened #1810 "Design logo"
Design logo for website

[2021-06-19 19:33] ishitakapoor26 commented on #1810
@Vishal-raj-1 pls assign this issue to me.

[2021-06-19 20:37] Ayonijakaushik19 opened #1811 "contributors.md file is not present in the project"
Hi Vishal,
Contributors.md file is not there in the project. We can add one Contributors.md file in the project which can help us to see our valuable contributors of the project

[2021-06-19 20:37] Ayonijakaushik19 commented on #1811
Hi @Vishal-raj-1, Please assign this issue to me.

[2021-06-19 21:14] Ayonijakaushik19 opened #1812 "Error 405 (Not allowed) after clicking send message button on Contact page"
## Describe the bug
A clear and concise description of what the bug is.
#Error 405 Not allowed is showing after clicking send message button on the Contact page
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.
It is should show "message sent successfuly and our support team will contact you soon"
## L

[2021-06-19 21:15] Ayonijakaushik19 commented on #1812
Hi @Vishal-raj-1, Please assign it to me.

[2021-06-19 21:20] Ayonijakaushik19 opened #1813 "Forgot Your Password button is not working"
## Describe the bug
A clear and concise description of what the bug is.
"Forgot your Password" button not working on signup page
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.
It should be working and redirect us to a different page where we can ask the user for a registered email and send him the l

[2021-06-19 21:21] Ayonijakaushik19 commented on #1813
Hi @Vishal-raj-1, Please assign it to me. I would like to work on this.

[2021-06-19 21:30] Ayonijakaushik19 opened #1814 "Sign in with LinkedIn ,Facebook and Google buttons are not working"
## Describe the bug
A clear and concise description of what the bug is.
Sign in with LinkedIn, Facebook, and Google buttons are not working on Sign-in page
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exce

[2021-06-19 21:31] Ayonijakaushik19 commented on #1814
Hi @Vishal-raj-1, Please assign this to me I would like to take this up.

[2021-06-19 21:34] Ayonijakaushik19 opened #1815 "Sign up with facebook and Google are not working"
## Describe the bug
A clear and concise description of what the bug is.
Sign up with Facebook and Google are not working on the Sign-up page.
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.
It should redirect us to Facebook and Google Sign-Up page.
## Logs
If applicable, add logs to help explain your

[2021-06-19 21:35] Ayonijakaushik19 commented on #1815
Hi @Vishal-raj-1, Please assign this to me. I would like to work on this.

[2021-06-19 21:38] Ayonijakaushik19 opened #1816 "Sign up with Linkedin redirecting to Vishal Raj's Linkedin profile."
## Describe the bug
A clear and concise description of what the bug is.
Sign up with the Linkedin button redirecting us to Vishal Raj's Linkedin profile.
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.
It should redirect us to the Linkedin signup page.
## Logs
If applicable, add logs to help explain

[2021-06-19 21:39] Ayonijakaushik19 commented on #1816
Hi @Vishal-raj-1, Please assign this to me I would like to work on this.

[2021-06-19 21:50] Ayonijakaushik19 opened #1817 "Bug in Side Navigation bar"
## Describe the bug
A clear and concise description of what the bug is.
The Google button in the side navigation bar is redirecting us to the Twitter Sign-up page.
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.
It should redirect us to Google sign-up page.
## Logs
If applicable, add logs to help exp

[2021-06-19 21:51] Ayonijakaushik19 commented on #1817
Hi @Vishal-raj-1, Please this to me.

[2021-06-19 21:58] Ayonijakaushik19 opened #1818 "Bug-2 in side Navbar"
## Describe the bug
A clear and concise description of what the bug is.
The Twitter button on the side navbar is not redirecting us to the Twitter signup page.
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.
It should redirect us to the Twitter signup page.
## Logs
If applicable, add logs to help exp

[2021-06-19 21:59] Ayonijakaushik19 commented on #1818
Hi @Vishal-raj-1, Please assign this to me. I would like to work on this.

[2021-06-19 22:03] Ayonijakaushik19 opened #1819 "Bug-3 in Side Navbar"
## Describe the bug
A clear and concise description of what the bug is.
The Linkedin button on the side navbar is redirecting us to Vishal raj's Linked profile.
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.
It should redirect us to the LinkedIn sign-up page.
## Logs
If applicable, add logs to help

[2021-06-19 22:04] Ayonijakaushik19 commented on #1819
Hi @Vishal-raj-1, I would like to work on this. Please assign this to me.

[2021-06-20 06:38] UJALA-TYAGI commented on #1809
@Vishal-raj-1
Sir, Please assign this issue to me.

[2021-06-20 10:13] ROHAN842 commented on #1808
Hey @Vishal-raj-1 kindly assign this issue to me

[2021-06-20 16:02] UJALA-TYAGI opened #1820 "Add Hover effect to buttons in the contact Page."
I would like to add hover effect to the buttons in the contact page. It'll make it look a lot nicer.

![hover](https://user-images.githubusercontent.com/69709596/122680822-e21f2880-d20e-11eb-8287-9d2484b47d6c.png)

Please assign me with this issue.

Thankyou :)

[2021-06-20 16:14] UJALA-TYAGI opened #1821 "Contact Us Link in the footer Section is not working properly."
## Describe the bug
A clear and concise description of what the bug is.

Contact Us Link in the footer Section is not working properly.
It is just taking us to the top of the page.
![Inkedbug](https://user-images.githubusercontent.com/69709596/122681127-7c33a080-d210-11eb-8ca5-fe6f151642d2.jpg)

## Expected behavior
A clear and concise description of what you expected to happen.

It should redirec

[2021-06-20 18:08] #1802 closed

[2021-06-20 18:09] #1799 closed

[2021-06-21 03:58] siddhi-244 opened #1823 "Payment Integration gateway links are not working"
## Describe the bug
On your website when I try to click on payment gateway website it gives 404 error

## To Reproduce
Steps to reproduce the behavior:
1. I will change the folder name.
2. I will add the image in assets
3. I will change url in script.js

## Expected behavior
I expected it to show payment integration website

## Logs
404 error

[2021-06-21 03:58] siddhi-244 commented on #1823
I would like to try it !

[2021-06-21 05:15] Ankita297 commented on #1823
@siddhi-244  I  am assigning it you .

[2021-06-21 05:16] siddhi-244 commented on #1823
Ok maam and also on my last pr there is no lgmsoc and level labels @Ankita297

[2021-06-21 05:16] siddhi-244 commented on #1823
Plzz check it

[2021-06-21 05:17] Ankita297 commented on #1823
Okay @siddhi-244  we will see it .

[2021-06-21 05:19] siddhi-244 commented on #1823
Yes plzz it's already merged

[2021-06-21 07:36] #1404 closed

[2021-06-21 07:37] Ankita297 commented on #1484
@Shivangi-ch you want to work on this ?

[2021-06-21 07:38] Ankita297 commented on #1694
@mdinesh124 you can work on this .

[2021-06-21 07:39] #1762 closed

[2021-06-21 07:41] Ankita297 commented on #1561
@anushree71199 are you working on it ?

[2021-06-21 08:00] Ankita297 commented on #1693
@kanishka8276 any updates ?

[2021-06-21 08:02] Ankita297 commented on #1417
@subhangi2731  any updates ?

[2021-06-21 08:03] Ankita297 commented on #1551
@RiyaGupta89 you can go ahead .

[2021-06-21 08:04] Ankita297 commented on #1569
@anushree71199 any updates ?

[2021-06-21 08:07] #1573 closed

[2021-06-21 08:07] Ankita297 commented on #1584
@Amit366 you want to work on this ?

[2021-06-21 08:08] Ankita297 commented on #1612
@robin025 any updates ?

[2021-06-21 08:09] Ankita297 commented on #1668
@sheetalj2205 any updates ?

[2021-06-21 08:10] #1673 closed

[2021-06-21 08:12] Ankita297 commented on #1820
@UJALA-TYAGI you can go ahead .

[2021-06-21 08:13] Amit366 commented on #1584
No

[2021-06-21 08:17] #1801 closed

[2021-06-21 08:21] Ankita297 commented on #1816
@Ayonijakaushik19 so what is the bug ?

[2021-06-21 08:22] Ankita297 commented on #1809
@UJALA-TYAGI you can go ahead .

[2021-06-21 08:25] Ankita297 commented on #1778
@Kartikey0205 you can work on this .

[2021-06-21 08:26] kanishka8276 commented on #1693
@Ankita297 Not yet.

[2021-06-21 08:27] Ankita297 commented on #1775
@shreyansh30saxena the game is already present would you like to modify it .

[2021-06-21 08:30] Ankita297 commented on #1693
are you working on this ?

[2021-06-21 08:32] kanishka8276 commented on #1693
@Ankit0225 No, I got busy.

[2021-06-21 08:35] mdinesh124 commented on #1694
Ok, I will start my work.

[2021-06-21 08:36] kanishka8276 commented on #1693
@Ankita297 Sorry,I couldn't

[2021-06-21 08:52] Ankita297 commented on #1808
![Awesome JavaScript _ Home - Google Chrome 21-06-2021 14_21_54](https://user-images.githubusercontent.com/67833077/122734854-155bc900-d29c-11eb-83a2-0a43bc43b3e6.png)
@ROHAN842  it is there Please see .

[2021-06-21 08:53] Ankita297 commented on #1810
@ishitakapoor26 you can work on this .

[2021-06-21 08:54] Ankita297 commented on #1693
you want to work on this or should i assign it to someone else .

[2021-06-21 08:59] kanishka8276 commented on #1693
@Ankita297 Assign this to someone else.

[2021-06-21 09:45] ROHAN842 commented on #1808
@Ankita297 I am talking about projects.html page it doesn't have Sign/up Login option on the Navbar

![image](https://user-images.githubusercontent.com/61961107/122742302-6f13c180-d2a3-11eb-8bae-977a5d6ece9a.png)

[2021-06-21 10:05] RiyaGupta89 commented on #1821
May I work on this issue?

[2021-06-21 10:07] Ankita297 commented on #1808
@ROHAN842 you can work on this .

[2021-06-21 10:08] RiyaGupta89 opened #1824 "Footer space"
![footer-correction](https://user-images.githubusercontent.com/72425181/122745367-8d2ef100-d2a6-11eb-88ca-6d52d7212142.png)
Footer has white space at the bottom.  If you think that needs to be removed then please assign me this issue. I'll resolve it.

[2021-06-21 10:31] RiyaGupta89 commented on #1551
@Ankita297 Is this under LGMsoc'21?

[2021-06-21 11:38] UJALA-TYAGI commented on #1809
Thank you so much ma'am.

[2021-06-21 11:38] UJALA-TYAGI commented on #1820
Thank you, ma'am.

[2021-06-21 14:32] Ankita297 commented on #1824
@RiyaGupta89 Go ahead .

[2021-06-21 14:47] RiyaGupta89 commented on #1824
@Ankita297  Ma'am done. Please check the code. I've push my code I've made one PR earlier and this code also got added to the previous PR. Please review it once.

[2021-06-21 14:49] UJALA-TYAGI commented on #1821
@Vishal-raj-1 please allow me to work on this issue.

[2021-06-21 14:52] Ankita297 commented on #1824
@RiyaGupta89 Don't need to call mam .
You should make the different PR's for different issues . So you can get the points

[2021-06-21 14:55] RiyaGupta89 commented on #1824
@Ankita297 I tried making a different PR for this issue but I was not able to make a new PR. Maybe that PR first needs to be merged or declined but @Vishal-raj-1 is inactive. @Vishal-raj-1 Please if you are able to see this comment, please review it.

[2021-06-21 14:56] RiyaGupta89 opened #1827 "Social Icons bug needs to be resolved"
On the left side, there are social icons
1-) When I click on twitter icon, nothing happens.
2-) When I click on google icon, twitter page opens.
In the footer there are social icons too and none of them works when a user click on them.
Please assign me this issue if you think this needs to be solved.

[2021-06-21 14:58] Ankita297 commented on #1824
@RiyaGupta89 You should make a PR from different branches and if your PR get merged you can pull the changes to your main branch . Never make PR directly  from main branch .

[2021-06-21 15:01] RiyaGupta89 commented on #1824
Okay I'll keep this in mind from now on. Now should I pull my changes or wait for @Vishal-raj-1 to review the code?

[2021-06-21 15:04] RiyaGupta89 opened #1828 "SignIn Page Bug"
![signin](https://user-images.githubusercontent.com/72425181/122784190-de9fa600-d2cf-11eb-86dd-e9dd4a6ee3a2.png)
In the signIn/login page, the main container that is present in the middle has its bottom submerged into the footer. Is this the design that you guys wanted or is it the bug? If this is something that needs to be solved, then please assign me the issue. I will resolve this. Otherwise yo

[2021-06-21 15:05] Ankita297 commented on #1824
for now you should remove the code related to footer space issue and make a separate PR  for that and for other one will review it .

[2021-06-21 15:08] RiyaGupta89 opened #1829 "Mobile Size Padding"
![paddingleft](https://user-images.githubusercontent.com/72425181/122784730-5bcb1b00-d2d0-11eb-82fb-8f1c419f75d8.png)
![padding](https://user-images.githubusercontent.com/72425181/122784745-5ec60b80-d2d0-11eb-835e-92ce036d05ac.png)
Please look at both of the above pictures, "HELPING YOU IS OUR AIM" tagline does not have any left padding which does not look so nice. Also the "send message" button h

[2021-06-21 15:17] RiyaGupta89 commented on #1824
@Ankita297 Done.

[2021-06-21 15:21] RiyaGupta89 opened #1831 "Contact page bug"
![contactbug](https://user-images.githubusercontent.com/72425181/122786612-1dcef680-d2d2-11eb-9a5e-dcd86b815f28.png)
Whether the form is empty or not, it displays this modal saying "Your message successfully delivered" which seems like a bug and also seems unprofessional. I can resolve this issue by asking users to first fill details then click on send message button.

[2021-06-21 16:49] #1823 closed

[2021-06-21 17:02] UJALA-TYAGI commented on #1820
Ma'am I've made a PR. Please review it.

Thankyou.

[2021-06-21 17:03] UJALA-TYAGI commented on #1809
Ma'am done. Please check the code I've already made a PR.

[2021-06-22 05:31] siddhi-244 opened #1834 "Seperate js and css files of payment gateway integration"
## Describe the bug
The js and css files are not seperated

## To Reproduce
Steps to reproduce the behavior:
1. I would move the css and js files to their respective folders.
2. Also I  will change the path in respective html files

## Expected behavior
That's the folder structure !

[2021-06-22 05:31] siddhi-244 commented on #1834
Plzz let me try this

[2021-06-22 05:54] Ankita297 commented on #1831
@RiyaGupta89 go ahead

[2021-06-22 05:57] Ankita297 commented on #1828
@RiyaGupta89 the page is fine it is not submerged .

[2021-06-22 07:15] RiyaGupta89 commented on #1828
Okay. @Ankita297

[2021-06-22 10:51] ROHAN842 opened #1837 "About and Projects Link in the footer Section is not working properly"
## Describe the bug
About and Projects Section Link in the footer Section is not working properly.
It is just taking us to the top of the page.

## Expected behavior
It should redirect the user respectively  to the "About us" and "Projects" page.

## Additional context

https://user-images.githubusercontent.com/61961107/122912395-eb76d500-d375-11eb-9e3f-8374aa59bd76.mp4

[2021-06-22 11:01] priyaastha commented on #1798
please merge my pull request

[2021-06-22 16:13] #1820 closed

[2021-06-22 16:13] #1809 closed

[2021-06-22 16:16] #1790 closed

[2021-06-22 18:06] ROHAN842 commented on #1837
@Ankita297 could you please assign this issue to me under LGMSOC

[2021-06-23 03:06] #1798 closed

[2021-06-23 03:36] Ankita297 commented on #1837
@ROHAN842 go ahead .

[2021-06-23 18:33] ROHAN842 opened #1840 "Quick Links Section doesn't consists Signup/Login option in Footer"
## Describe the bug
The Footer Section doesn't consists of Signup/Login option

## Expected behavior
I would like to add this feature in the footer section such that on clicking it user will be redirected to Signup/Login Page.

## Additional context
![image](https://user-images.githubusercontent.com/61961107/123150019-87d8ce80-d47f-11eb-80e6-ad78681627ba.png)

[2021-06-23 18:34] ROHAN842 commented on #1840
@Ankita297 could you please assign this issue to me under LGMSOC

[2021-06-24 02:06] Ankita297 commented on #1840
@ROHAN842 go ahead .

[2021-06-24 02:20] Ankita297 commented on #1829
@RiyaGupta89 go ahead .

[2021-06-24 02:22] Ankita297 commented on #1816
@Ayonijakaushik19 ?

[2021-06-24 02:23] Ankita297 commented on #304
@SatyaPrakash26 are you working on this ?

[2021-06-24 02:23] coding-geek21 commented on #1810
can i work on this?

[2021-06-24 02:25] coding-geek21 commented on #1611
I would like to work on this @Ankita297 please assign me

[2021-06-24 02:29] Ankita297 commented on #1611
@coding-geek21 go ahead

[2021-06-24 02:30] Ankita297 commented on #1810
issue is already assign to @ishitakapoor26 .Please look for another issues .

[2021-06-24 02:33] Ankita297 commented on #1520
@Ritika-Agrawal811 you want  to work on this  ?

[2021-06-24 14:56] #1779 closed

[2021-06-24 15:39] Srit20 opened #1841 "Add dark mode in signup/login"
i want to add dark mode in these signup/login page. I'm a participant of LGM-SOC21

[2021-06-24 17:33] mdinesh124 commented on #1694
@Ankita297 I have added show hide feature in password

[2021-06-25 03:09] RiyaGupta89 commented on #1829
@Ankita297 Done. Please have a look.

[2021-06-25 04:38] jugeshraghav commented on #1795
I am not able to clone this repository in my local machine. Every time i try to clone it shows some error.

[2021-06-25 04:40] jugeshraghav commented on #1795
can you help me out @Vishal-raj-1

[2021-06-25 08:55] ROHAN842 commented on #1837
@Ankita297 I request you to kindly close this issue as the PR is merged for this issue

[2021-06-25 13:07] #1694 closed

[2021-06-25 15:09] #1837 closed

[2021-06-25 15:30] Rizwan-S commented on #1841
Go ahead @Srit20

[2021-06-25 17:59] Ayonijakaushik19 commented on #1816
Signup with LinkedIn taking me to Vishal Raj's LinkedIn profile, Instead of it should take me to the LinkedIn signup page.

[2021-06-26 14:27] #1778 closed

[2021-06-26 14:49] adi611 commented on #1693
/assign

[2021-06-26 14:51] adi611 commented on #1550
/assign

[2021-06-26 17:36] ROHAN842 commented on #1840
Hey @Ankita297 kindly close this issue as the PR is already merged for this issue

[2021-06-26 17:37] #1533 closed

[2021-06-26 17:40] Ankita297 commented on #1840
done @ROHAN842

[2021-06-26 17:40] #1840 closed

[2021-06-26 17:42] Ankita297 commented on #1777
The changes are done  . @SamikshaSankar  . So i am closing this issue . Kindly checkout other issues .

[2021-06-26 17:42] #1777 closed

[2021-06-26 17:45] Ankita297 commented on #1784
you can modify it @Veeresh-Rex  if you want ?

[2021-06-26 17:47] Ankita297 commented on #1776
@manognyaa go for it .

[2021-06-26 17:48] Ankita297 commented on #1795
@jugeshraghav  Please tell me the issue you are facing .

[2021-06-26 17:50] Ankita297 commented on #1774
@Atif0604 go for it .

[2021-06-26 17:50] #1782 closed

[2021-06-26 17:51] #1788 closed

[2021-06-26 17:53] Ankita297 commented on #1821
@UJALA-TYAGI go for it .

[2021-06-26 19:19] Atif0604 commented on #1774
@Ankita297 i have made the PR
please review it

[2021-06-27 11:05] #1829 closed

[2021-06-27 11:05] #1831 closed

[2021-06-27 11:05] #1824 closed

[2021-06-27 11:06] #1828 closed

[2021-06-27 20:18] supzi-del opened #1845 "Repetition of sign-in, sign-up div"
## Describe the bug
There are two divs on sign-in and sign-up page (redundant) by mistake.
![image](https://user-images.githubusercontent.com/78655439/123558240-d2758600-d7b2-11eb-80ea-384173d44fbf.png)

## To Reproduce
Steps to reproduce the behavior:
1.  Remove one of the divs.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable,

[2021-06-27 20:18] supzi-del commented on #1845
I would like to work on this under LGMSOC.

[2021-06-28 02:49] Rizwan-S commented on #1845
@supzi-del yeah sure!

[2021-06-28 06:41] #1845 closed

[2021-06-28 06:42] manognyaa commented on #1776
thank you mam

[2021-06-28 14:08] Vishal-raj-1 opened #1847 "Position of Dark Mode icon"
## Describe the bug
Position of icon is overlap by the chat bot.

## To Reproduce
Steps to reproduce the behavior:

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):
 - OS:
 - Browser:

##

[2021-06-29 04:57] Atif0604 commented on #1847
Please assign it to me I will make changes to Positon in all pages
I'm a Participant of LGM-SOC'21

[2021-06-29 05:10] #1774 closed

[2021-06-29 05:11] Ankita297 commented on #1847
@Atif0604 go for it .

[2021-06-29 09:44] Atif0604 commented on #304
Please assign this to me @Ankita297
I'm a participant of LGMSOC'21

[2021-06-29 10:08] Amrutha1101 commented on #1488
I want to work on this issue under LGMSOC.

[2021-06-29 10:14] Amrutha1101 commented on #714
I would like to work on this issue under LGMSOC

[2021-06-29 10:20] Amrutha1101 commented on #1625
I would like to work on this issue under LGMSOC.
Can you elaborate the issue pl?

[2021-06-29 10:23] Amrutha1101 commented on #1668
Can I work on this issue under LGMSOC?

[2021-06-29 14:16] Atif0604 commented on #1795
can i work on this @Ankita297 @Vishal-raj-1

[2021-06-29 15:35] Ankita297 commented on #1795
@jugeshraghav  any updates ?

[2021-06-29 15:37] Ankita297 commented on #304
@Atif0604 go for it .

[2021-06-29 16:05] #1847 closed

[2021-06-29 16:12] Jyoti6828 commented on #1417
@Vishal-raj-1 Can you please assign this issue to me. I want to work on it.

[2021-06-29 19:12] Atif0604 commented on #1818
Can i work on this @Ankita297

[2021-06-29 19:13] Atif0604 commented on #1815
Can i work on this @Ankita297

[2021-06-30 07:54] Vishal-raj-1 commented on #1834
Go for it !!

[2021-06-30 07:55] Vishal-raj-1 commented on #1827
@RiyaGupta89 Go for it !!

[2021-06-30 07:56] Vishal-raj-1 commented on #1819
Sure @Ayonijakaushik19 !!

[2021-06-30 07:58] Vishal-raj-1 commented on #1819
@Ayonijakaushik19 No it is directed to my profile so that anybody want's to connect with the owner of the project so they can connect !!

[2021-06-30 07:58] #1819 closed

[2021-06-30 09:34] RiyaGupta89 commented on #1827
@Vishal-raj-1 You mentioned no tags.

[2021-06-30 10:27] RiyaGupta89 opened #1851 "Signup/login page"
The navbar is not present in the page also the container is stuck at the top of the page which looks so odd.

[2021-06-30 11:42] #1827 closed

[2021-07-01 11:12] Deep06-11 commented on #1569
@Ankita297 Can I work on this issue under LGM-SOC 21. Please assign it to me.

[2021-07-01 14:32] Ankita297 commented on #1569
@Deep06-11 go for it .

[2021-07-01 19:21] puneetkaur2929 opened #1852 "To fix footer in projects page"
Hey @Vishal-raj-1
I am interested to revamp footer of projects page.
Kindly assign this issue to me under LGM SOC '21

[2021-07-01 19:30] puneetkaur2929 opened #1853 "Fill this field pop up in contact page"
Hey @Vishal-raj-1
I wish to add **"fill this field"** pop up in case of contact page.
Kindly assign this issue to me under LGM SOC '21

[2021-07-01 20:27] Atif0604 commented on #1549
@Ankita297 I want to work on this under LGMSOC-21

[2021-07-01 20:40] Atif0604 opened #1855 "Bug in More Project Button on Home Page"
## Describe the bug
Split Button Web view and Wrong Aligned in Mobile View

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):

[2021-07-01 20:40] Atif0604 commented on #1855
@Ankita297 Please Assign this to me

[2021-07-02 02:28] Rizwan-S commented on #1852
@puneetkaur2929 sure!

[2021-07-02 03:58] #304 closed

[2021-07-02 04:19] Atif0604 commented on #1550
@Rizwan-S @Ankita297 i want to work on this

[2021-07-02 04:25] Rizwan-S commented on #1549
@Atif0604 go ahead

[2021-07-02 04:28] Rizwan-S commented on #1550
@Atif0604 I have assigned you another issue. Please work on issues one at a time.

[2021-07-02 09:42] Atif0604 commented on #1550
Now can i work on this? @Rizwan-S

[2021-07-02 11:55] Rizwan-S opened #1858 "Movie search app - feature"
Add a feature to search movie by imdb rating in movie search app.

[2021-07-02 12:03] Rizwan-S opened #1859 "Create a image filter app."
Implement a image filter app with different filters.

[2021-07-02 14:41] Atif0604 commented on #1859
Can i work on it @Rizwan-S

[2021-07-02 15:04] #1549 closed

[2021-07-02 15:05] Rizwan-S commented on #1859
Sure! Go ahead @Atif0604

[2021-07-02 15:08] Rizwan-S opened #1860 "3D paint - Feature"
Add a color picker in 3D paint project to paint in different colors.

[2021-07-02 16:21] jugeshraghav commented on #1795
@Ankita297 This repository is not being cloned in my local environment

[2021-07-02 16:28] Atif0604 commented on #1795
Please Assign it to me @Ankita297

[2021-07-02 17:32] Ankita297 commented on #1795
@jugeshraghav can you share some screenshot or tell me the error

[2021-07-03 11:02] Amrutha1101 commented on #1860
I would like to work on this issue under LGM-SOC

[2021-07-03 11:03] Rizwan-S commented on #1860
Go ahead @Amrutha1101 👍

[2021-07-03 16:55] Diksha02 commented on #1858
Please assign me this issue under LGMSOC-21

[2021-07-03 17:47] Ankita297 commented on #1417
@Jyoti6828 go for it .

[2021-07-03 17:48] Ankita297 commented on #1551
@RiyaGupta89 any updates ?

[2021-07-03 17:52] Ankita297 commented on #1668
@Amrutha1101 go for it .

[2021-07-03 17:53] Ankita297 commented on #1784
@Veeresh-Rex any updates ?

[2021-07-03 17:53] Ankita297 commented on #1786
@jugeshraghav any updates ?

[2021-07-03 17:54] Ankita297 commented on #1810
@ishitakapoor26 any updates ?

[2021-07-03 17:54] RiyaGupta89 commented on #1551
Yes @Ankita297, I am sorry. I thought you were not active. Also, I forgot about this issue too. I'll make the PR tomorrow for sure. Sorry again.

[2021-07-03 17:54] Ankita297 commented on #1805
@ishitakapoor26 any updates ?

[2021-07-03 17:58] Rizwan-S commented on #1858
Sure!

[2021-07-03 18:01] Ankita297 commented on #1551
It's okay  @RiyaGupta89 ,make the PR as soon as possible .

[2021-07-03 18:35] ishitakapoor26 commented on #1810
@Ankita297 yeah! will share all the designs by tomorrow morning.

[2021-07-03 18:36] ishitakapoor26 commented on #1805
@Ankita297 will create a pr till tomorrow.

[2021-07-04 04:16] Rizwan-S opened #1863 "Create a projectile motion visualizer"
Create a projectile motion visualizer which traces the path of projectile of an object.
Input:
1. Angle with which the object is thrown.
2. Speed with which the object is thrown.
3. Value of acceleration due to gravity.

Features to include:
1. Trace path of projectile.
2. Display the maximum height of the object.
3. DIsplay the distance where the object will reach.
4. Add ability to add and compa

[2021-07-04 04:20] #1834 closed

[2021-07-04 04:25] #1859 closed

[2021-07-04 05:20] Rizwan-S opened #1864 "Create a bar chart"
Create an app that takes a set of input and makes a bar chart.

[2021-07-04 05:21] Rizwan-S opened #1865 "Make a pie chart"
Create an app that takes data input and makes a pie chart.

[2021-07-04 05:22] Rizwan-S opened #1866 "Create a scattered chart"
Make an app that takes data input and makes a scattered plot.

[2021-07-04 05:23] Rizwan-S opened #1867 "Make a line chart"
Create an app that takes data input and makes a line chart.

[2021-07-04 05:26] #1865 closed

[2021-07-04 06:56] 7JKaushal commented on #1813
I would love to help to resolve this bug

[2021-07-04 06:57] 7JKaushal commented on #1813
I would love to resolve this issue under LGMSOC'21

[2021-07-04 06:58] 7JKaushal commented on #1821
Is this issue still on? I would like to contribute

[2021-07-04 07:00] Ankita297 commented on #1821
@UJALA-TYAGI any updates ?

[2021-07-04 07:05] 7JKaushal commented on #1867
I would love to contribute to this!

[2021-07-04 07:05] 7JKaushal commented on #1866
I would love to contribute to this!

[2021-07-04 07:05] 7JKaushal commented on #1864
I would love to contribute to this!

[2021-07-04 07:06] 7JKaushal commented on #1852
Is this issue still on? I would love to contribute :)

[2021-07-04 07:26] Rizwan-S commented on #1864
@7JKaushal go ahead!

[2021-07-04 08:39] Amrutha1101 commented on #1867
Can I work on this issue under LGM-SOC?

[2021-07-04 11:23] Rizwan-S commented on #1867
@Amrutha1101 I already assigned you one issue. Please complete that first. Solve the issues one at a time :)

[2021-07-04 11:34] Rizwan-S opened #1869 "Create a separate css & js file for index.html"
The css & js code for index.html file is in itself. Create a separate 'index.css' and 'index.js' file and move the relevant code there.

[2021-07-04 11:45] Rizwan-S commented on #1550
@Atif0604 sure!

[2021-07-04 14:27] vibhorsingal commented on #1869
hi,can I contribute on this issue

[2021-07-04 14:33] Rizwan-S commented on #1869
Yeah sure!

[2021-07-04 15:49] #1841 closed

[2021-07-04 15:54] #1869 closed

[2021-07-04 16:21] vibhorsingal commented on #1851
Hi, Can I work on this?

[2021-07-04 17:00] puneetkaur2929 commented on #1852
@Rizwan-S Kindly assign this issue to @7JKaushal because I am unable to clone this repo.

[2021-07-04 17:06] Rizwan-S commented on #1852
Can you let me know what issue are you facing? @puneetkaur2929

[2021-07-04 17:07] puneetkaur2929 commented on #1852
It's taking too long to clone and stops at 13% almost every time.

[2021-07-04 17:13] Rizwan-S commented on #1852
You can try to shallow clone the repo. That will fetch only the latest version of the repo and bring down the download size. Hope that helps.

[2021-07-04 17:14] puneetkaur2929 commented on #1852
Ok I ll try.

[2021-07-05 08:22] girija0707 opened #1872 "Add form validation in javascript"
## Is your feature request related to a problem? Please describe.
No its not a problem
## Describe the solution you'd like
I would like to add form validation in javascript

[2021-07-05 09:20] Rizwan-S commented on #1872
@girija0707 sure! Go ahead.

[2021-07-05 11:16] girija0707 commented on #1872
ok sir, I will be working on this under LGMSOC

[2021-07-06 04:36] Diksha02 commented on #1858
Hey @Rizwan-S , sorry for the delay I wasn't able to access the API for some reason, I somehow worked my way around it. But now after reading the documentation I find that the API doesn't use imdb ratings and also there is no end-point to search by ratings...Can you please guide me on this?

[2021-07-06 04:49] Vishal-raj-1 commented on #1812
Check it out may be it's done

[2021-07-06 04:52] Vishal-raj-1 commented on #714
Sure go for it @Amrutha1101

[2021-07-06 04:54] Vishal-raj-1 commented on #1417
@Jyoti6828 any update ?

[2021-07-06 04:55] Vishal-raj-1 commented on #1462
@kanisshka you can share the PR then !!

[2021-07-06 04:56] Vishal-raj-1 commented on #1488
Go for it @Amrutha1101

[2021-07-06 04:58] Vishal-raj-1 commented on #1489
@Muskan0 any update ?

[2021-07-06 05:55] kanisshka commented on #1462
oky sir

[2021-07-06 06:39] Rizwan-S commented on #1858
Hi @Diksha02. Even I realized that there is no imdb rating in the data. As an alternative, you can show the recommended movies. Please use the attached link for reference.
https://developers.themoviedb.org/3/movies/get-movie-recommendations
Sorry for the inconvenience. Hope that helps.

[2021-07-06 08:23] Diksha02 commented on #1858
No problem, I can start working on that right away!

[2021-07-06 08:34] Jyoti6828 commented on #1417
@Vishal-raj-1 It's almost completed. I will upload it tomorrow.

[2021-07-06 11:07] Rizwan-S opened #1875 "Add Pagination to the projects page"
Add Pagination to the projects page

[2021-07-06 12:03] #1668 closed

[2021-07-06 12:38] Amrutha1101 commented on #1875
#714 is also the same isn't it?

[2021-07-06 12:41] Rizwan-S commented on #1875
Oh. My bad.

[2021-07-06 12:41] #1875 closed

[2021-07-06 14:17] Amrutha1101 commented on #1488
May I know where is FAQ in the website?

[2021-07-06 16:30] Muskan0 commented on #1489
@Vishal-raj-1 I apologise I won't be able to work on this, you may unassign me and assign it to someone else.

[2021-07-06 16:42] 7JKaushal commented on #1784
I'd love to contribute to this! is it still open?

[2021-07-06 16:50] Ankita297 commented on #1784
@7JKaushal go for it .

[2021-07-06 18:53] Amrutha1101 commented on #1860
![Screenshot (138)](https://user-images.githubusercontent.com/63070698/124652077-50274900-deb9-11eb-9190-11c3f89ac7ff.png)
I'm unable to view this project.

[2021-07-06 18:54] Amrutha1101 commented on #1860
The other projects are visible in my PC.

[2021-07-06 19:25] Amrutha1101 commented on #1860
![Screenshot (138)](https://user-images.githubusercontent.com/63070698/124655569-a5655980-debd-11eb-9d63-0be9650d8c00.png)
I'm unable to see this project. The other projects in projects section are visible accept this.

[2021-07-07 07:59] ishitakapoor26 commented on #1810
@Ankita297 pls check this design

![Awesome](https://user-images.githubusercontent.com/78542333/124722116-5a802c00-df27-11eb-9658-f786874aca04.gif)

[2021-07-07 08:04] ishitakapoor26 commented on #1810
![Awesome (1)](https://user-images.githubusercontent.com/78542333/124722822-0de92080-df28-11eb-8224-35001ef1ca75.gif)

[2021-07-07 08:14] RiyaGupta89 commented on #1867
@Rizwan-S  Can you provide a ui for that? It will be better that way to imagine.

[2021-07-07 11:07] Rizwan-S commented on #1867
@RiyaGupta89 , you are free to design the ui in any way you like. I am keeping it open ended to avoid restricting the creativity of contributors.

[2021-07-07 14:35] RiyaGupta89 commented on #1867
Okay, i can work on this issue.

[2021-07-07 16:34] Ankita297 commented on #1810
@Rizwan-S can you Please take a look into this and give your suggestions .

[2021-07-07 17:05] Ankita297 commented on #1488
you can search that in Projects section @Amrutha1101 .

[2021-07-07 17:06] Ankita297 commented on #1551
@RiyaGupta89 any updates ?

[2021-07-07 17:06] Ankita297 commented on #1611
@coding-geek21 any updates ?

[2021-07-07 17:07] Ankita297 commented on #1776
@manognyaa any updates ?

[2021-07-07 17:07] Ankita297 commented on #1786
@jugeshraghav any updates ?

[2021-07-07 17:08] coding-geek21 commented on #1611
Sorry, My sem exams got over recently only , I will make PR by tomorrow for sure 👍

[2021-07-07 17:08] Ankita297 commented on #1795
@jugeshraghav any updates ?

[2021-07-07 17:09] #1808 closed

[2021-07-07 17:21] Ankita297 opened #1876 "Position of Dark Mode icon"
## Describe the bug
In the project and contact section the dark mode icon is not placed properly

![Contact _ Awesome JavaScript - Google Chrome 07-07-2021 22_48_20](https://user-images.githubusercontent.com/67833077/124802599-c4bfbd80-df75-11eb-962d-3b3c28f8b1f5.png)

[2021-07-07 18:01] Diksha02 commented on #1876
I can work on this under LGMSOC'21

[2021-07-07 18:03] Ankita297 commented on #1876
go ahead @Diksha02 .

[2021-07-07 18:19] Diksha02 commented on #1876
Hey @Ankita297, can you guide me where is it supposed to appear. As of right now it appears as shown below.

![image](https://user-images.githubusercontent.com/18261935/124809467-c55c5200-df7d-11eb-8d5c-ced8dda382c7.png)
![image](https://user-images.githubusercontent.com/18261935/124809498-cdb48d00-df7d-11eb-8f55-d72512c247fd.png)

[2021-07-08 04:06] Rizwan-S commented on #1876
The dark mode icon has to be in top right corner.

[2021-07-08 04:13] Rizwan-S commented on #1810
The second logo looks good. Can you remove the animation though?

[2021-07-08 06:15] RiyaGupta89 commented on #1551
@Ankit0225 I tried resolving this issue but i dont know why my css is not working in the buttons. I am unable to solve this issue. Sorry.

[2021-07-08 06:46] ishitakapoor26 commented on #1810
yeah sure!

[2021-07-08 06:55] ishitakapoor26 commented on #1810
@Rizwan-S now pls have a look at it..

![Awesome](https://user-images.githubusercontent.com/78542333/124876426-9d093d80-dfe7-11eb-9201-36263f2cd557.png)

[2021-07-08 07:02] Rizwan-S commented on #1810
Excellent! @Ankita297 @Vishal-raj-1 we can continue with this logo if you don't have any suggestion.

[2021-07-08 07:55] Atif0604 commented on #1795
Can i Work on this now @Ankita297 as the Participant isn't responding

[2021-07-08 09:22] #1550 closed

[2021-07-08 09:31] #1858 closed

[2021-07-08 09:55] Diksha02 commented on #1876
Oh I see it now, thanks

[2021-07-08 10:40] Atif0604 commented on #1855
@Rizwan-S can i work on this

[2021-07-08 10:53] Rizwan-S commented on #1855
Yeah! Go ahead.

[2021-07-08 13:19] #1855 closed

[2021-07-08 15:04] Ankita297 commented on #1795
go ahead  @Atif0604 .

[2021-07-08 18:22] RakeshCharpe commented on #1551
If this issue is still open so can I work on this issue under LGMSoc'21. I like to work on this issue.

[2021-07-09 16:20] #1876 closed

[2021-07-10 04:31] Ankita297 commented on #1417
@Jyoti6828 any updaters ?

[2021-07-10 04:31] Ankita297 commented on #1551
@RakeshCharpe go for it .

[2021-07-10 04:32] Ankita297 commented on #1776
@manognyaa  ?

[2021-07-10 04:34] Ankita297 commented on #1810
It is very nice . 👍  . We can continue with this @Rizwan-S

[2021-07-10 04:35] Ankita297 commented on #1821
go for it @7JKaushal .

[2021-07-10 05:23] Jyoti6828 commented on #1417
@Ankita297  Yes.. I created a PR a day ago , but then yesterday from @Rizwan-S I got to know that this repo is allows only HTML , CSS and vanilla JavaScript. Then I asked him that I can build this using required technologies. Now I'm working on it.

[2021-07-10 05:34] Ankita297 commented on #1417
Okay Sorry @Jyoti6828 my bad . I have not seen that . You can go ahead .

[2021-07-10 09:38] Diksha02 commented on #1866
I can work on this under LGMSOC'21

[2021-07-10 09:40] Rizwan-S commented on #1866
@Diksha02 Go ahead.

[2021-07-12 03:34] swathi-469 commented on #1811
I would like to work on this issue I am ready with my work .. please assign me

[2021-07-12 06:15] AmruthaCK commented on #1488
It's already working fine . Shall I work on UI of the FAQ project?

[2021-07-12 06:16] Amrutha1101 commented on #1488
It's already working fine. Shall I work on the UI of the FAQ project?

[2021-07-12 09:28] Rizwan-S commented on #1811
@swathi-469 sure! Go ahead.

[2021-07-12 13:55] #1795 closed

[2021-07-12 15:37] Atif0604 commented on #1625
Can i work on this @Rizwan-S

[2021-07-12 16:34] Rizwan-S commented on #1625
Sure!

[2021-07-12 17:07] Ankita297 commented on #714
@Amrutha1101 any updates ?

[2021-07-12 17:08] Ankita297 commented on #1488
okay go ahead @Amrutha1101

[2021-07-12 17:08] #1551 closed

[2021-07-12 17:31] harshgupta20 commented on #714
@Ankita297 Thanks you so much, for you kind efforts, people like you contribute to the community and make it better.
Since the gssoc has been over and I would not be able to assign you this issue, @Vishal-raj-1 I request you to assign this issue to @Ankita297.

Great journey ahead, All the best @Ankita297

[2021-07-12 17:46] Amrutha1101 commented on #714
Yes search bar done working on pagination

[2021-07-12 18:25] myrishabh2312 opened #1885 "Our menu icon in restaurant website is not functionable ."
## Describe the bug
A clear and concise description of what the bug is.
Our menu icon is landing to unaccepted blank page and showing error.

## Expected behavior
A clear and concise description of what you expected to happen.
After clicking to our menu icon it should land to the exact our menu section in the middle of restaurant website , where dishes are avaliable.

[2021-07-12 18:27] myrishabh2312 commented on #1885
"Hello mentors i have created a new issue and would work on this , please assign it to me, under LGM SOC 21" .

[2021-07-13 03:36] Ankita297 commented on #1885
@myrishabh2312 go for it .

[2021-07-13 20:08] joshi-kaushal commented on #1864
I have completed this and I will make a single pull request along with all other issues I am working on

[2021-07-13 20:18] joshi-kaushal commented on #1821
Hello @UJALA-TYAGI, in which page did you found this issue? it's working fine at my end

[2021-07-13 20:24] joshi-kaushal commented on #1867
Hey @RiyaGupta89 are you able to solve this issue? My code is ready...

[2021-07-13 20:28] joshi-kaushal commented on #1786
I would be glad to work on this issue

[2021-07-14 04:27] Rizwan-S commented on #1864
@joshi-kaushal please make a separate PR for each issue.

[2021-07-14 04:41] #1611 closed

[2021-07-14 04:50] #1885 closed

[2021-07-14 08:41] joshi-kaushal opened #1889 "Create a Radar Chart"
A radar chart is a way of showing multiple data points and the variation between them.
Project will take inputs from the user and plot a radar chart in canvas.

[2021-07-14 14:35] JustinLemon commented on #1851
Hello @Vishal-raj-1, would appreciate if I'm assigned to this issue.

[2021-07-14 15:01] JongJianYi opened #1891 "email validation does not works in contact section"
## Describe the bug
The email validation doesn't works in CONTACT section (send message) :
Even though the email was typed in wrong format, it still able to deliver the message successfully (e.g., missing symbol @ )

## To Reproduce
Steps to reproduce the behavior:
1. disable the send button.
2. write an email validation function that will enable the send button, once the email has been correctly

[2021-07-14 15:02] JustinLemon opened #1892 "Create Binary Search Tree Project"
## Is your feature request related to a problem? Please describe.
No, it isn't a problem. I wanted to add an additional project to it.
## Initial thoughts about the project
This project allows the user to insert integers one by one. These integers will form a Binary Search Tree. The user can view the Binary Search Tree by clicking on a button "View BST".

## Additional enhancement that can be made

[2021-07-14 16:33] #1866 closed

[2021-07-14 16:52] JongJianYi commented on #1891
@Vishal-raj-1  I would like to resolve this issue.

[2021-07-15 02:39] Rizwan-S commented on #1892
@JustinLemon sure! Go ahead..

[2021-07-15 04:21] Ankita297 commented on #1784
@joshi-kaushal any updates ?

[2021-07-15 04:21] Ankita297 commented on #1793
@jugeshraghav any updates ?

[2021-07-15 04:21] Ankita297 commented on #1786
@joshi-kaushal go for it .

[2021-07-15 06:51] rahulgupta416 commented on #1821
can i work on this issue?

[2021-07-15 10:51] wahfei opened #1893 "Create a Knapsack Problem Project"
## Is your feature request related to a problem? Please describe.
No its not a problem. I wanted to add an additional project.
## Thoughts of the project
I wanted to create a knapsack problem project. Users will able to choose the weight that the knapsack can contain and the number of items to put into the knapsack along with their weight and profit.

The knapsack problem will be done using greedy

[2021-07-15 16:58] Ankita297 commented on #1893
@wahfei go ahead .

[2021-07-15 16:59] Ankita297 commented on #1889
@joshi-kaushal  go ahead .

[2021-07-15 18:24] joshi-kaushal commented on #1784
yes my project is done i was waiting for Bar Char PR to get accepted. I guess we can't make multiple PRs at the same time

[2021-07-15 19:05] JongJianYi opened #1897 "Loan Payment Calculator"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
This project will calculate the estimated monthly payment and total cost for a loan

## Additional context
Add any other context about the feature request here.

[2021-07-15 19:16] Ankita297 commented on #1784
@joshi-kaushal  you should make different PR's from different branches .

[2021-07-16 13:44] joshi-kaushal commented on #1784
@Ankita297 Yeah got that, I have made a PR for Password generator too

[2021-07-16 16:14] joshi-kaushal commented on #1889
I have made a PR please have a look

[2021-07-16 16:23] #1864 closed

[2021-07-16 22:27] soma2000-lang opened #1899 "Sudoku Solver"
Hi @Vishal-raj-1 @Ankita297

I would like to make a simplesudoku solver using html ,css and javascript using the backtracking algorithm

Please assign this issue to me

[2021-07-16 23:12] Rizwan-S commented on #1899
Sure! @soma2000-lang

[2021-07-17 04:20] RiyaGupta89 commented on #1867
@joshi-kaushal You can push your code then if its ready.

[2021-07-18 16:50] joshi-kaushal commented on #1867
@RiyaGupta89 Made a PR, have a look.
@Rizwan-S please tell me what exactly to remove I am not getting it.

[2021-07-18 17:01] #1867 closed

[2021-07-19 05:47] #1889 closed

[2021-07-19 10:44] #1488 closed

[2021-07-20 04:50] #1899 closed

[2021-07-20 09:48] soma2000-lang opened #1904 "File zipper"
Its a file zipper means it can encode and decode using Huffman Encoding
But as of now it can encode and decode only the .txt files

[2021-07-20 09:49] soma2000-lang commented on #1904
@Rizwan-S  Sir,kindly assign me this issue .I am a particiapnt of LGMSOC-21

[2021-07-21 17:20] Sai0224 opened #1905 "Hide navbar on scroll down and appear on scroll up"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the way navbar show to user.
## Thoughts of the projects
I want to hide the navigation bar when user scroll down in an animated way and appear when user scroll up. By adding this little features, user can have more viewable area of the website content.

## Additional context
1. The navigati

[2021-07-22 04:46] Sai0224 opened #1906 "Leap Year Calculator"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add an additional project.
## Describe the solution you'd like
I wanted to create a leap year calculator that let user enter the year and output whether the year is leap year.

## Additional context
1. User input year in the textbox
2. Then website show user whether it is leap year

[2021-07-23 05:04] Rizwan-S commented on #1906
Go ahead @Sai0224

[2021-07-23 05:05] Rizwan-S commented on #1891
@JongJianYi sure! Go ahead.

[2021-07-23 05:08] #1816 closed

[2021-07-23 05:09] #1804 closed

[2021-07-23 05:15] #1784 closed

[2021-07-23 05:15] #1793 closed

[2021-07-23 06:08] Vishal-raj-1 opened #1907 "New UI for the Website"
Suggest new UI for the website in the comment !! (Use figma for design)

[2021-07-24 02:25] #1893 closed

[2021-07-24 07:46] ishitakapoor26 commented on #1810
@Ankita297 may I open a pr?

[2021-07-24 07:49] Ankita297 commented on #1810
Yes  @ishitakapoor26 go ahead .

[2021-07-24 17:41] Sulagna-Dutta-Roy opened #1908 "Drawing App"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add an additional project.
## Describe the solution you'd like

I want to create a drawing app  that let user can create their small paintings. I also added a color picker for painting.

## Additional context
1. User can draw  anything.
2. There are four three buttons, one slider and color picker.

[2021-07-25 09:02] Sarthakjain594 opened #1909 "Signin/Signup with animation and validation functionality ."
## Is your feature request related to a problem? Please describe.
No its not a problem. I am looking to adda new project that includes a signin / signup page with animation effects and with working validation facility .

[2021-07-25 13:19] Rizwan-S commented on #1908
Sure! Go ahead.

[2021-07-25 13:20] Rizwan-S commented on #1909
Go ahead

[2021-07-31 16:31] #1625 closed

[2021-08-01 17:53] Kulshre142 opened #1913 "Random Quote Generator"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I want to add a new javascript project.

## Describe the solution you'd like
I would like to add a random quote generator when anyone presses the generate quote button it triggers a change in the quote and the author who said it.

[2021-08-09 12:38] Kulshre142 commented on #1913
@Rizwan-S ??

[2021-08-09 18:02] WebVishal opened #1914 "event celebration script using Js & animation"
I'm Vishal I want to work on this project as Participate of LGMSoc21, basically, in this project, I want to develop an event wises script in which will be developed with the help of CSS and javascript

Can I work on this project as a Participate of LGMSoc21?

[2021-08-10 04:52] Rizwan-S commented on #1913
Go ahead!

[2021-08-10 04:55] Rizwan-S commented on #1914
Yes @WebVishal. Go ahead!

[2021-08-10 05:34] Rizwan-S commented on #1913
Make sure that you make the pr by EOD for the project to be considered in LGMSoC.

[2021-08-10 05:34] Rizwan-S commented on #1914
Make sure that you make the pr by EOD for the project to be considered in LGMSoC.

[2021-08-10 10:08] ishikapandey commented on #1498
Is this issue still open? If yes, I would like to work on this.

[2021-08-10 13:08] #1810 closed

[2021-08-10 13:27] ishikapandey commented on #1852
@Rizwan-S is this still open?

[2021-08-10 14:18] Rizwan-S commented on #1852
Yes it is. However, you need to submit the PR by 12 pm for the PR to be considered in LGMSoC.

[2021-08-10 15:07] ishikapandey commented on #1852
Ok. Will try.

[2021-08-11 05:12] #1913 closed

[2021-08-24 17:06] sonalsingh25 opened #1919 "Create a mini project of Expense Tracker"
Create an Expense tracker website using HTML, CSS and JavaScript

[2021-08-29 17:44] somya51p commented on #1813
Hey Is this issue open to work! I wish to contribute to the same.

[2021-08-29 17:52] somya51p commented on #1814
@Vishal-raj-1 Is this issue open to work. Can I contribute to the same?

[2021-08-30 07:00] VenomFate-619 opened #1920 "pc vs user Tic-tac-toe"
Can I add this one into project

![image](https://user-images.githubusercontent.com/67755128/131298732-1ef57bea-cb11-42c5-8e71-73331e771925.png)

[2021-08-30 10:26] Nirbhay1910 commented on #1891
@Vishal-raj-1 Can I work on this issue?

[2021-08-30 10:31] Vishal-raj-1 commented on #1891
sure !!

[2021-08-30 13:26] #1891 closed

[2021-08-30 13:28] Vishal-raj-1 commented on #1920
I think It's already there.

[2021-08-30 13:32] Vishal-raj-1 commented on #1818
@Ayonijakaushik19 & @Atif0604 anyone can work on this issue

[2021-08-30 13:33] #1812 closed

[2021-08-30 13:48] Vishal-raj-1 opened #1922 "New Changes for this Repo"
## Project Update
Currently, we have more than 700 projects in this repo. Most of them are complete but there can be a lot of improvement. But before that, we need to scale our project !! Currently, the repo size is more than 1.5 GB which is huge.

Things we have to do right now:
1. There are more than 1000 images in this project, first of all, the task will be to compress these images.
2. We can

[2021-08-30 14:16] Atif0604 commented on #1818
yeah sure @Vishal-raj-1
please give your twitter handle @Vishal-raj-1

[2021-08-30 14:50] Vishal-raj-1 commented on #1818
Twitter handle : https://twitter.com/vishalraj_1

[2021-08-31 05:04] #1818 closed

[2021-08-31 08:28] shitesh2607 commented on #1905
I would love to work on this issue.

[2021-11-04 09:37] #1908 closed

[2022-01-19 12:55] ozair-dev opened #1924 "Image Compressor/Re-sizer App"
**Is your feature request related to a problem? Please describe.**
No its not a problem. I want to add an additional project.

**Describe the solution you'd like**Describe the solution you'd like
I want to add my Image resizer app to this projects collection

**Additional context**
User can upload an image and change its quality, width and height.

It's gonna be my first PR

[2022-02-08 14:44] Sabarinathan07 opened #1926 "Repition Projects"
## Describe the bug
Many project are seen more than one time. There are repition of the projects.

## Environment (please complete the following information):
 - OS: Mac
 - Browser: Chrome

[2022-03-26 15:55] thefstalphabet opened #1927 "Need proper alignment"
Need to realign the GitHub button present in the sidebar

![Screenshot 2022-03-26 211045](https://user-images.githubusercontent.com/69709410/160247124-a00c3e9e-00ec-41d9-8dbc-654660f9e880.jpg)

I would like to work on this issue, under GSSoC'22. Can you please assign it to me?

[2022-04-13 17:54] deepakydv9315 commented on #1907
Coz maximum beginner users will access this repo and they want a simple and interactive design.
We can simply make a card with  project preview (optional) and two buttons (1. Live preview and 2. Source code).

**With project image**
![preview(with images).png](https://user-images.githubusercontent.com/76609302/163240648-7674be87-9fd5-4671-9533-0b085a00d0a8.png)

**Without project image**
![preview

[2022-04-13 18:08] deepakydv9315 opened #1928 "Overflow issue"
## Describe the bug
🔴When we are on Mobile view, there is overflow which creates a scroll and a unexpected strip is visible
.....
🔴 You can also work on the theme button you can align it properly , coz according to ux rule it's not an appropriate place for this button

![Screenshot_2022-04-13-23-35-35-51_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/76609302/163242955

[2022-04-14 02:27] Vishal-raj-1 commented on #1907
@deepakydv9315 It's seems nice, you can work on this. Looking forward to your PRs😊

[2022-04-14 03:19] deepakydv9315 commented on #1907
Thanks, definitely i will work on this. ❤️

[2022-04-14 07:32] Vishal-raj-1 commented on #1907
One more thing, you can check, because of some conflicts, there are duplicate projects shown on the website. you can check project json file and correct that as well

[2022-07-22 14:48] #1904 closed

[2022-10-03 17:33] #1520 closed

[2022-10-05 16:46] ebenezer0311 commented on #1928
@deepakydv9315 is this open can I try?

[2022-10-06 09:36] ebenezer0311 commented on #1928
I tried something is this ok?
![Screenshot 2022-10-06 150508](https://user-images.githubusercontent.com/108586141/194279569-3dc763d9-46da-4209-8028-bc33b52d8c20.png)
![Screenshot 2022-10-06 150446](https://user-images.githubusercontent.com/108586141/194279570-beb1f06a-e352-4510-9116-ee0c75fdfba9.png)

[2022-10-06 09:39] deepakydv9315 commented on #1928
That's great brother but GitHub text is not aligned properly. It will be
best to align it

On Thu, 6 Oct, 2022, 3:06 pm Ebenezer, ***@***.***> wrote:

[2022-10-06 09:40] ebenezer0311 commented on #1928
ok np on that

[2022-10-06 09:58] ebenezer0311 commented on #1928
![image](https://user-images.githubusercontent.com/108586141/194284514-1966b4cb-0660-441d-b1d0-95bc0a81326c.png)
How about this?

[2022-10-06 10:06] deepakydv9315 commented on #1928
That's great ✨✨

On Thu, 6 Oct, 2022, 3:28 pm Ebenezer, ***@***.***> wrote:

[2022-10-06 10:08] ebenezer0311 commented on #1928
so should i place a pr?

[2022-10-06 12:10] ebenezer0311 commented on #1928
im not able to do a pr
it says Vishal-raj-1:main and ebenezer0311:new are entirely different commit histories.

[2022-10-14 04:31] Samkit-shah commented on #1927
Can you assign me this ?
I can work on it.

[2022-10-17 12:06] RndmCodeGuy20 opened #1932 "New weather card project using tailwind css"
I would like to add a frontend project which is a weather app that uses tailwind as its styling lookup