[2021-03-15 03:51] FireQueen-3010 opened #463 "A custom video player."
I would like to make a custom video player using javascript.

[2021-03-15 03:51] FireQueen-3010 commented on #463
Please assign me this.

[2021-03-15 05:21] amrzaki2000 commented on #428
@urvashi-code1255 @Vishal-raj-1
Can you assign this to me, please ?

[2021-03-15 05:34] Abhikr-git opened #465 "[GSSOC 21] Adding a CGPA calculator built using JavaScript."
Hello, I'm Abhishek Kumar, a participant in GSSOC 21. I went through this project and found it really innovative.
I want to add a new custom CGPA calculator which is built using JavaScript. As most of us here are college students and we know that calculating and maintaining your CGPA is quite important. So, I want to build and add a CGPA calculator which would be really helpful.
So, I request you

[2021-03-15 05:40] jainaayush01 opened #466 "Add Project Random Color Generator"
## Is your feature request related to a problem? Please describe.
This Feature Request is to add a new Project

## Describe the solution you'd like
https://jainaayush01.github.io/Random-Color-Generator/

[2021-03-15 05:40] jainaayush01 commented on #466
I would love to work on this issue

[2021-03-15 05:41] Ankita297 commented on #352
https://user-images.githubusercontent.com/67833077/111108475-f7851680-857e-11eb-832e-074dae52d46e.mp4

[2021-03-15 05:42] Ankita297 commented on #352
is it okay ? or need same changes ?
like  background color or any other idea ?
If it is okay then i will make the PR .

[2021-03-15 07:05] anushree71199 opened #467 "Adding a Javascript project of a fun translation app"
This issue will create a fun translation app which will fetch data from a website using APIs and help in translating the text entered by the user to change it to a language which is spoken by minions. I want to contribute this app to this project under GSSOC'21 participation. Please assign me this issue of adding a new project.
[GGSOC 21] [javascript]

[2021-03-15 08:23] aditidewangan commented on #435
Hey I am a GSSOC'21 participant I wanted to work o this project using javascript. I also made a similar project for my resume so it is easy for me please assign this project to me.

[2021-03-15 08:26] sonalisonawane opened #469 "JavaScript Love Calculator"
JavaScript Love Calculator is the project in which it collects the user data and calculate the percentage of love :) It is an awesome project which includes background music on user interactions from JavaScript . Also it contains images that will be display on calculation of love. It contains pre-loader handled by JavaScript. Also some description about love will display when user calculate love,

[2021-03-15 08:43] aditidewangan commented on #377
Please assign me this project. I am GSSOC'21 participant and wanted to work on this project.

[2021-03-15 08:56] FireQueen-3010 commented on #463
May I know the level under which I am assigned this issue? (As it is an advanced project) @ridsuteri

[2021-03-15 09:01] ridsuteri commented on #463
@FireQueen-3010 it will be counted under level 3

[2021-03-15 09:02] guruc-134 commented on #299
@urvashi-code1255 I have added the necessary files and made a Pull Request. please review it from [here](https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/470)

[2021-03-15 09:10] #336 closed

[2021-03-15 09:15] FireQueen-3010 commented on #463
Ok thanks!

[2021-03-15 09:19] barsha119 opened #471 "A piano app"
Using javascript I want to make a piano app , Where the user would be able to play  7 piano note's sounds by pressing the keys of their computer's keyboard.

[2021-03-15 09:21] ridsuteri commented on #462
@akshay1027 can u explain the issue with the relavent screenshot/gifs

[2021-03-15 09:36] ridsuteri commented on #457
@anjali1102 can u provide a little description about the issue?

[2021-03-15 09:45] ridsuteri commented on #451
sorry @poojitha2002 similar kind of project already exists in the repo

[2021-03-15 09:51] ridsuteri commented on #448
srry @AnanyaJajoo this project already exists

[2021-03-15 09:53] ridsuteri commented on #450
srry @apoorvachawda this project similar project already exists

[2021-03-15 09:56] mahesh-11102 commented on #460
thank you @ridsuteri sir for assigning this issue

[2021-03-15 09:59] poojitha2002 commented on #451
Oh😔

[2021-03-15 10:00] #359 closed

[2021-03-15 10:47] #444 closed

[2021-03-15 11:08] SandeepKrSuman opened #473 "Http Cats App"
### When someone enters a http code it will display the image of a cat related to the code.

## Example

If the http code entered by the user is 300 then it will display this image :-

![300](https://user-images.githubusercontent.com/54541515/111144010-80ff0d80-85ac-11eb-8f61-dc95a94f7afc.jpg)
---
Please assign this project to me under GSSOC21.

[2021-03-15 12:02] Ankita297 commented on #352
I can also change the design if you want ?

[2021-03-15 12:11] aditidewangan commented on #377
![image](https://user-images.githubusercontent.com/76042201/111151436-79903200-85b5-11eb-9c45-2565bd9da2a6.jpeg)
If this look good and it also make a sound by clicking.

[2021-03-15 12:40] Ishikakhurana commented on #295
yes it can be implemented using vanilla js

[2021-03-15 12:42] ayush461 opened #475 "Creating a Whack a mole game for website"
@harshgupta20  @ridsuteri @991rajat
I am GSSOC21 participant.
I want to add whack a mole game using js
please assign it to me.

[2021-03-15 12:54] ridsuteri commented on #475
Sorry @ayush461 that game already exists in the repo, try improving that game Or try to add any other project
:)

[2021-03-15 13:01] ayush461 commented on #475
okk

[2021-03-15 14:27] guptaa98 opened #477 "Tic Tac Toe game"
Hi
As a Gssoc'21 participant, I would like to contribute to this issue.
Hey @urvashi-code1255  Kindly assign it to me.

[2021-03-15 14:33] aliya-rahmani commented on #452
@ridsuteri  I' have made pull request #453  Please review it!

[2021-03-15 14:34] #374 closed

[2021-03-15 15:02] haarsh01 commented on #477
Hi, I am a Gssoc'21 participant, I want to contribute to this issue.
Please assign it to me.
Thansk you

[2021-03-15 15:03] haarsh01 commented on #471
Hi, I am a Gssoc'21 participant, I want to contribute to this issue.
Please assign it to me.
Thank you

[2021-03-15 15:04] haarsh01 commented on #438
Hi, I am a Gssoc'21 participant, I want to contribute to this issue.
Please assign it to me.
Thank you

[2021-03-15 15:06] kanishkaa24 commented on #85
@Vishal-raj-1 @urvashi-code1255
Shall I make a PR?

[2021-03-15 15:10] ShambhaviSharma0110 commented on #434
Hey, I'm interested in this project could you please allow me to work on it?

[2021-03-15 15:17] SiddhantChadha commented on #462
Hey There!
The GIF linked to Text to Voice generator project is not getting displayed on the card. Please assign this issue to me. I am a GSSOC '21 participant. Looking forward to contribute.
![image](https://user-images.githubusercontent.com/63542625/111176678-8faaec00-85cf-11eb-9450-24c1ca731d9d.png)

[2021-03-15 15:34] rohansharma4050 opened #480 "Dice Game"
I would like to develop a dice game using JavaScript in which every time the user refreshes the page different number pops up on die and accordingly the winner is declared.

I would like to work on this issue under GSSOC21 @ridsuteri can you please assign this issue to me

Sample
![Screenshot (695)](https://user-images.githubusercontent.com/69635604/111179421-12cd4180-85d2-11eb-8935-82147b344e84.p

[2021-03-15 15:54] anushree71199 commented on #467
@ridsuteri please check my PR and let me know if it is merged or not.

[2021-03-15 17:06] narasimhareddy04 commented on #413
@ridsuteri please assign me this project. I want to add CGPA calculation feature as well along with SGPA calculation. Please assign me this project so that I could contribute to GSSOC 21.

[2021-03-15 17:07] ishita-sehgal opened #481 "Bubble Particle Text project"
I would like to add a 'Bubble Particle Text' project using canvas and vanilla JS. In this project the text is in bubble form and bubbles move on moving mouse over it and then text re-gains its form automatically.

 @urvashi-code1255 , Can you please assign this issue to me as a gssoc'21 participant.

Sample:
![Screenshot (657)](https://user-images.githubusercontent.com/78426468/111192588-3d71c700-

[2021-03-15 17:11] Astrodevil opened #482 "digital clock button bug"
In digital clock project the **start** button & **Stop** button hides when clicked on one button, this is not looking good . So i want to work on this.
I am Amitesh, a GSSoC 2021participant. Please assign this task to me.

![start](https://user-images.githubusercontent.com/73425223/111192561-33e85f00-85df-11eb-8f6e-4ba5af89aab6.png)

[2021-03-15 17:14] Ankita297 commented on #352
Uploading Document - Google Chrome 2021-03-15 22-29-36.mp4…

[2021-03-15 17:20] Ankita297 commented on #352
https://user-images.githubusercontent.com/67833077/111193826-9aba4800-85e0-11eb-8c77-967079a5c9fa.mp4

[2021-03-15 17:24] #314 closed

[2021-03-15 17:29] amangupta37 opened #483 "Number Converter by using Vanilla JS"
want to add a new web application for number conversion. assign this issue to me under GSSOC

[2021-03-15 17:35] apoorvachawda commented on #450
OK i will look for another project

[2021-03-15 17:35] #450 closed

[2021-03-15 17:43] amrzaki2000 commented on #428
@ridsuteri Can you assign this to me , please ?

[2021-03-15 17:53] anjali1102 commented on #457
Any person can himself self assign the issue by "/assign" in the comment box
![auto_assign_issues_banner](https://user-images.githubusercontent.com/56559378/111197952-13bb9e80-85e5-11eb-8ae7-7f3d34e55581.png)

Whenever a person creates his/her  first PR/ Issue  it shows a welcome message by GitHub bot  and also
<img width="765" alt="71592779-d8dd6000-2b31-11ea-9337-28b9ab7cd59d" src="https://user-

[2021-03-15 17:54] apoorvachawda opened #484 "Snake game"
[GSSOC'21]  Hi there, I am Apoorva Chawda, a GSSOC participant.

I would like to make the classic snake game using vanilla JS. Please assign this project to me.

[2021-03-15 17:58] apoorvachawda opened #485 "Meditation Web APP"
[GSSOC'21] Hi, I am Apoorva, a GSSOC'21 participant.

I wanted to make a simple meditation app having different sounds, images and timer options.

Please assign this project to me under GSSOC'21.

[2021-03-15 18:20] guruc-134 commented on #365
@urvashi-code1255  once check it out I have made a pull request once check it out

[2021-03-15 18:27] mrunalvilas opened #487 "JavaScript drum Kit"
hey!
I am a GSSoC'21 participant and would wish to work on a  **JavaScript Drum Kit project** under _Awesome JavaScript Projects_. Please Assign this to me.

[2021-03-15 19:57] #475 closed

[2021-03-15 19:59] amritakesh commented on #487
hey
I'm a GSSoC participant, may i please work on this issue?

[2021-03-15 20:00] amritakesh commented on #485
hey
I'm a GSSoC participant, may i please work on this issue?
i've already made a meditation aap(its in my github repo for She Hacks 2021) So i think i can work on this project effectively

[2021-03-15 20:01] amritakesh commented on #484
hey
I'm a GSSoC participant, may i please work on this issue?

[2021-03-15 20:01] amritakesh commented on #482
hey
I'm a GSSoC participant, may i please work on this issue?
I have some experience working with java script. I also took part in She Hacks 2021.

[2021-03-15 20:03] amritakesh commented on #477
hey
I'm a GSSoC participant, may i please work on this issue?

[2021-03-15 20:05] amritakesh commented on #404
hey
I'm a GSSoC participant, may i please work on this issue?
i've made a flappy bird game with python before, so i guess i can work and contribute to this project as well

[2021-03-15 20:07] amritakesh commented on #344
hey
I'm a GSSoC participant, may i please work on this issue?

[2021-03-15 20:17] #251 closed

[2021-03-15 20:23] #326 closed

[2021-03-15 20:24] ridsuteri commented on #460
@mahesh-11102 :)

[2021-03-15 20:49] #289 closed

[2021-03-15 20:50] #451 closed

[2021-03-15 20:53] ridsuteri commented on #462
sorry @SiddhantChadha but this issue is corrected in a PR recently...You can try for other improvements or can add other more awesome projects to repo :)

[2021-03-15 20:55] ridsuteri commented on #450
yes @apoorvachawda you can look for improvement in that project or add any other awesome project to the repo

[2021-03-15 21:09] ridsuteri commented on #480
srry @rohansharma4050 but this issue is already taken so try to improve the issue or add any other awesome js project

[2021-03-15 21:10] #480 closed

[2021-03-15 21:57] Abhikr-git commented on #465
#489

[2021-03-16 03:42] aliya-rahmani opened #490 "Firework animation in Javascript"
fireworks-js is a JavaScript library that adds a configurable firework animation with sound effects to your webpage.

Please assign me this issue under GSSOC.

[2021-03-16 04:08] aliya-rahmani opened #491 "2D game - Space Invaders in javascript"
Space Invaders game is an arcade video game that was first released in 1978. Here, a player basically controls a cannon. The basic concept is that the player is about to save the Earth from the invasion of evil space invaders. This system is a remake of the space invader phaser that is built on HTML. It is also built on JavaScript (i.e. require.js) for the desktops.  Besides, require.js breaks up

[2021-03-16 04:13] guruc-134 opened #492 "NewProject: Bookmarks storing WebApplication"
This website allows the user to store bookmarks for their  most visited websites and then lets them navigate to that page from this website, using HTML CSS JavaScript
features:
- uses local storage, so that the user can keep track of his daily visited sites in that browser
-  user can add and remove the bookmarks, and they are displayed in alternate colors .
Please assign me thisissue under GSSoC

[2021-03-16 04:18] SiddhantChadha opened #493 "Adding Progress Bar in QuizApp Project"
Hello! I am Siddhant Chadha and currently a participant of GSSOC'21. I was going through the QuizApp project and want to add a progress bar made using CSS and javascript which would indicate the current progress of the user. It would look something like this.
![image](https://user-images.githubusercontent.com/63542625/111308209-66966400-8680-11eb-96a5-70ea1f053de7.png)
Please assign this issue to

[2021-03-16 04:46] ridsuteri commented on #457
@anjali1102 Many people are coming with the projects which are already present in the repo and that auto assign bot will create a mess for us. You can work on welcome bot .

[2021-03-16 04:55] #469 closed

[2021-03-16 05:45] Goheljay opened #494 "Add speech recognition"
## Is your feature request related to a problem? Please describe.
Hello, I am Jay Gohel. a GSSOC'21 participant.
## Describe the solution you'd like
Can I add the speech recognition feature to this website? I have already made this feature. if you watch this feature then [click here](https://angry-wiles-f22f92.netlify.app/) So can you assign me this issue so I can contribute?
## Additional context

[2021-03-16 06:09] harshgupta20 commented on #487
Kindly specify what are the changes you gonna make in this.

[2021-03-16 06:20] guruc-134 commented on #492
I would love to work on this issue assign it to me

[2021-03-16 06:32] syamala27 opened #497 "PIN PAD login form"
I would like to create a pin pad where 4 digit pin is verified.

please assign me this issue I will do my best. @Vishal-raj-1 @harshgupta20 @urvashi-code1255 @ridsuteri @991rajat

[2021-03-16 07:00] manognyaa opened #498 "Flappy ball using javascript"
Inspired from `Flappy bird` game, I have created a small `flappy ball` game using  **HTML**, **CSS** and **Javascript**.
Here am providing a glimpse of the game.

![image](https://user-images.githubusercontent.com/77045147/111267898-9c245880-8652-11eb-85c5-b06da21dfbf9.png)

![image](https://user-images.githubusercontent.com/77045147/111267989-b52d0980-8652-11eb-8a1f-6cdc73f84e0e.png)

@991rajat @

[2021-03-16 07:17] #460 closed

[2021-03-16 07:30] mahesh-11102 opened #499 "ON/OFF bulb using javaScript"
I have created a `ON/OFF` bulb project using `JavaScript` . Here on **_clicking_** the **bulb image** or on the **switch** the bulb will be in on/off position .

Here I have shared a glimpse of the project
@ridsuteri  @Vishal-raj-1  @urvashi-code1255  @991rajat  please assign me the project

![image](https://user-images.githubusercontent.com/77436328/111270321-b90e5b00-8655-11eb-8b6e-d081f57bc43b.

[2021-03-16 08:11] ridsuteri commented on #498
Sorry @manognyaa similar project already exists, try to improve that project or add any other awesome js project to the repo

[2021-03-16 09:30] harshgupta20 commented on #424
Hi @gupta31  You can go ahead with your creation.☺☺

[2021-03-16 09:33] harshgupta20 commented on #423
Hi @Tanu-priya-Roy, these projects have been already made, you can improve that project or if you have something specific with it then please describe in details, what will be the features of that project.

[2021-03-16 09:39] harshgupta20 commented on #409
Hi @satcasm , the issue which you raised has already got resolved, but your project UI is bit better, i will recommed you to contribute on notes app which is already exist and update its UI.

This project already exist, same as notes app

[2021-03-16 09:50] gupta31 commented on #424
Thanks @harshgupta20 😊

[2021-03-16 09:58] Tanu-priya-Roy commented on #423
Ok, will do that Sir.

On Tue, 16 Mar 2021, 3:03 pm Harsh Gupta, ***@***.***> wrote:

[2021-03-16 10:25] satcasm commented on #409
Okay

[2021-03-16 10:25] #409 closed

[2021-03-16 11:17] lakshita15 commented on #477
hi , i'm gssoc'21 participant
I want to work on this issue
Can you assign issue to me ?
i'll submit before deadline

[2021-03-16 11:20] lakshita15 commented on #435
hi , i'm gssoc'21 participant
I want to work on this issue
Can you assign issue to me ?
i'll submit before deadline

[2021-03-16 11:34] sejalxz opened #501 "TV Show Search App"
Hi ! I am Sejal Dahake, a GSSOC'21 participant.
I would like to contribute to this project by adding a TV Show Search App. It's a TV show search App which searches for the particular series entered by the user. Made with HTML, CSS, and JavaScript.
Please , kindly assign this task to me.

[2021-03-16 12:41] HelenEH0 opened #502 "Pomodoro Timer"
Hey @urvashi-code1255 @Vishal-raj-1,
I would like to add a Pomodoro timer as a project to the website.
I am a GSSOC'21 participant and I would like to contribute to the project. Please assign me this project.

[2021-03-16 13:34] bishalshaw-164 opened #503 "I would like to work on a Student marks Calculator in Javascript Please assign it to me under GsSOc'21"
I would like to make a Student marks Calculator

Features :
In this project, you can enter the marks in the related subject field you want and edit the full marks accordingly, then calculate the total marks, percentage, grade, and GPA. This project includes a lot of JavaScript validations and it have greate ui.
Please assign this to me under GSSOC 2021

[2021-03-16 13:47] prachibansal2000 opened #504 "Etch-a-sketch using js"
I would like to work on this issue as a part of gssoc'21.

[2021-03-16 14:54] #315 closed

[2021-03-16 15:42] TidbitsJS opened #505 "PIN code search"
## PIN code search

An application based on real postal data, when given a pin code, will provide the info of the location.

## Describe the solution you'd like
Use of fetch to get data from postalpincode API

## Event

GSSOC'21

## Demo
![](https://s4.gifyu.com/images/cinnamon-20210314-42872b42c4ec8f5b6.gif)

[2021-03-16 15:42] TidbitsJS commented on #505
I will like to create PR for this.
Do assign @urvashi-code1255 :)

[2021-03-16 16:04] manognyaa commented on #498
Sure sir, thank you. @ridsuteri

[2021-03-16 16:04] #498 closed

[2021-03-16 16:07] harshgupta20 commented on #424
Hi @gupta31 , We have found that this issue is already solved, Kindly raise the issue which is not present in the project and if you want to add some features then you can raise the issue on that dynamic random quote generator.

Happy Contributing.

[2021-03-16 16:07] #424 closed

[2021-03-16 16:15] harshgupta20 commented on #505
Hi @TidbitsJS , You an start working on this.☺

[2021-03-16 16:15] #446 closed

[2021-03-16 16:23] Deeksha-Rawat opened #507 "Expanding card[GSsoc 21)"
![Expanding card](https://user-images.githubusercontent.com/50552823/111342806-ce5ca700-86a0-11eb-9e83-3def1ae83fed.gif)

[2021-03-16 16:24] Deeksha-Rawat commented on #507
I want to add this project as my GSSOC 21 program.
please assign it to me.
Thanks

[2021-03-16 16:30] harshgupta20 commented on #507
Hi @Deeksha-Rawat  , This has been assigned to you. ☺☺

[2021-03-16 16:55] harshgupta20 commented on #477
Hi @guptaa98 , Kindly specify what is issue in it, and or what more you want to add in it.

[2021-03-16 17:02] gayatri517 opened #508 "Improve the contact us form in the website"
I want to improve the contact page by -
1)Aligning the text heading to the centre and making it bigger in size.
2)I want to add a submit button with hover effect.

I want to work on this issue as a participant of GSSOC'21. Please assign it to me.

[2021-03-16 17:12] SiddhantChadha opened #509 "Adding dark theme to Contact Us"
Hey There!
I have noticed that on switching to the dark theme, the contact us page is still in light theme.
![image](https://user-images.githubusercontent.com/63542625/111351040-c1dc4c80-86a8-11eb-8146-0256570bcaf0.png)
![image](https://user-images.githubusercontent.com/63542625/111351069-cb65b480-86a8-11eb-8bdb-d901be3b59e6.png)

I am a participant of GSSOC'21.Please assign this issue to me. Look

[2021-03-16 17:35] #509 closed

[2021-03-16 18:02] sejalxz opened #510 "COVID-19 Live Stats Responsive Website"
I would like to contribute to this project by adding a COVID-19 Live Stats Responsive Website. It's a website which will show COVID-19 live statistics by country. Made with HTML, CSS, and JavaScript.

Please , kindly assign this task to me under GSSoC 21'

[2021-03-16 18:05] guptaa98 commented on #477
Hi @harshgupta20 .
I'm planning to build a 2-player tic-tac toe game from scratch.

[2021-03-16 18:15] guptaa98 commented on #477
Hi @harshgupta20 .
Sorry my bad!
I thought this game wasn't present so was planning to build it from scratch and add it here.

[2021-03-16 18:20] yashikabhargava commented on #204
hey! I created this issue under gssoc'21 but it does not have the label, can you please label it.

[2021-03-16 18:23] haarsh01 commented on #510
Hi, I am a Gssoc'21 participant, I want to contribute to this issue.
I would like to contribute to this project. Please assign it to me.
Thank you

[2021-03-16 18:48] yashikabhargava opened #511 "Improvement in BMI Calculator (GSSoC'21)"
**Is your feature request related to a problem? Please describe.**
BMI Calculator

**Describe the solution you'd like**

1. Alignment of text to the center, change in size and font of the text.
2. Change in shape of button and addition of hover effect.
3. Change in the background color.
4. Alignment of BMI Calculator to the Center.

I want to work on this issue, can you please assign this issue to

[2021-03-16 18:48] yashikabhargava commented on #511
I want to work on this issue, can you please assign this issue to me as a part of Gssoc'21.

[2021-03-16 18:53] Riya764 opened #512 "."

[2021-03-16 20:11] #15 closed

[2021-03-16 20:59] #265 closed

[2021-03-17 02:58] #412 closed

[2021-03-17 03:07] Deeksha-Rawat opened #514 "KeyEvent Code[GSsoc 21]"
HI! I want to add my this project as a part of GGSOc.
Please assign this to me.
Thanku

![KeyEventCode](https://user-images.githubusercontent.com/50552823/111408850-e31a5880-86fb-11eb-97db-9bb7ad1a86f2.gif)

[2021-03-17 03:37] midhun-b-m commented on #301
**Status update** : project is almost done - will upload in a day or two

[2021-03-17 04:51] shahbazalam07 commented on #511
i want to work on this issue

[2021-03-17 04:54] shahbazalam07 commented on #483
I want to contribute to this issue

[2021-03-17 05:02] shahbazalam07 commented on #437
I want to contribute to this please assign me

[2021-03-17 05:31] ridsuteri commented on #497
yes go ahead with it @syamala27

[2021-03-17 06:03] kumarankm commented on #415
@urvashi-code1255 Kindly assign this issue to me :)

[2021-03-17 06:05] Ishikakhurana commented on #295
@urvashi-code1255

[2021-03-17 06:05] kumarankm commented on #415
@991rajat  Is this additional feature is okay?

[2021-03-17 06:21] fatma-sia27 opened #515 "Beautify Contact us form"
Hey, I had seen this  website and I thought it would be great if we beautify the "Contact us" page by using CSS . We can change background color, fonts and many more changes.
SZo please assign me this issue so that I can beautify this page.
Thank you.

[2021-03-17 06:33] SharmaTanish commented on #431
Hi , I searched lot about the error that I was facing ( mentioned in above image ) and I get to know that it is because you have not assigned it to me .
I request you to go through the demo video link of my game and then please assign this to me !
Thank you
Regards

[2021-03-17 06:56] Raj142 opened #517 "I would like to add "Happy Bouncing Balls :) " project"
please assign it me under GSSoC label . i am a participant of GSSoC'21.

[2021-03-17 06:59] Raj142 opened #518 "Add To-do list project"
Please assign it me under GSSoC label. i am A participant of GSSoc'21

[2021-03-17 08:40] PrathmeshSadake commented on #518
As a GSSoC participant please assign this task to me under gssoc label.

[2021-03-17 08:43] PrathmeshSadake opened #522 "Infinite scroll image library"
I want to create a infinite scroll image library using stock images api. As a GSSoC participant please assign this task to me under gssoc21 label. gssoc'21

[2021-03-17 08:57] Raj142 commented on #518
i already generate a pull request you can check please assign it to me. @Vishal-raj-1

[2021-03-17 09:58] bitaashna commented on #247
@urvashi-code1255 I have created the PR weeks ago .Please check it.Everytime someone commits to the repo, I have to resolve conflicts.Please review it as fast as u can

[2021-03-17 13:42] sejalshri opened #526 "Palindrome check"
I would like to add a Js project that will check if a given string or a number is palindrome or not.
Please assign me under GSSOC'21 .
@ridsuteri @urvashi-code1255 @Vishal-raj-1

[2021-03-17 14:23] Subhampreet opened #527 "JavaScript Chess App"
App Description :
- A Two-Player Chess Game Developed using JavaScript.

App Features:
- Show possible moves when a piece is selected
- Pieces can only make valid moves
- Pieces can only take opponent pieces
- Toggle turns after each move (white being the first

[2021-03-17 15:19] Ayushjain2205 opened #529 "Spotify finder"
## Spotify finder

Build a web app which helps users find tracks and playlists from spotify

I am a GSSoC participant please assign this task to me under gssoc21 label. gssoc'21

[2021-03-17 15:24] Ayushjain2205 commented on #529
@harshgupta20 Can you please assign this issue to me under GSSOC' 21

[2021-03-17 15:43] mrunalvilas commented on #487
@harshgupta20  I would wish to change the current UI and key set up from the current DrumKit.

[2021-03-17 15:56] guptaa98 opened #530 "Replace absolute measurements with fluid measurements in digitalClock"
I am a Gssoc'21 participant.
I want to change the styling of this project such that the position of the clock gets adjusted accordingly when the browser's size is changed.
Hey @urvashi-code1255 @Vishal-raj-1  kindly assign this issue to me.

[2021-03-17 16:49] #420 closed

[2021-03-17 16:59] Deeksha-Rawat commented on #507
I have made the PR . Please look into that.
Thank you

[2021-03-17 17:33] #507 closed

[2021-03-17 19:59] harshgupta20 commented on #515
Hi @fatma-sia27  its good make the contact page awesome, but could you plz tell us what are changes you going to make on that issue.

[2021-03-17 20:09] Upasana1216 commented on #526
I would like to work on this issue. Please assign this to me

[2021-03-17 21:04] vismitap commented on #331
May I work on this issue as a part of GSSoC'21?

[2021-03-18 05:46] #250 closed

[2021-03-18 05:55] ridsuteri commented on #493
yea @SiddhantChadha go ahead :)

[2021-03-18 05:58] mahesh-11102 commented on #499
@ridsuteri  sir assigning me the issue :)

[2021-03-18 06:22] ridsuteri commented on #499
:) go ahead with it

[2021-03-18 06:46] ridsuteri commented on #526
@sejalshri go ahead with it :)

[2021-03-18 06:48] ridsuteri commented on #526
@Upasana1216 issues are alloted on first come first served basis ,kindly look for any other open issue
or wait for few days, if @sejalshri doesn't come up with a PR then it will be alloted to you

[2021-03-18 07:21] sejalxz commented on #510
@harshgupta20 could you please assign this to me?

[2021-03-18 07:37] sejalxz opened #537 "Budget-App"
Hi, I am Sejal Dahake. I would like to contribute to this project by making a Budget App using JavaScript under GSSOC'21.

## Features
* The app shows, the balance, the income and the outcome
* It also has a dashboard where the user can add a new entry (an income or an expense)
* The user can toggle between the income list (that show only all income entries) and the expenses list (that shows only

[2021-03-18 07:43] sejalxz commented on #277
@urvashi-code1255 I am actually stuck at a point.
I have added the toggle feature when you click on the temperature. It works perfectly fine when the location is detected by browser (using latitude and longitude by allowing location) and toggles well. It's not working when I fetch details of temperature of the city using API it toggles only once for some cities. For some cities it works fine and f

[2021-03-18 07:55] SiddhantChadha commented on #493
@ridsuteri @harshgupta20 please check my PR and let me know if it is merged or not.

[2021-03-18 09:36] fatma-sia27 commented on #515
Yes we can make "Delhi tourism " logo at the top and can beutify its font,  we can change its background colour , also we can change its font color , we can change color of submit button on hover. Also we can make that name box smaller so that it looks clean .
Thank you

[2021-03-18 11:12] SharmaTanish commented on #431
**@ridsuteri please assign this to me ?**

[2021-03-18 12:35] #493 closed

[2021-03-18 12:48] Ayushjain2205 commented on #529
@urvashi-code1255 Can you please assign this to me?

[2021-03-18 13:57] fatma-sia27 commented on #515
Please allow me to work on this  project, it would love  to work  on this.

[2021-03-18 13:57] #248 closed

[2021-03-18 14:12] Ankkkitt commented on #508
Hey, I would love to improve to Contact Us form and work on this issue. I will ad
1. Form validation in Name, email section
2. reduce the width and make everything to the center
3. Add some hover effects on Submit Button
4. Increase the size of the header section and give some styling

[2021-03-18 14:55] SharmaTanish commented on #431
Thank you @ridsuteri :)

[2021-03-18 15:43] Anupreetadas opened #540 "Javascript Roadmap"
Hi,I am Anupreeta Das.I would like to contribute to this project by making a Roadmap using JavaScript under GSSOC'21.

## Features
- The app will show the roadmap which will help the user for easy navigation.
-  The user can give the source and destination address and can follow the map.
-  It also consists of the nearby important food stores,hospitals.

Please assign this issue to me.Thankyou

[2021-03-18 17:11] rohansharma4050 opened #542 "New Year Countdown"
Using JavaScript create a timer for countdown of new year.

I would like to contribute the same under GSSOC21 @ridsuteri  can you please assign this to me

[2021-03-18 18:10] Raj142 opened #543 "Create Scroll Up button at bottom"
Please assign it to me . i am a participant of GSSoC'21.

[2021-03-18 18:23] #343 closed

[2021-03-19 01:17] ridsuteri commented on #542
sorry @rohansharma4050 that project already exists in the repo,try to improve that or add any other awesome project :)

[2021-03-19 01:20] #526 closed

[2021-03-19 03:05] #259 closed

[2021-03-19 03:33] #247 closed

[2021-03-19 04:08] TidbitsJS opened #546 "Connect Four"
## Connect Four Game

Connect Four is a two-player connection board game, in which the players choose a color and then take turns dropping colored discs into a seven-column, six-row vertically suspended grid.

The pieces fall straight down, occupying the lowest available space within the column. The objective of the game is to be the first to form a horizontal, vertical, or diagonal line of four o

[2021-03-19 04:09] TidbitsJS commented on #546
Kindly assign this to me @urvashi-code1255 :)

[2021-03-19 04:17] rohansharma4050 opened #547 "Exchange Rate"
select countries to get the exchange rate for a specific amount after giving 2 inputs using JavaScript and will be fetching the rates using api . This issue currently does not exist in the repo
I would like to contribute for this under GSSOC21  @ridsuteri can you please assign this to me

[2021-03-19 04:17] bitaashna opened #548 "Website Bookmarker"
In this we can bookmark our favourite website and link and add a title to that bookmark
On clicking on bookmark, we will be directed to the bookmarked link.

@urvashi-code1255 Please assign me this issue under the label GSSOC'21 .
I would like to contribute to it!

[2021-03-19 04:48] AryaPatel1111 opened #549 "Currency Converter"
I had like to add currency converter in js using vanilla js.

[2021-03-19 05:07] urvashi-code1255 commented on #546
Go ahead @TidbitsJS :)

[2021-03-19 06:38] jaypatel31 commented on #508
Hey I want to add the back button in contact us form to improve the accessibility of the user can you assign it to me .

I am participant of GSSoc' 21

[2021-03-19 06:48] mohammedjameel24 opened #551 "CSS JS files not linked properly [Device info]"
## Describe the bug
The style and javascript files are not properly linked to **Device info** project

## To Reproduce
Steps to reproduce the behavior:
Scroll down to device info project
Cluck to open project

## Expected behavior
Loads the styles and javascript files

## Logs
No logs
Improperly linked js css files

## Environment (please complete the following information):
 Browser

## Additiona

[2021-03-19 06:49] mohammedjameel24 commented on #551
Please assign me this issue

[2021-03-19 08:36] aastha621 opened #553 "Navigation Bar"
No its not a problem. I want to enhance the look of the navbar by adding on hover effects and making it more attractive and responsive.
Pls assign this issue to me!

[2021-03-19 09:09] tushartiwari7 opened #555 "Hangman"
## treating uppercase and lowercase letters differently which needs to be unified.

## To Reproduce
Steps to reproduce the behavior:
1. convert all the uppercase inputs to lowercase before processing.
2. for e.g. "A" and "a" will not be Different anymore.

## Expected behavior
it will work with both case letters and not treat uppercase and lowercase letters differenty so user can enter in any case

[2021-03-19 10:46] bilal-23 commented on #162
@urvashi-code1255 @Vishal-raj-1 I have raised new PR #557 , please check.

[2021-03-19 11:04] LalitMishra1504 opened #558 "Random Quotes Generator project"
I like To add random Quotes Genertor using javascript

[2021-03-19 11:54] vasanthgk02 opened #559 "Changed the behaviour start button"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-03-19 11:56] #559 closed

[2021-03-19 12:55] likhitha-19 opened #562 "add javascript palindrome checker"
this project basically checks if input if a palindrome or not. please assign me to the issue

[2021-03-19 12:59] bishalshaw-164 commented on #503
@urvashi-code1255 i made PR pls review it

[2021-03-19 13:18] SilverGraph opened #563 "Adding styles to the BMI Calculator page"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried enhancing the look of the BMI Calculator page.
## Describe the solution you'd like
I would like to add styles to the "BMI Calculator" page.

## Additional context
@Vishal-raj-1  @urvashi-code1255
Greetings! I am a participant in GSSOC'21 and I request you to assign me the task of adding styles to the "B

[2021-03-19 15:46] shahbazalam07 commented on #512
I want to work on this issue

[2021-03-19 16:21] Riya764 commented on #512
@shahbazalam07 this issue is created by me

[2021-03-19 16:22] Riya764 commented on #512
I am working on it

[2021-03-19 16:34] shahbazalam07 commented on #512
ok fine

[2021-03-19 17:10] divitagulati commented on #437
Hey, I am Divita Gulati, a participant of GSSOC'21.
I would like to contribute to this, please assign this task to me.

[2021-03-19 17:24] fatma-sia27 commented on #515
@harshgupta20  Thank you for assigning this issue to me and I want to ask should I send a pull request for this issue.??

[2021-03-19 17:31] SilverGraph commented on #511
I would like to work on this issue as well.

[2021-03-19 17:38] prachibansal2000 commented on #504
Do assign @urvashi-code1255 :)

[2021-03-19 18:28] AnandBIT opened #571 "URL Shortener not Working"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1.  Type in any url in (https://vishal-raj-1.github.io/Awesome-JavaScript-Projects/public/url-shortner.html)
2.  You'll get the source code for that particular website instead of the shorted url.

## Expected behavior
A shorted url should be there as a result.

## Logs
In Netwo

[2021-03-19 18:46] sarala-2210 opened #572 "Add Word Scramble Game"
I want to add a word Scramble game using html, css and javascript. Please assign it to me as a part of gssoc21. thank you! @Vishal-raj-1

[2021-03-19 18:47] abhijeet141 opened #573 "Collapse Plugin not working under Navbar section in lower screen dimension"
## Describe the bug
Collapse plugin is not working under lower screen dimension in the navbar section.

## To Reproduce
Steps to reproduce the behavior:
1. It can be corrected by using collapse plugin using bootstrap.

## Expected behavior
When the website was opened on mobile device or in lower screen dimension of the browser the collapsed plugin to find the collapsed item in the navbar section w

[2021-03-19 18:48] ishani02 opened #574 "Auto close tooltip in password generator"
I would like to add the feature of auto closing to the tooltip in password generator. This feature will automatically hide the tooltip few seconds after the copy button is clicked.I would be implementing this using JavaScript .
@urvashi-code1255 Please assign this issue to me under GSSoC'21.

[2021-03-19 18:55] abhijeet141 commented on #573
Hey, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!

[2021-03-19 18:56] harshgupta20 commented on #515
Yes @fatma-sia27 , if you have resolve the issue then surly you are allowed to send us PR. But it would be helpful for us if you can host it as well via github pages so that we can review it faster to merge it.😉😉

[2021-03-19 19:44] alkatrivedi opened #575 "Navbar Brand and Home page link"
## Describe the bug
On clicking the 'Home' link in the navbar after clicking any other link like the 'Projects' link. The image on the home page is touching the navbar.

## To Reproduce
Steps to reproduce the behavior:
1. Open index.html and click on 'Projects' in the navbar
2. Now click on either 'Home' or 'Awesome Javascript' in the navbar
3. We can see an error that the home page image is touch

[2021-03-19 20:46] pranabprohit opened #577 "Password strength checker"
To check whether the password are weak, strong or medium type.

[2021-03-19 20:48] pranabprohit commented on #577
hello @urvashi-code1255 @Vishal-raj-1, I would like to work on this issue as a part of GSSOC. Can you please assign this issue to me.

[2021-03-20 03:14] vasanthgk02 opened #578 "Added DarkMode File"
## Is your feature request related to a problem? Please describe.
No its not a problem. I have created a new DarkMode File.
## Describe the solution you'd like
The DarkMode has a toggle button. When we click on it it changes from white mode to dark mode and vice versa

## Screenshot

White Mode
![DarkMode 1](https://user-images.githubusercontent.com/74846250/111857540-3ab50000-8958-11eb-89c8-cbd9b

[2021-03-20 04:07] alkatrivedi commented on #575
@urvashi-code1255 Kindly assign me this issue.

[2021-03-20 04:44] sejalxz commented on #510
@urvashi-code1255 could you please assign me this?

[2021-03-20 05:30] haarsh01 commented on #578
Hey, I am a GGSOC'21 participant. Can I work on this issue, please? Please assign it to me.

[2021-03-20 07:23] Bhavyal9 opened #581 "Add Movie Seat Booking"
<h1>Movie Seat Booking</h1>
Movie Seat Booking is a vanilla javascript project.

<h2>Functionalities:</h2>

1. Pick a movie
2. Select available seat
3. See the total selected seat number
4. See the total ticket price

[2021-03-20 07:25] Bhavyal9 commented on #581
Kindly assign this to me @urvashi-code1255 :). I am a GSSOC participant.

[2021-03-20 11:20] Sweeti-Gupta opened #582 "Adding a action game "Dragonfly""
I want to add an action game in this project in which there would be a dragon and an obstacle. The dragon has to defend itself from the obstacle which would be coming in front of him with an increasing speed. The dragon could defend itself by jumping. The game would have various features like it will have background sound while playing and a different sound while losing. It will show score as well

[2021-03-20 11:53] #505 closed

[2021-03-20 11:59] #384 closed

[2021-03-20 12:39] #573 closed

[2021-03-20 13:12] divitagulati commented on #518
Hey, I am Divita Gulati, a participant of GSSOC'21.
I would like to contribute to this, please assign this task to me.

[2021-03-20 14:22] ridsuteri commented on #547
@rohansharma4050 go ahead :)

[2021-03-20 14:25] vasanthgk02 commented on #578
Hii @urvashi-code1255 I have made this project. Please assign this issue to me so that I can improve my code!

[2021-03-20 14:30] #352 closed

[2021-03-20 14:34] #499 closed

[2021-03-20 14:53] yashikabhargava commented on #511
@harshgupta20 Hello, I have created a new issue can u please review and assigned it to me issue no. #511

[2021-03-20 15:33] bitaashna commented on #548
@urvashi-code1255 My last PR is merged . Can I start working on it now?

[2021-03-20 16:04] bitaashna opened #583 "Github User Finder"
An app which will find the gtihub user and we can keep track of name,company,bio,pubic repos,etc
There will be a button directing to the github profile of user
I would like to work on the issue as a participant of **GSSOC'21**
@urvashi-code1255 Please assign me this issue.

[2021-03-20 17:56] bitaashna commented on #17
@urvashi-code1255 please mention the labels.For this issue labels were not mentioned.

[2021-03-20 19:41] abhijeet141 opened #585 "Responsive Navbar in mobile view"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of Navbar.
## Describe the solution you'd like
I would like to make the navbar more responsive when it is in mobile view some animation in the collapsed section.

[2021-03-20 19:41] abhijeet141 commented on #585
Hey, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-21 01:29] SalmaZakaria commented on #24
I am a GSSOC'21 Participant
Could you please assign it to me?

[2021-03-21 01:33] SalmaZakaria opened #587 "Dijkstra Algorithm Visulaizer"
## Is your feature request related to a problem? Please describe.
No, it's not a problem.
## Describe the solution you'd like
I want to add a simple algorithm visualizer that anyone can contribute to it after me.

I am a GSSOC'21 Participant, please assign this to me

[2021-03-21 04:03] #223 closed

[2021-03-21 04:19] khareyash05 opened #588 "update contributing.md"
Hi! I would like to add in contributing.md
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-21 05:18] Deeksha-Rawat opened #589 "Background Slider"
Hi I want to contribute this project to your repository as a part of GGSOC 21.
please assign this to me.
![BackgroundSlider](https://user-images.githubusercontent.com/50552823/111894605-204f5500-8a32-11eb-968c-291a507cec3b.gif)

[2021-03-21 05:27] FireQueen-3010 opened #590 "Video control Images missing in custom video player"
## Describe the bug
The images of the controls (pause, play, sound etc) are missing in the custom video player either due to the images being removed from the folders or not being linked properly.

## To Reproduce
Steps to reproduce the behavior:
1.  Check for missing files/broken link in the html of video player
2.  Make changes
3.  Fix issue

## Expected behavior
The images to appear properly in

[2021-03-21 05:27] FireQueen-3010 commented on #590
Please assign me this as part of gssoc'21

[2021-03-21 06:29] shitesh2607 opened #591 "Add Memory Game"
Memory game is grid-based game in JavaScript, HTML and CSS. It's simple card game where you need to match pairs by turn over 2 cards at a same time.
Rules for Memory Game:
 1. You will start by flipping over one card
 2. The next card that you going to flip if matches, you get +1 to your score. then these card
 will be disappear.
 3. If the next card you flip does not match, a pop up alert notifie

[2021-03-21 14:06] khushi935 commented on #272
Can I work on this?

[2021-03-21 14:11] khushi935 commented on #380
Can I work on this?

[2021-03-21 14:18] poojitha2002 commented on #284
Hello can you please verify the project?

[2021-03-21 15:28] gaurav24072002 opened #592 "Adding Form_Wave_Animation Project"
I am contributing and would like to add a new Awesome JavaScript Project to this Repository That is very useful to create Login Forms. Have a look at it -
![Screenshot (115)](https://user-images.githubusercontent.com/77109758/111910600-080a2500-8a88-11eb-9f1e-246359311b22.png)

![Screenshot (117)](https://user-images.githubusercontent.com/77109758/111910582-f88adc00-8a87-11eb-98e1-e527abe6f099.png

[2021-03-21 15:59] harshgupta20 commented on #583
Hello @bitaashna , You can start work on it.😉

[2021-03-21 17:08] priyanka001tech opened #595 "to-do list with deletion and adding option"
To-do list with pictures and marking sign

any one can add the new thing as well as strike the thing when it is done

I want to do it as gssoc particiapnt

[2021-03-21 17:56] RoliGautam opened #598 "Modify and make more attractive contact page"
I would like to make the the contact page more attractive and beautiful by adding some font styles, background color and changing the style of the button.
Please assign for it . I am newbie and I would like to contribute in this projects.

[2021-03-21 18:57] RoliGautam opened #599 "Beautify the navigation bar"
I would like to give some hover and style in the menu bar .  Give some styling using css in the 'home', 'about', 'projects', 'contact us',  'Awesome JavaScript' headings. It would be look more attractive , If we give some color and hover effect.
Please assign me for this, I would really like to contribute in this section.

[2021-03-21 19:23] shivanshugarg12800 opened #600 "Quizapp project : Adding the feature of picking random question from the quizData"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I tried to enhance the functionality of the quiz app project listed in the repository.
## Describe the solution you'd like
The quizapp.js file in the assets folder of the project shows all the questions index-wise. I want to add the feature where the random question appears every time and no question is repea

[2021-03-21 19:24] shivanshugarg12800 commented on #600
Please assign this issue to me under GSSOC'21 and label to it.

[2021-03-21 19:53] SalmaZakaria commented on #587
@urvashi-code1255 When Can I start implementing it?

[2021-03-22 03:05] Ankit0225 commented on #418
Hey @Vedant-Rahane I would like to work on this project Would you like to assign this project I am good at HTML,CSS, and JS

[2021-03-22 07:15] yitik-kawatra opened #601 "Add Sequence Game"
Sequence game is a grid based game in HTML,CSS and JavaScript. We start by touching a card in grid and Level of game adds up and in each level we have to memorize the sequence and touch those cards in that sequence.

So, please @Vishal-raj-1 & @urvashi-code1255  assign it to me as a part of gssoc21.

[2021-03-22 08:09] shivanshugarg12800 commented on #600
@Vishal-raj-1 @urvashi-code1255 Please assign this issue to me under gssoc'21

[2021-03-22 08:40] sejalshri opened #602 "Project section on homepage is not showing any project in it."
## Describe the bug
The project section that contained all Js projects is not visible .

## To Reproduce
Steps to reproduce the behavior:
Just a small issue with script.js file

## Expected behavior
![expected](https://user-images.githubusercontent.com/62070965/111961899-9e395c00-8b17-11eb-9ad1-ee900a9f9479.png)

## Current behaviour
![jsp-ss](https://user-images.githubusercontent.com/62070965/111

[2021-03-22 09:31] AryaPatel1111 commented on #549
Please can one of the mentor assign me this issue. I am waiting for the approval.

[2021-03-22 10:58] shivanshugarg12800 commented on #600
@ridsuteri Please assign this issue to me under GSSOC'21

[2021-03-22 11:45] jaypatel31 opened #605 "Age Calculator"
## Age Calculator
Age calculator calculates user date of birth till the date they want to get calculated in from of year, month, weeks, days, hours, minutes and seconds.

## Usage / Work Flow
Firstly user have to enter their date of birth and second up to which date user want to calculate their age and finally click on calculate age button to display their ages in different format.

## Screen shot

[2021-03-22 12:24] manasivaraiya opened #606 "Redesign the contact us page."
I am a GSSOC'21 participant. I would love to change the contact us page. Pls assign me this with a gssoc tag.

[2021-03-22 12:54] Aman-kumar001 opened #607 "No button to get back to home page from contact us page."
As there is no button to get back to the home page from the contact us page. Would be glad to contribute under gssoc21.

[2021-03-22 13:56] fatma-sia27 commented on #515
Ook thank you

[2021-03-22 15:32] aastha621 opened #609 "NAVLINKS ENHANCEMENT"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of navlinks.
## Describe the solution you'd like
I have updated index.html and style.css for changing current look of  nav links to a better one by adding hover animation.
<img width="960" alt="2021-03-22 (1)" src="https://user-images.githubusercontent.com/63592156/112015490-df4e62

[2021-03-22 16:20] #548 closed

[2021-03-22 17:26] aastha0507 opened #612 "To-do app"
I would like to make a to-do app. Please assign it to me.

[2021-03-22 17:31] #492 closed

[2021-03-22 17:48] ridsuteri commented on #612
@aastha0507 this project already exists in the repo ,you can either improve that or add any other awesome project

[2021-03-22 17:48] #612 closed

[2021-03-22 17:52] #609 closed

[2021-03-22 18:03] ridsuteri commented on #344
@mohammedjameel24 can you please elaborate the issue

[2021-03-22 18:06] #351 closed

[2021-03-22 18:08] mohammedjameel24 commented on #344
Basic CRUD app . Like a todo app
But insted of making a txt column

User can input a image url instead
And upload a meme out out of it an additional to it a caption and name field of author

[2021-03-22 18:10] ridsuteri commented on #344
Ok go ahead with it @mohammedjameel24

[2021-03-22 18:26] RoliGautam commented on #599
Thanks  for assigning me. I will make a pull request soon.

[2021-03-22 18:27] RoliGautam commented on #598
Thanks for assign me. I will make a pull request soon.

[2021-03-22 18:33] aastha0507 opened #613 "ChatBot"
Can I add a chat bot app?

[2021-03-22 18:55] TidbitsJS opened #614 "Lyrics Search"
## Lyrics Search App

A project created using an API to fetch lyrics of any songs. Enter the respective details, & related searches with their lyrics will appear.

### Event
GSSOC'21

## Demo
![demo](https://s4.gifyu.com/images/cinnamon-20210321-8-1.gif)

[2021-03-22 18:57] TidbitsJS commented on #614
Kindly assign this to me @harshgupta20 or @urvashi-code1255  :)

[2021-03-22 19:37] bitaashna commented on #583
@urvashi-code1255 I have created a PR #615 .Please check it.

[2021-03-22 19:48] bitaashna opened #616 "Breakout! Game"
**Breakout! Game**
Game where you control a paddle with the arrow keys to bounce a ball up to break bricks. This app uses the HTML5 canvas element and API

**Project Specifications**

- Draw elements on canvas
- Use canvas paths to draw shapes
- Add animation
- Move paddle on arrow key press
- Add collision detection
- Keep score
- Add rules

[2021-03-22 19:49] bitaashna commented on #616
@urvashi-code1255 I would like to work on this.Can you please assign it to me.

[2021-03-22 20:05] bitaashna opened #617 "Quote Generator App"
Using an API to build a random quote generator

[2021-03-22 20:05] bitaashna commented on #617
I would like to work on this issue.Please assign it to me @urvashi-code1255 @harshgupta20 :)

[2021-03-23 01:21] #602 closed

[2021-03-23 04:50] Aman-kumar001 commented on #607
Created a PR regarding this issue.

[2021-03-23 05:20] Aman-kumar001 opened #619 "Would like to add Simon's game to the existing collection."
I would like to add Simon's game to it under Gssoc21. It is a memory game based on the sequence.

[2021-03-23 05:35] #547 closed

[2021-03-23 07:21] Bhavyal9 commented on #581
@ridsuteri Please assign this issue to me under GSSOC'21

[2021-03-23 08:39] anjujoseph555 opened #621 "Request for Editing Drum Kit Project-Add Click Event Functionality"
I am GSSOC 21 participant and would love to edit the drum kit project which is a very fun and interesting project. Currently the project offers only keypress. I would like to add a click functionality as well. Would really love to contribute and showcase my JS skills.
Dear mentors, please do assign me.

[2021-03-23 09:49] Fab-Gaurav opened #624 "Update the Search Bar"
Hello @Vishal-raj-1
As a participant of GSSoc'21 kindly assign me this issue.
## I will update the search bar using HTML and CSS for giving the advanced look to the website.

## Have a look :-
Present
![Before](https://user-images.githubusercontent.com/71934708/112126713-baf29400-8bea-11eb-8614-57abdf407309.PNG)

After update
![After](https://user-images.githubusercontent.com/71934708/112126846-da

[2021-03-23 09:51] Fab-Gaurav commented on #624
Assign this to me so that I can make PR.

[2021-03-23 13:32] #497 closed

[2021-03-23 13:49] Vishal-raj-1 commented on #624
sure !!

[2021-03-23 13:50] Vishal-raj-1 commented on #621
That would be great idea !!

[2021-03-23 13:51] Vishal-raj-1 commented on #619
sure !!

[2021-03-23 14:21] Aman-kumar001 commented on #619
Added Simon's game and a button to navigate from the contact us page to the home page. Review PR#618.

[2021-03-23 15:47] Fab-Gaurav commented on #624
@Vishal-raj-1
Please have a look on the PR https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/627

[2021-03-23 17:06] EkjotKaur opened #628 "Stop Watch only working buttons should be visible"
Reset Lap Reset Lap button are not needed when stop watch is not on.
Start button is not required during the running stopwatch.

Can I contribute on this issue?
Please assign me this issue.
[GSSOC'21]

@Vishal-raj-1 @urvashi-code1255

[2021-03-23 17:11] EkjotKaur opened #629 "Resposive Website"
Pages like Netflix, password generator, new year count down any many others are not responsive .
Can I make them responsive
[GSSOC'21]

Please assign me this issue
@urvashi-code1255 @Vishal-raj-1

[2021-03-23 17:39] agamjotsingh18 commented on #629
I can take this issue and make it perfectly responsive?   Regards!

[2021-03-23 18:15] Akansha-Bhandari opened #630 "Add Tic-Tac-Toe project in the project collection.."
Hii !!
I want to add a basic Tic-Tac-Toe game using javascript in the recent project collection ..
Please assign this issue to me ..

[2021-03-23 18:41] #630 closed

[2021-03-24 03:06] AryaPatel1111 commented on #549
@ridsuteri Can you please assign me this issue.

[2021-03-24 04:15] Ayushgup85 commented on #563
is this issue still open?

[2021-03-24 07:04] avinashjha1320 opened #632 "Redesign the Contact Us page"
@synox @Alik-Kumar-Ghosh @michysantillan @tinchods93 @chaitanyashimpi
Hey, I want to rebuild the contact us page with some animation and features. Can you please assign this task to me.

[2021-03-24 07:23] mdatif796 opened #634 "search option is not working"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):
 - O

[2021-03-24 07:25] Akansha-Bhandari opened #635 "Memory Game"
Hii !!
I am a participant and i would like to **add a Memory game using javascript** in the recent project collection of "Awesome-Javascript Projects"  ...
Please assign this issue to me ....

[2021-03-24 07:33] RoliGautam commented on #598
Hello sir..
I just make a  pull request related to contact us page (issue #598).
Please review it, It is my first pull request and first time contribution
in open source project .

Link of pull request:
https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/633

Thank you!!

On Mon, Mar 22, 2021, 11:31 PM Riddhi Suteri ***@***.***>
wrote:

[2021-03-24 07:34] #572 closed

[2021-03-24 07:36] mdatif796 opened #636 "for updating the navbar brand."
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-03-24 07:36] mdatif796 opened #637 "for updating the first container."
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-03-24 09:24] oneknucklehead opened #639 "back to top button"
## Describe the bug
a "Go back to top" button should be added so that the users do not have to undergo the hard work of scrolling to the top

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception tracebac

[2021-03-24 09:24] oneknucklehead commented on #639
Can I get assigned to this issue as a GSSoC'21 participant?

[2021-03-24 09:26] oneknucklehead opened #640 "Github logo bottom left"
## Describe the bug
The Github logo on the bottom left should have a hover effect that changes its color and not its size. changing its size is affecting the footer section.

[2021-03-24 09:27] oneknucklehead commented on #640
Can I work on this issue under GSSoC'21?

[2021-03-24 09:54] iamabhii1 commented on #640
Can ,I also work on this issue?

[2021-03-24 10:10] 991rajat commented on #244
Hey @codebuzzer01 are you still working on this issue?

[2021-03-24 10:29] iamabhii1 opened #641 "want to add digital fancy clock in this project."
Hi , I want to add a fancy digital clock which is build using html, css , javascript .
please assign me  and allow me to go forward with this.

[2021-03-24 10:59] VishwaRaj-21 commented on #617
I would like to work on it

[2021-03-24 11:31] AB-san opened #643 "Add To-Do List Project"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a new project which is a To-Do List
## Describe the solution you'd like
I will add js code which is required to make a new project on To-Do List webapp
## Additional context
In the To-Do List webapps we can add tasks /remove tasks.

[2021-03-24 11:31] AB-san commented on #643
Please assign me this issue .

[2021-03-24 12:47] 991rajat commented on #252
@janvi01 Could you please elaborate, In which project would you like to add this feat ?

[2021-03-24 12:49] 991rajat commented on #255
Hey @Suhail-BW any updates ?

[2021-03-24 13:09] 991rajat commented on #258
Any Updates @gnikita432  and @Quickbeasts51429 ?

[2021-03-24 13:21] 991rajat commented on #260
Hey @padmajabhol please elaborate I didn't get it?

[2021-03-24 13:22] vinayak0127 commented on #290
I was having conflicts that's why I closed previous pull requests

[2021-03-24 13:25] janvi01 commented on #252
My idea was same as issue #599 .

[2021-03-24 13:30] janvi01 commented on #252
My idea was same as issue no 599

[2021-03-24 14:08] #215 closed

[2021-03-24 14:13] khushi-naik commented on #617
I would like to work on this issue for GSSOC 2021. I would implement this idea using an API wherein a user could choose a category and the quote would be generated accordingly.

[2021-03-24 14:15] iamabhii1 opened #645 "Mapping Earthquake Data"
Hi, i want to add   a project in public section in this repository regarding **_Mapping earthquake data_** .
mapping earthquakes  using government data on the world map _**using API's and world data feed**_.
this contribution is for GSSOC 21.

please assign me the permission to work on that .

[2021-03-24 14:36] shonali2600 opened #646 "[GSSOC'21] Reduce animation in Calculator project"
## Is your feature request related to a problem? Please describe.
Yes, While clicking on any number or operator in the calculator, it moves a lot(a lot of animation is there) which is irritating.
## Describe the solution you'd like
I would like to reduce its animation.

[2021-03-24 14:36] Amit366 opened #647 "Tetris game"
## Is your feature request related to a problem? Please describe.
No its not a problem. I just want to add tetris game
## Describe the solution you'd like

Greetings! I am a GSSOC'21 participant and I would like to work on this issue.
I will make Tetris game in javascript

[2021-03-24 14:37] shonali2600 commented on #646
I'm a GSSOC participant and would like to work on it, Please assign this issue to me.

[2021-03-24 14:41] shonali2600 opened #648 "Add To-do list app project"
## Is your feature request related to a problem? Please describe.
No its not a problem. I would like to add a to-do list app
## Describe the solution you'd like
Will add to-do app using Javascript.

I'm a GSSOC participant Please assign this issue to me

[2021-03-24 15:00] gaurav24072002 commented on #592
@Vishal-raj-1 @urvashi-code1255 @  Any Update ??

[2021-03-24 15:06] SilverGraph opened #650 "Adding styles to "Exchange Rate Calculator""
Greetings! I am a GSSOC'21 participant and I would like to add some styles to the "Exchange Rate Calculator" page as well as make it responsive.
I would request @Vishal-raj-1 @urvashi-code1255 to assign me this issue.

[2021-03-24 15:54] Fab-Gaurav opened #651 "Falling Bullets"
Hello @Vishal-raj-1 , @urvashi-code1255
### Want to add Falling Bullets Animation JS to the projects

 [Have a look](https://drive.google.com/file/d/1Ezl0WykdAiVZQ0SWXk_xZHPcilLHFf15/view?usp=sharing)

As a participant of GSSoc'21 I would request you to assign me this issue.

[2021-03-24 16:14] AB-san commented on #648
Kindly check issue #643 I have already created this issue !!

[2021-03-24 17:12] #600 closed

[2021-03-24 17:21] ridsuteri commented on #549
@AryaPatel1111 similar project is added to the repo ,try to improve it or make another one different from existing one

[2021-03-24 18:05] oneknucklehead opened #652 "Add a memory based game to projects"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I just want to add my project to the list of projects.

[2021-03-25 04:38] pritamkr1 opened #653 "Harry Potter characters using Vanila js"
Please assign me to this project.

[2021-03-25 10:03] Abhishekkr93 commented on #648
I would like to contribute as a Gssoc21 participant. could you please assign me this?

[2021-03-25 10:03] Archna29 opened #657 "Password Genetator using js"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add it in project list.

[2021-03-25 10:04] Archna29 commented on #657
I am a gssoc participant. Please assign this project to me

[2021-03-25 10:12] Abhishekkr93 commented on #518
I would like to contribute as a Gssoc21 participant. could you please assign me this?

[2021-03-25 10:45] vanshikapandey opened #658 "Booklist Application using JavaScript"
An application that helps users manage the booklist  by adding deleting and updating the list. I am good with javascript and would like to work on this issue under GSSOC'21. Please **/assign** this issue to me admin.

[2021-03-25 10:46] #617 closed

[2021-03-25 10:52] harshgupta20 commented on #397
@sidmohanty11 , The description you have given is not solving or adding any genuine feature. If its only about music than this issue will be closed with in 2 days, Kindly specify what more feature you can in it.

[2021-03-25 13:24] shonali2600 commented on #648
@AB-san I'm so sorry, I've not seen that, I'll close this issue.

[2021-03-25 13:24] #648 closed

[2021-03-25 13:26] AB-san commented on #648
It's okay it happens!

[2021-03-25 13:56] lakshita15 opened #661 "spelling correction"
I want to correct the spellings in rock paper scissor project and add animations to buttons and hover effects. I would add some box shadows to make ui clean.

[2021-03-25 13:58] lakshita15 opened #662 "Add project titles to various projects."
I noticed that various projects lack title. I would like to add title to them all .

[2021-03-25 14:29] AyushPradhan9 opened #663 "Add Hospital registration form validation in the project collection"
## Introduction
Hey! I want to add a form registration through javascript in project collection as a participant of GSSoC. Please assign it to me!
Thanks and regards.

## Screenshot:
![bandicam 2021-03-25 19-58-02-732](https://user-images.githubusercontent.com/52281409/112489462-76aaf380-8da4-11eb-9bfc-41deefe76caf.jpg)

[2021-03-25 14:52] sidmohanty11 commented on #397
Sir I’ve solved the merge conflicts

[2021-03-25 15:05] Amit366 commented on #647
Greetings! I am a GSSOC'21 participant and I would like to work on this issue.

[2021-03-25 15:17] #581 closed

[2021-03-25 16:55] srishti-13 opened #665 "Simon Game Javascript"
Hello.....I want to add Simon Game javascript project as a part of GSSoC'21. I have already made this project beforehand while learning. Could you please assign this issue to me?

[2021-03-25 17:03] Kishore901 opened #666 "Add background color flipper javascript project"
Hello @urvashi-code1255 @Vishal-raj-1.

I would like to add a **Background Color Flipper** project to your repo.

Functionalities:
- Changes background color with random colors on click.
- Contains two kinds of color collection.

As a gssoc'21 participant, I request you to please assign this issue to me.

[2021-03-25 17:07] amedi-stephen commented on #658
This sounds cool. We can partner on this

[2021-03-25 17:15] #666 closed

[2021-03-25 17:19] Bhavyal9 opened #667 "Rearrange the Project In Alphabetical Order"
As you can see the projects are in random order. I would like to rearrange them in alphabetical order so that it will be easy for the user to navigate through them.

@ridsuteri @urvashi-code1255  Please assign me this issue under GSSOC21 label.

[2021-03-25 17:44] #546 closed

[2021-03-26 03:46] jhamadhav commented on #360
@urvashi-code1255 and @Vishal-raj-1, please close this issue as the PR for it has been merged!

[2021-03-26 03:49] Kishore901 opened #668 "Add Movie Trailer website"
Hello 👋🏻 @urvashi-code1255 @Vishal-raj-1 @ridsuteri

I would like to add a **Movie search javascript app** that shows their **trailers** when clicked.
This would be achieved with the help of **Movie DB API.**

Functionalities:
- Shows the latest movies.
- A search box to search for any movie.
- When clicked on any of the movies trailers get played.

As a gssoc'21 participant, I would request you g

[2021-03-26 04:59] gayatri517 opened #669 "Add a sticky sidebar consisting social media icons in home page"
I want to add a sticky social media side bar in the homepage of the website.
Preview-
![sidebar](https://user-images.githubusercontent.com/70585276/112584535-080a7c00-8e1e-11eb-8afe-1bbd3a100c4e.png)

@Vishal-raj-1 I want to work on this issue as a participant of GSSOC'21. Please assign it to me.

[2021-03-26 05:39] affan880 commented on #669
I'm a beginner  . i want to contribute in this project by adding sidebar consisting of social media icons .
![sidebar](https://user-images.githubusercontent.com/60839175/112587538-bd8bfe00-8e23-11eb-8a37-0d879033c206.png)

[2021-03-26 05:43] Muskan-creator opened #670 "Want to add password generator project"
I want to add a password generator project using html,css ,javascript in projects section.
 please assign this issue to me

[2021-03-26 05:44] jhasuraj01 commented on #376
Hi, I am a GSSoC Participant, I would like to try solving this issue

[2021-03-26 05:51] TidbitsJS commented on #614
Can you assign this to me so that I can make PR for this @urvashi-code1255?

[2021-03-26 07:37] anjujoseph555 commented on #621
@Vishal-raj-1 sir, please do review my pull request.
Thanks and regards.

[2021-03-26 09:14] Suhanii1214 commented on #663
Hello!! I would like to work on this issue as a part of GSSOC 2021 . I have already worked with forms so I would be able to design well.
Thankyou!

[2021-03-26 09:18] AyushPradhan9 commented on #663
@Suhanii1214 Sorry, but I have already done with the form just need a green flag to start to develop a PR. You may raise your own issue or develop the form for better once merged. Thank you!

[2021-03-26 09:21] Suhanii1214 commented on #663
ok @AyushPradhan9 no prblm.

[2021-03-26 10:33] iamabhii1 commented on #641
/assign

[2021-03-26 11:00] kusu356 commented on #667
@ridsuteri @urvashi-code1255 Please assign me this issue under GSSOC21 label.

[2021-03-26 11:13] kusu356 commented on #661
@ridsuteri @urvashi-code1255 Please assign me this issue under GSSOC21 label.

[2021-03-26 11:26] Bhavyal9 commented on #667
@kusu356 Hi, This issue is raised by me because I want to work on it.

[2021-03-26 11:42] nikhv commented on #632
Hey @synox @Alik-Kumar-Ghosh @michysantillan @tinchods93 @chaitanyashimpi
I am a GSSOC 2021 participant. I would like to work on the issue.
Could you please assign me this issue?

[2021-03-26 11:58] #377 closed

[2021-03-26 12:21] lakshita15 commented on #661
I think i raised the issue. So, it would be great if you try and work on some other issues.
Regards Lakshita..

[2021-03-26 13:18] affan880 opened #674 "Memes Generator"
Want to add a meme generator  by which you can make a meme and you can see current popular memes.

@Vishal-raj-1  please assign me this to do.

[2021-03-26 14:55] Anubhav7298 opened #675 "Want to add a ToDo list project."
I want to add a todo list project.
This web based application uses following tech stack:
HTML, CSS, javascript, mongoose
I have used mongodb database server to store the data and heroku to host the website.

username :  Anubhav_7298 #7182

[2021-03-26 15:13] Nishayadav-bit commented on #606
I would like to work on this issue . Please assign to me .
I'm a participant in GSSOC'21

[2021-03-26 16:09] raks924 commented on #607
can i work on this issue?

[2021-03-26 16:12] Aman-kumar001 commented on #607
It has been resolved now. So i don't think it is required.

[2021-03-27 02:50] #431 closed

[2021-03-27 02:56] ridsuteri commented on #661
@kusu356 issues are assigned on first come and first serve basis

[2021-03-27 03:28] lakshita15 commented on #662
@ridsuteri please see to it

[2021-03-27 04:22] ridsuteri commented on #662
@lakshita15 can you share screenshots/gifs of them?

[2021-03-27 04:29] lakshita15 commented on #662
Sure I’ll work and send it to you.

On Sat, 27 Mar 2021 at 9:52 AM, Riddhi Suteri ***@***.***>
wrote:

[2021-03-27 05:53] #270 closed

[2021-03-27 07:58] #463 closed

[2021-03-27 08:23] #302 closed

[2021-03-27 09:38] anjujoseph555 commented on #621
hello @ridsuteri @Vishal-raj-1 @Alik-Kumar-Ghosh @urvashi-code1255 please review my pull request, it'll be my first PR under GSSOC'21

[2021-03-27 10:49] 991rajat commented on #272
@mohammedjameel24 Any Updates?

[2021-03-27 10:53] #281 closed

[2021-03-27 11:10] 991rajat commented on #300
@Prajwal-ctrl  Any Updates?

[2021-03-27 11:12] 991rajat commented on #304
@Dimple115 Are you still interested?

[2021-03-27 11:13] 991rajat commented on #306
@SatyaPrakash26  Any Updates?

[2021-03-27 11:15] 991rajat commented on #309
@Amisha-here  Good Work
Create a PR.

[2021-03-27 11:18] 991rajat commented on #321
@Aarti002 Are you interested?
Let me know I will assign it to you.

[2021-03-27 11:20] 991rajat commented on #277
@sejalxz Comment here what ever help needed.

[2021-03-27 11:20] #325 closed

[2021-03-27 11:33] 991rajat commented on #339
@WebVishal Are you interested?
Let me know I will assign it to you.

[2021-03-27 11:37] 991rajat commented on #353
Yes sure @Vedant-Rahane Make it Good One

[2021-03-27 11:38] 991rajat commented on #354
Already resolved!

[2021-03-27 11:38] #354 closed

[2021-03-27 11:42] 991rajat commented on #360
Sorry for the dealy @jhamadhav
You can start working.

[2021-03-27 11:44] #357 closed

[2021-03-27 11:45] #360 closed

[2021-03-27 11:46] 991rajat commented on #362
@vaishnavig20 Any Updates ?

[2021-03-27 11:48] 991rajat commented on #364
Already Implemented @satcasm Let me know if you can modify or like to add new feat to this particular project.

[2021-03-27 11:49] #365 closed

[2021-03-27 11:53] 991rajat commented on #382
Already implemented!

[2021-03-27 11:53] #382 closed

[2021-03-27 12:01] Aarti002 commented on #321
yes , please assign me
thank you

On Sat, Mar 27, 2021, 16:48 Rajat Kumar ***@***.***> wrote:

[2021-03-27 12:05] #372 closed

[2021-03-27 12:07] WebVishal commented on #339
@991rajat  Sure sir 🥰, How long have I been waiting to work on this project, please assign me

[2021-03-27 12:13] 991rajat commented on #385
@Aarti002 Pallindrome Checker Exist.
If you want to modify or add new feat to this particular project let me know I will assign it to you.

[2021-03-27 12:15] 991rajat commented on #386
@Aarti002 It sounds good. Sure go ahead!

[2021-03-27 12:16] Aarti002 commented on #385
sure i would try to add some animation to it, please assign it to me

Thank you!

On Sat, Mar 27, 2021, 17:43 Rajat Kumar ***@***.***> wrote:

[2021-03-27 12:17] 991rajat commented on #393
Fixed

[2021-03-27 12:17] #393 closed

[2021-03-27 12:21] 991rajat commented on #388
@aliya-rahmani Sounds Good. Go Ahead

[2021-03-27 12:27] #408 closed

[2021-03-27 12:27] 991rajat commented on #402
@ibhavikamalhotra You must ensure that it only be done in vanilla JS. Let me know how will you do it.
I will assign it to you.

[2021-03-27 13:09] 991rajat commented on #339
Hey @WebVishal Go Ahead develop a new project for this  don't modify existing project.

[2021-03-27 13:48] pritamkr1 commented on #331
## Related Issue
  - Info about Issue or bug

Closes: #[331]

### Describe the changes you've made
I have added a project progress bar to this  **Awesome-JavaScript-Projects**  It contains three files that are  progressbar.html, progressbar.css, and prgressbar.js. It shows progress in % of HTML, CSS, JavaScript, React, and WordPress.
Basically, it shows progress in HTML, CSS, JavaScript, WordPress

[2021-03-27 13:56] Priyadarshan2000 opened #679 "Add Document to Handwritting Website"
Hello 👋🏻  @Vishal-raj-1

I would like to add a Document to  Handwriting javascript app . This application helps convert document to handwriting.
this is made with the help of **Google Font API**

Functionalities:
-  Convert to Document to the handwriting
- 10 different type of font
- Dark mode
- Download your work in png Format.
- change font size, font width.

@Vishal-raj-1  I am a GSSoC'21 parti

[2021-03-27 15:26] SanskaarPatni commented on #282
I tried squashing the commits but in the end always ran into problem.
I then created a new branch and later a new PR.
Kindly merge the new PR #680 @Vishal-raj-1 @urvashi-code1255 .
The deletion of the earlier branch caused the old pull request to close by itself.
Thank you.

[2021-03-27 15:50] #282 closed

[2021-03-27 15:57] 991rajat commented on #403
@icoderharshit Idea sounds very good. Currently we are accepting projects which are based on vanilla javascript.
Is your project will be able to build on this.
Do let me know if you want to work on it. I will assign it to you.

[2021-03-27 15:58] 991rajat commented on #404
@deeptea22  Idea sounds good. Currently we are accepting projects which are based on vanilla javascript.
Is your project will be able to build on this.
Do let me know if you want to work on it. I will assign it to you.

[2021-03-27 16:07] deeptea22 commented on #404
@991rajat yes this is built on vanilla javascript. I will be able to do it. Please assign this to me. Thank you :)

[2021-03-27 16:07] 991rajat commented on #386
@Aarti002 are you still interested in this? If not I may transfer to another person.

[2021-03-27 16:14] 991rajat commented on #411
Hey @Vedant-Rahane are you still interested in this. I will assign it to you
Do let me know

[2021-03-27 16:19] Aarti002 commented on #386
ofcourse even i have started working on it already, i will show you by
tommorow. Please give me some time atleast!!

On Sat, Mar 27, 2021, 21:37 Rajat Kumar ***@***.***> wrote:

[2021-03-27 16:43] 991rajat commented on #415
@kumarankm Idea Sounds awesome. Are still interested ?

[2021-03-27 16:46] 991rajat commented on #416
@syedmdsaifihassan How would you do it, Explain the feature more please.
Idea sounds great.

[2021-03-27 16:46] kumarankm commented on #415
Yes I'm @991rajat

[2021-03-27 16:47] mohammedjameel24 opened #683 "dark mode for AJP"
Adding Dark Mode UI to AJP website .

[2021-03-27 16:48] 991rajat commented on #418
@Vedant-Rahane Are you still interested in this ?
Do let me know

[2021-03-27 17:30] 991rajat commented on #425
Hey @gupta31 Idea sounds awesome
Few things to say currently there is project rock paper scissor what I would say is to contribute to that project and create a switch button in the game for difficulty mode which will change the mode of game
- Easy will remain Same Rock Paper Scissor
- Hard will be your Idea

Any different kind of suggestions are welcome.
Let me know if you want to do it. I will as

[2021-03-27 17:35] 991rajat commented on #386
Take your time I was just confirming. Let me know if you need any help

[2021-03-27 18:02] Ankit0225 commented on #418
@991rajat I am interested please assign me this project

[2021-03-27 18:05] 991rajat commented on #433
@signifershrey  Sounds Exciting! Is there any API for this?

[2021-03-27 18:08] 991rajat commented on #430
@gupta31 Explain a little more I don't get it. Since we are currently accepting project based on pure vanilla.
will you be able to do it in vanilla JS?
Do let me know!

[2021-03-27 18:15] 991rajat commented on #448
@AnanyaJajoo If you like to modify or add new feat to it let me know
I'll assign it to you.

[2021-03-27 18:16] 991rajat commented on #347
@Mainakroy050 Any updates? Let me know

[2021-03-27 18:32] signifershrey commented on #433
@991rajat  Check this one -  api.funtranslations.com

[2021-03-27 18:38] 991rajat commented on #433
@signifershrey It's not working But Believe you will be able to do it.
Project sounds interesting too.
Shall I assign you this?

[2021-03-27 18:48] 991rajat commented on #452
@aliya-rahmani Any Updates or Need any help

[2021-03-27 18:54] 991rajat commented on #473
@SandeepKrSuman Sound Awesome Go Ahead!

[2021-03-27 19:00] 991rajat commented on #471
@barsha119 Great Idea Go for it.

[2021-03-27 19:21] 991rajat commented on #477
This Game Already exist would you like to add new feat or modify it
Like Add Difficulty mode
Any suggestions are welcome.

[2021-03-27 19:46] 991rajat commented on #481
Hey @ishita-sehgal Looks Intersting Go Ahead!

[2021-03-27 20:22] Aarti002 commented on #386
hey @991rajat ,  i have made a PR on this issue, please review it and let me know if something is missing.
Thank you!

[2021-03-27 21:29] Marim99 opened #685 "Add Snake game"
Hey! I want to add snake game in project collection ---as a participant of GSSOC'21. Please assign it to me!

[2021-03-28 03:40] aliya-rahmani commented on #452
@991rajat will work on it

[2021-03-28 03:42] satwik16 commented on #675
hey @Anubhav7298  I would like to contribute to this project , as I am familiar to the tech stack required

[2021-03-28 03:44] satwik16 commented on #606
I would like to work on this issue .I am familiar to all the tech stack required to complete this project. I am a participant of GSSOC,21 .

[2021-03-28 04:12] EkjotKaur commented on #629
@urvashi-code1255 @Vishal-raj-1 @991rajat  please view this

[2021-03-28 04:12] EkjotKaur commented on #628
@urvashi-code1255 @Vishal-raj-1 @991rajat please view this

[2021-03-28 04:19] mohammedjameel24 commented on #344
Making a pr

[2021-03-28 05:00] mohammedjameel24 commented on #344
pull request #687

[2021-03-28 05:55] RubenFalcao14 opened #688 "Adding a placeholder for the name, email, etc."
The text boxes do not have a placeholder . I'm a GSSOC'21 participant and I  would love to add the placeholder.
Thank You.

[2021-03-28 06:27] Goheljay commented on #494
@Vishal-raj-1 assign me this issue... Please....

[2021-03-28 07:09] Priya19999 opened #690 "Add A todo list project"
Hey! I want to add A to-do list to the project collection ---as a participant of GSSOC'21. Please assign it to me!

[2021-03-28 07:38] dikshitaiyer commented on #688
I would like to work on this issue , I am Gssoc participant. If no one is working on this issue then please assign it to me.Thanks!

[2021-03-28 08:00] Anubhav7298 opened #692 "Add a temp_finder project"
I want to add a temperature finder project.

This project aim to provide real time temperature of a city.

[2021-03-28 08:23] signifershrey commented on #433
Yes, assign me!

[2021-03-28 09:36] pyash99 commented on #688
I'm a GSSOC'21 participant and I would like to work on this issue.

[2021-03-28 10:26] gayatri517 commented on #669
@ridsuteri please look in to the issue.

[2021-03-28 10:30] barsha119 commented on #471
I have created the app but how do I add?

[2021-03-28 10:38] syamala27 opened #695 "adding waves to color-flicker project"
## My idea
-  Adding `waves` at the bottom to make the project look more catchy :)

## I really liked this project so thought of adding these waves to make it attractive.

## Before:
![color-flicker old](https://user-images.githubusercontent.com/58478495/112749286-00460580-8fdf-11eb-9fc6-1d738b67d970.gif)
##
## After:
![color-flicker](https://user-images.githubusercontent.com/58478495/112749288-09

[2021-03-28 10:53] manognyaa opened #696 "applying spiral effect in tap music project"
## My idea
- Adding a spiral effect in the middle of the page.
- Adding some hover effect on the  pads.
- changing the movement of the ball.

## Before adding spiral effect

![music-old](https://user-images.githubusercontent.com/77045147/112749615-18b71f80-8fe1-11eb-9e59-5a4a273ee796.gif)

## After adding spiral effect

![music new](https://user-images.githubusercontent.com/77045147/112749659-5d42

[2021-03-28 11:15] 991rajat commented on #471
Add your files to respective folders like html in public and js in assets so onn and add project to script.js.
 Look at one of any project you will know.
Let me know if need any help.

[2021-03-28 11:19] 991rajat commented on #438
@aliya-rahmani Currently someone is doing this type of project once it is merged,
You could suggest something new can be added or modify to that untill then it's on hold.

[2021-03-28 11:32] 991rajat commented on #482
@Astrodevil Are still interested?

[2021-03-28 11:37] 991rajat commented on #483
Someone is working on this.
I'm making this on hold As soon as Older is merged I will open this to add new feat or modify existing project

[2021-03-28 11:39] 991rajat commented on #484
@apoorvachawda Are you interested in working on this?
Let me know

[2021-03-28 11:43] 991rajat commented on #485
@apoorvachawda Currently someone is doing this type of project once it is merged,
Also same type of issue is being created before so I'm closing it.
Issue #438
Comment on that
I'm closing this.

[2021-03-28 11:43] #485 closed

[2021-03-28 11:47] Aarti002 commented on #321
@991rajat i have made a PR please review it and let me know if something is wrong
Thank you!

[2021-03-28 12:22] 991rajat commented on #537
Hey @sejalxz Idea sounds great! Nice features.
Are you still interested ? Let me know I'll assign it to you

[2021-03-28 12:22] #434 closed

[2021-03-28 12:24] 991rajat commented on #435
Who ever is interested comment here! Assigning will be done in FCFS
Issue creator will get the priority

[2021-03-28 12:25] 991rajat commented on #436
Who ever is interested comment here! Assigning will be done in FCFS
Issue creator will get the priority
@malavikarajeshvikraman

[2021-03-28 12:26] 991rajat commented on #347
Anyone Interested comment here.

[2021-03-28 12:27] 991rajat commented on #437
I'm Closing this issue as it's duplicate
Who ever is interested comment on #347

[2021-03-28 12:27] #437 closed

[2021-03-28 12:30] 991rajat commented on #438
#397 Everyone this type of project is underdevelopment. Once it's developed you can create new issue for modification or new features
I'm closing this issue for now

[2021-03-28 12:30] #438 closed

[2021-03-28 12:31] 991rajat commented on #462
As mentioned Issue is resolved So I'm closing this issue for now.
Create a new one for improvements or features.

[2021-03-28 12:31] #462 closed

[2021-03-28 12:34] Astrodevil commented on #482
yes @991rajat

[2021-03-28 12:38] 991rajat commented on #433
@signifershrey Sorry for this there was some confusion Someone developed this project I will merge it today by itself what you could do is add new feature to it or a new language will assign it to. Is it Okay?
I let you know as soon as possible

[2021-03-28 12:45] pragati-kumar commented on #518
I'm a GSSOC'21 participant. I would like to contribute to this issue and can get started ASAP. Could you assign this to me?

[2021-03-28 12:53] 991rajat commented on #482
@Astrodevil  Some is working on responsiveness part so don't change that, apart from that fix it
Thank You

[2021-03-28 12:55] 991rajat commented on #418
Hey @Ankit0225 Just let you know Some one is working on the bug of buttons don't work on that part from that fix it.

[2021-03-28 12:56] deeptea22 commented on #404
hey @991rajat I have started working on the project and i can make a PR tomorrow so can you please add the gssoc and level labels. Thank you :)

[2021-03-28 12:56] 991rajat commented on #483
Everyone this type of project is underdevelopment. Once it's developed you can create new issue for modification or new features
I'm closing this issue for now

[2021-03-28 12:56] #483 closed

[2021-03-28 13:02] 991rajat commented on #487
Everyone this type of issue is underdevelopment. Once it's developed you can create new issue for modification or new features
I'm closing this issue for now

[2021-03-28 13:02] #487 closed

[2021-03-28 13:17] 991rajat commented on #490
Everyone this type of project is underdevelopment. Once it's developed you can create new issue for modification or new features
#415
I'm closing this issue for now

[2021-03-28 13:17] #490 closed

[2021-03-28 13:20] 991rajat commented on #494
@Goheljay Idea sounds awesome! Go Ahead

[2021-03-28 13:23] 991rajat commented on #491
@aliya-rahmani  Idea sounds great! Would it be feasible to do it in pure vanilla javascript?
let me know I'll assign it to you

[2021-03-28 13:24] 991rajat commented on #502
@HelenEH0  Any Updates?

[2021-03-28 13:28] 991rajat commented on #504
Hey @prachibansal2000 Go Ahead

[2021-03-28 13:29] Goheljay commented on #494
@991rajat thanks buddy

[2021-03-28 13:30] 991rajat commented on #510
who ever interested comment! FCFS assigning will be done
Issue creator will get priority

[2021-03-28 13:43] 991rajat commented on #514
@Deeksha-Rawat This Project Already exist in our current codebase for Improvements or new features you can create a new issue .
I'm closing this for now.

[2021-03-28 13:43] #514 closed

[2021-03-28 13:46] 991rajat commented on #517
@Raj142 Bouncing Ball Type project exist if you want to improve or modify
Or your idea is totally different please let me know

[2021-03-28 13:53] 991rajat commented on #522
@PrathmeshSadake Sounds cool Go Ahead!

[2021-03-28 13:55] 991rajat commented on #527
Hey @Subhampreet Idea sounds great. Currently we are accepting vanilla JS based projects. Will you be able to do it?
Let me know I'll assign it to you

[2021-03-28 13:56] 991rajat commented on #529
Hey @Ayushjain2205  Idea sounds awesome. Currently we are accepting vanilla JS based projects. Will you be able to do it?
Let me know I'll assign it to you

[2021-03-28 13:57] 991rajat commented on #530
This type of issue is underdevelopment. Once it's developed you can create new issue for modification or new features
I'm closing this issue for now

[2021-03-28 13:57] #530 closed

[2021-03-28 13:59] 991rajat commented on #540
Hey @Anupreetadas  Idea sounds great and Nice features too. Currently we are accepting vanilla JS based projects. Will you be able to do it?
Let me know I'll assign it to you

[2021-03-28 14:00] 991rajat commented on #543
Already Exist.
I'm closing this for now.

[2021-03-28 14:00] #543 closed

[2021-03-28 14:04] 991rajat commented on #549
Hey @AryaPatel1111 this Type of project already exist in our current codebase. If you want to modify or add new features create a new issue regarding that. I'm closing this for now

[2021-03-28 14:04] #549 closed

[2021-03-28 14:05] 991rajat commented on #551
Hey @mohammedjameel24 Good catch I'm assigning it to you.

[2021-03-28 14:06] 991rajat commented on #553
Hey @aastha621 Since the UI of the application has been changed Please take a look and let me know what things you want to add or modify. I'll assign it to you

[2021-03-28 14:09] 991rajat commented on #558
This Type of project already exist in our current codebase name Dynamic Quote Genrator. If you want to improve or modify create a new issue for that.
I'm closing this for now

[2021-03-28 14:09] #558 closed

[2021-03-28 14:10] 991rajat commented on #562
This Type of project already exist in our current codebase name Pallindrome Checker. If you want to improve or modify create a new issue for that.
I'm closing this for now

[2021-03-28 14:12] 991rajat commented on #563
@SilverGraph Wait for a while someone is working on it As soon as it frees I'll let you know.
By the way Cool UI. Do not worry we will merge that.
Ping me after 2 Days

[2021-03-28 14:13] #562 closed

[2021-03-28 14:14] 991rajat commented on #571
Nice Catch @AnandBIT I'm Assgining it to you fix it

[2021-03-28 14:14] Subhampreet commented on #527
Yeah Sure!!! I will be developing the complete project in vanilla JavaScript.

[2021-03-28 14:15] Subhampreet commented on #527
Kindly assign me the issue to work on it, as I am eager to contribute to this project!!!!

[2021-03-28 14:19] 991rajat commented on #574
Hey @ishani02 Go Ahead

[2021-03-28 14:21] 991rajat commented on #575
Everyone UI of the website has been updated. Feel free to find bug there and create a new issue for that will be happy to assign.
As this is old I'm closing this issue for now

[2021-03-28 14:21] #575 closed

[2021-03-28 14:21] mohammedjameel24 commented on #551
pull req #687

[2021-03-28 14:22] 991rajat commented on #577
Hey @pranabprohit Nice feat Please add it.

[2021-03-28 14:24] 991rajat commented on #582
@Sweeti-Gupta Idea Sounds Great. Do work on it.

[2021-03-28 14:27] 991rajat commented on #585
Currently UI has been changed please look into it feel free to find bugs and raise issue Will be happy to assign you all.
For now I'm closing this one

[2021-03-28 14:27] #585 closed

[2021-03-28 14:28] 991rajat commented on #587
Hey @SalmaZakaria Nice Idea, Go ahead work on it

[2021-03-28 14:38] Ayushjain2205 commented on #529
@991rajat Yes I will be able to implement it with vanilla JS. Please assign it to me.

[2021-03-28 14:45] mohammedjameel24 commented on #272
pull req #700

[2021-03-28 14:46] #590 closed

[2021-03-28 15:06] 991rajat commented on #595
This type of issue is under development and someone has made PR too. Raise a issue for modifying or adding new features to it after it is merged. Will be happy to assign you.
I'm closing this for now.

[2021-03-28 15:06] #595 closed

[2021-03-28 15:07] 991rajat commented on #589
@Deeksha-Rawat Nice Concept Go Ahead

[2021-03-28 15:31] 991rajat commented on #591
@shitesh2607 Game sounds very  addictive Will be fun to play. Go Ahead develop it

[2021-03-28 15:36] shitesh2607 commented on #591
sure

[2021-03-28 15:37] 991rajat commented on #598
@RoliGautam We are sorry for not able to merge your request due to changes in the project. Feel free to look around there are plenty of things can be added, modified in this project Create a issue, We will be happy to assign you

I'm closing this issue for now

[2021-03-28 15:37] #598 closed

[2021-03-28 15:40] Marim99 commented on #685
Please assign it to me!

[2021-03-28 15:41] 991rajat commented on #252
Hey @janvi01 Do not worry. Also no one is answering here so
I'm closing this duplicate issue for now as you are working on it

[2021-03-28 15:44] #252 closed

[2021-03-28 16:24] #607 closed

[2021-03-28 16:24] 991rajat commented on #614
Great Idea @TidbitsJS Please go ahead!

[2021-03-28 16:33] Ankit0225 commented on #418
@991rajat Ok

[2021-03-28 16:33] 991rajat commented on #624
@Fab-Gaurav Since the UI has been updated this feature has become obsolete. We are sorry to inform you that.
Feel free to look around, there are plenty of things that can be added or modified within this project. Create an Issue we will be happy to assign you that.

[2021-03-28 16:33] #624 closed

[2021-03-28 16:34] aastha621 commented on #553
I can
1) Add shadow on hover effect on 'Awesome Javascript' title on navbar.
2) Animate the text 'The great collection of JavaScript projects,
just for you!!!' by giving it a typewriter effect.

Pls assign this to me!

[2021-03-28 16:36] 991rajat commented on #628
Good catch. Feel free to change UI as well if you like.

[2021-03-28 16:37] Fab-Gaurav commented on #624
@991rajat Please have a look on issue https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/issues/651
Should I work upon it.

[2021-03-28 16:52] 991rajat commented on #632
Everyone rightnow this issue is under development. Once it's developed you can create new issue for modification or new features
Feel free to look around, plenty of things can be added or modified within this project. Create an issue will be happy to assign you.
I'm closing this issue for now

[2021-03-28 16:52] #632 closed

[2021-03-28 16:54] 991rajat commented on #634
UI has been updated which makes this issue obsolete we are sorry to inform you that. Feel free to look around, plenty of things can be added or modified within this project. Create an issue will be happy to assign you.
I'm closing this issue for now

[2021-03-28 16:54] #634 closed

[2021-03-28 16:57] 991rajat commented on #635
Hey @Akansha-Bhandari Please can you elaborate more how will it work, As I feel there is similar type of project under development, so please clarify.
There is issue #591
Is it similar?

[2021-03-28 16:59] 991rajat commented on #591
Do not worry about these linked issues your's one will be accepted as per FCFS
Just confirming other people about similar idea.

[2021-03-28 17:00] 991rajat commented on #636
@mdatif796 Please refer any design or something?
How will it look after modifications

[2021-03-28 17:01] 991rajat commented on #637
Duplicate Issue #636  I'm closing this for now.

[2021-03-28 17:01] #637 closed

[2021-03-28 17:02] 991rajat commented on #639
Hey @oneknucklehead this feature is already been implemented. Feel free to look around, plenty of things can be added or modified within this project. Create an issue will be happy to assign you.
I'm closing this issue for now

[2021-03-28 17:02] #639 closed

[2021-03-28 17:03] 991rajat commented on #640
Hey @oneknucklehead this feature is already been implemented. Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-28 17:03] #640 closed

[2021-03-28 17:05] 991rajat commented on #629
Hey @EkjotKaur For Now You create a list of project which you feel like the code is breaking
As there are other people who maybe working on same project may cause conflict in future so I would suggest You create a list and I will tell you for now to work on certain projects and keep you updated as soon as other projects are free to work upon.

[2021-03-28 17:07] 991rajat commented on #613
Hi @aastha0507 Could you describe more how would you implement it. For now we are currently accepting only Vanilla JS based project. Will you be able to develop it in vanilla js?

[2021-03-28 17:09] sejalxz commented on #537
Yes, do assign me. :) Would love to work :)

[2021-03-28 17:13] sejalxz commented on #277
@991rajat I have added the toggle feature from Celsius to Fahrenheit but it  not working when I fetch details of temperature of the city using API it toggles only once for some cities. I am not able to go around it

[2021-03-28 17:18] sejalxz commented on #380
@urvashi-code1255 @991rajat. Hey! It's been long time since I made a pr. Please look into it! Thank you :)

[2021-03-28 17:19] sejalxz commented on #510
@991rajat Sure! Please assign me thank you :)

[2021-03-28 17:20] sejalxz commented on #501
@991rajat @urvashi-code1255 I have resolved the conflicts. Please look into it. Thanks :)

[2021-03-28 17:25] AyushPradhan9 commented on #663
@urvashi-code1255 @Vishal-raj-1 @991rajat please view this.

[2021-03-28 17:37] 991rajat commented on #643
this type of project is underdevelopment and PR is requested. Once it's merged you can create new issue for modification or new features
Ping me here 2-3 days later.

[2021-03-28 17:38] 991rajat commented on #645
Sounds Interesting Please Go Ahead Develop it.

[2021-03-28 17:39] 991rajat commented on #646
Sure Go Ahead!

[2021-03-28 17:45] 991rajat commented on #641
This project already exist. You can create issue for modification or adding new feat.
Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-28 17:45] #641 closed

[2021-03-28 17:48] #643 closed

[2021-03-28 18:03] 991rajat commented on #650
Please Go Ahead! Exchange Rate Calculator definitely needs an upgrade

[2021-03-28 18:04] 991rajat commented on #651
@Fab-Gaurav Good One Develop it with pure vanilla JS.

[2021-03-28 18:05] 991rajat commented on #652
@oneknucklehead This project is already been under development.Once it's developed you can create new issue for modification or new features
Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-28 18:05] #652 closed

[2021-03-28 18:06] 991rajat commented on #653
Hey @pritamkr1  Describe it more, reference anything so that I'm able to get the proper idea

[2021-03-28 18:09] shruti-mayank commented on #688
I am a GSSoC'21 participant and would like to work on the issue.
Could you please assign me the issue?

[2021-03-28 18:10] 991rajat commented on #657
@Archna29  This project is already been implemented.
Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-28 18:10] #657 closed

[2021-03-28 18:11] 991rajat commented on #658
@vanshikapandey  Is it similar to TODO List?

[2021-03-28 18:15] malavikarajeshvikraman commented on #436
Hey Could you assign it to me

[2021-03-28 18:17] Shivangi-ch commented on #690
I want to add  to-do list to the  collection as a participant of GSSOC'21.
Please assign it  to me.

[2021-03-28 18:18] 991rajat commented on #665
this type of project is underdevelopment. Once it's developed you can create new issue for modification or new features
 Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-28 18:18] #665 closed

[2021-03-28 18:19] 991rajat commented on #670
@Muskan-creator This project is already been implemented.
Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-28 18:19] #670 closed

[2021-03-28 18:22] 991rajat commented on #675
Everyone rightnow this issue is under development some other participant is working on it. Once it's developed you can create new issue for modification or new features.
Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-28 18:22] #675 closed

[2021-03-28 18:28] rray14 commented on #435
I am interested

[2021-03-28 18:38] shitesh2607 commented on #591
Thanks @991rajat.

[2021-03-28 19:18] signifershrey commented on #433
Okay!

[2021-03-28 22:14] sejalshri opened #705 "Image Editor"
I would like to add a Js project that will have a online image editing and downloading feature.
Kindly assign me under GSSOC'21.
@ridsuteri @urvashi-code1255 @Vishal-raj-1

[2021-03-29 02:42] vanshikapandey commented on #658
No sir this isn't similar to to-do list.I will be implementing it bit
differently.Kindly assign it to me

On Sun, Mar 28, 2021, 14:11 Rajat Kumar ***@***.***> wrote:

[2021-03-29 02:44] affan880 commented on #674
@Vishal-raj-1  please assign me this issue

[2021-03-29 02:55] Tanya933 opened #706 "UI modification of Contact-Us Form"
I would like to add   icons   ,placeholder ,    contact-form button effects  improvement and other css stuffs to  enhance the
    UI of  Contact Us form as a GSSOC'21 participant . @ridsuteri @991rajat @urvashi-code1255 @harshgupta20 please assign
    this issue to me. Thankyou .

[2021-03-29 03:11] HelenEH0 commented on #502
I'm having semester exams now which was again postponed, can I work on this after that?

[2021-03-29 05:15] Muskan-creator opened #707 "Create a signup and login form"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to include a new feature.
## Describe the solution you'd like
I  want to create a signup and login form page in this project .
please assign this issue to me @urvashi-code1255

[2021-03-29 05:45] Muskan-creator opened #708 "Html validation"
## Describe the bug
The lists are not valid according to html along with some other issues. Please assign me this issue.
You can check for yourself by uploading the index.html here.
https://validator.w3.org/#validate_by_input

## Expected behavior
A clear and concise description of what you expected to happen.
I want to validate html according w3c standards.

## Logs
If applicable, add logs to hel

[2021-03-29 06:09] shubhamjha25 opened #709 "Pagination in Vanilla JS"
## Is your feature request related to a problem?
No, It's not a problem. I am trying to include a new feature.

## Describe your feature
Pagination is the process of separating print or digital content into discrete pages.
For print documents and some online content, pagination also refers to the automated process of adding consecutive numbers to identify the sequential order of pages.
Online arti

[2021-03-29 07:16] EkjotKaur commented on #629
I want to responsiveness of the following projects:

- [ ] Netflix Clone
- [ ] Pinpad
- [ ] Calculator
- [ ] New year count down
- [ ] Image slide
- [ ] Local Storage
- [ ] Analog Clock
- [ ] Password Generator
- [ ] Pixel Game

[2021-03-29 07:18] EkjotKaur commented on #629
@991rajat  Please assign me this issue and tell on which of these can I work right now.

[2021-03-29 07:24] EkjotKaur opened #712 "Love Calculator - Working with empty values, try again duplicated"
- [ ] This doesn't have any validation.
It is working without filling the names.

- [ ] Try again appears again and again when we click calculate

### ScreenShort of the Error

![IssueLoveCalc](https://user-images.githubusercontent.com/66993173/112800882-de578c00-908d-11eb-919f-d085f679a034.png)

[2021-03-29 07:26] EkjotKaur commented on #712
@991rajat @Vishal-raj-1 @urvashi-code1255 Please assign me this issue

[GSSOC'21]

[2021-03-29 08:18] shruti-mayank opened #713 "Edit magic notes"
Magic notes can be modified with additional CSS effects to make them look more attractive.
Hey @Vishal-raj-1 and @urvashi-code1255, I request you to assign me the issue.

[2021-03-29 08:45] shruti-mayank opened #714 "GSSoC'21: Add pagination and search bar in the project section."
This issue is created for enhancement and for the user-friendly experience of the project section.

If a pagination and search bar are added to the webpage using js, it will be easier for a user to explore through the projects.

[2021-03-29 08:49] shruti-mayank commented on #707
I can make a perfectly responsible login and signup page for the website.
I request @Vishal-raj-1 and @urvashi-code1255 to assign me the issue.

[2021-03-29 09:14] pritamkr1 commented on #653
Basically! I'll use API to show all characters of herry Potter with vanilajs

[2021-03-29 10:41] vaishnavig20 commented on #362
I will send a pull request soon

[2021-03-29 10:42] shubhamjha25 opened #716 "Carousel using Vanilla JS"
Hi There!
I am Shubham Jha. Currently Open Sourcing.

This issue is not related to any problem. Rather, I would like to add a new feature.

## Description
I would like to make a **Carousel** using the primitive tools i.e., HTML5, CSS3 and Vanilla JS.
A carousel is a list of cards that can be shuffled to display different content. Ideally, each card contains a different item that the user can brows

[2021-03-29 12:24] Vedant-Rahane commented on #411
@991rajat Please assign me this, I am working on it.

[2021-03-29 12:42] SilverGraph commented on #650
@991rajat
I have successfully added styles to the page. Please review my pull request #719

[2021-03-29 14:35] Akansha-Bhandari commented on #635
yes its similar to the above mentioned issue ...
so i guess there is no need to re-create the game again ....

[2021-03-29 15:14] barsha119 commented on #471
I have made a pull request...but it's showing some error

[2021-03-29 16:28] #621 closed

[2021-03-29 16:52] syamala27 commented on #695
thank you @ridsuteri  sir for assigning the issue  :)

[2021-03-29 16:58] ridsuteri commented on #705
@sejalshri please try to follow issue template from next time

[2021-03-29 17:10] #668 closed

[2021-03-29 17:33] #669 closed

[2021-03-29 18:52] AnandBIT commented on #571
@991rajat can I also change the UI, as it is not responsive now?

[2021-03-29 20:52] AnandBIT commented on #571
@991rajat please review this and sorry for the mistake :)

[2021-03-30 01:38] #696 closed

[2021-03-30 01:58] #583 closed

[2021-03-30 05:16] NehaK745 opened #729 "Spelling error"
## Describe the bug
I was going through this project and I found this error. the spelling of contact is not grammatically correct.
Please assign this issue to me I want to fix this as a participant of gssoc21.
## Additional context
![Screenshot (12)_LI](https://user-images.githubusercontent.com/64440607/112937053-96e00700-9144-11eb-916b-463a51fa3bfb.jpg)

Add any other context about the problem he

[2021-03-30 05:17] jhamadhav opened #730 "Project Idea : John Conway's game of life"
# Game-of-life
A project inspired by John Conway's game of life.
The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970. It is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observi

[2021-03-30 05:19] jhamadhav commented on #730
As part of #GSSoC'21, I would love to develop it and contribute to this project.
@Vishal-raj-1  @urvashi-code1255 please assign me this !

[2021-03-30 05:28] tk315 opened #731 "Armstrong Number Checker using Javascript"
## Is your feature request related to a problem? Please describe.
No its not a problem. I just want to add a new project to check whether a number is Armstrong or not using JavaScript under GSSOC2021

## Describe the solution you'd like
When the user click on Check Button after entering the Number ,this project will find out whether the Entered Number is Armstrong or Not and give the results.
Arms

[2021-03-30 05:36] 991rajat commented on #551
Wrong PR

[2021-03-30 05:40] tushartiwari7 opened #732 "Create License"
## Adding License to the Repo

## To Reproduce
Steps to reproduce the behavior:
1. we have many free licenses to choose from eg. Apache v2.0, MIT, GNU etc.
2. i can add any as per your preferences.
3. A License is a must for a repo like this as this repo remains active almost everytime so having a icense is a good idea.

## Expected behavior
it will make [this ](https://github.com/Vishal-raj-1/Awe

[2021-03-30 05:53] 991rajat commented on #272
You Don't have to link Here, Fill the PR description properly It will be linked automatically

Like
Closes : #PR_NO

[2021-03-30 05:54] shivammahajancse opened #733 "Infix to postfix and prefix converter using JavaScript"
## Is your feature request related to a problem? Please describe.
No its not a problem. I just want to add a new project that converts Infix to postfix/prefix using JavaScript under GSSOC 2021.
## Describe the solution you'd like
I will make an converter which convert infix expression to postfix and prefix. When user enters a infix expression and click on convert button then it convert into postfi

[2021-03-30 06:00] 991rajat commented on #277
Is API working properly ? Are the responses you getting are correct?
Send me the link of the branch I'll try to look into.

[2021-03-30 06:01] shivammahajancse opened #734 "Infix, Postfix & Prefix expression evaluator using JavaScript"
## Is your feature request related to a problem? Please describe.
No its not a problem. I just want to add a new project which evaluate the infix, postfix & prefix expression using JavaScript under GSSOC 2021.
## Describe the solution you'd like
I will make an evaluator which evaluate infix, postfix & prefix expression. When user enters a infix/prefix/postfix expression and click on evaluate butto

[2021-03-30 06:04] tk315 opened #735 "Factorial Calculator"
Is your feature request related to a problem? Please describe.
No its not a problem. I just want to add a new project to calculate the Factorial of the entered Number using JavaScript under GSSOC2021

Describe the solution you'd like
When the user click on Calculate Button after entering the Number ,this project will print the Factorial of the entered number on the screen

Factorial:  is the produ

[2021-03-30 06:06] tk315 commented on #735
gssoc

[2021-03-30 06:19] 991rajat commented on #553
@aastha621 Idea sounds cool. Please work on it.

[2021-03-30 06:25] 991rajat commented on #436
Great Develop it

[2021-03-30 06:27] 991rajat commented on #435
Great Develop it.

[2021-03-30 06:29] lakshita15 commented on #661
@ridsuteri @991rajat please check this i have already completed it....

[2021-03-30 07:12] #628 closed

[2021-03-30 07:15] #467 closed

[2021-03-30 07:25] 991rajat commented on #433
Hey @signifershrey Sorry for the Delay Minion App has been added.
Feel free to ping me the Idea you would Like to work. I'll be Happy to assign you.
And change the title also.

[2021-03-30 07:32] syedmdsaifihassan commented on #416
List of important events arranged in the order in which they happened.

I want to create this timeline project in vertical order.
I use the timeline.js to render the responsive vertical timeline.

[2021-03-30 07:34] Amit366 commented on #647
@ridsuteri please assign this issue to me. I am a GSSOC participant

[2021-03-30 07:34] janvi01 opened #736 "Add a profile card generator."
I would like to add a new javascript project.

### Description
Like enter your personal details like name, dob, profession, photo, etc.
and then it will display a beautiful card displaying your identity.
Something like I-Card.

Please review this issue...

[2021-03-30 07:35] janvi01 commented on #736
@991rajat

[2021-03-30 07:42] 991rajat commented on #502
Sure No Problem

[2021-03-30 07:54] ridsuteri commented on #647
@Amit366 this issue is  already assigned ,please try any other one :)

[2021-03-30 07:54] #647 closed

[2021-03-30 07:58] Amit366 commented on #647
@ridsuteri but I opened it 6 days ago. How is it assigned.

[2021-03-30 08:01] Amit366 opened #737 "Quiz App"
## Is your feature request related to a problem? Please describe.
No its not a problem. I am a GSSOC participant and would like to make a quiz app
## Describe the solution you'd like
I would use javascript and html to make the app.

[2021-03-30 08:01] Amit366 commented on #737
@ridsuteri please assign it to me

[2021-03-30 08:02] ridsuteri commented on #647
@Amit366 there is another issue which was opened 26 and 17 days earlier

[2021-03-30 08:20] 991rajat commented on #709
@shubhamjha25  Always get assigned first before making PR, It helps us to manage easily.

[2021-03-30 08:26] #709 closed

[2021-03-30 08:28] vanshikapandey commented on #658
Thank you for assigning this issue sir.will get back asap:)

On Tue, Mar 30, 2021, 03:42 Rajat Kumar ***@***.***> wrote:

[2021-03-30 08:28] shubhamjha25 commented on #709
Thanks, I will keep this in mind for sure.

[2021-03-30 08:39] 991rajat commented on #362
No problem. Take your time.

[2021-03-30 08:44] 991rajat commented on #405
Everyone Someone is working on image gallery application, As soon as it merged with our current code base you can work on to add new feat or modify it. Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-30 08:44] #405 closed

[2021-03-30 08:46] 991rajat commented on #716
@shubhamjha25  I believe this issue is similar to this one #589 ?

[2021-03-30 08:47] shubhamjha25 commented on #716
Ah! Yes yes.

[2021-03-30 08:50] 991rajat commented on #635
Once it's developed you can create new issue for modification or new features.
Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-30 08:50] #635 closed

[2021-03-30 08:57] 991rajat commented on #716
Once it's developed you can create new issue for modification or new features.
Feel free to look around, plenty of things can be added or modified within this project. Create an issue we will be happy to assign you.
I'm closing this issue for now

[2021-03-30 08:57] #716 closed

[2021-03-30 08:58] shubhamjha25 commented on #716
Okay, Thank You.

[2021-03-30 09:43] Amit366 opened #739 "Grocery bud"
## Is your feature request related to a problem? Please describe.
No its not a problem. I am a GSOC participant and would like a web app in which user can add the grocery items which are to be bought
## Describe the solution you'd like
I will be using JavaScript and HTML

[2021-03-30 09:44] Amit366 commented on #739
@ridsuteri please assign it to me

[2021-03-30 09:46] #739 closed

[2021-03-30 09:48] Amit366 opened #740 "Grocery bud"
## Is your feature request related to a problem? Please describe.
No its not a problem. I am a GSSOC participant and would like a web app in which user can add the grocery items which are to be bought
## Describe the solution you'd like
I will be using JavaScript and HTML

[2021-03-30 09:48] Amit366 commented on #740
@ridsuteri please assign me this issue

[2021-03-30 13:18] #364 closed

[2021-03-30 14:36] abhijeet141 opened #745 "Fotter section is not allign in desktop view"
## Describe the bug
Fotter section is not allign in desktop view

## To Reproduce
Steps to reproduce the behavior:
1. click on website link
2. scroll down
Please assign me this issue
![image](https://user-images.githubusercontent.com/67696867/113006981-71c6b500-9193-11eb-8293-6c2b5d9a0bd1.png)

[2021-03-30 15:05] mahesh-11102 opened #746 "Adding falling leaves theme to word-counter project"
## My idea
-  adding falling leaves to the background
- I have made the background using pure css.

## here is the screenshot
![wordCounter](https://user-images.githubusercontent.com/77436328/113420926-d11d0300-93e7-11eb-866f-9a0c7a78ff6b.gif)

##
@ridsuteri  @991rajat  @harshgupta20  @urvashi-code1255 , is there anything I need to improve as I haven't received any update regarding this issue.
ple

[2021-03-30 15:35] pritamkr1 commented on #653
Done from my side @991rajat   please have a look at Harry potter #748

[2021-03-30 16:42] headphone-rachit commented on #734
Hey, @shivammahajancse I would Like to work on it would you assign me this and tell me where to add it.
Thanks

[2021-03-30 17:10] Amit366 commented on #740
@991rajat can I start working on it??

[2021-03-30 17:10] Amit366 commented on #737
@991rajat can I start working??

[2021-03-30 17:25] SatyaPrakash26 commented on #306
Yes I am working on it

[2021-03-30 18:38] Priyadarshan2000 commented on #679
/assign

[2021-03-31 04:08] jhamadhav opened #749 "Project Idea : Rose | ( Mathematics )"
# rose-mathematics
In mathematics, a rose or rhodonea curve is a sinusoid specified by either the cosine or sine functions with no phase angle that is plotted in polar coordinates. Rose curves or "rhodonea" were named by the Italian mathematician who studied them, Guido Grandi, between the years 1723 and 1728.
This project is an attempt to showcase its visualization.
[*Source-wikipedia*](https://e

[2021-03-31 04:10] jhamadhav commented on #749
As part of GSSOC 2021, I would love to develop it and contribute to this project.
@Vishal-raj-1 @urvashi-code1255 please assign me this !

[2021-03-31 05:14] kumarankm opened #750 "Birthday Greeting Card"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
During this lockdown, the online service has become popular. So what if we add a birthday greeting card to our project.

## Additional context
Assign me this issue under GSSOC' 21!

[2021-03-31 06:32] codebuzzer01 commented on #244
@991rajat  Yeah!! I am working on it. Was quite busy in exams these days but sure I am working on it.

[2021-03-31 07:42] Fab-Gaurav commented on #651
@991rajat Please Review my PR : https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/727

[2021-03-31 08:28] gaurav24072002 commented on #592
Any Update @Vishal-raj-1 and @urvashi-code1255 ???

[2021-03-31 09:09] Tanya933 commented on #706
@ridsuteri @991rajat @urvashi-code1255 @harshgupta20.Please assign this issue to me.Thankyou

[2021-03-31 09:37] AnshikaAgrawal5501 opened #754 "Image Editor"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I would like to add a new project called **Image Editor**.

## Describe the solution you'd like
In this project, multiple filters are provided and we can apply them to the image and edit it.

## Additional context
There is a range to decide the intensity of each and every filter. The frame can also be added w

[2021-03-31 09:40] AnshikaAgrawal5501 commented on #735
Hey, I am a GSSOC'21 participant and I would like to work on this issue.

@Vishal-raj-1  @urvashi-code1255  @ridsuteri
Please assign this issue to me.

[2021-03-31 11:00] SilverGraph commented on #563
@991rajat Greetings! You asked me to remind you about this issue.

[2021-03-31 11:32] Malvika18 commented on #735
I would want to work on this.

[2021-03-31 12:09] EkjotKaur commented on #629
@991rajat Please tell me in which of these I can work.

[2021-03-31 16:19] Goheljay commented on #494
I will pr this feature in 1 to 2 days. Okey buddy.

[2021-03-31 16:32] Bhavya-Sehgal commented on #745
I want to work on this issue  as GSSOC'21 participant. Please assign me this issue. @Vishal-raj-1 @urvashi-code1255  @991rajat

[2021-03-31 17:17] abhijeet141 opened #756 "Adding functional links in contact us section"
## Describe the bug
Currently, the contact us section links are non-clickable  they are not functional.

![image](https://user-images.githubusercontent.com/67696867/113184671-1966e480-9273-11eb-8764-2a8c8b222bd9.png)

[2021-03-31 17:18] abhijeet141 commented on #756
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-31 17:37] tinchods93 commented on #176
Were you able to solve this? If not, I can tackle it for you.

[2021-04-01 02:46] tk315 commented on #735
@991rajat @Vishal-raj-1 @urvashi-code1255 Please assign me this issue

[GSSOC'21]

[2021-04-01 02:47] tk315 commented on #731
@991rajat @Vishal-raj-1 @urvashi-code1255 Please assign me this issue

[GSSOC'21]

[2021-04-01 06:17] Amit366 commented on #740
/assign

[2021-04-01 08:54] priyanka001tech opened #760 "Running car animation website"
This shows a animated car moving using html,css,java-script
this have music also.

[2021-04-01 08:55] #760 closed

[2021-04-01 09:00] icoderharshit commented on #403
Yes it is in Vanilla Javascript, kindly assign me the issue.

[2021-04-01 09:05] ibhavikamalhotra commented on #402
Yes it is in Vanilla JS, kindly assign me the issue so that i can work on the same.

[2021-04-01 09:17] priyanka001tech commented on #582
I would also like to contribute in this project..

[2021-04-01 09:19] priyanka001tech commented on #582
By adding some new things

[2021-04-01 09:32] poojitha2002 commented on #284
Is my project validated?

[2021-04-01 11:13] bishalshaw-164 opened #761 "JavaScript Grocery List Project"
## The objective of this JavaScript grocery list project is to create a list that accepts an item and also saves it to local storage.

## Additional context
If the user tries to submit a blank item, the top container in the project alerts the user to add an item with an “alert” message. If the user successfully adds an item, the top container alerts the user with a “success” message.
Every time an

[2021-04-01 14:43] K-jais opened #762 "Add the LIGHT-DARK mode"
I can Add Light Dark Mode to all of the pages which adds another feature to this website and which just gives two choices to the user as whats its preferable UI is either light or dark.

[2021-04-01 15:29] K-jais opened #764 "Add Pronunciation web project"
In this project, I will have one pronunciator who pronounces each and everything a person or a user writes.

[2021-04-01 16:31] gaurav24072002 commented on #592
@Vishal-raj-1 and @urvashi-code1255  can you please reply on the updates??

[2021-04-01 16:38] aastha621 commented on #553
@991rajat I have made necessary changes and made a PR. Kindly review it! PR #765

[2021-04-01 17:13] Saumya-07 commented on #307
I am unable to create a pull request.
I have fixed the issue and added few functionalities.

[2021-04-01 18:23] SiddhantChadha opened #766 "Project assests not loading"
## Describe the bug
Many of the projects are not able to load the associated asset (css and javascript) files properly , thus degrading the appearance and overall functionality of the project(s).

## Screenshots
Here are screenshots from some of the projects -
![image](https://user-images.githubusercontent.com/63542625/113337093-edb42f00-9344-11eb-9674-1cef087ade3f.png)

![image](https://user-imag

[2021-04-01 18:24] SiddhantChadha commented on #766
Please assign me this issue @ridsuteri @991rajat

[2021-04-02 01:17] affan880 commented on #692
?? @Anubhav7298

[2021-04-02 06:00] Goheljay commented on #494
@991rajat Hello Buddy, I submitted pull request. So Review it.

[2021-04-02 06:25] Soham2020 opened #771 "Calendar using VanillaJs"
### Hi there, myself Soham Das, wants to add a new simple project, called “Calendar”, using HTML, CSS and VanillaJs.

**Description:**

Calendar is a system of organizing days. This is done giving names to period of times, days, weeks, months and years. As we all know how days are valuable for us, so if we add calendar, we will navigate our progress of each day and also good for setting short- or

[2021-04-02 07:56] samar08 opened #772 "TicTacToe game in Reactjs"
Hi I'm A.M.Samara simha reddy. I'm a gssoc 2021 participant. I want to add tictactoe game in Reactjs for this repo. Please assign me this issue.

[2021-04-02 11:21] tk315 commented on #735
/assign

[2021-04-02 11:24] tk315 commented on #735
assign

[2021-04-02 11:31] Bhavya-Sehgal opened #774 "Palindrome check - Improvement in UI."
## Describe the bug
Both check and reset buttons  are displayed despite of its dependence on text being added.

## Expected behavior
Initially there should  only be the check button and after that if the word is checked then only reset button should be there.

![palindrome-ss](https://user-images.githubusercontent.com/66208607/113411975-c4db7a80-93d4-11eb-9450-326a14a3614e.png)

[2021-04-02 11:31] Bhavya-Sehgal commented on #774
I want to work on this issue as GSSOC'21 participant. Please assign me this issue. @Vishal-raj-1 @urvashi-code1255 @991rajat

[2021-04-02 13:19] #616 closed

[2021-04-02 13:42] mahesh-11102 opened #775 "Tubelight text project"
## I have created a `Tubelight text` project with pure `CSS` .

## Here i'm share the glimpse of my project :)

![tubelight](https://user-images.githubusercontent.com/77436328/113420494-0c6b0200-93e7-11eb-9223-e550d914fa08.gif)

- @ridsuteri  @991rajat @harshgupta20   @urvashi-code1255, I would like to work on this project , so please assign me this project.

[2021-04-02 13:45] #306 closed

[2021-04-02 13:49] pragati-kumar opened #776 "Todo list app"
## Is your feature request related to a problem? Please describe.
A fully functional todo app created with javascript makes for a very useful JavaScript project
<img width="1440" alt="Screenshot 2020-08-29 at 5 08 53 PM" src="https://user-images.githubusercontent.com/64680143/113421169-3a9d1180-93e8-11eb-8b7c-5390e2c1cb4e.png">
<img width="1440" alt="Screenshot 2020-08-29 at 5 09 09 PM" src="https

[2021-04-02 15:09] mahesh-11102 opened #778 "Auto-type project"
## I have created an `Auto-type` project using pure `CSS`. here in this project the text appear to be typed by human but not :)

## Here I'm sharing a glimpse of the project

https://user-images.githubusercontent.com/77436328/113427539-d6337f80-93f2-11eb-8490-bab22d3316df.mp4

@ridsuteri  @991rajat  @urvashi-code1255  @harshgupta20 ,As  a part of  GSSOC'21 I would like to work on this project .
 p

[2021-04-02 20:25] Marim99 opened #783 "Make calculator project response in mobile view"
the calculator project isn't response in small screen so I want to make this project response ..as a participant of GSOC 21. Please assign it to me
![Screenshot (167)](https://user-images.githubusercontent.com/78925756/113451483-5ca38d80-9402-11eb-88f6-ca3aae3897fb.png)

[2021-04-03 05:07] Vishal-raj-1 commented on #783
Sure @Marim99 Go ahead

[2021-04-03 05:08] Vishal-raj-1 commented on #778
Sure @mahesh-11102 go ahead

[2021-04-03 05:10] Vishal-raj-1 commented on #175
It is already done. could you please check another issue @subhangi2731

[2021-04-03 05:10] #175 closed

[2021-04-03 05:10] Vishal-raj-1 commented on #214
@bilal-23 Sure You can implement it !!

[2021-04-03 05:13] Vishal-raj-1 commented on #260
@padmajabhol Could you please share screenshot. So that I can understand what you want to do ?

[2021-04-03 05:16] Vishal-raj-1 commented on #275
@kumarishalini6 Yeah Sure !! You can implement that feature

[2021-04-03 05:17] Vishal-raj-1 commented on #294
@sahilempire show me the better one !!

[2021-04-03 05:20] Vishal-raj-1 commented on #279
Anybody interested or shall I close this issue !!

[2021-04-03 05:25] mahesh-11102 commented on #778
thank youy @Vishal-raj-1 sir , for assiging me the issue :)

[2021-04-03 05:27] Vishal-raj-1 commented on #304
@SatyaPrakash26 or @Dimple115 Reply here are you interested or not !!

[2021-04-03 05:28] Vishal-raj-1 commented on #319
@barsha119 Do you want to improve already exist game ? Or shall I close this issue

[2021-04-03 05:30] Vishal-raj-1 commented on #320
@nagasaisriya Could You improve already made project ? If yes then do that, I will assign this issue to you

[2021-04-03 05:32] Vishal-raj-1 commented on #332
@pritamkr1 Did you made seperate issues ? Try to work on single project at a time

[2021-04-03 05:33] Vishal-raj-1 commented on #334
Sorry @Prajwal-ctrl This project is only for vanilla JS projects. I am building one more repo for react one !! You can add it in that repo later on

[2021-04-03 05:33] #334 closed

[2021-04-03 05:36] Vishal-raj-1 commented on #376
@jhasuraj01 What do you want to try in this issue ?

[2021-04-03 05:37] Vishal-raj-1 commented on #387
@Mrinal81 You can go ahead with this issue. But make sure you use vanilla JS only

[2021-04-03 05:37] barsha119 commented on #319
Actually , I think it's fine. I don't want make any changes . We may close it.

[2021-04-03 05:38] pritamkr1 commented on #332
@Vishal-raj-1  I quite form these issues already and I make separate for these

[2021-04-03 05:39] Vishal-raj-1 commented on #392
@Goheljay Sure you can !! @syedmdsaifihassan Sorry You can check other issues for now

[2021-04-03 05:39] pritamkr1 commented on #332
@Vishal-raj-1  and I already done my side please look into it

[2021-04-03 05:46] #397 closed

[2021-04-03 05:51] #319 closed

[2021-04-03 05:52] Vishal-raj-1 commented on #332
So should I close this issue ?

[2021-04-03 05:55] pritamkr1 commented on #332
Yes! @Vishal-raj-1  you can close #332 and please look into others and merge it.

[2021-04-03 05:56] #331 closed

[2021-04-03 05:57] Vishal-raj-1 commented on #402
@ibhavikamalhotra Go ahead

[2021-04-03 05:58] Vishal-raj-1 commented on #403
@icoderharshit GO Ahead

[2021-04-03 05:59] Vishal-raj-1 commented on #416
GO Ahead @syedmdsaifihassan

[2021-04-03 06:00] Vishal-raj-1 commented on #423
I am assigning this issue to you. You can go ahead @Tanu-priya-Roy

[2021-04-03 06:02] Vishal-raj-1 commented on #425
@gupta31 Let me know are you interested ?

[2021-04-03 06:03] Vishal-raj-1 commented on #427
@khareyash05 This would be great.

[2021-04-03 06:03] Tanu-priya-Roy commented on #423
Thanks a lot.

On Sat, 3 Apr 2021, 11:31 am Vishal Rajput, ***@***.***>
wrote:

[2021-04-03 06:04] Vishal-raj-1 commented on #430
@gupta31 If you can implement everything in vanilla JS. Then I will assign it to you

[2021-04-03 06:05] Vishal-raj-1 commented on #448
@AnanyaJajoo or @haarsh01 if anybody of you want to improve this project then let me know other I will close this issue

[2021-04-03 06:07] Vishal-raj-1 commented on #477
IF anybody you are interested then Let me know otherwise I will close this duplicate issue

[2021-04-03 06:08] Vishal-raj-1 commented on #484
@apoorvachawda You have one week for solve this issue otherwise I will assign this issue to @amritakesh

[2021-04-03 06:10] Vishal-raj-1 commented on #491
@aliya-rahmani If you can do this in Vanilla JS then I will assign it to you otherwise close this issue

[2021-04-03 06:11] khareyash05 commented on #427
@Vishal-raj-1 could you pls also add a level label to the the same

[2021-04-03 06:12] Vishal-raj-1 commented on #512
@Riya764 Raise the PR in one week  otherwise it will be assigned to @shahbazalam07

[2021-04-03 06:13] Goheljay commented on #392
@Vishal-raj-1 thank buddy

[2021-04-03 06:13] Vishal-raj-1 commented on #517
@Raj142 If you want to modify then reply here, otherwise you can close this issue

[2021-04-03 06:17] Vishal-raj-1 commented on #540
@Anupreetadas You can raise PR now

[2021-04-03 06:19] #555 closed

[2021-04-03 06:20] Vishal-raj-1 commented on #563
@SilverGraph You can work on that issue

[2021-04-03 06:40] Mrinal81 commented on #387
@Vishal-raj-1  OK

[2021-04-03 06:41] swapnilbhakare opened #786 "Wrong Word Count In Word Counter Project"
## Describe the bug
**There is wrong count of words in Word counter project** . I want to hands on this issue @urvashi-code1255 mam please assign this issue to me ,Under the gssoc label :)
![word counter error](https://user-images.githubusercontent.com/67636219/113470697-e6476100-93ea-11eb-979f-aeec833ed697.png)

## Expected behavior
If We type Four Words it should display that you written 4 words

[2021-04-03 06:46] gupta31 commented on #430
This includes jQuery also apart from JavaScript.

[2021-04-03 06:48] gupta31 commented on #425
Yes I am interested .For harder level I will include Spock and lizard apart from rock,paper and scissor.
This is inspired from Big bang theory TV series.
Soon I will create PR .Please assign to me under gssoc 2021.

[2021-04-03 07:18] nagasaisriya commented on #320
I would definitely try it @Vishal-raj-1 , can I get the issue link?

[2021-04-03 07:25] prayas7102 commented on #786
Please assign this issue to me i want to work on resolving this issue.

[2021-04-03 07:43] aliya-rahmani commented on #491
@Vishal-raj-1  @991rajat  sure I can, please assign me the issue

[2021-04-03 07:44] aliya-rahmani commented on #388
@991rajat  thanks for assigning

[2021-04-03 07:48] SatyaPrakash26 commented on #304
I am interested in this

On Sat, Apr 3, 2021, 10:57 Vishal Rajput ***@***.***> wrote:

[2021-04-03 07:54] syedmdsaifihassan commented on #416
Thanks buddy, I will start working on this and get back to you ASAP.
@Vishal-raj-1

[2021-04-03 08:33] bug-debug-done opened #787 "Chat app"
I would like to add a Chat app to the website .

[2021-04-03 08:59] bug-debug-done opened #788 "Analogue Clock Project"
I will create a analogue clock

[2021-04-03 09:13] bug-debug-done opened #789 "RETURN to HOME PAGE BUTTON"
## Describe the bug
Once we click on a particular project it opens in new tab and there is no option to get back to home page

## To Reproduce
Steps to reproduce the behavior:
1. Create a RETURN TO HOME PAGE button
2. Link it to the home page

## Expected behavior
A clear and concise description of what you expected to happen.

## Additional context
It would be better if the project page opens in

[2021-04-03 09:19] bug-debug-done opened #790 "8 Ball Pool game"
I would like to add a 8 ball pool game. I will make it using HTML 5 , CSS and JavaScript. Please assign this to me under GSSOC'21.

[2021-04-03 09:20] Mrinal81 opened #791 "Making Todo List App with Javascript"
I am a GSSOC'21 Participant. I would like to add the Todo List. I want to work on this Issue.
Please assign me this issue..

[2021-04-03 09:23] bug-debug-done opened #792 "Shopping Cart"
I am a GSSOC'21 Participant.
I will make a E-Commerce Shopping Cart using HTML,CSS and JavaScript.

[2021-04-03 09:28] bug-debug-done opened #793 "Text To Speech is shown twice on the website"
## Describe the bug
Same project is mentioned twice

## To Reproduce
Steps to reproduce the behavior:
1. I'll remove the repetition

[2021-04-03 09:32] Mrinal81 opened #794 "Text to Voice Generator is shown twice on website"
I am a GSSOC'21 Participant.I want to work on this Issue.
Please assign me this issue..

[2021-04-03 09:33] Mrinal81 opened #795 "Device info shown twice on the website"
I am a GSSOC'21 Participant. I  want to work on this Issue.
Please assign me this issue..

[2021-04-03 09:34] bug-debug-done opened #796 "Blank space at the end of the Home page"
![Screenshot from 2021-04-03 15-03-00](https://user-images.githubusercontent.com/75927761/113474474-c61cae00-948d-11eb-9c09-2cc11173b74b.png)
I will remove the blank space as it does not look good.Please assign this to me.

[2021-04-03 09:35] Mrinal81 opened #797 "Recipe finder shown twice on the website"
I am a GSSOC'21 Participant. I want to work on this Issue.
Please assign me this issue..

[2021-04-03 09:36] Mrinal81 opened #798 "Flip card shown twice on the website"
I am a GSSOC'21 Participant. I want to work on this Issue.
Please assign me this issue..

[2021-04-03 09:37] bug-debug-done opened #799 "The Layout of the page is not same"
![Screenshot from 2021-04-03 15-05-47](https://user-images.githubusercontent.com/75927761/113474542-2ad80880-948e-11eb-83ab-76e2e7b63f05.png)
two projects are shown in same line which does not look good. It is different from the rest of the page I'll correct that.

[2021-04-03 09:38] Mrinal81 opened #800 "Github user finder shown twice on the website"
I am a GSSOC'21 Participant. I want to work on this Issue.
Please assign me this issue..

[2021-04-03 09:47] bug-debug-done opened #801 "In some of the project the CSS not linked correctly"
I am a GSSOC'21 Participant.

![Screenshot from 2021-04-03 15-16-16](https://user-images.githubusercontent.com/75927761/113474762-95d60f00-948f-11eb-80f3-050968437c0c.png)
![Screenshot from 2021-04-03 15-16-23](https://user-images.githubusercontent.com/75927761/113474763-966ea580-948f-11eb-9fa8-fc108ad77f70.png)
I will link the CSS correctly.
Please assign this to me.

[2021-04-03 09:49] bug-debug-done opened #802 "Addition of SEARCH OPTION"
I am a GSSOC'21 Participant.
I will add search option to the project page so that it will make it easy to find a project.

[2021-04-03 09:51] Mrinal81 opened #803 "Add a Chess Game Project"
I am a GSSOC'21 Participant. I want to make Chess game .
Please assign me this issue..

[2021-04-03 09:53] bug-debug-done opened #804 "JS file not linked for some of the Project"
I am a GSSOC'21 Participant.
I will link the js file for each of the projects. So that all the project will function properly. Please assign this to me.

[2021-04-03 09:58] Mrinal81 opened #805 "Add a Motorcyle Game Project using Javascript"
I am a GSSOC'21 Participant. I want to make motorcycle game.
Please assign me this issue..

[2021-04-03 10:01] Mrinal81 opened #806 "Add a Dice Roll Game using Javascript"
I am a GSSOC'21 Participant. I want to make this game.
Please assign me this issue..

[2021-04-03 10:02] bug-debug-done opened #807 "Addition of Flappy Bird"
I am a GSSOC'21 participant.
I will add Flappy Bird to the projects.I will use HTML,CSS and JavaScript. Please assign this to me.

[2021-04-03 10:04] bug-debug-done commented on #789
Please assign this to me.

[2021-04-03 10:04] bug-debug-done commented on #793
Please assign this to me.

[2021-04-03 10:08] nidhivanjare opened #808 "Add a Js Project for typing speed and practice"
I want to add a new js project where the player will type the text that is generated randomly on the screen.
This will test his typing skills and speed.

Something like this :

<img width="1440" alt="Screenshot 2021-04-04 at 8 16 39 PM" src="https://user-images.githubusercontent.com/55665104/113512532-b29f3f00-9582-11eb-8c28-029c20d462db.png">

I am a GSSOC'21 Participant, I would like to work on

[2021-04-03 10:17] Marim99 commented on #783
thank you for assigned me , please can you make label for this issue

[2021-04-03 11:58] AshuKV commented on #786
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-03 12:49] harshgupta20 commented on #508
Hello, @jaypatel31 , You are good to go with your idea.

[2021-04-03 12:53] harshgupta20 commented on #477
Since we got reply from contributor side, we are closing it.

[2021-04-03 12:53] #477 closed

[2021-04-03 13:19] #529 closed

[2021-04-03 13:28] #571 closed

[2021-04-03 13:33] harshgupta20 commented on #613
Hi @aastha0507 , since you have not replied for so long, we will be closing this issue in 2 days.

[2021-04-03 14:49] SilverGraph commented on #563
I have pushed the changes successfully.

[2021-04-03 15:01] Fpj-11 opened #810 "Content of footer can be aligned at the center."
## Describe the bug
Content of footer can be aligned at the center to make it look more professional.
Kindly assign this issue to me.

[2021-04-03 15:15] AnandBIT opened #811 "Exchange Rate Claculator Not Working"
## Describe the bug
Excahnge Rate Calculator Not Working as Expected!

## To Reproduce
Steps to reproduce the behavior:
1.  Put in any value to exchange
2. After submitting, no value comes out as output.

## Expected behavior
Exchange value should come as the user presses **Enter ** key

## Environment (please complete the following information):
 - OS: Ubuntu 20.04.1
 - Browser: Brave Browser v89

[2021-04-03 15:21] SilverGraph commented on #811
I have already addressed this in issue #650
The bug was that the CSS and JS files were not linked properly.

[2021-04-03 15:24] AnandBIT commented on #811
Ok, then I'm closing this issue!

[2021-04-03 15:24] #811 closed

[2021-04-03 15:40] AnandBIT opened #812 "Bug in handling Click event of LocalStorage webpage"
## Describe the bug
Click event is not properly handled, due to which checkbox is also not working

## To Reproduce
Steps to reproduce the behavior:
1. Just input an item to be stored in LocalStorage
2. After pressing enter, try to mark the checkbox, you'll find that it is not working as expected.
3. Also, if we click anywhere on screen, the fish logo vibrates, which leads to a bad UX

## Expected

[2021-04-03 15:43] AnandBIT commented on #786
Please assign this issue to me, I'll resolve this issue ASAP

[2021-04-03 16:12] harshgupta20 commented on #775
This looks Great @mahesh-11102 , You can send the PR for this issue.

[2021-04-03 16:19] mahesh-11102 commented on #775
thank you @harshgupta20  sir , for assining me the issue :)

[2021-04-03 16:32] #650 closed

[2021-04-03 17:59] anshika208 opened #815 "adding a todo app using javascript"
adding a todo app using javascript in which users can add the work along with the deadline and they will recieve reminder of the deadlines and medicine timetables with appropriate notifications.
cotibution regarding  **gssoc21**.
@harshgupta20 can i work on this?

[2021-04-03 19:44] lakshita15 opened #816 "symbols visibility in tic tac toe game"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):
 - O

[2021-04-03 19:45] lakshita15 commented on #816
the O & X symbols are not visible on clicking . Please assign me this issue.

[2021-04-03 19:46] lakshita15 commented on #816
@ridsuteri @991rajat @Vishal-raj-1

[2021-04-04 05:46] Goheljay commented on #392
@Vishal-raj-1 give me a Gssoc and level label to my issue

[2021-04-04 07:47] iamabhii1 opened #820 "wanted to updated the look of digital clock of issue #105"
Hi , i wanted to update the design look of digital clock of isssue(closed) #105
I think the CSS part is not correctly done .so, i just wanted to update that part.
kindly assign this me .
contribution regarding _**_gssoc21_**_

[2021-04-04 08:15] priyanka001tech commented on #582
![Uploading Screenshot (271).png…]()
@991rajat I'm already started to working on this
can u please assign me

[2021-04-04 08:16] priyanka001tech commented on #582
![Screenshot (271)](https://user-images.githubusercontent.com/70838173/113502813-2bcf6f80-954c-11eb-840c-8a2fea15df36.png)

[2021-04-04 08:41] priyanka001tech opened #821 "Tortoise and pokemon collision game in javascript"
It is a very simple game where the tortoise and a pokemon character is running towards each other and one have to jump high to save from collision to each other.

Good quality of graphics and animation is there

I would like to code it as a gssoc participant

It is the base structure. Animation is going to be added

![Screenshot (271)](https://user-images.githubusercontent.com/70838173/113503447-8

[2021-04-04 12:38] #651 closed

[2021-04-04 13:27] vedant-jain03 commented on #815
I have already did this project I want to work on this issue.

[2021-04-04 14:36] Vishal-raj-1 commented on #304
@SatyaPrakash26 Okay assigned to you !! You can raise PR now.

[2021-04-04 14:38] Vishal-raj-1 commented on #320
@nagasaisriya I mean You can check the project on the website and if you want to improve that project. UI or any other feature then you can do that and edit this issue title then I will assign the issue to you !! Otherwise you can check other issues as well

[2021-04-04 14:39] Vishal-raj-1 commented on #332
Okay sure

[2021-04-04 14:39] #332 closed

[2021-04-04 14:39] SatyaPrakash26 commented on #304
Please add the level to it

[2021-04-04 14:40] Vishal-raj-1 commented on #425
@gupta31 Sure !!

[2021-04-04 14:44] Vishal-raj-1 commented on #430
@gupta31 Then leave this project for now !!

[2021-04-04 14:44] #430 closed

[2021-04-04 14:44] Vishal-raj-1 commented on #491
@aliya-rahmani done

[2021-04-04 14:49] #592 closed

[2021-04-04 14:50] Vishal-raj-1 commented on #592
done

[2021-04-04 14:53] Vishal-raj-1 commented on #629
@EkjotKaur For now you can contribute to first four project. Do one thing raise separate PRs for every issue it will be easy for US to review and It will be help you to gain more points

[2021-04-04 14:54] Vishal-raj-1 commented on #629
@agamjotsingh18 You can work on next 2 project for now. !!

[2021-04-04 14:55] Vishal-raj-1 commented on #674
@affan880 Go ahead !!

[2021-04-04 14:57] Vishal-raj-1 commented on #679
@Priyadarshan2000 That would be great project. Waiting for the PR

[2021-04-04 15:00] Vishal-raj-1 commented on #683
@mohammedjameel24 You can go ahead !!

[2021-04-04 15:00] Priyadarshan2000 commented on #679
Ok sir plz.. assign me this project.i would PR in 2 days..

[2021-04-04 15:01] Vishal-raj-1 commented on #685
@Marim99 Sure !! Waiting for the PR

[2021-04-04 15:02] Vishal-raj-1 commented on #688
@RubenFalcao14 You can raise the PR for the same !! Rest of you can check the other issue

[2021-04-04 15:04] Vishal-raj-1 commented on #690
@Priya19999 You can raise the PR now. Meanwhile @Shivangi-ch You can check other issues

[2021-04-04 15:09] Vishal-raj-1 commented on #692
@Anubhav7298 Atleast Before raising the issue check the Project is already there or not. And if some issues are open then until its assigned to you, don't raise the PRs. It is a duplicate issue you can contribute to other issues.

[2021-04-04 15:09] #692 closed

[2021-04-04 15:11] Vishal-raj-1 commented on #706
@Tanya933 It is already assigned to someone. You can check other issues

[2021-04-04 15:11] #706 closed

[2021-04-04 15:13] Vishal-raj-1 commented on #707
@Muskan-creator This issue assigned to you for next one week, IF you are not able to raise PR in one week then It would be assigned to @shruti-mayank. Meanwhile shruti you can check other issues

[2021-04-04 15:14] Vishal-raj-1 commented on #708
@Muskan-creator You can do one thing. This issue is assigned to you. and sign up page assigned to someone else. is it okay ?

[2021-04-04 15:15] Vishal-raj-1 commented on #713
@shruti-mayank Sure you can go ahead with this issue. all the best

[2021-04-04 15:18] Vishal-raj-1 commented on #729
@NehaK745 You can raise the PR for the same and check other mistakes as well

[2021-04-04 15:20] #376 closed

[2021-04-04 15:22] #448 closed

[2021-04-04 15:23] Vishal-raj-1 commented on #400
@pritamkr1 Go ahead

[2021-04-04 15:25] Vishal-raj-1 commented on #636
@mdatif796 You can raise the PR or show the design here itself

[2021-04-04 15:26] Vishal-raj-1 commented on #662
@lakshita15 ??

[2021-04-04 15:27] Vishal-raj-1 commented on #714
@shruti-mayank Yes That would be great !!

[2021-04-04 15:27] lakshita15 commented on #662
Okay I’ll share today

On Sun, 4 Apr 2021 at 8:56 PM, Vishal Rajput ***@***.***>
wrote:

[2021-04-04 15:28] Vishal-raj-1 commented on #730
@jhamadhav are you using html, css and vanilla js only ??

[2021-04-04 15:29] Vishal-raj-1 commented on #731
@tk315 You can go ahead with this issue. Looking forward to your PR

[2021-04-04 15:30] EkjotKaur commented on #629
Okayy

[2021-04-04 15:31] Vishal-raj-1 commented on #732
@tushartiwari7 sure !!

[2021-04-04 15:32] Vishal-raj-1 commented on #733
@shivammahajancse GO Ahead with this issue

[2021-04-04 15:34] Vishal-raj-1 commented on #734
@shivammahajancse how is it different from #733 . If it is different then I would assigned this issue to @headphone-rachit

[2021-04-04 15:35] jhamadhav commented on #730
Yes definitely.
It more complex towards mathematics but tools are enough

[2021-04-04 15:36] Vishal-raj-1 commented on #735
@tk315 I have already assigned one issue to you. Do one issue at a time. For now I am assigning this issue to @AnshikaAgrawal5501

[2021-04-04 15:37] Vishal-raj-1 commented on #736
@janvi01 Sure you can go ahead with that issue

[2021-04-04 15:38] Vishal-raj-1 commented on #737
@Amit366 Quiz App is already there, if you wan to modify already existing project then let me know

[2021-04-04 15:40] Vishal-raj-1 commented on #740
@Amit366 There is already one project Name Local Storage . You can improve that project. And dont raise the PR until issue is assigned to you

[2021-04-04 15:42] Vishal-raj-1 commented on #745
@abhijeet141 You can work on that issue. @Bhavya-Sehgal Check other issue for now, or if @abhijeet141 doesn't raise PR in next 5 days then I will assign this issue to you

[2021-04-04 15:47] Amit366 commented on #740
@Vishal-raj-1 once see the image of the website.

[2021-04-04 15:48] Amit366 commented on #740
If you like that then ok or else I will close the PR.

[2021-04-04 15:48] janvi01 commented on #736
Thanks for assigning.

[2021-04-04 15:49] #176 closed

[2021-04-04 15:55] sahilempire commented on #294
@Vishal-raj-1 **okay**, I will submit my pull request, with amazing fevicon **by tomorrow**!

Thank you.

[2021-04-04 15:56] sahilempire commented on #294
@Vishal-raj-1  **okay**, I will submit my pull request, with amazing fevicon **by tomorrow**.

Thank you.

[2021-04-04 15:58] sahilempire commented on #294
@Vishal-raj-1  **okay**, I will submit my pull request, with amazing fevicon **by tomorrow**.

And **please assign me**.

Thank you.

[2021-04-04 16:12] gaurav24072002 commented on #592
Can you Please gave the label of GSSOC '21 and add label of Level also to it.
Thank you !!

[2021-04-04 16:17] Priya19999 commented on #690
Okay Sending  a PR now

[2021-04-04 16:18] ridsuteri commented on #754
@AnshikaAgrawal5501 this issue is already assigned to someone,please come up with any other issue or try to improve any existing project

[2021-04-04 16:18] #754 closed

[2021-04-04 16:43] agamjotsingh18 commented on #629
Okay

[2021-04-04 16:56] mahesh-11102 commented on #746
Thank you @ridsuteri  sir :-)

[2021-04-04 17:02] pritamkr1 commented on #400
@Vishal-raj-1, please look into #748 and merge it.

[2021-04-04 17:19] #344 closed

[2021-04-04 17:23] Muskan-creator commented on #708
I have already started working on both issues.I have a idea for signup form.I have created issues 1 week ago ,half work is already done.

[2021-04-04 17:24] #661 closed

[2021-04-04 17:38] #695 closed

[2021-04-04 17:40] lakshita15 commented on #816
@ridsuteri @harshgupta20 @Vishal-raj-1  plss aasign this to me🙂🙂

[2021-04-04 18:11] Bhavya-Sehgal commented on #629
Can I make analog clock and password generator responsive
[GSSOC'21]

Please assign me this issue
@urvashi-code1255 @Vishal-raj-1 @991rajat  @harshgupta20 @ridsuteri

[2021-04-04 18:12] harshgupta20 opened #828 "Created Simple Ballon Splash Project."
This is the project which is made by pure Javascript.

[2021-04-04 18:26] #828 closed

[2021-04-04 18:27] AnshikaAgrawal5501 commented on #735
Thank you @Vishal-raj-1  for assigning me the issue.

[2021-04-04 18:37] icoderharshit commented on #403
@Vishal-raj-1 I have done as mentioned, and created the PR for the same with no conflicts with the base branch, please see to it and merge into the main branch. This is the first PR of me under GSSoC'21, I'm quite excited about it...Kindly see to it and close this issue by accepting the PR #832

[2021-04-04 18:38] icoderharshit commented on #403
and please add the required gssoc labels @Vishal-raj-1 asap. I am already late for leaderboard !

[2021-04-04 18:57] mohammedjameel24 commented on #683
Please merge my pull request @Vishal-raj-1

[2021-04-04 20:16] AnshikaAgrawal5501 opened #834 "Enhancement of Calendar"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I would like to enhance the look of the calendar project.
## Describe the solution you'd like
- Add bootstrap to the input fields and button.
- Make page navigation arrows small.
- Vertically align the content to the center.
- Enhance the look of the calendar.

Right now it looks like this.
![Untitled](https:

[2021-04-04 21:54] abhijeet141 commented on #745
@Vishal-raj-1 Please check this and also please check on main website that there is no project visible in project section

[2021-04-05 04:06] swapnilbhakare commented on #786
@prayas7102 ,@AshuKV ,@AnandBIT I created this issue first so, on the basis of first come first serve this issue will assign to me,If I am unable to solve this you guys can go for it , but let mentors assign this issue to me first :)

[2021-04-05 05:07] #808 closed

[2021-04-05 05:09] nidhivanjare opened #839 "Add Typing Speed project/game"
I want to add a new js project where the player will type the text that is generated randomly on the screen.
This will test his typing skills and speed.

Something like this :

<img width="1440" alt="Screenshot 2021-04-04 at 8 16 39 PM" src="https://user-images.githubusercontent.com/55665104/113512532-b29f3f00-9582-11eb-8c28-029c20d462db.png">

I am a GSSOC'21 Participant, I would like to work on

[2021-04-05 05:19] SiddhantChadha commented on #766
Please review my PR #838  @ridsuteri @991rajat @urvashi-code1255 @Vishal-raj-1

[2021-04-05 05:48] #766 closed

[2021-04-05 07:09] SilverGraph opened #841 "Files not linked properly in the Exchabge Rate Calculator page"
## Describe the bug
The Images file is not linked properly to the HTML file of the Exchange page due to which the wallpaper is absent.

## To Reproduce
Steps to reproduce the behavior:
1. Go to Awesome Javascript | Home
2. Click on `Projects` on the navbar
3. Scroll to `Exchange Rate Calculator`
4. Click on the monitor to open the page

## Expected behavior
The wallpaper should be visible after th

[2021-04-05 07:10] K-jais opened #842 "Add Styled music Player"
This music player will have the all the style and all the basic functionalities which a normal music player should have.

[2021-04-05 07:12] K-jais commented on #842
Its picture,
![Screenshot (2254)](https://user-images.githubusercontent.com/75881393/113547948-5f71ce80-960c-11eb-9d3e-76c2abc78e62.png)

[2021-04-05 07:34] ibhavikamalhotra commented on #402
@Vishal-raj-1 @991rajat I have created the PR #844  for this issue, do see to it and please merge this into the main branch, this is my first PR under GSSoC'21, let me know if there is anything missing. Also, add the required GSSoC'21 labels to this issue, so that my points get calculated.

[2021-04-05 07:48] K-jais commented on #842
Its working video,

https://user-images.githubusercontent.com/75881393/113550895-7109a500-9611-11eb-9366-ed8df3a0e411.mp4

[2021-04-05 13:14] #705 closed

[2021-04-05 13:24] gaurav24072002 opened #847 "Progress Steps Project"
I would like to add a new Awesome JavaScript Project to this Repository That is very useful to create Progress Bars for any Compitation page or any other use also. Have a look at it -
![Progress_steps](https://user-images.githubusercontent.com/77109758/113578167-fefc8480-963f-11eb-877d-711d402b8a2a.gif)

![1](https://user-images.githubusercontent.com/77109758/113578300-379c5e00-9640-11eb-95c8-ee8a

[2021-04-05 13:33] gaurav24072002 commented on #847
@Vishal-raj-1 Please Add GSSOC '21 tag and Level tag as well. And tell me if anything to be done more on this PR
Thank you!!

[2021-04-05 14:33] #605 closed

[2021-04-05 15:12] #712 closed

[2021-04-05 16:57] #348 closed

[2021-04-05 16:59] #778 closed

[2021-04-05 17:03] ridsuteri commented on #662
@lakshita15 kindly come up with proper screenshots/gifs else we have to close/transfer this issue

[2021-04-05 17:05] #737 closed

[2021-04-05 17:11] #328 closed

[2021-04-05 17:30] lakshita15 commented on #662
Like these there are various projects that lack a title on their actual
implemented page. I would like to add a nav bar having the name of the
project.
If it’s a game I’ll add heading of that project to the project.

On Mon, 5 Apr 2021 at 10:34 PM, Riddhi Suteri ***@***.***>
wrote:

[2021-04-05 17:41] ridsuteri commented on #629
@Bhavya-Sehgal yeah you can go ahead with them

[2021-04-05 17:54] Bhavya-Sehgal commented on #629
okayy :)

[2021-04-05 18:00] #629 closed

[2021-04-05 18:15] K-jais opened #852 "Update Paint Clone Project"
This Paint clone will be similar to the Paint 3d which is there on the desktop. Adding the functionality of the brush, eraser, file save, color change, etc.

[2021-04-05 18:18] K-jais opened #853 "Add Drag Drop To-Do List Project"
This will be a to-do list project which has the functionality to save the person's work and he can drag and drop the particular work from one table of things to another.

[2021-04-05 18:29] ridsuteri commented on #816
@lakshita15 i guess the symbols are pretty visible... , can you support your issue with any screenshot/gifs..?

[2021-04-05 18:44] AnshikaAgrawal5501 commented on #834
Thank you so much @ridsuteri for assigning me the issue. I will work on it and raise the pr very soon.

[2021-04-05 18:47] lakshita15 commented on #816
I checked it now . It’s working now When i tested maybe  there was issue at
that time. The thing is that the symbols are coming after few seconds ....
On Mon, 5 Apr 2021 at 11:59 PM, Riddhi Suteri ***@***.***>
wrote:

[2021-04-05 18:47] Bhavya-Sehgal opened #854 "Responsive Projects"
Can I make the following projects responsive
Analog clock
Password generator
Flip cards
Study timer
Progress Bar

[GSSOC'21]

Please assign me this issue
@urvashi-code1255 @Vishal-raj-1 @991rajat @harshgupta20 @ridsuteri

[2021-04-05 18:56] ridsuteri commented on #816
ok @lakshita15 ,so i am closing this issue now :)

[2021-04-05 18:56] #816 closed

[2021-04-05 18:57] ridsuteri commented on #834
great @AnshikaAgrawal5501 go ahead :)

[2021-04-05 19:05] #735 closed

[2021-04-05 19:15] #413 closed

[2021-04-05 20:04] sahilempire commented on #294
@Vishal-raj-1 I have created pull request #856  for the required fevicon.

Thank you.

[2021-04-06 06:55] aastha621 commented on #553
@991rajat pls review PR #765 , have made the necessary changes

[2021-04-06 07:08] jp20indian commented on #791
I am a GSSOC 2021 participant , please assign this project to me.

[2021-04-06 07:11] riasenpai opened #859 "Adding a Memory Game."
I am making a Memory Game which will help to improve your memory in a fun way using JS!

Please Assign me under GSSOC '21.

Please assign me @ridsuteri  @harshgupta20  @urvashi-code1255  @Vishal-raj-1

[2021-04-06 10:38] sumitaccess007 commented on #853
I am okay to pick this project, if you can assign this to me.

[2021-04-06 11:43] sumitaccess007 commented on #853
/assign

[2021-04-06 12:21] Deeksha-Rawat opened #863 "Testimonial Design[ggsoc21]"
I want to add my this project please assign it to me.
![TestimonialDesign](https://user-images.githubusercontent.com/50552823/113709740-7bef3300-9700-11eb-874b-d612568f65e2.gif)

[2021-04-06 13:07] mahesh-11102 opened #865 "Line replacing js project"
## About `Line replacing js` project
- This project contains a box where you type some text .
- After typing you need to click on the submit button to replace the below line

## Screenshot of this project

https://user-images.githubusercontent.com/77436328/113715015-a2b06800-9706-11eb-90c4-86c3862127e8.mp4

@ridsuteri  @Vishal-raj-1  @harshgupta20  @991rajat  @urvashi-code1255  , as a part of GSSO

[2021-04-06 16:11] ridsuteri commented on #662
@ridsuteri please support the issue with proper screenshots/gifs

[2021-04-06 16:15] #353 closed

[2021-04-06 16:19] ridsuteri commented on #859
sorry @riasenpai ,this project is already assigned to someone.., so try to add any other awesome project or improve any existing one

[2021-04-06 16:19] #859 closed

[2021-04-06 16:20] lakshita15 commented on #662
I have added the screenshots..

On Tue, 6 Apr 2021 at 9:41 PM, Riddhi Suteri ***@***.***>
wrote:

[2021-04-06 16:21] lakshita15 commented on #662
Plss check this on gmail.

On Tue, 6 Apr 2021 at 9:41 PM, Riddhi Suteri ***@***.***>
wrote:

[2021-04-06 16:27] ridsuteri commented on #662
@lakshita15 srry unable to see any screenshots..

[2021-04-06 16:30] #746 closed

[2021-04-06 17:26] lakshita15 commented on #662
Please see discord🙂🙂

On Tue, 6 Apr 2021 at 9:58 PM, Riddhi Suteri ***@***.***>
wrote:

[2021-04-06 17:44] ridsuteri commented on #662
ok great @lakshita15 go ahead

[2021-04-06 21:12] AshishRajIITI opened #870 "Styling Problems in mobile-sized devices."
## Describe the bug

https://user-images.githubusercontent.com/67483270/113777881-4f133e00-9749-11eb-8dad-aed5bd17f659.mp4

![WhatsApp Image 2021-04-07 at 02 24 40 (1)](https://user-images.githubusercontent.com/67483270/113777894-520e2e80-9749-11eb-8f87-bf443d620a4f.jpeg)
![WhatsApp Image 2021-04-07 at 02 24 40](https://user-images.githubusercontent.com/67483270/113777895-520e2e80-9749-11eb-9e71-8

[2021-04-07 01:40] Deeksha-Rawat opened #871 "Links are not connected to the social media handles on the homepage.[ggsoc21]"

[2021-04-07 03:28] #411 closed

[2021-04-07 03:46] mahesh-11102 commented on #865
Thank you @ridsuteri  sir :)

[2021-04-07 03:52] Amit366 opened #872 "Speech to text"
## Is your feature request related to a problem? Please describe.
No its not a problem. I am a GSSOC participant and would like to add speech to text converter using JavaScript.
## Describe the solution you'd like
I will be using Js and HTML.

[2021-04-07 03:55] ridsuteri commented on #872
@Amit366 image to speech or text to speech?

[2021-04-07 03:58] Amit366 commented on #872
Text to speech @ridsuteri

[2021-04-07 04:05] Amit366 commented on #872
@ridsuteri since a similar project is present so I will do speech to text

[2021-04-07 04:08] ridsuteri commented on #872
great @Amit366 go ahead

[2021-04-07 04:31] #740 closed

[2021-04-07 04:40] Amit366 opened #873 "Changes to local storage project"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of loading items. I am a participant of GSSOC .
## Describe the solution
I will update the project using JavaScript and HTML.

[2021-04-07 04:42] Amit366 commented on #873
@ridsuteri I have created the issue. Please assign it to me.

[2021-04-07 04:55] #404 closed

[2021-04-07 05:04] ridsuteri commented on #801
@bug-debug-done sorry both the issues are resolved in some other PRs ..kindly look for this issue in any other project or add any new project

[2021-04-07 05:05] ridsuteri commented on #804
@bug-debug-done can you please share the screenshots/gifs of any such projects..

[2021-04-07 05:44] bug-debug-done commented on #804
yes I'll share

[2021-04-07 06:04] bug-debug-done commented on #801
Please check these projects @ridsuteri
![Screenshot from 2021-04-07 11-16-49](https://user-images.githubusercontent.com/75927761/113818298-3597e380-9795-11eb-8992-a5ec8007ee98.png)
![Screenshot from 2021-04-07 11-18-22](https://user-images.githubusercontent.com/75927761/113818306-3761a700-9795-11eb-9f4e-8a25b25671e8.png)
![Screenshot from 2021-04-07 11-25-50](https://user-images.githubusercontent.

[2021-04-07 06:08] bug-debug-done commented on #801
@ridsuteri can yo please also have a look at these issues also  #787 #789 #790 and #792

[2021-04-07 06:40] Mrinal81 opened #874 "Car Running Project using Html,Css,Javascript"
I am a GSSOC'21 Participant. I want to make car running project.
@ridsuteri please have a look on this issue.
Please assign me this issue.

[2021-04-07 07:18] ridsuteri commented on #801
@bug-debug-done some of the projects from the above list are working properly,kindly check once again from the deployed site
and i guess there is issue with notes app hence i am assigning you the issue.

[2021-04-07 07:24] ridsuteri commented on #613
sorry @aastha0507 i am closing this issue now :(

[2021-04-07 07:24] #613 closed

[2021-04-07 07:24] ridsuteri commented on #787
@bug-debug-done similar issue #613  is already raised ..since the applicant is not responding i am assigning it to you now

[2021-04-07 07:28] ridsuteri commented on #789
@bug-debug-done you want to add home button on each project page?

[2021-04-07 07:31] ridsuteri commented on #801
done :)

[2021-04-07 07:34] bug-debug-done commented on #789
@ridsuteri yes

[2021-04-07 07:44] ridsuteri commented on #874
@Mrinal81 similar PR #554 is open ,is your project different from this one?
and if  you can share a gif/screenshot of your project ?

[2021-04-07 07:46] ridsuteri commented on #789
@bug-debug-done in my opinion it is making more sense now..but let me ask other mentors about it
please wait

[2021-04-07 07:47] bug-debug-done commented on #789
Ok

[2021-04-07 09:09] Mrinal81 commented on #874
@ridsuteri
![Screenshot from 2021-04-07 14-37-12](https://user-images.githubusercontent.com/76482022/113841011-ec548d80-97ae-11eb-8dd2-6a740496c33e.png)
Please have a look.........

https://user-images.githubusercontent.com/76482022/113840924-d646cd00-97ae-11eb-9ec2-42a3550fb7d9.mp4

[2021-04-07 09:42] #482 closed

[2021-04-07 09:59] K-jais commented on #842
Sir, Please look into this.

[2021-04-07 10:00] K-jais commented on #853
Sir, please look into this.

[2021-04-07 10:00] K-jais commented on #852
Sir, please look into this.

[2021-04-07 10:39] #865 closed

[2021-04-07 10:48] ridsuteri commented on #874
@Mrinal81 ok go ahead with it :)

[2021-04-07 10:55] #873 closed

[2021-04-07 10:58] Mrinal81 commented on #874
@ridsuteri  Thanks  for assign..

[2021-04-07 11:12] nidhivanjare opened #878 "Rock Paper Scissor Game"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I tried to enhance the look of sidenav.

## Describe the solution you'd like
I want to add a Rock paper scissor Game in javascript.

## Additional context
<img width="1395" alt="Screenshot 2021-04-07 at 4 40 45 PM" src="https://user-images.githubusercontent.com/55665104/113857418-21b5a700-97c0-11eb-8825-3f53b

[2021-04-07 14:23] Ankita297 commented on #349
Can i work  on this ?

[2021-04-07 14:24] Ankita297 commented on #349
@urvashi-code1255 @Vishal-raj-1 ?

[2021-04-07 14:26] Ankita297 commented on #258
Can i work on this ?
@991rajat @urvashi-code1255

[2021-04-07 14:27] Ankita297 commented on #272
Can i work on this @991rajat @urvashi-code1255 ?

[2021-04-07 14:32] Ankita297 commented on #285
Can i work on this ? @urvashi-code1255  @rk05-lenavo  @ridsuteri ?

[2021-04-07 16:07] agamjotsingh18 commented on #629
#Image slide made responsive

![Screenshot (36)](https://user-images.githubusercontent.com/70067726/113898322-63a71300-97e9-11eb-9203-70e36be45fab.png)
![Screenshot (37)](https://user-images.githubusercontent.com/70067726/113898326-6570d680-97e9-11eb-9600-6cd87e613e0a.png)

[2021-04-07 16:34] Ankita297 commented on #272
@ridsuteri ?

[2021-04-07 16:35] Ankita297 commented on #258
@ridsuteri

[2021-04-07 16:37] Aditya201551 opened #882 "[BUG] [GSSOC' 21] Footer not fixed at the bottom"
## Describe the bug
- In the index page the footer is not fixed at the bottom of the page i.e the footer is scrollable along with the page

## To Reproduce
Steps to reproduce the behavior:
1.  Go to the index.page
2.  Scroll down
3.  See the footer

## Expected behavior
- Fixed footer at the bottom of the site

## Logs
If applicable, add logs to help explain your problem (e.g. the error message an

[2021-04-07 16:48] Aditya201551 opened #883 "[BUG] [GSSOC' 21] Message area expanding more than its parent box"
## Describe the bug
- In contact us section the message(textarea) expands more than the size of its parent box making it look not great

## To Reproduce
Steps to reproduce the behavior:
1.  Goto the site
2.  Click on contact us button
3.  Goto the message area
4. Expand the message area the see the bug

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
I

[2021-04-07 17:13] TidbitsJS opened #884 "3D Cube"
### 3D Cube using Three JS

Idea is to build a 3D rotating cube using Three JS

#### Demo

![demo](https://s4.gifyu.com/images/cinnamon-20210407-2.gif)

[2021-04-07 17:14] TidbitsJS commented on #884
Kindly assign this to me @Vishal-raj-1 :)

[2021-04-07 17:14] #501 closed

[2021-04-07 17:42] akshay399 opened #885 "Meme Soundboard using html, css and javascript"
I will make a meme soundboard that will play various meme sounds on keyboard key press.

![IMG-20210407-WA0024.jpg](https://user-images.githubusercontent.com/55823965/113910673-baffb000-97f6-11eb-9358-f31c555ee86c.jpg)

[2021-04-07 17:43] akshay399 commented on #885
I am a gssoc member, please assign me this issue @ridsuteri

[2021-04-07 18:09] K-jais commented on #853
Please @ridsuteri review this issue.

[2021-04-07 18:10] K-jais commented on #852
Please @ridsuteri review this issue.

[2021-04-07 18:10] K-jais commented on #842
Please @ridsuteri review this issue

[2021-04-07 18:29] 991rajat commented on #774
@Bhavya-Sehgal Reset button is required when someone is typing and want to erase all.
Would you like to modify or change the layout of current palindrome checker?

[2021-04-08 03:23] WebVishal opened #887 "Create a Music App with JavaScript"
I have developed a Music app like JioSaavn
Please @991rajat  and @ Vishal-raj-1 assign me for this project.
I'm a GSSOC'21 participant and wants to contribute to this project

[2021-04-08 03:59] Deeksha-Rawat commented on #871
Thank you for assigning me this issue.
But I need your help regarding this. I don't know to which accounts or links I need to link those social media handles
Likewise the twitter, youtube, google whose account I need to link.
Can you please provide me with the links so that I can use them and raise the PR for the same.
Thank you

[2021-04-08 04:23] ridsuteri commented on #789
@bug-debug-done ok go ahead

[2021-04-08 04:24] ridsuteri commented on #285
@Manish-kasera any updates?

[2021-04-08 04:34] ridsuteri commented on #852
@K-jais there is already a similar project in the repo with the name of Drawing app.
is your project different from that one?
and if possible kindly share screenshot/gif of your project

[2021-04-08 04:37] ridsuteri commented on #853
sounds good @K-jais ! go ahead with it

[2021-04-08 04:39] ridsuteri commented on #853
@sumitaccess007 the projects are assigned on first come first served basis, wait for few days if @K-jais doesn't comes up with a PR, we will transfer the issue to you

[2021-04-08 04:41] Ankita297 commented on #349
@ridsuteri ?

[2021-04-08 04:42] K-jais commented on #852
Its working video,

https://user-images.githubusercontent.com/75881393/113969601-e44e2980-9852-11eb-904a-a8c1f1e180ce.mp4

[2021-04-08 04:42] K-jais commented on #852
Once see this @ridsuteri

[2021-04-08 04:44] #168 closed

[2021-04-08 04:44] ravireddy07 commented on #168
Closing

[2021-04-08 04:44] ridsuteri commented on #258
@gnikita432 and @Quickbeasts51429 i am assigning this issue to @Ankita297 now !
since you haven't given any updates from a long time now

[2021-04-08 04:47] ridsuteri commented on #852
@K-jais looks great ! but since a drawing app already exists , it would be better if you do the improvements to existing project rather than adding a similar one

[2021-04-08 04:51] ridsuteri commented on #272
@mohdjameel2412  has already raised a PR so i don't think this issue is available for now @Ankita297..

[2021-04-08 04:54] K-jais commented on #852
Ok sir I will add the necessary things in the existence project.

[2021-04-08 04:56] ridsuteri commented on #852
@K-jais ok great ,i am assigning you the issue now.
also update the issue heading

[2021-04-08 04:58] ridsuteri commented on #885
seems great @akshay399 go ahead

[2021-04-08 05:02] ridsuteri commented on #883
@Aditya201551 message box is looking fine
![Screenshot (19)](https://user-images.githubusercontent.com/59795822/113971091-b8807300-9855-11eb-9d0d-d4c2d5072315.png)

check once again please :)

[2021-04-08 05:06] ridsuteri commented on #810
@Fpj-11 can you please share a screenshot/gif of how the site will look after your modifications

[2021-04-08 05:10] ridsuteri commented on #870
@AshishRajIITI go ahead with it :)

[2021-04-08 05:13] ridsuteri commented on #882
@Aditya201551 PR #681 is about to fix the issue.
kindly wait for 2-3 days..

[2021-04-08 05:17] Aditya201551 commented on #883
@ridsuteri sir the box is expandable so if you expand the textarea more than the parent div the textarea gets out of the  parent div, the video is provided below for reference:

https://user-images.githubusercontent.com/32588231/113972082-a1428500-9857-11eb-8a6f-347c58f25281.mp4

[2021-04-08 05:18] Aditya201551 commented on #882
@ridsuteri sure!

[2021-04-08 05:20] Fpj-11 commented on #810
Before
![Screenshot (2103)](https://user-images.githubusercontent.com/76908206/113972379-29288f00-9858-11eb-9854-83c2ad12bb82.png)

After
![Screenshot (2101)](https://user-images.githubusercontent.com/76908206/113972398-30e83380-9858-11eb-8b9a-dd77faaf7eac.png)

[2021-04-08 05:31] Ankita297 commented on #272
okay I thought that the PR was having some conflicts and  they had not been resolved ?

[2021-04-08 05:49] Mrinal81 opened #888 "Restaurant Website with html,css,Javascript"
I am GSSOC'21 Participant. I will make a restaurant website with html,css,Javascript.

Please assign me this issue..

[2021-04-08 05:50] Mrinal81 commented on #874
@ridsuteri please have a look on issue#888..

[2021-04-08 06:11] Manish-kasera commented on #285
Sorry for this... But please assign this to @Ankita297

[2021-04-08 06:47] Bhavya-Sehgal commented on #774
Okay sure!!

[2021-04-08 07:17] prachibansal2000 opened #889 "Some projects have been added twice on the website"
## Describe the bug
Some projects have been added twice on the website

## To Reproduce
Steps to reproduce the behavior:
1. Changes in script.js file

## Environment (please complete the following information):
 - OS: Windows
 - Browser: Google Chrome

## Additional context
Here the particle js project is shown twice
![image](https://user-images.githubusercontent.com/56162563/113983877-161dbb00-98

[2021-04-08 07:18] prachibansal2000 commented on #889
Pls assign so that i can start working :)

[2021-04-08 09:18] 991rajat commented on #582
@Sweeti-Gupta Anyupdates ?
Let me know if you are not able to work will assign to different contributor?

[2021-04-08 09:20] 991rajat commented on #582
@priyanka001tech Let me know if you want to work on it?

[2021-04-08 09:27] Sweeti-Gupta commented on #582
Working on it. It's about to complete.

[2021-04-08 09:40] nidhivanjare opened #890 "Flash Card Generator"
I am a GSSOC'21 participant and I want to work on this issue.

## Describe the solution you'd like
I want to add to the project to generate flashcards that are used for memorizing things.
I will be done using HTML, CSS, and JS.

[2021-04-08 10:22] anjali1102 opened #891 "No error page"
This is the current displayed weird page if the some error in URL
![Page-not-found-·-GitHub-Pages](https://user-images.githubusercontent.com/56559378/114010834-2cd10b80-9882-11eb-916c-dc7ea08a1f21.png)

Need to create beautiful error page.

[2021-04-08 10:23] anjali1102 commented on #891
I will complete this task. Assign to me

[2021-04-08 10:43] micky2001 opened #892 "Recipe Finder using HTML CSS & Javascript"

[2021-04-08 10:44] micky2001 opened #893 "Text to speech using Javascript"

[2021-04-08 10:47] #893 closed

[2021-04-08 10:48] micky2001 commented on #893
Already Present

[2021-04-08 10:48] #892 closed

[2021-04-08 10:49] micky2001 opened #894 "Postman Clone using Javascript"

[2021-04-08 10:50] micky2001 opened #895 "Text Editor using Javascript"

[2021-04-08 10:52] micky2001 opened #896 "Site Bookmarker using javascript"

[2021-04-08 10:54] micky2001 opened #897 "Quote Generator Using JavaScript"

[2021-04-08 10:55] micky2001 opened #898 "Rotating 3D Cube using Html Css"

[2021-04-08 12:19] anjali1102 commented on #891
I am participant of gssoc . Kindly label

[2021-04-08 12:38] #574 closed

[2021-04-08 12:50] ridsuteri commented on #883
oh ohk @Aditya201551 go ahead with it

[2021-04-08 12:55] ridsuteri commented on #810
@Fpj-11 PR #681 is adding some changes to footer let's wait for 2-3 days

[2021-04-08 12:59] Aditya201551 commented on #883
Sure starting the work now!

[2021-04-08 13:02] ridsuteri commented on #349
@Ankita297  a PR is already open corrosponding to this issue,i don't think this issue is available now

[2021-04-08 13:03] ridsuteri commented on #272
@Ankita297 yes it has conflicts and  we have given him to resolve them

[2021-04-08 13:05] ridsuteri commented on #888
sounds great! @Mrinal81 go ahead with it

[2021-04-08 13:07] ridsuteri commented on #805
@Mrinal81 can you share the gif/screenshot of the project?

[2021-04-08 13:14] mohammedjameel24 commented on #272
Making a pr.

[2021-04-08 13:38] #456 closed

[2021-04-08 13:38] ridsuteri commented on #810
also @Fpj-11 PR #835 has already resolved the issue, and i think this issue is not available to work now
so i am closing this issue :(

[2021-04-08 13:39] #810 closed

[2021-04-08 13:43] Fpj-11 commented on #810
Np :)

[2021-04-08 13:45] tushartiwari7 commented on #732
please have a look at this @Vishal-raj-1

[2021-04-08 14:11] #783 closed

[2021-04-08 14:16] #674 closed

[2021-04-08 14:21] affan880 commented on #674
Thanks🤩

[2021-04-08 14:32] ridsuteri commented on #854
@Bhavya-Sehgal all the issues are resolved now , i am closing this issue now :)

[2021-04-08 14:36] Bhavya-Sehgal commented on #854
Please keep it open as I am working on one more project i.e Image Editor , after that you may close.

[2021-04-08 14:39] agamjotsingh18 commented on #629
#881

[2021-04-08 14:40] ridsuteri commented on #854
ohk @Bhavya-Sehgal :)

[2021-04-08 14:41] agamjotsingh18 commented on #629
#854 made responsive local storage

[2021-04-08 14:48] #646 closed

[2021-04-08 16:05] #415 closed

[2021-04-08 17:17] Nirbhayparmar opened #903 "CSS Gradient background generator using JavaScript"
@Vishal-raj-1

I would like to add a CSS Gradient background generator using JavaScript to this repo. As a
'GSSOC 21  participant.'

It is useful in understanding how we can dynamically render DOM using JavaScript. It also takes user input and dynamically render the DOM. It also generat random background on loading or by click of a button.

[2021-04-08 17:34] akshay399 commented on #885
i made a [PR](https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/904) please review it, thank you :)

[2021-04-08 17:35] #403 closed

[2021-04-08 18:35] #614 closed

[2021-04-08 18:39] harshgupta20 commented on #508
@jaypatel31 You have 2 days left for the PR or else i will assign it to other participant.

[2021-04-08 18:54] #312 closed

[2021-04-08 19:15] 991rajat commented on #582
Okay No problem just checking. Take your time

[2021-04-09 04:43] Vedant-Rahane opened #906 "Add accordion (FAQs) project."
I am Vedant Rahane, GSSOC'21 participant.
I would like to add this Javascript based accordion project.

Something like this -
![faq](https://user-images.githubusercontent.com/71424483/114129207-ba146e80-991b-11eb-8425-68c04828a475.png)

Please @ridsuteri @991rajat @urvashi-code1255  assign me this.

[2021-04-09 04:50] jhamadhav opened #907 "Project addition : Phyllotaxis"
# Phyllotaxis

Phyllotaxis is a pattern found in nature, the rotational angle from leaf to leaf in a repeating spiral can be represented by a fraction of a full rotation around the stem. The project is to represent the following pattern via mathematical visualization
This project is an attempt to showcase its visualization.
[*Source-Wikipedia*](https://en.wikipedia.org/wiki/Golden_angle)

## Main

[2021-04-09 04:51] jhamadhav commented on #907
As part of GSSOC'21, I would love to develop it and contribute to this project.
@Vishal-raj-1 @urvashi-code1255 please assign me this!

[2021-04-09 06:42] jaypatel31 commented on #508
@harshgupta20 I will complete it within two days

[2021-04-09 09:01] gayatri517 commented on #508
@harshgupta20 I am willing to do this within 2 days. Please assign it to me.

[2021-04-09 10:45] 1110naman commented on #897
I want to work on this issue

[2021-04-09 11:01] supriyagahoi commented on #898
Hi, I want to work on this issue. I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : supriya gahoi
Discord Tag: #2406

[2021-04-09 12:00] vinc3nati opened #914 "Animated Price Plan Cards"
In today's modern world people usually look for more rich experience and the vintage design for the pricing section is gone out of order.
So I am making a pricing plan section which user could interact with.
Tech Stack Used : HTML, CSS, JS
Example:
**Front Side**

**Back Side**

**When the button is clicked**

If granted I would love to work on this under GSSOC21

[2021-04-09 13:05] #731 closed

[2021-04-09 13:43] #588 closed

[2021-04-09 13:56] gaurav24072002 commented on #847
@Vishal-raj-1 Any Update??

[2021-04-09 16:07] #872 closed

[2021-04-09 16:22] #842 closed

[2021-04-09 16:49] priyanka001tech commented on #582
@991rajat yes I want to do it.

[2021-04-09 16:52] priyanka001tech commented on #582
![Screenshot (271)](https://user-images.githubusercontent.com/70838173/114214538-0d210c80-9982-11eb-97c2-34c054ef28e6.png)
only functions are needed to be done..

[2021-04-09 16:53] jhamadhav commented on #907
@urvashi-code1255 check the PR it is done and add the level tag

[2021-04-09 16:54] priyanka001tech commented on #582
@Sweeti-Gupta she takes to much time..Can't we both work on this project together? So it will be done in less time.

[2021-04-09 16:55] #883 closed

[2021-04-09 16:56] #279 closed

[2021-04-09 16:56] #261 closed

[2021-04-09 16:57] urvashi-code1255 commented on #260
@padmajabhol Any updates on this issue?

[2021-04-09 16:59] urvashi-code1255 commented on #320
@nagasaisriya Any updates on this?

[2021-04-09 17:02] #517 closed

[2021-04-09 17:04] urvashi-code1255 commented on #788
Its already present @bug-debug-done

[2021-04-09 17:04] #788 closed

[2021-04-09 17:07] urvashi-code1255 commented on #772
@samar08 React.js is not used in this repository! You can only use vanillajs . Also tic tac toe is already present

[2021-04-09 17:07] #772 closed

[2021-04-09 17:08] 991rajat commented on #582
I believe your game will be different from hers
So you should create a new issue attaching with this image I'll assign it to you.

[2021-04-09 17:08] nagasaisriya commented on #320
Hey @urvashi-code1255 , Actually I did'nt understand what needs to be improved more, Do I need to improve the UI of the project commited by me?

[2021-04-09 17:10] urvashi-code1255 commented on #771
@Soham2020 Calender is already present in the project. If you want to improve it then I can assign it to you.

[2021-04-09 17:12] urvashi-code1255 commented on #764
@K-jais I think its similar to "text to speech project" which is already present on the website. Do have  a look on it. Let me know if you want to do something different

[2021-04-09 17:20] harshgupta20 commented on #898
@micky2001 Kindly specify what changes you gonna make in this issue, is it only about html and css  ?? , since it doesn't have any codebase with JS so if you didn't reply within two day then we need to close this issue.

[2021-04-09 17:21] harshgupta20 commented on #897
This Project is already exist.

[2021-04-09 17:21] #897 closed

[2021-04-09 17:23] harshgupta20 commented on #896
Kindly specify briefly about your issue.

(Note: Reply within 2 days else we need to close this issue. )

[2021-04-09 17:23] K-jais commented on #762
Thank you for assigning me this issue.

[2021-04-09 17:24] K-jais commented on #764
Yes, ma'am, it is quite similar to that only. I haven't seen that project before creating this issue. Sorry for the inconvenience.

[2021-04-09 17:25] harshgupta20 commented on #895
Kindly specify briefly about your project.

(Note: Reply within 2 days else we need to close this issue. )

[2021-04-09 17:29] K-jais opened #917 "Add Fully Validated Student Registration Project"
This project will have the fully validated form, which just checks the particular value in all those inputs of the form. And it also saves it in the students and displays it every time you open it from the beginning.

Its working video,

https://user-images.githubusercontent.com/75881393/114218607-40b26580-9987-11eb-80c6-cec2d35ff302.mp4

[2021-04-09 17:30] K-jais commented on #917
Please review this issue.

[2021-04-09 17:30] harshgupta20 commented on #898
@supriyagahoi Please give us some details about it, if you are willing to work on this.

[2021-04-09 17:32] harshgupta20 commented on #894
Kindly Specify more about the project, and it should be in vanilla Js.

(Note: Reply within 2 days else we need to close this issue. )

[2021-04-09 17:40] harshgupta20 commented on #891
Hi @anjali1102 can you give the detail about the tech you are gonna use, Because you have to use JS only.

(Note: Reply within 2 days else we need to close this issue. )

[2021-04-09 17:42] harshgupta20 commented on #890
Hi @nidhivanjare This project already exist you can improve that project if you want to, but please tell what are changes you are gonna make?

(Note: Reply within 2 days else we need to close this issue. )

[2021-04-09 17:47] harshgupta20 commented on #889
@prachibansal2000 you can work on this issue.

[2021-04-09 17:57] #258 closed

[2021-04-09 18:04] Nirbhayparmar commented on #903
@Vishal-raj-1  and @urvashi-code1255
Thank you for assigning me this issue. I am do my best to contribute to this project.

[2021-04-09 18:05] #853 closed

[2021-04-09 18:08] Nirbhayparmar commented on #903
@urvashi-code1255
Is that i have to submit javascript file only or alongwith  supporting HTML and CSS files?
 Can you guide me?

[2021-04-09 18:22] ridsuteri commented on #839
sorry @nidhivanjare similar issue is already assigned :(
so you can't work on the same now
i am also closing your PR #877 corrosponding to it :(

[2021-04-09 18:39] anjali1102 commented on #891
Yes , sure I will

[2021-04-09 18:42] Bhavya-Sehgal opened #918 "Separate delete button - Flip card project"
When delete button is pressed it  deletes all cards.
There should be separate delete button for deleting particular card and all cards.

[GSSOC'21]

Please assign me this issue
@urvashi-code1255 @Vishal-raj-1 @991rajat @harshgupta20 @ridsuteri

[2021-04-09 18:43] #852 closed

[2021-04-09 18:44] #745 closed

[2021-04-09 19:41] hritikgupta92 opened #920 "Creating webpage for displaying details of student and faculty for a Web Development Course"
I'll be creating a web page for displaying details of student and faculty for a Web Development Course that was organised by seniors of our college using HTML,CSS and Javascript

[2021-04-10 03:07] Ankita297 commented on #285
@ridsuteri can i work on this as there has been two days and there is no response from @rk05-lenavo ?
@Vishal-raj-1 ?

[2021-04-10 03:17] ridsuteri commented on #285
@rk05-lenavo i am assgining this issue to @Ankita297 !

[2021-04-10 05:19] Nirbhayparmar commented on #903
Admin, can you add level according to GSSOC21 guidelines to issue #903?

[2021-04-10 05:51] kumarankm opened #923 "Amongus game move"
## Describe the solution you'd like
Every contributor for this project might have played among us. What if we add among us characters with moving effects and sound?

## Additional context
Assign me this issue under GSSOC' 21!

[2021-04-10 06:33] Ayushjain2205 opened #924 "Mouse trail project"
When the user moves the mouse on the page , mouse trails are generated (something like balls which come out of the cursor and follow the cursor)

Can you please assign this issue to me under gssoc'21

[2021-04-10 06:38] Nirbhayparmar commented on #903
@urvashi-code1255 , @Vishal-raj-1
when I forked and clone this repo on my local system I have this error message

[code]
can someone help me

[2021-04-10 07:11] priyanka001tech commented on #582
@991rajat  issue #821
please assign me

[2021-04-10 07:11] 991rajat commented on #316
Hey @nikhil-Vaibhav Sorry for this, Actually UI has been updated due to which this Issue becomes obsolete.
There are of plenty of things can be added or modified in our project feel free to checkout.

[2021-04-10 07:11] #316 closed

[2021-04-10 07:36] Bhavya-Sehgal opened #925 "Armstrong Number check - Improvement in UI."
I want to improve the UI and make this projects responsive.

Screenshot:

![an-x](https://user-images.githubusercontent.com/66208607/114262411-75f99a80-99fd-11eb-84b4-316c51e58ecd.png)

[GSSOC'21]

Please assign me this issue
@urvashi-code1255 @Vishal-raj-1 @991rajat @harshgupta20 @ridsuteri

[2021-04-10 08:05] 991rajat commented on #342
Hey @Anshika-Srivastava Sorry for this, Actually UI has been updated due to which this issue becomes obsolete.
There are of plenty of things can be added or modified in our project feel free to checkout.

[2021-04-10 08:05] #342 closed

[2021-04-10 08:18] Shivangi-ch commented on #925
Please assign this to me.

[2021-04-10 09:40] Vedant-Rahane commented on #577
@991rajat Should I work on this.

[2021-04-10 09:44] nidhivanjare commented on #890
yes, I just reviewed that project.
Looks like everything I had to do.
I try and make another issue.

[2021-04-10 09:45] nidhivanjare opened #929 "Coin-toss game"
## Is your feature request related to a problem? Please describe.
No it's not a problem. I tried to enhance the look of sidenav.

## Describe the solution you'd like
I want to add a coin-toss game in javascript.

## Additional context
Screenshot :

<img width="575" alt="Screenshot 2021-04-10 at 3 12 31 PM" src="https://user-images.githubusercontent.com/55665104/114265637-96325500-9a0f-11eb-930a-ae

[2021-04-10 10:01] Vedant-Rahane opened #931 "Add flipping cards project"
I am Vedant Rahane, GSSOC'21 participant.
I would like to add this Javascript based flipping cards project.

Something like this -

![flip-card](https://user-images.githubusercontent.com/71424483/114266042-b19e5f80-9a11-11eb-82dd-9c185ac9fabe.gif)

Please @ridsuteri @991rajat @urvashi-code1255 assign me this.

[2021-04-10 10:25] 991rajat commented on #806
@Mrinal81 Someone is working on on the same project. Please wait for a while till it merge. Then you can create issue for modifications.
Untill then I'm closing this.

[2021-04-10 10:25] #806 closed

[2021-04-10 10:44] #313 closed

[2021-04-10 10:49] 991rajat commented on #577
@pranabprohit Please resopond if you are working on this. If not responded within 2 days it will be transferred to vedant

[2021-04-10 13:32] #466 closed

[2021-04-10 14:19] Amit366 commented on #484
@ridsuteri is this open??

[2021-04-10 14:21] Amit366 commented on #591
@ridsuteri can I work??

[2021-04-10 14:35] sejalxz commented on #277
The API is working properly but the toggling is not working when you search for the cities but it works when the location is detected by the browser

[2021-04-10 16:43] Sweeti-Gupta commented on #582
@991rajat  When I have done all the changes in the cloned folder, I tried to run the html file in chrome but the audio is not playing in the chrome and all the things are working. I have added the audio files in the sound folder and also provided the path for them in .js file but it is not working. When I am trying it with the original folder in which I have worked, the audio is working.

Please c

[2021-04-10 17:47] Ayushjain2205 commented on #924
@urvashi-code1255  Can you please assign this issue to me?

[2021-04-10 19:12] hritikgupta92 commented on #920
/assign

[2021-04-10 19:36] Panic100 opened #938 "Upgradation in Movie app Project"
## Is your feature request related to a problem? Please describe.
No its not a problem. I will enhance the look of welcome page, orientation of search bar.

## Additional context
I want to change its position and make it attractive.
![Screenshot (253)_LI](https://user-images.githubusercontent.com/73658735/114282532-200b0e00-9a62-11eb-8643-d188ed28e51b.jpg)

[2021-04-10 19:43] Panic100 opened #939 "Improving Netflix app"
## Describe the bug
There are lot of things to improve in this app.

## To Reproduce
Steps to reproduce the behavior:
1. Nav bar
2. Search bar
3. Allignment of movies
4. And I want to make it better.

## Expected behavior
It will make it much better.

![Screenshot (254)](https://user-images.githubusercontent.com/73658735/114282674-e686d280-9a62-11eb-8a03-ecf6011979d1.png)

## Logs
If applicable, a

[2021-04-11 00:26] AB-san opened #940 "Bug in automatic labeling of new issue."
![image](https://user-images.githubusercontent.com/71064674/114288120-4c3a8500-9a8a-11eb-97d8-2c314e68f78a.png)

If I am not wrong the correct gssoc21 tag is "GSSOC21"
If this causes any problem for calculating points , I can rename it

[2021-04-11 00:26] AB-san commented on #940
I would like to work on this issue

[2021-04-11 01:32] #940 closed

[2021-04-11 02:04] AB-san opened #941 "Add github actions to auto-comment after successful merge of the pr."
![image](https://user-images.githubusercontent.com/71064674/114289764-0e445d80-9a98-11eb-86e9-16ae4e87bf5c.png)

I noticed @ridsuteri commenting this after every successful approval of the changes of a pr . Would you like to have a bot to auto-comment after you approve the changes or merge the pr in order to save time?

[2021-04-11 02:44] ridsuteri commented on #629
@agamjotsingh18 i am unable to find the local storage made responsive PR ,
please tag me/other mentors in the PR

[2021-04-11 03:09] #774 closed

[2021-04-11 04:03] #683 closed

[2021-04-11 04:31] Vedant-Rahane commented on #418
@991rajat  Due to exams I was unable to respond, is this issue solved ?
I had worked on this issue should I make PR ?

[2021-04-11 04:37] Vedant-Rahane commented on #300
@991rajat  I would like to modify UI of this project.

I will change from this :

![clock](https://user-images.githubusercontent.com/71424483/114292637-7b162280-9aad-11eb-87f0-9637a6e6d84c.png)

to this :

![clockupdate](https://user-images.githubusercontent.com/71424483/114292649-8ff2b600-9aad-11eb-8bbd-01283fdef11e.png)

@Vishal-raj-1 @991rajat @urvashi-code1255 Can you assign me this ?

[2021-04-11 04:51] Vedant-Rahane opened #942 "Modify UI of Local Storage project"
I would like to modify UI of local storage project.

![localStorage](https://user-images.githubusercontent.com/71424483/114292768-9afa1600-9aae-11eb-8a29-52d449d3c521.png)

there is unwanted space above and below logo that can be minimized.
And also change look of to-do list.

@urvashi-code1255 Please assign me this.

[2021-04-11 06:15] agamjotsingh18 commented on #629
Okay sir

[2021-04-11 12:51] #923 closed

[2021-04-11 12:54] #277 closed

[2021-04-11 12:57] #380 closed

[2021-04-11 13:03] #906 closed

[2021-04-11 13:08] #889 closed

[2021-04-11 13:10] #863 closed

[2021-04-11 14:04] anjali1102 commented on #891
@harshgupta20  kindly add gssoc label , level

[2021-04-11 14:19] #368 closed

[2021-04-11 15:22] #301 closed

[2021-04-11 15:33] 991rajat commented on #591
@shitesh2607 Any updates. If not will be transfered to someone else

[2021-04-11 15:34] #898 closed

[2021-04-11 15:34] #894 closed

[2021-04-11 15:35] harshgupta20 commented on #891
Hi @anjali1102, you are good to go.

[2021-04-11 15:36] harshgupta20 commented on #891
Kindly give PR within a week.

[2021-04-11 15:37] harshgupta20 commented on #890
Since this issue already exist,I am closing that issue.

[2021-04-11 15:37] #890 closed

[2021-04-11 15:37] #896 closed

[2021-04-11 15:37] #895 closed

[2021-04-11 15:39] harshgupta20 commented on #925
Hi @Shivangi-ch you can start working on that issue.

[2021-04-11 15:40] harshgupta20 commented on #931
Hi @Vedant-Rahane you can start working on that issue, Kindly give the PR within 7 days or we will assign it to some else.

[2021-04-11 15:49] harshgupta20 commented on #931
Hi @Vedant-Rahane i saw that this project already exist. Since it already exist i need to close this issue. If want to improve the existing project then plz let me know and change the "issue title".

Kindly reply within 2 days or else we need to close this issue.

[2021-04-11 15:58] #290 closed

[2021-04-11 16:08] #619 closed

[2021-04-11 16:15] harshgupta20 commented on #795
Can you please describe more about this issue??

Kindly reply within 2 days or else we need to close it.

[2021-04-11 16:16] harshgupta20 commented on #794
@Mrinal81  Can you please describe more about this issue??

Kindly reply within 2 days or else we need to close it.

[2021-04-11 16:18] harshgupta20 commented on #796
@bug-debug-done since this issue has been resolved, i am closing that issue.

[2021-04-11 16:18] #796 closed

[2021-04-11 16:18] harshgupta20 commented on #797
@Mrinal81  Can you please describe more about this issue??

Kindly reply within 2 days or else we need to close it.

[2021-04-11 16:19] harshgupta20 commented on #798
@Mrinal81  Can you please describe more about this issue??

Kindly reply within 2 days or else we need to close it.

[2021-04-11 16:19] harshgupta20 commented on #799
@bug-debug-done since this issue has been resolved, so i am closing that issue.

[2021-04-11 16:19] #799 closed

[2021-04-11 16:19] harshgupta20 commented on #800
@Mrinal81  Can you please describe more about this issue??

Kindly reply within 2 days or else we need to close it.

[2021-04-11 16:24] Vedant-Rahane commented on #931
@harshgupta20 This project is not repeated, I have checked all projects there is one project in which card get flipped on click. That is for question and answers. In this project cards get automatically flipped.