[2021-04-11 16:34] harshgupta20 commented on #803
@Mrinal81 you can start working on that issue.
Kindly give the PR within a week or else we need assign it to some other participant.

[2021-04-11 16:35] harshgupta20 commented on #804
@bug-debug-done kindly reply within 2 days or else we need to close this issue.

[2021-04-11 16:36] harshgupta20 commented on #805
@Mrinal81 kindly reply in 2 days or else we will to close this issue.

[2021-04-11 16:36] harshgupta20 commented on #807
Since this project already exist i am closing this issue.

[2021-04-11 16:36] #807 closed

[2021-04-11 16:39] harshgupta20 commented on #793
@bug-debug-done you can start working on this issue.

[2021-04-11 16:40] bug-debug-done commented on #793
@harshgupta20 sorry for delay was busy with something will do it asap

[2021-04-11 16:41] harshgupta20 commented on #791
Since this project already exist, so i am closing this issue.

[2021-04-11 16:41] #791 closed

[2021-04-11 16:42] Vedant-Rahane opened #945 "Modify toggle of Dark mode project"
I would like to modify toggle of dark mode project.
Current toggle :

![old-toggle](https://user-images.githubusercontent.com/71424483/114313023-7172d600-9b12-11eb-84b3-0888379065a7.png)

I will modify it to this :

![toggle](https://user-images.githubusercontent.com/71424483/114313051-8c454a80-9b12-11eb-9e88-8df6805c5859.png)

Please @harshgupta20  @991rajat @urvashi-code1255 assign me this.

[2021-04-11 16:48] harshgupta20 commented on #802
Its a great thing to add. @bug-debug-done you can start working on that issue.

[2021-04-11 17:15] Aditya201551 commented on #882
@ridsuteri ig its been 4 days now 😅

[2021-04-11 17:42] priyanka001tech commented on #821
http://127.0.0.1:5500/

@991rajat this is not yet completed .The work is still going on.

[2021-04-11 17:52] #663 closed

[2021-04-11 17:58] #305 closed

[2021-04-11 18:02] #494 closed

[2021-04-11 18:12] #553 closed

[2021-04-11 19:08] K-jais commented on #762
Hello @urvashi-code1255  , this feature has already been added in the project. Is it allowed to do that if some other person has been assigned the issue and some other person has done that?

[2021-04-12 01:33] khareyash05 commented on #427
@Vishal-raj-1 Created a PR Have a look!

[2021-04-12 01:59] Ankita297 commented on #502
Can i work on this @ridsuteri  @991rajat @Vishal-raj-1 @urvashi-code1255 ?

[2021-04-12 03:58] hritikgupta92 commented on #920
@harshgupta20  please assign this to me

[2021-04-12 04:45] #285 closed

[2021-04-12 04:49] #878 closed

[2021-04-12 05:02] anhushree opened #952 "Footer Arrangement"
## Describe the bug
There is no space between the human image and the footer. And there is extra space after the footer

## To Reproduce
Steps to reproduce the behavior:
1.Visit the website

## Expected behavior
The Footer should be aligned in such a way that
Space before the footer should be equal to space after the footer and there should be no extra space after the footer.

![image](https://use

[2021-04-12 05:07] ridsuteri commented on #484
@Amit366 nopes :( another PR has already added this game

[2021-04-12 05:07] #484 closed

[2021-04-12 05:09] ridsuteri commented on #941
sounds great @AB-san ! go ahead with it :)

[2021-04-12 05:13] Amit366 commented on #792
@ridsuteri can I work??

[2021-04-12 05:18] Mrinal81 commented on #874
@ridsuteri  i made a pull request #953 . Please review it....

[2021-04-12 05:30] bug-debug-done commented on #792
working on it

[2021-04-12 05:41] Amit366 commented on #792
@bug-debug-done you r working on 6 projects and I don't think you have sent Aby PR yet. So I asked @ridsuteri to check whether this is open or not.

[2021-04-12 05:45] bug-debug-done commented on #792
@Amit366 Don't worry I am working Work on it work in progress :)

[2021-04-12 06:48] janvi01 commented on #736
labels won't be added? @Vishal-raj-1

[2021-04-12 07:05] Amit366 opened #954 "expense tracker"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add an expense tracker feature. I am a GSSOC participant.
## Describe the solution you'd like
I will work using Javascript and html

## Additional context
Add any other context about the feature request here.

[2021-04-12 07:06] Amit366 commented on #954
@ridsuteri please assign it to me

[2021-04-12 07:18] #685 closed

[2021-04-12 07:29] #884 closed

[2021-04-12 07:34] #885 closed

[2021-04-12 07:37] #834 closed

[2021-04-12 07:40] #436 closed

[2021-04-12 07:46] #732 closed

[2021-04-12 07:54] Mrinal81 commented on #805
@harshgupta20 @ridsuteri  please check the video whch i have attached.....

https://user-images.githubusercontent.com/76482022/114360060-3e702700-9b92-11eb-8acb-b81004c4e9d4.mp4

[2021-04-12 07:54] #452 closed

[2021-04-12 08:03] #645 closed

[2021-04-12 08:10] #307 closed

[2021-04-12 08:20] #589 closed

[2021-04-12 08:25] #473 closed

[2021-04-12 08:28] Mrinal81 commented on #794
![text to voice](https://user-images.githubusercontent.com/76482022/114364421-028b9080-9b97-11eb-900e-9447abe8250e.jpeg)
![text to voice generator](https://user-images.githubusercontent.com/76482022/114364431-04edea80-9b97-11eb-8cde-cb28df8d91a8.jpeg)

@harshgupta20 I have attached the photo in which text to voice generator shown twice.....

[2021-04-12 08:33] #232 closed

[2021-04-12 08:39] Mrinal81 commented on #794
@harshgupta20 there is many projects which has shown twice.......

[2021-04-12 08:40] #245 closed

[2021-04-12 08:46] vedant-jain03 opened #955 "Want to make header/banner full size"
## Describe the bug
Want to make header/banner full size

## To Reproduce
Steps to reproduce the behavior:
1. I will make banner 100vh
2. Will align header according to that
3. Will also give this features to other page as well

![bandicam 2021-04-12 14-14-15-899](https://user-images.githubusercontent.com/76901313/114367074-b0983a00-9b99-11eb-8a1f-11c34cdc1eb9.jpg)

## Environment (please complete

[2021-04-12 08:49] pranabprohit commented on #577
I will make the PR today

[2021-04-12 08:50] vedant-jain03 opened #956 "Music Player"
Refer this repo I made : https://github.com/vedant-jain03/Play-on-Music

[2021-04-12 08:52] vedant-jain03 commented on #956
@ridsuteri Please assign me if valid

[2021-04-12 08:52] vedant-jain03 commented on #955
@ridsuteri Please assign me if valid

[2021-04-12 09:24] harshgupta20 commented on #794
@Mrinal81 go ahead buddy.

[2021-04-12 09:26] harshgupta20 commented on #805
@Mrinal81 you can start working on it.

[2021-04-12 09:27] Mrinal81 commented on #805
@harshgupta20  ok

[2021-04-12 09:53] Mrinal81 opened #957 "There is many projects which has shown twice or thrice"
![WhatsApp Image 2021-04-12 at 3 18 02 PM](https://user-images.githubusercontent.com/76482022/114375901-c6f6c380-9ba2-11eb-947c-cd039153c3e5.jpeg)
![WhatsApp Image 2021-04-12 at 3 18 02 PM (1)](https://user-images.githubusercontent.com/76482022/114375907-c9591d80-9ba2-11eb-9a1e-96fc20b84fe8.jpeg)
![WhatsApp Image 2021-04-12 at 3 18 02 PM (2)](https://user-images.githubusercontent.com/76482022/1143

[2021-04-12 09:53] nidhivanjare commented on #839
Hey
The project is still not visible on the page
Because the script.js code was not added
I need to add that in for the code to be visible.

[2021-04-12 11:06] kanishka8276 opened #960 "Moving Dark mode toggling option to navbar"
The dark mode toggling option is available only when the user has not scroll the page once it's scrolled go to top button is visible there due to which if the user wants to toggle to dark mode he will have to go back to top. It would be better of the toggle button is in the navbar on the right of the GitHub Button.
Please assign this to me.

[2021-04-12 11:09] Ayushjain2205 commented on #924
@harshgupta20 can you assign this issue to me

[2021-04-12 11:23] 991rajat commented on #418
@Vedant-Rahane Go Ahead Since Ankit hasn't made PR

[2021-04-12 11:28] #563 closed

[2021-04-12 11:31] 991rajat commented on #502
@HelenEH0 Any Updates? If not respond in 2days will be transfered to @Ankita297

[2021-04-12 11:47] 991rajat commented on #577
@pranabprohit Okay

[2021-04-12 11:53] #221 closed

[2021-04-12 12:01] 991rajat commented on #286
I'm Closing this for now since UI has been changed.

[2021-04-12 12:01] #286 closed

[2021-04-12 13:26] AnshikaAgrawal5501 opened #962 "Calendar"
## Is your feature request related to a problem? Please describe.
Yes, it is related to a problem. I have gone through the calendar project which was enhanced by me. I just saw that the images are not linked properly might be someone has changed their names. I had named all the related images with a calendar_ but now as I see names of the two images have been changed due to which they are not gett

[2021-04-12 13:51] AnshikaAgrawal5501 opened #964 "Image Editor - New features"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to update the **Image Editor** project.
## Describe the solution you'd like
- Currently there are only five filters present in the Image Editor project, I would like to add few more, like saturate, invert, brightness, etc.
- Also, I would like to add bootstrap to the input field and the buttons.
## Addit

[2021-04-12 13:57] Bhavya-Sehgal opened #965 "Addition of Delete buttons - Drag-Drop ToDo List"
I want to add two buttons -->
1- For deleting all items  in list
2-For deleting specific items in list

Screenshot :
Earlier:
![kb-old](https://user-images.githubusercontent.com/66208607/114406149-edc5f180-9bc4-11eb-8595-1d2e23266461.png)

[GSSOC'21]

Please assign me this issue
@urvashi-code1255 @Vishal-raj-1 @991rajat @harshgupta20 @ridsuteri

[2021-04-12 14:15] aastha621 opened #966 "Enhancing project page background."
## Is your feature request related to a problem? Please describe.
No its not a problem. The background where the projects are listed looks very dull and simple. I am trying to improve the UI of the background of the project page.

## Describe the solution you'd like
I will make use of a css and javascript animated background which will enhance the look of the project page.

@991rajat @urvashi-code

[2021-04-12 14:20] AB-san commented on #941
Hello @ridsuteri done with coding part , I wanted a small favour-
Can you please mention the username of all the mentors for this project , who dont want a thank you message after their pr is merged.

[2021-04-12 14:42] SanskaarPatni opened #968 "Pacman Game using html, css and vanilla js"
I would love to work on a pacman game using Vanilla JS.
Kindly assign me the issue as a part of GSSOC' 21!
@Vishal-raj-1 @urvashi-code1255
Thank you

[2021-04-12 15:10] shivammahajancse opened #969 "Infix expression evaluator in JavaScript"
I will make an evaluator which evaluates infix expression in JavaScript. When user enters a valid infix expression it evaluates and display value under GSSOC 2021.
Please assign me this issue @Vishal-raj-1 @harshgupta20 @urvashi-code1255 @991rajat

[2021-04-12 15:19] SandeepKrSuman opened #970 "Random Meme Template generator"
### New Project Addition
- A webpage which will generate meme templates randomly.
- I will be using API to fetch random meme templates.

Assign this issue to me under gssoc21

[2021-04-12 20:12] pranabprohit commented on #577
@991rajat made a PR for this issue please review it. Can you change the label to level 2 I have added some other funcationality too.

[2021-04-12 20:59] #734 closed

[2021-04-13 04:07] jaypatel31 commented on #508
@harshgupta20 I have opened a pull request #972 with the necessary changes please review it.

[2021-04-13 05:06] harshgupta20 commented on #931
@Vedant-Rahane Since this project already existed and by just changing the onClick method to auto doesn't make it different.
You can improve the existing one.

[2021-04-13 05:14] #797 closed

[2021-04-13 05:14] #798 closed

[2021-04-13 05:14] #800 closed

[2021-04-13 05:14] #804 closed

[2021-04-13 05:15] #795 closed

[2021-04-13 05:35] Vedant-Rahane commented on #418
@991rajat Can I know why you change label to `level0` ?

[2021-04-13 05:41] Vedant-Rahane commented on #931
Okay @harshgupta20 , I am closing this issue.

[2021-04-13 05:41] #931 closed

[2021-04-13 05:44] K-jais opened #974 "Add Styled Custom Video Player"
This video player will have all the functionality which a normal video player should have like play, pause, volume adjustment, speed of that video(1x, 1.25x, 1.5x,etc) and the full stretch to screen mode.

[2021-04-13 06:49] codeakki commented on #970
/assign

[2021-04-13 07:10] codeakki opened #975 "Updation of Pin-Pad"
## Is your feature request related to a problem? Please describe.
No it is not a problem. I tried to enhance the look of Pinpad and I want to work on this issue under GSSOC21.
## Describe the solution you'd like
1. Addition of Zero in the pin pad.
2. Improvement in CSS
3. Addition of website-icon

## Additional context
I have already resolved this issue and want to submit a PR for same.
### Before

[2021-04-13 07:12] codeakki commented on #975
/assign
please assign this issue to me

[2021-04-13 08:19] SrishtiArya07 opened #976 "Musical Instrument sound generator"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to add a musical instrument sound generator feature.
## Describe the solution you'd like
It produces different instrumental sounds like drums, harp, gong, bell, etc by using html.

## Additional context
I am a GSSOC'21 participant, please assign this issue to me.

[2021-04-13 08:38] anshika208 opened #978 "Update the yoga /meditation project using html , bootstrap and vanilla js"
##Is your feature request related to a problem? Please describe.
No its not a problem. I tried to add a meditation app

Describe the solution you'd like
It is a meditation app which will allow users to choose the time limit and type of music they want for meditating.

Additional context
I am a GSSOC'21 participant, please assign this issue to me. @Vishal-raj-1 @harshgupta20 @urvashi-code1255 @991r

[2021-04-13 10:01] Amit366 commented on #954
@ridsuteri please assign this to me

[2021-04-13 10:04] K-jais commented on #974
Please @ridsuteri review this issue

[2021-04-13 10:06] K-jais commented on #917
Please @ridsuteri review this issue

[2021-04-13 10:41] jhamadhav opened #980 "Project idea : Fractal tree"
# fractal-tree
The Pythagoras tree is a plane fractal constructed from squares. Invented by the Dutch mathematics teacher Albert E. Bosman in 1942, it is named after the ancient Greek mathematician Pythagoras because each triple of touching squares encloses a right triangle, in a configuration traditionally used to depict the Pythagorean theorem. It is also known as `Fractal tree`.
This project is

[2021-04-13 10:45] jhamadhav commented on #980
@991rajat @Vishal-raj-1 Please assign me this issue and add a level tag.
Thank you!

[2021-04-13 11:19] kumarankm opened #981 "Among us Mini Game"
## Describe the solution you'd like
Last time I have added among us character moving effect. Now, I have bought you with few updates.
Like the Killing effect, the Sabotage effect, and touch screen navigation with 3d background. It looks like a mini-game

## Additional context
Assign me this issue under GSSOC' 21!

[2021-04-13 11:30] #503 closed

[2021-04-13 12:55] #749 closed

[2021-04-13 13:12] 4kashyadav opened #982 "Adding Hovering effect on GitHub button"
I will add a hovering effect on the GitHub button to make it more attractive! So please assign this to me
![Screenshot (523)](https://user-images.githubusercontent.com/78416508/114558152-03e8b600-9c88-11eb-934c-1dcd1764a9a6.png)

[2021-04-13 13:16] Priyanshujha11 opened #983 "Removing the excessive blank space below contact us"
Removing the excessive blank space below contact us which is making making contact us bigger and too spacious

[2021-04-13 13:24] 4kashyadav opened #984 "Adding placeholder in contact us section"
I will add a placeholder in the contact us section and then it will look more professional and attractive.
Contact us section now!!
![Screenshot (524)](https://user-images.githubusercontent.com/78416508/114559577-8160f600-9c89-11eb-8f75-e724df6afcbc.png)
What I want to do!!
![Screenshot (525)](https://user-images.githubusercontent.com/78416508/114559652-976eb680-9c89-11eb-853c-5987a0c9c706.png)

[2021-04-13 13:27] Priyanshujha11 opened #985 "Adding animation in social media buttons"
Adding animation in social media buttons to make them more attractive and catchy.

[2021-04-13 13:28] Priyanshujha11 commented on #985
![Screenshot (28)](https://user-images.githubusercontent.com/78751081/114560342-3abfcb80-9c8a-11eb-975f-edcfc166f92e.png)

[2021-04-13 13:41] ridsuteri commented on #941
@AB-san consider all of us i.e @ridsuteri @991rajat @harshgupta20 @urvashi-code1255 @Vishal-raj-1

[2021-04-13 14:21] Ankita297 opened #988 "github action to automatically close the issue after it PR is merged"
## Is your feature request related to a problem? Please describe.
Many issue are still open even if its PR got merged .
## Describe the solution you'd like
I will add github action for that .
## Additional context
Add any other context about the feature request here.

[2021-04-13 15:22] #854 closed

[2021-04-13 15:23] #400 closed

[2021-04-13 15:31] #508 closed

[2021-04-13 15:52] #847 closed

[2021-04-13 16:12] #418 closed

[2021-04-13 16:30] #925 closed

[2021-04-13 16:38] Bhavya-Sehgal opened #990 "ADD Reset Button in -Armstrong Checker project"
I want to add a reset button which will help the user to reset the text.

[GSSOC'21]

Screenshot:

![armc-2](https://user-images.githubusercontent.com/66208607/114588763-a878f100-9ca4-11eb-8367-9f11dcceba30.png)

@Vishal-raj-1 @urvashi-code1255 @harshgupta20 @991rajat  @ridsuteri Please assign me this issue.

[2021-04-13 17:29] #481 closed

[2021-04-13 18:59] K-jais commented on #917
@urvashi-code1255

[2021-04-13 18:59] K-jais commented on #974
@urvashi-code1255

[2021-04-13 22:51] pragati-kumar commented on #776
@urvashi-code1255 Ma'am I've pushed the PR(#991). Please add the GSSOC level label to it. The entire project has been built from scratch and is un-plagiarised so if you could consider that while judging the difficulty level then that would be very helpful! Kindly advice me the changes (if any). Thank you so much for this opportunity!

[2021-04-14 02:54] Ankita297 commented on #988
@ridsuteri  @Vishal-raj-1  @urvashi-code1255  Can i work on this ?

[2021-04-14 03:21] Ankita297 opened #992 "Some Projects's gif is not displayed"
## Describe the bug
Some Projects's gif is not displayed

## To Reproduce
Steps to reproduce the behavior:
1. I will create the gifs
2. Then add it Project Page

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the f

[2021-04-14 03:23] Ankita297 opened #993 "Background sound to simon game"
## Is your feature request related to a problem? Please describe.
Background  sound to simon game
## Describe the solution you'd like
When the user click on any button in simon game A specific sound will be played . It will be more interactive
## Additional context
Add any other context about the feature request here.

[2021-04-14 04:46] anushree71199 opened #994 "Removing all the extra copies of projects [GSSOC'21]"
I will remove all those projects that are getting doubled up. I would like to remove the projects that are copy of one project. Please assign this issue to me under GSSOC'21 participation. I will be helping the website in improvising it's performance by removing all the extra projects so please assign this task to me.

[2021-04-14 04:50] anushree71199 opened #995 "Adding a project on changing the background [GSSOC'21]"
I will add a new project in which the background of the web page will change randomly. Please assign me this issue under GSSOC'21. I would love to contribute this project of mine to this website. [Javascript] [animations]

[2021-04-14 04:56] codeakki commented on #975
hey admins
please assign me this issue

[2021-04-14 04:56] codeakki commented on #975
@Vishal-raj-1

[2021-04-14 05:22] tanya070820 opened #997 "Footer should be improvised"
## Is your feature request related to a problem? Please describe.
Yes as by improving footer home page will look more attractive as  we will add some details also in it like name of mentor who is handling it and many more.
Please assign this issue to me @Vishal-raj-1

[2021-04-14 06:31] rohank2502 commented on #288
What to do please take a look here

[2021-04-14 06:36] Muskan-creator opened #998 "style navbar"
## Describe the bug
A clear and concise description of what the bug is.
Scrolling navbar leads to blurness and contents are not visible
![image](https://user-images.githubusercontent.com/59757988/114664718-bb79d880-9d19-11eb-9000-7f045f1163fa.png)

[2021-04-14 10:36] #929 closed

[2021-04-14 11:11] anshika208 commented on #978
@Vishal-raj-1 @harshgupta20 can i start working on it?

[2021-04-14 14:09] Ankita297 commented on #992
@Vishal-raj-1  @ridsuteri  @urvashi-code1255  can i work on this ?

[2021-04-14 14:09] Ankita297 commented on #993
@Vishal-raj-1  @ridsuteri  @urvashi-code1255  can i work on this ?

[2021-04-14 14:51] K-jais commented on #974
@Vishal-raj-1

[2021-04-14 14:52] K-jais commented on #917
@Vishal-raj-1

[2021-04-14 15:26] #776 closed

[2021-04-14 16:41] Vedant-Rahane opened #1001 "Modify UI of Todo App"
I would like to modify UI of Todo app and also make it well responsive.

![todo-old](https://user-images.githubusercontent.com/71424483/114751724-23104200-9d73-11eb-8476-545ff214b8b2.png)

@urvashi-code1255 Please assign me this.

[2021-04-14 16:49] #839 closed

[2021-04-14 17:23] Vedant-Rahane opened #1002 "Fix Calendar project"
Issues :
- Some part of calendar is hidden and not scrollable. Also background image is not visible.

![calender-full](https://user-images.githubusercontent.com/71424483/114752466-ef81e780-9d73-11eb-8a48-ef8f0ddf1c0d.png)

- Not responsive.

![calender-res](https://user-images.githubusercontent.com/71424483/114752514-ff013080-9d73-11eb-9b2a-1cdaf1fad26f.png)

[2021-04-14 17:25] Vedant-Rahane commented on #1002
@urvashi-code1255 Please review and assign me this.

[2021-04-14 18:46] 4kashyadav commented on #984
@nidhivanjare please assign this to me!

[2021-04-14 20:21] AnshikaAgrawal5501 commented on #1002
Hey @Vedant-Rahane I was the one who enhanced its CSS part. Just for your knowledge, the images are already present in the image folder in assets. Someone has changed their names from lower case to upper case and all the images' names start from calendar_  and there are a total of 3 images - logo, back cover, and background.

[2021-04-14 20:30] AnshikaAgrawal5501 commented on #964
@Vishal-raj-1  @urvashi-code1255  @ridsuteri
Please assign me this issue.

[2021-04-14 22:49] harshgupta20 commented on #636
@mdatif796 Whats the update,
Reply within 2 days on we have to close this issue.

[2021-04-14 22:51] harshgupta20 commented on #658
@vanshikapandey Whats the update ?
Reply within 2 days or else we have to close it.

[2021-04-14 22:52] harshgupta20 commented on #662
@lakshita15 Whats the update ?

[2021-04-15 02:25] Ankita297 commented on #992
@urvashi-code1255 @ridsuteri ?

[2021-04-15 02:25] Ankita297 commented on #992
@urvashi-code1255 @ridsuteri  @Vishal-raj-1 ?

[2021-04-15 02:27] Ankita297 commented on #993
@ridsuteri  @Vishal-raj-1 @urvashi-code1255 ?

[2021-04-15 03:04] kanisshka opened #1005 "Enhancing the visual of counter"
## Is your feature request related to a problem? Please describe.
No its not a problem. i tried my best to make it look more approachable.

## Additional context
It looks simple and out-dated.
![Screenshot (614)](https://user-images.githubusercontent.com/76627599/114808089-34823a00-9dc5-11eb-8d58-9ba3040add7f.png)

[2021-04-15 03:33] vanshikapandey commented on #658
Hello sir it's almost done I will make the pr by tomorrow

On Wed, Apr 14, 2021, 18:51 Harsh Gupta ***@***.***> wrote:

[2021-04-15 05:10] mdatif796 commented on #636
I'm working on it.

On Thu, 15 Apr, 2021, 4:19 am Harsh Gupta, ***@***.***> wrote:

[2021-04-15 05:19] #874 closed

[2021-04-15 05:45] #688 closed

[2021-04-15 05:47] #707 closed

[2021-04-15 06:41] AB-san commented on #941
Okay got it

[2021-04-15 07:05] Vedant-Rahane commented on #1002
Okay, I will check. Thanks.
I am making this project responsive.

[2021-04-15 07:31] Aarti002 opened #1006 "Guessing word (Puzzle game)"
This is a kind of puzzle game, in which player would be provided with few attempts for guessing the word .
About game :  -
 - whenever player will click any word from keyboard which must lie in whole statement then their number of  attempts will be decreased but not for any other alphabet which is not in statement
 - when player guesses correct alphabet then it automatically gets filled up at all

[2021-04-15 07:47] #903 closed

[2021-04-15 08:13] Mrinal81 commented on #794
@harshgupta20 Please have a look on PR #1008..

[2021-04-15 08:42] Bhavya-Sehgal commented on #990
@Vishal-raj-1 @urvashi-code1255 @harshgupta20 @991rajat @ridsuteri Please assign me this issue.

[2021-04-15 08:43] Bhavya-Sehgal commented on #965
@Vishal-raj-1 @urvashi-code1255 @harshgupta20 @991rajat @ridsuteri Please assign me this issue.

[2021-04-15 10:43] Nirbhayparmar opened #1009 "Gradient generator project returns 404 error"
## Describe the bug
The link on the project page for gradient background generator returns 404 error. It is due to a typo that I @Nirbhayparmar caused in my pull request #1003. I misspelt the html file. Can you assign me this issue?

## To Reproduce
Steps to reproduce the behavior:
1.  Go to project page of the awesome-javascript-projects.
2. Click on gradient background generator project.
3. You

[2021-04-15 11:04] Nirbhayparmar commented on #1009
@ridsuteri check this issue please.

[2021-04-15 11:42] shivanshugarg12800 opened #1011 "DrumKit project feature update - Play Audio on Pressing key"
## Describe the bug
To play the audio in the DrumKit project on pressing the respective key on the keyboard.

## To Reproduce
Steps to reproduce the behavior:
1.  By adding the addEventListener functionality on the keys

## Expected behavior
The audio will play when we press the respective key on the keyboard

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and

[2021-04-15 11:44] shivanshugarg12800 commented on #1011
@Vishal-raj-1 @ridsuteri @urvashi-code1255 Please assign this issue to me under GSSOC'21

[2021-04-15 11:53] Rohan27s opened #1012 "GIF Image Bug"
## Describe the bug
The GIF image of Text to Voice Generator is not visible in the Projects section

## Expected behavior
There must be the GIF shown instead of the alt text

## Environment (please complete the following information):
 - OS:Windows-10
 - Browser:Google Crome

## Additional context

I want to solve this issue under GSSOC21.
Please assign me this issue
The Error is as shown in the s

[2021-04-15 12:01] Rohan27s commented on #1012
Admins please me this issue I have already solved this issue

[2021-04-15 12:30] Rohan27s opened #1014 "Toggle button Error"
## Describe the bug
The Dark/Light toggle button is not scrolling down while we scroll down through the page and the borders of the buttons are not sticking to the toggle button

## Expected behavior
The toggle button must scroll down while we scroll the page and also the borders of the toggle button must stick to the button

## Environment (please complete the following information):
 - OS: Windo

[2021-04-15 12:32] aastha621 opened #1015 "About us has gramatically incorrect content. Content needs to be improvised for about us."
## Describe the bug
About us has grammatically incorrect and repetitive content. Content needs to be improvised for about us.

## To Reproduce
I have experience in curating content, I can give a better, crisp and concise content  for About Us section.

## Expected behavior
Grammatically correct and impactful about us content.

[2021-04-15 13:07] Rohan27s commented on #1014
Admins i have already solved this issue please assign me this issue

[2021-04-15 13:49] harshgupta20 commented on #1015
@aastha621 Go ahead and start working on it.

[2021-04-15 13:50] harshgupta20 commented on #1014
@Rohan27s Great, You can send the PR for it.

[2021-04-15 13:54] harshgupta20 commented on #1011
@shivanshugarg12800 Yes, You can send the PR for this issue.

[2021-04-15 13:58] harshgupta20 commented on #1006
This project is looks similar to word scramble game which is already exist in our project, If you project is different then kindly describe about it more with some screenshot so that we can better understand.

[2021-04-15 14:00] harshgupta20 commented on #1002
@AnshikaAgrawal5501 thankyou so much for this detail, it would help other participants to understand projects better, we appretiate.

[2021-04-15 14:03] Rohan27s commented on #1014
@harshgupta20 I have already sent the PR can you check it please. I have solved two issues in one PR #1013

[2021-04-15 14:18] harshgupta20 commented on #997
@tanya070820 You can send the PR for it.

[2021-04-15 14:21] harshgupta20 commented on #995
The project already exist. If you have another idea then please let me know, with some more details otherwise i have to close it.

[2021-04-15 14:23] harshgupta20 commented on #994
Hi @anushree71199 there are not extra copies but there some repeated code issue which has been considered already. Thanks for raising that issue but someone is already working on it.

[2021-04-15 14:23] #994 closed

[2021-04-15 14:35] #962 closed

[2021-04-15 14:42] Raj142 opened #1017 "I would like to add "Pickle Rick Raze" game"
I will also include difficulty levels such as Easy , Medium , Hard ..
please assign it to me as i am a participant of GSoC'21.

[2021-04-15 14:46] Rohan27s commented on #1012
@harshgupta20 Can you check my Pull request

[2021-04-15 14:46] AnshikaAgrawal5501 commented on #964
Hey @harshgupta20,
Please view this issue as well.
Thanks

[2021-04-15 15:04] Nirbhayparmar commented on #1009
Ok

[2021-04-15 15:10] kanisshka commented on #1005
I have sent the PR
Can you please review it..

[2021-04-15 15:43] harshgupta20 commented on #1014
@Rohan27s Sure.

[2021-04-15 15:43] harshgupta20 commented on #1012
Sure.

[2021-04-15 15:45] harshgupta20 commented on #964
@AnshikaAgrawal5501 Go ahead with your idea:)

[2021-04-15 15:47] tanya070820 commented on #997
@tanya070820 ok Sir

[2021-04-15 16:42] #208 closed

[2021-04-15 17:34] #504 closed

[2021-04-15 17:36] Ankita297 commented on #992
@harshgupta20 can i work on this ?

[2021-04-15 17:36] Ankita297 commented on #988
@harshgupta20 can i work on this ?

[2021-04-15 17:37] Ankita297 commented on #993
@harshgupta20 can i work on this ?

[2021-04-15 17:48] 991rajat commented on #764
I'm closing this issue as it is already present.
If you want to improve on it. Create a new issue. Will be happy to assign you.

[2021-04-15 17:48] #764 closed

[2021-04-15 17:50] K-jais commented on #974
@991rajat ?

[2021-04-15 17:53] 991rajat commented on #815
It's already present in the Awesome JS. If you want to improve upon it please create a issue regarding that. Will be to happy to assign you.

[2021-04-15 17:53] #815 closed

[2021-04-15 17:59] 991rajat commented on #300
I'm closing this. @Vedant-Rahane  Someone is working on it If he didn't updates in 2 days. You will be assigned. Remind us by commenting here #820

[2021-04-15 17:59] #300 closed

[2021-04-15 17:59] 991rajat commented on #820
Hey @iamabhii1 You can work it. Update us within 2 days. If not will be assigned to someone else.

[2021-04-15 18:36] 991rajat commented on #771
I'm closing this. If you want to improve upon this project create a new issue for improvement.

[2021-04-15 18:36] #771 closed

[2021-04-15 18:38] 991rajat commented on #761
Hey @bishalshaw-164 It is similar to local storage. Please checkout. If you want to improve upon it comment here, will assign it to you.

[2021-04-15 18:41] #918 closed

[2021-04-15 19:06] 991rajat commented on #966
@Vishal-raj-1 Is this required?

[2021-04-15 19:29] 991rajat commented on #970
It already exist please. If you want to improve upon it create a new issue. Will be happy to assign you.

[2021-04-15 19:29] #970 closed

[2021-04-15 19:31] 991rajat commented on #976
@SrishtiArya07 Which musical instrument.
Piano and Drum are already present?

[2021-04-15 19:55] 991rajat commented on #978
I think the project exist. Named yoga app.
Please checkout. If you want to improve upon it comment here. Will be happy to assign you.

[2021-04-15 19:56] 991rajat commented on #985
What type of animation.

[2021-04-15 20:00] 991rajat commented on #1017
Add something for reference please I'm not able to get it.

[2021-04-15 22:47] AnshikaAgrawal5501 opened #1023 "JavaScript Interest Calculator - Enhancement"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to enhance the complete look of the JavaScript Interest Calculator to make it look more attractive.
## Describe the solution you'd like
Currently, the calculator looks too old-fashioned and it's not at all attractive. I would like to change its complete look. **Most importantly, I will make it responsive

[2021-04-16 02:29] Ankita297 commented on #502
can i work on this @991rajat  ?

[2021-04-16 02:44] SilverGraph opened #1024 "Adding styles to Coin-Toss Game"
Greetings! I am a GSSOC'21 and I would request you to assign me the task of adding styles to the Coin-toss game page.

[2021-04-16 02:59] ridsuteri commented on #954
@Amit366 this project is already present in the repository :(

[2021-04-16 03:01] #954 closed

[2021-04-16 03:16] ridsuteri commented on #322
since @sneha-nitdgp is not responding to a PR made to this issue so it's open now , @0Faiz0 you want to work on this ?

[2021-04-16 03:17] ridsuteri commented on #882
@Aditya201551 ok go ahead with it :)

[2021-04-16 03:19] ridsuteri commented on #792
@bug-debug-done any progress on this issue?

[2021-04-16 03:20] ridsuteri commented on #956
@vedant-jain03 a music player already exists ! so i can't assign you to add a new player :(
but if you want ,you can improve the existing one

[2021-04-16 03:20] #956 closed

[2021-04-16 03:25] ridsuteri commented on #955
@vedant-jain03 go ahead with it :)
also please insure that it's responsiveness and other features won't break

[2021-04-16 03:28] ridsuteri commented on #957
@Mrinal81 go ahead with it :)
also please correct the missing gifs/images issue of the projects too

[2021-04-16 03:30] Mrinal81 commented on #957
@ridsuteri ok

[2021-04-16 03:30] vedant-jain03 commented on #955
Sure

[2021-04-16 03:31] Mrinal81 commented on #957
@ridsuteri can you please have a look on PR #1008 ..

[2021-04-16 03:36] #1011 closed

[2021-04-16 03:40] #1009 closed

[2021-04-16 03:44] #964 closed

[2021-04-16 03:45] iamabhii1 commented on #820
ok

[2021-04-16 03:48] ridsuteri commented on #794
@Mrinal81 i guess this comes under issue #957 !
and that's assigned to you ,so it would be better if you could close this and the PR made to it :)

[2021-04-16 03:48] #794 closed

[2021-04-16 03:51] bug-debug-done commented on #792
@ridsuteri 60% done. I am also working on other issues so it is taking timr

[2021-04-16 03:53] ridsuteri commented on #988
@Ankita297 github automatically closes the issue after a PR to that issue is merged if the issue is linked to the PR :)

[2021-04-16 03:55] Amit366 commented on #954
@ridsuteri there are 178 issues opened and there are some participants who have 6 to 7 issues but aren't able to send a PR. Now from where can I work on a new project. Can you suggest any idea on which I can work.

[2021-04-16 03:55] ridsuteri commented on #988
@Ankita297 i don't think we need a github action for that ...
also if you can please share a demo ?

[2021-04-16 04:01] Ankita297 commented on #988
@ridsuteri  As you can see there are issues whose PR got merged even then issue  are still open  . So I think we can implement a gitub action for that

[2021-04-16 04:03] Ankita297 commented on #988
Also i want to ask one more thing like issues whose corresponding PR has conflicts and it has not been resolved for like many days
.So  will you assign them to someone else ?

[2021-04-16 04:09] ridsuteri commented on #1023
@AnshikaAgrawal5501 go ahead with it :)

[2021-04-16 04:31] Aarti002 commented on #1006
just now viewed word scramble project, but mine is completely different , basically my project won't provide any hint player has to guess random words which must lie in it, let me share a screenshot

[2021-04-16 04:35] Aarti002 commented on #1006
![Screenshot (51)](https://user-images.githubusercontent.com/70666307/114971999-2a326f80-9e9b-11eb-928c-f95201a8bd94.png)
i already guessed few words in this , i hope u get it :) @harshgupta20
Thank you!

[2021-04-16 04:49] rupal11 opened #1025 "Add paint clone"
I would like to add a project similar to paint made using HTML, CSS, and javascript. I have named it Colora. In this we can draw, change brush color, brush size, background color. It also provides features such as undo, redo, delete, save.

[2021-04-16 04:57] kanisshka opened #1026 "Addition of search bar in Projects section"
Search bar is not present there by which the viewer have to scroll all the page.

![Screenshot (623)](https://user-images.githubusercontent.com/76627599/114973527-44218180-9e9e-11eb-9c55-03eb3db22e86.png)

[2021-04-16 05:06] vedant-jain03 opened #1027 "Two github links in navbar"
![bandicam 2021-04-16 10-33-57-271](https://user-images.githubusercontent.com/76901313/114974105-649e0b80-9e9f-11eb-8ebe-670dfeac03ac.jpg)

There are 2 github icon in navbar

[2021-04-16 06:51] Raj142 commented on #1017
I want to add a project name "Pickle Rick Raze".
in which player has to find the way to solve puzzle and result shows number of step taken by user.

![jKBaoN](https://user-images.githubusercontent.com/52609526/114983266-06c4f000-9eae-11eb-9d44-d5156e9c8923.jpg)

[2021-04-16 08:04] anshika208 commented on #978
yes @991rajat i would like to improve the yoga app by adding more music options along with different time limits to do meditation and also a days wise calendar to check that the user doesnt forget to do mediation any day.

[2021-04-16 10:02] Mrinal81 commented on #803
@harshgupta20 Please review the PR #1032 ..

Please review it..

[2021-04-16 10:27] aastha621 commented on #1015
@harshgupta20 sure, thanks!

[2021-04-16 12:02] #995 closed

[2021-04-16 12:06] harshgupta20 commented on #1027
@vedant-jain03 you send the PR for it, and Kindly send the PR within 7days. or else we need to assign it to another.

[2021-04-16 12:07] harshgupta20 commented on #1026
This issue already exist.

[2021-04-16 12:07] #1026 closed

[2021-04-16 12:10] Krishnapro commented on #1027
Hello,
I am Krishna, participant in GSSoC'21. There are 2 github icon in navbar so please assign me this issue to fixed.

[2021-04-16 12:11] harshgupta20 commented on #1025
@rupal11 you can send the PR for the issue, kindly send the PR within 7 days.

[2021-04-16 12:14] harshgupta20 commented on #1024
@SilverGraph you send the PR,
Kindly send it within 7days.

[2021-04-16 12:18] harshgupta20 commented on #1017
@Raj142 this project already exist. Is there any specific you want to add.

[2021-04-16 12:23] harshgupta20 commented on #1006
@Aarti002 go ahead with it :)

[2021-04-16 12:25] harshgupta20 commented on #1001
@Vedant-Rahane Whats the update ?

[2021-04-16 12:26] harshgupta20 commented on #998
@Muskan-creator update ?

[2021-04-16 12:31] Raj142 opened #1035 "Found duplicate of "Drum kit""
Please assign it to me as a part of GSSoC.

![drum1](https://user-images.githubusercontent.com/52609526/115024414-b1083c00-9edd-11eb-8d70-6c0a695784e5.PNG)
![drum2](https://user-images.githubusercontent.com/52609526/115024417-b2d1ff80-9edd-11eb-98cf-748c4e1bdefc.PNG)

[2021-04-16 12:36] Raj142 opened #1036 "Two "Netflix" projects Found"
Please assign it to me as participant of GSSoC'21

![netflix](https://user-images.githubusercontent.com/52609526/115025040-7eab0e80-9ede-11eb-9d44-85b8b9585faf.png)

[2021-04-16 12:58] harshgupta20 commented on #984
The issue has been resolved already

[2021-04-16 12:58] #984 closed

[2021-04-16 13:00] harshgupta20 commented on #983
@Priyanshujha11 you can send the PR

[2021-04-16 13:10] kanisshka opened #1038 "Dice Game isn't working"
## Describe the bug
Dice game is not working as it shows 404 error page.

## Expected behavior
As working normally 404 error will not display.

https://user-images.githubusercontent.com/76627599/115121378-0f154c00-9fd0-11eb-92f0-64eaeae2e2e3.mp4

[2021-04-16 13:42] archanagandhi opened #1041 "Header Navbar to solid"
Hey @Vishal-raj-1 ,
Right now the header is transparent, when we scroll everything behind the navbar is visible. By making it solid will give a clean look. Please assign this to me. Thanks

[2021-04-16 14:03] Vedant-Rahane commented on #1001
I am working on it. Will make PR today.

[2021-04-16 14:12] harshgupta20 commented on #978
@anshika208 Its great project, but since this project already exist we can't make another one with same concept but you can improve the existing project.

[2021-04-16 14:13] harshgupta20 commented on #976
@SrishtiArya07 Kindly reply in 2 days or else we need to close this issue.

[2021-04-16 14:22] Bhavya-Sehgal opened #1042 "Make signup/login page responsive And add validations"
I want to make signup/login page responsive and also want to add validations to it.

[GSSOC'21]

Screenshots:

![login](https://user-images.githubusercontent.com/66208607/115037994-b620b780-9eec-11eb-9516-745051600c33.png)

@Vishal-raj-1 @urvashi-code1255 @harshgupta20 @ridsuteri @991rajat Please assign me this issue.

[2021-04-16 14:31] harshgupta20 commented on #966
@aastha621 Kindly reply within 2days or else we have to close it.

[2021-04-16 14:46] aastha621 commented on #966
I think the page looks fine without it as well. This will cause problems in dark mode. We can close this!

[2021-04-16 14:46] #966 closed

[2021-04-16 14:50] Neha351-ui opened #1043 "Found some duplicate code in index.html"
## Describe the bug
1. Line no. 115 is same as line no 117
2. Line no. 261 to 264 is same as line no. 266 to 268

## Expected behavior
A clear and concise description of what you expected to happen.

## Environment (please complete the following information):
 - OS: Windows 10
 - Browser: chrome

[2021-04-16 14:51] harshgupta20 commented on #960
Since this thing is not needed and not necessary, so we have to close it.

[2021-04-16 14:51] #960 closed

[2021-04-16 14:51] Neha351-ui commented on #1043
I will solve it.

[2021-04-16 14:53] anshika208 commented on #978
yes I will improve the existing one @harshgupta20

[2021-04-16 14:53] Bhavya-Sehgal opened #1044 "Modify Currency convertor Project"
I want to :-

- Update its UI
- Make it responsive
- Add a reset button to project so that user can reset the text.

[GSSOC'21]

Screenshot:

![currency](https://user-images.githubusercontent.com/66208607/115042800-70b2b900-9ef1-11eb-9cc6-50498993e403.png)

@Vishal-raj-1 @urvashi-code1255 @harshgupta20 @ridsuteri @991rajat Please assign me this issue .

[2021-04-16 15:23] Bhavya-Sehgal opened #1046 "Responsive websites"
I want to make following websites responsive:

- Random user finder
- Typing Practice
- 2048 game
- Exchange rate calculator
- Bubble particle project

[GSSOC'21]

@Vishal-raj-1 @urvashi-code1255 @harshgupta20 @ridsuteri Please assign me this issue

[2021-04-16 15:29] sohini3062 opened #1047 "Add Lorem Ipsum Generator"
GSSOC 2021
I want to add a lorem ipsum generator which generates a number of paragraphs as needed by the user.
The project I am working on currently looks like this:
![1](https://user-images.githubusercontent.com/64258756/115047864-8ecee800-9ef6-11eb-967c-bbd7450eb6e6.JPG)

[2021-04-16 16:31] AB-san commented on #941
Sorry to say but i found that the resources that i was trying to use isnt working well so , I needed some more time!! is there any deadline?

[2021-04-16 16:32] Muskan-creator opened #1049 "duplicates of same project"
## Describe the bug
A clear and concise description of what the bug is.
Love calculator and live code editor projects are created twice.

## To Reproduce
Steps to reproduce the behavior:

1. remove duplicate files from projects
2. change html file,add css and javascript

## Expected behavior
A clear and concise description of what you expected to happen.
remove duplicated projects from html ,css a

[2021-04-16 16:41] Muskan-creator opened #1050 "Add Library app project"
The Library App project can  develop in HTML, CSS, and JavaScript. Talking about the features of this system, the user can make a list of books with their authors, book pages and keep them as records. You just have to type the book information in the text fields and click on the add button to add the information on the record. This project includes a lot of javascript for making the functioning of

[2021-04-16 17:04] #733 closed

[2021-04-16 17:06] ridsuteri commented on #502
yes you can go ahead with it @Ankita297 :)

[2021-04-16 17:06] K-jais opened #1051 "Add E-commerce items to cart Project"
This Project will have some items of the e-commerce website and from that we can add the items to the cart and then place it by getting the total price of all the items.

[2021-04-16 17:12] ridsuteri commented on #954
see @Amit366 participants are coming up with new issues daily !
that clearly means there are still lots of project to be added in the repo .. also about participants having 6-6 issues , we will be asking them about their progress after certain days  and if they are unable to get the projects done in certain time ..those project will be assigned to anyone else ...

[2021-04-16 17:13] ridsuteri commented on #988
ohk so that action will close the existing open issues?

[2021-04-16 17:16] ridsuteri commented on #988
yes @Ankita297 ! participants who are not resolving/responding to the PR after the conflcts till certain days...
those issues will be assigned to someone else

[2021-04-16 17:19] K-jais opened #1052 "Add Bookmark of sites Project"
This project will have the bookmark of the sites and saves that particular website in the home page for that particular user.

[2021-04-16 17:42] anushree71199 opened #1054 "[GSSOC'21] Adding a java script slider animator"
I would like to add a project in which there are animations of a navigation bar from all four directions. This navigation bar animation will get called using API. Whenever user clicks the button an animation will take place you can check a sample of this project down below:

https://user-images.githubusercontent.com/59678817/115063181-da8a8d00-9f08-11eb-8b67-78bf9debe64a.mp4

This is slider animat

[2021-04-16 17:46] Amit366 opened #1055 "Hexadecimal to RGB colour converter"
## Is your feature request related to a problem? Please describe.
No its not a problem. I will add a Hexadecimal to RGB colour converter.
## Describe the solution you'd like
I will be using HTML and JavaScript.

## Additional context
I am a participant of GSSOC. Please assign it to me

[2021-04-16 17:46] Amit366 commented on #1055
@ridsuteri please assign

[2021-04-16 18:15] #577 closed

[2021-04-16 18:17] Muskan-creator commented on #1049
@urvashi-code1255 please assign me this issue

[2021-04-16 18:28] #975 closed

[2021-04-16 18:41] #907 closed

[2021-04-16 18:47] lakshita15 commented on #662
I'll Start working was suffering from covid , will start in day or two.
Sorry for the delay🙂

[2021-04-16 18:54] #730 closed

[2021-04-16 18:58] SrishtiArya07 commented on #976
The soundboard will have sound effects of Harp, Bass Drum, Drumroll, Chinese Gong, Military Drum, and Bugle call. I will also add rotating buttons.

[2021-04-16 19:00] Vedant-Rahane commented on #1001
Sorry, Some work is remaining. I will make PR ASAP.

[2021-04-16 19:09] AnshikaAgrawal5501 opened #1057 "Sidenav Enhancement"
## Is your feature request related to a problem? Please describe.
No its not a problem. I wish to enhance the look of sidenav.
## Describe the solution you'd like.
- I feel that sidenav should have some different icons like instead of youtube and google icons we should better use Instagram and Mail icons since they are the means of social connectivity.
- One more thing I feel to change that when w

[2021-04-16 19:11] #1005 closed

[2021-04-17 03:38] jhamadhav opened #1060 "BUG : Multiple instances of the same project in script.js"
## Describe the bug

In the file, `script.js`; where data for different projects are stored there are multiple instances of the same project.

## To Reproduce

Steps to reproduce the behavior:
1. Open the file `script.js` and see the first array.
OR
1. Visit  https://vishal-raj-1.github.io/Awesome-JavaScript-Projects/projects.html
2. There you can observe multiple cards of the same project

## Exp

[2021-04-17 05:32] anhushree commented on #952
@Ayushjain2205 Could you please look into this issue? May I work on this issue?

[2021-04-17 07:41] aastha621 commented on #1015
@harshgupta20 I have made the PR. Pls review it. PR #1063

[2021-04-17 13:38] #1015 closed

[2021-04-17 14:01] YashrajDawkhar opened #1064 "JavaScript Dragon Game Not Working"
## Describe the bug
A clear and concise description of what the bug is.
In the Awesome javascript project **![Error](https://user-images.githubusercontent.com/67941618/115115697-63f69980-9fb3-11eb-9a61-727df405f39f.png)
![Project](https://user-images.githubusercontent.com/67941618/115115698-6658f380-9fb3-11eb-9550-df02b630e810.png)
** not working

## To Reproduce
Steps to reproduce the behavior:
1

[2021-04-17 15:19] urvashi-code1255 commented on #756
@abhijeet141 Links are not clickable because we haven't added any URL in them.

[2021-04-17 15:32] aastha621 opened #1065 "The old About Us content is still there. It needs to be removed."
## Describe the bug
The content was improvised but the old content is somehow still there after the new one ends. It must be removed.

## To Reproduce
Remove old About Us content

[2021-04-17 15:50] aastha621 commented on #1065
@urvashi-code1255 @harshgupta20 @991rajat I have resolved the conflict and the old content has been removed from the site. Pls review it. PR #1066.

[2021-04-17 16:45] Priyanshujha11 commented on #985
pop up effect

[2021-04-17 17:10] #750 closed

[2021-04-17 17:26] #1012 closed

[2021-04-17 17:26] #1014 closed

[2021-04-17 17:58] #321 closed

[2021-04-17 18:02] #653 closed

[2021-04-17 18:36] #1002 closed

[2021-04-17 19:01] #993 closed

[2021-04-17 19:18] AnshikaAgrawal5501 commented on #1057
@Vishal-raj-1 @urvashi-code1255 @Harshal0902 @ridsuteri
Please check this issue and assign this to me.
Thanks.

[2021-04-17 19:26] #992 closed

[2021-04-17 19:30] #990 closed

[2021-04-17 20:02] 991rajat commented on #985
@urvashi-code1255 Is this okay?

[2021-04-17 20:56] kanisshka opened #1071 "Minion image is not displaying."
## Describe the bug
minion image is not available.

## Expected behavior
minion image should display.

## Additional context
Screenshot related to this bug.
![Screenshot (626)](https://user-images.githubusercontent.com/76627599/115126550-81485980-9fed-11eb-843d-4e0abf4ebb5d.png)

[2021-04-18 02:07] ridsuteri commented on #957
any progress @Mrinal81 ?

[2021-04-18 02:09] ridsuteri commented on #941
@AB-san oh ohk ! try to get this issue done as soon as possible

[2021-04-18 02:39] Ankita297 opened #1072 "change the UI of age calculator game"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of  age calculator game.
## Describe the solution you'd like
I will change the ui of that page
## Additional context
Add any other context about the feature request here.

[2021-04-18 02:41] Mrinal81 commented on #957
@ridsuteri yaa today I will made PR

[2021-04-18 02:58] Ankita297 opened #1073 "UI of harry potter game"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of UI of harry potter game
## Describe the solution you'd like

## Additional context
![Herry Potter _ All charecter - Google Chrome 18-04-2021 08_12_36](https://user-images.githubusercontent.com/67833077/115132696-fdf42b80-a01f-11eb-8baf-a75291e859fd.png)

[2021-04-18 03:04] Ankita297 opened #1074 "UI of currency converter"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of  currency converter
## Describe the solution you'd like
## Additional context
Add any other context about the feature request here.

![Herry Potter _ All charecter - Google Chrome 18-04-2021 08_14_37](https://user-images.githubusercontent.com/67833077/115132776-cb96fe00-a020-11e

[2021-04-18 03:09] Ankita297 commented on #349
Can i work on this @ridsuteri @urvashi-code1255 @Vishal-raj-1 ?

[2021-04-18 03:15] Ankita297 commented on #1074
Can i work on this @ridsuteri @Vishal-raj-1 @urvashi-code1255 ?

[2021-04-18 03:17] Ankita297 commented on #1073
Can i work on this @ridsuteri @Vishal-raj-1 @urvashi-code1255 ?

[2021-04-18 03:18] Ankita297 commented on #1072
Can i work on this @ridsuteri @Vishal-raj-1 @urvashi-code1255 ?

[2021-04-18 03:27] #965 closed

[2021-04-18 03:29] Ankita297 commented on #988
Yes , Can i try on that ?

[2021-04-18 03:29] Ankita297 commented on #988
@ridsuteri @harshgupta20 @Vishal-raj-1 ?

[2021-04-18 03:29] ridsuteri commented on #1055
@Amit366 go ahead with it :)

[2021-04-18 03:31] ridsuteri commented on #662
take care @lakshita15 , and get well soon :)

[2021-04-18 03:34] #1023 closed

[2021-04-18 03:44] ridsuteri commented on #1057
@AnshikaAgrawal5501 go ahead with it :)

[2021-04-18 03:52] iamabhii1 opened #1075 "3 github logo issue"
hii ,i wanted to updated /correct the issue with github logo on index.html file .
and slightly UI change .
please assign this to me .
this contribution is for gssoc21

[2021-04-18 03:52] ridsuteri commented on #349
@nagasaisriya i am assigning this issue to @Ankita297 ?

[2021-04-18 03:55] ridsuteri commented on #1074
@Ankita297 similar issue ( #1044 ) is assigned to @Bhavya-Sehgal
this issue is not available now and hence i am closing it :(

[2021-04-18 03:55] #1074 closed

[2021-04-18 03:56] iamabhii1 opened #1076 "wanted to remove the redundancy from script file"
hi , i wanted to remove the redundancy from script.js  file in this project .
i saw there is repetition in script .js file kindly allow to me correct this issue .
i saw there are some project data that are repeating many times which is causing redundancy in the project and confusion .

please kindly assign this issue to me.
this contribution is for gssoc21

[2021-04-18 04:03] ridsuteri commented on #988
@Ankita297 ok go ahead ! but please try to make a descriptive PR for this issue :)

[2021-04-18 04:15] Mrinal81 commented on #957
@ridsuteri Please have a look on PR #1077 .

Kindly review it...

[2021-04-18 05:10] AB-san commented on #941
Sure!!!

[2021-04-18 10:36] janvi01 commented on #736
Please review my PR.

[2021-04-18 10:51] SrishtiArya07 opened #1082 "Meme Soundboard not producing any sound"
## Describe the bug
No sound is produced when the buttons on the soundboard are clicked.

## Expected behavior
The meme soundboard should play music when the buttons are clicked.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):
 - OS: Windows 10
 - Browser: Chrome

## Addi

[2021-04-18 11:13] akshay399 opened #1083 "Guess the number game using html, css and javascript"
I will make a game in which player will have to guess the hidden number.

<img width="952" alt="Screenshot 2021-04-18 163806" src="https://user-images.githubusercontent.com/55823965/115143462-0de22e80-a065-11eb-8514-5edb40eba0c1.png">

<img width="949" alt="Screenshot 2021-04-18 163903" src="https://user-images.githubusercontent.com/55823965/115143459-0b7fd480-a065-11eb-8efc-ecee19a10d28.png">

[2021-04-18 11:13] akshay399 commented on #1083
I am a gssoc member, please assign me this issue @ridsuteri

[2021-04-18 11:43] Rohan27s opened #1085 "Github Double Button Issue"
## Describe the bug
There are two GitHub buttons visible on the navbar

## To Reproduce
Steps to reproduce the behavior:
1. I can remove one button from the navbar
2.
3.
4.

## Expected behavior
Only one Github Logo Must be Visible

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following inform

[2021-04-18 11:47] Rohan27s commented on #1085
Can any admin assign me this issue I have already solved this and wants to merge PR for the same

[2021-04-18 12:27] Rohan27s commented on #1085
/assign

[2021-04-18 13:31] shivammahajancse opened #1087 "Postfix expression evaluator in JavaScript"
I will make an evaluator which evaluates postfix expression in JavaScript. When user enters a valid postfix expression it evaluates and display value under GSSOC 2021.
Please assign me this issue @Vishal-raj-1 @harshgupta20 @urvashi-code1255 @991rajat

[2021-04-18 13:36] shivammahajancse opened #1088 "Prefix expression evaluator in JavaScript"
I will make an evaluator which evaluates prefix expression in JavaScript. When user enters a valid prefix expression it evaluates and display value under GSSOC 2021.
Please assign me this issue @Vishal-raj-1 @harshgupta20 @urvashi-code1255 @991rajat

[2021-04-18 15:04] satcasm opened #1089 "Positioning of toggle button"
On ```home```, as of now the toggle button disappears as soon as I scroll down the page, so if I want to toggle between the modes I have to click on ```goToTop``` arrow then only I can change the modes. I think if we give the user a fixed option to change the modes it would be noice. So I think we could either change the positioning of the toggle button or change something like that.
Would like to

[2021-04-18 16:12] tend2infinity opened #1090 "Make a search bar for the projects.html page"
## Is your feature request related to a problem? Please describe.
Since we have a lot of projects , so we should have a search bar to search for a particular project.

## Screenshot of where I would like to add the search bar.
![awesome-javascript-bug](https://user-images.githubusercontent.com/61948033/115152451-c6709800-a08e-11eb-9f6e-c2b0fe4ece57.JPG)

Please assign this issue to me under gssoc!

[2021-04-18 16:22] tend2infinity opened #1091 "Meme-Url project link is not working"
## Describe the bug
The memeUrl project seems missing from the public folder.

## Expected behavior
We can simply remove that project from the projects section because its code is not available in the public folder.

## Screenshots
![awesome-javascript-bug2](https://user-images.githubusercontent.com/61948033/115152799-56fba800-a090-11eb-812b-951d8027f961.JPG)

Assign this issue to me under gssoc

[2021-04-18 16:27] tend2infinity opened #1092 "Duplicate images in Javascript Drumkit project"
## Describe the bug
The same image is used twice in that project which seems misleading.

## Expected behavior
There should be only one image in that and I will remove the duplicate image from the DOM

## Screenshot
![awesome-javascript-bug3](https://user-images.githubusercontent.com/61948033/115152931-00429e00-a091-11eb-8c72-65b159863f79.JPG)

[2021-04-18 16:31] tend2infinity opened #1093 "Netflix clone UI fix"
## Describe the bug
The movie cards shown in this project are aligned vertically which does not seem good for UI.

## Expected behavior
I will align them horizontally with proper responsiveness

## Screenshot
![awesome-javascript-bug4](https://user-images.githubusercontent.com/61948033/115153072-9eceff00-a091-11eb-9dfc-a88bcc9eee83.JPG)

[2021-04-18 16:42] K-jais commented on #1052
Please @ridsuteri  review this issue

[2021-04-18 16:43] K-jais commented on #1051
Please @ridsuteri  review this issue

[2021-04-19 02:01] SilverGraph commented on #1024
@harshgupta20 I have opened the PR.

[2021-04-19 06:01] Mrinal81 commented on #957
@ridsuteri kindly review the PR #1077 ...

[2021-04-19 07:43] jhamadhav opened #1098 "Project idea : Koch snowflake"
# Koch-Snowflake

The Koch snowflake (also known as the Koch curve, Koch star, or Koch island) is a fractal curve and one of the earliest fractals to have been described. It is based on the Koch curve, which appeared in a 1904 paper titled "On a Continuous Curve Without Tangents, Constructible from Elementary Geometry" by the Swedish mathematician Helge von Koch.

The Koch snowflake can be built u

[2021-04-19 07:44] jhamadhav commented on #1098
As part of GSSOC'21 I would love to develop it and contribute to this project.
@Vishal-raj-1 @991rajat  please assign me this!

[2021-04-19 09:58] harshgupta20 commented on #166
Hi @Ayush7614 since you have made created it before 8 march so it can't be tagged with gssoc21.

[2021-04-19 09:59] harshgupta20 commented on #303
Any update ?
reply with in 2 days or else I have to close this issue.

[2021-04-19 10:04] harshgupta20 commented on #299
This project already exist.

[2021-04-19 10:04] #299 closed

[2021-04-19 10:05] #298 closed

[2021-04-19 10:06] harshgupta20 commented on #297
Hi @Maitryee-Choudhary , you are working on the from 13 march any update ?
Reply within 2 days or else i have to close the issue.

[2021-04-19 10:09] harshgupta20 commented on #296
This issue already been resolved.

[2021-04-19 10:09] #296 closed

[2021-04-19 10:10] #295 closed

[2021-04-19 10:11] #294 closed

[2021-04-19 10:11] #293 closed

[2021-04-19 10:13] harshgupta20 commented on #288
Hi @rohank2502 you can add whichever suits the site just make sure it should attractive and eye caching.

[2021-04-19 10:15] rohank2502 commented on #288
For Sure WIll get back to you with a PR today

[2021-04-19 10:36] harshgupta20 commented on #287
Any update ?
Reply within 2 days or else i have to close it.

[2021-04-19 10:36] harshgupta20 commented on #284
This project already exist.

[2021-04-19 10:36] #284 closed

[2021-04-19 10:39] harshgupta20 commented on #280
Any update ?
Reply within 2 days or else i have to close this issue.

[2021-04-19 10:39] #278 closed

[2021-04-19 10:40] harshgupta20 commented on #276
Any update ?
Reply within 2 days or else i have to close this issue.

[2021-04-19 10:40] harshgupta20 commented on #275
Any update ?
Reply within 2 days or else i have to close this issue.

[2021-04-19 10:41] harshgupta20 commented on #283
Any update ?
Reply within 2 days or else i have to close this issue.

[2021-04-19 10:42] #260 closed

[2021-04-19 10:42] #255 closed

[2021-04-19 11:12] Astrodevil opened #1099 "weather app enhance"
I am Amitesh a GSSOC 2021 Participant, I want to enhance this project. Please assign me this.

## Is your feature request related to a problem? Please describe.
No its not a problem. I want to enhance the look of weather app.
## Describe the solution you'd like
I want to change look of search bar & button.
## Additional context
Add any other context about the feature request here.
![Screenshot 202

[2021-04-19 11:16] harshgupta20 commented on #244
@codebuzzer01 whats the update ?
Kindly reply within 2 days else i have to close this issue.

[2021-04-19 11:17] harshgupta20 commented on #219
Any update ?
Reply within 2 days or else i have to close this issue.

[2021-04-19 11:17] harshgupta20 commented on #218
Any update ?
Reply within 2 days or else i have to close this issue.

[2021-04-19 11:20] harshgupta20 commented on #217
@akshitadixit Don't worry, we will sort it :)

[2021-04-19 11:20] #217 closed

[2021-04-19 11:21] harshgupta20 commented on #214
Any update ?
Reply within 2 days or else i have to close this issue.

[2021-04-19 11:39] poojitha2002 commented on #284
I think no, if existed why u have assigned :(

[2021-04-19 14:11] ireneelizabethsabu commented on #280
I apologize for the delay caused due to end sem exams.I am working on it and  will make the PR within 2 days.

[2021-04-19 14:44] AnshikaAgrawal5501 opened #1101 "UI of Live Code Editor"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to change the UI of Live Code Editor.
## Describe the solution you'd like
- Give some color to the fields.
- make them look separate from each other.
- Enhance the complete look
### Screenshot
![Untitled2](https://user-images.githubusercontent.com/56653257/115255302-c1bde980-a14b-11eb-8437-4eb3a67e8e5b.p

[2021-04-19 14:49] AnshikaAgrawal5501 opened #1102 "UI of Currency Converter"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to change the UI of Currency Converter.
## Describe the solution you'd like
- Add CSS
- Add Bootstrap
- Make it responsive
- Proper form format
- Add some theme

### Screenshot
![Untitled3](https://user-images.githubusercontent.com/56653257/115255901-60e2e100-a14c-11eb-9788-81e558730bdf.png)

## Addition

[2021-04-19 15:01] AnshikaAgrawal5501 opened #1103 "UI of Weight Converter"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to change the UI of Weight Converter
## Describe the solution you'd like
- Files are not linked properly, will change that.
- I will work on its UI, by making the form responsive and adding bootstrap to the input fields.
### Screenshot
![Untitled4](https://user-images.githubusercontent.com/56653257/11525

[2021-04-19 16:03] yashikabhargava commented on #511
These are the improvements that I have done , also updated GIF in script.js.
![bmi changes](https://user-images.githubusercontent.com/76060661/115267470-d6ec4580-a156-11eb-891a-9bfab3dcefa7.PNG)

[2021-04-19 16:04] yashikabhargava commented on #511
Is it okay? Can I make a PR?

[2021-04-19 16:56] #288 closed

[2021-04-19 17:01] #511 closed

[2021-04-19 17:15] #980 closed

[2021-04-19 17:21] yashikabhargava opened #1105 "Enhancement in URL Shortner"
**Is your feature request related to a problem? Please describe.**
URL Shortner

**Describe the solution you'd like**

change in size and font-style of the text.
Change in shape of button.
Change in the background color, alignment to the center.
Addition of theme.
Improvement in UI.

**Additional Context**
I want to work on this issue, can you please assign this issue to me as a part of gssoc21.
@

[2021-04-19 17:33] SilverGraph commented on #511
@yashikabhargava @urvashi-code1255 That looks like my design.

[2021-04-19 18:49] Ankita297 commented on #667
Can i work on this @ridsuteri @Vishal-raj-1 @urvashi-code1255 ?

[2021-04-19 19:23] AnshikaAgrawal5501 opened #1110 "QuizApp Project not working Fine"
## Describe the bug
I noticed that the QuizApp is not calculating the score correctly.
I have gone through the JS file and came to know that the object array is removing the question index as soon as it gets displayed due to which when the function for checking is called, it is checking the selected answer with the correct answer of the next index question.

And also it displaying 5 questions but

[2021-04-20 05:28] #1055 closed

[2021-04-20 05:36] Ayushjain2205 opened #1113 "Minesweeper Game"
I would like to create a minesweeper game using html and vanilla js

Can you please assign this issue to me under gssoc'21

[2021-04-20 05:36] #957 closed

[2021-04-20 05:38] Ayushjain2205 commented on #1113
@991rajat could you assign this issue to me under gssoc21

[2021-04-20 05:43] ridsuteri commented on #1052
@K-jais is it similar to issue #492 ?
if not please provide a brief description and gif/screenshots

[2021-04-20 05:48] ridsuteri commented on #792
@bug-debug-done it's been 13 days since you are assigned to this issue!
please try to come up with a PR as soon as possible, and same applies to the other issues assigned to you as well :)

[2021-04-20 05:50] ridsuteri commented on #1051
i guess it's similar to issue #792 .. and that's is already assigned !

[2021-04-20 05:52] bug-debug-done commented on #792
@ridsuteri will complete it by tomorrow

[2021-04-20 05:52] #882 closed

[2021-04-20 05:53] K-jais commented on #1051
But sir It's been 13 days and he hasn't come up with a PR.

[2021-04-20 05:53] ridsuteri commented on #792
ok @bug-debug-done ! thanks for the update :)

[2021-04-20 05:53] K-jais commented on #1051
So if u can assign that issue to me?

[2021-04-20 05:59] #1038 closed

[2021-04-20 06:05] #974 closed

[2021-04-20 06:06] K-jais commented on #1052
![Screenshot (2264)](https://user-images.githubusercontent.com/75881393/115345592-a646f300-a1cc-11eb-80f7-9ea1ce6d2c7d.png)

@ridsuteri

[2021-04-20 06:06] ridsuteri commented on #1051
@K-jais he'll come up with a PR by tomorrow.. and if not we have @Amit366 after him !

[2021-04-20 06:07] K-jais commented on #1051
Okk

[2021-04-20 06:07] ridsuteri commented on #1051
since this issue is already present , hence i am closing this now :(

[2021-04-20 06:07] #1051 closed

[2021-04-20 06:10] ridsuteri commented on #1052
@K-jais this looks similar to #579 , which is already merged into main ,hence i don't think it's available now :(

[2021-04-20 06:10] #1052 closed

[2021-04-20 06:20] #1057 closed

[2021-04-20 06:26] #917 closed

[2021-04-20 07:27] yashikabhargava commented on #1105
@urvashi-code1255  @991rajat @ridsuteri  I want to work on this issue, can you please assign this issue to me as a part of gssoc21.

[2021-04-20 09:17] akshay399 commented on #1083
hi @ridsuteri i made a [PR](https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/1116) please review it, thank you :)

[2021-04-20 12:07] #679 closed

[2021-04-20 12:50] #820 closed

[2021-04-20 12:59] #945 closed

[2021-04-20 13:01] #841 closed

[2021-04-20 13:56] #914 closed

[2021-04-20 16:22] #998 closed

[2021-04-20 16:26] #1072 closed

[2021-04-20 16:28] #1073 closed

[2021-04-20 16:30] #713 closed

[2021-04-20 18:07] SilverGraph opened #1120 "Improper alignment of input boxes and buttons in Student Registration Page"
## Describe the bug

- Input boxes not aligned properly
- The `Enroll Student` button not aligned with the form labels

## To Reproduce
Steps to reproduce the behavior:
1. Open the website homepage
2. Click on `Projects` in the navbar
3. Scroll down to `Student Registration Validated Form` and click on it

## Expected behavior

- Expected the input boxes to be aligned properly
- Expected the `Enro

[2021-04-20 18:23] SilverGraph opened #1121 "Responsiveness of BMI Calculator page lost"
## Describe the bug
The `BMI weight guide` part of the page is not aligned with the container div in mobile and iPad view

## To Reproduce
Steps to reproduce the behavior:
1. Open the **Awesome Javascript** website
2. Click on `Projects` in the navbar
3. Scroll down to `BMI Calculator` project and click on it
4. Right-click on the page to inspect and select **_iPhone_** or **_iPad_** in the dev to

[2021-04-20 18:45] kanisshka opened #1122 "Enchancing the visual of TODO App"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of TODO APP.

## Additional context
Screenshot related to that stuff.
![image](https://user-images.githubusercontent.com/76627599/115447906-a7146f00-a236-11eb-881b-c32bcab3ad97.png)

[2021-04-21 04:14] pritamkr1 opened #1125 "Guess secret number game by vanilaJS"
please assign me in this.

[2021-04-21 06:01] Ankita297 commented on #330
can i work on this @urvashi-code1255 @ridsuteri @Vishal-raj-1 @harshgupta20 ?

[2021-04-21 08:26] #955 closed

[2021-04-21 08:27] #1027 closed

[2021-04-21 08:37] #358 closed

[2021-04-21 08:38] #347 closed

[2021-04-21 08:40] harshgupta20 commented on #345
Congrats your contribution has been merged.

[2021-04-21 08:40] #345 closed

[2021-04-21 08:40] #341 closed

[2021-04-21 08:40] #339 closed

[2021-04-21 08:41] #337 closed

[2021-04-21 08:42] harshgupta20 commented on #330
@DevrajDC Any update?
Kindly reply within 2 days or else i have to assign this to @Ankita297 .

[2021-04-21 08:42] harshgupta20 commented on #327
Any Update ?

[2021-04-21 08:43] harshgupta20 commented on #322
Since no one responding to this issue, so we are closing it

[2021-04-21 08:43] #322 closed

[2021-04-21 08:44] YashrajDawkhar commented on #1064
Thank You for assigning the work.
plz, check to pull req.
![image](https://user-images.githubusercontent.com/67941618/115524430-c00b3780-a2ab-11eb-9ed5-1cb28d8003e1.png)

[2021-04-21 08:47] harshgupta20 commented on #320
@nagasaisriya since this project already made so if we asked you to improve the UI or you can work on another issue if you want. I am closing it because this issue has been resolved already.

[2021-04-21 08:47] #320 closed

[2021-04-21 08:48] harshgupta20 commented on #309
@Amisha-here it's a good project, you can send the PR : )

[2021-04-21 08:51] harshgupta20 commented on #304
The tag has been added, you can send the PR now.

[2021-04-21 08:51] #303 closed

[2021-04-21 08:51] #297 closed

[2021-04-21 08:51] #287 closed

[2021-04-21 08:51] #283 closed

[2021-04-21 08:53] #276 closed

[2021-04-21 08:53] #275 closed

[2021-04-21 08:56] harshgupta20 commented on #244
@codebuzzer01 It is the last chance to send the PR for this issue, kindly reply in 24 hours.

[2021-04-21 08:56] #219 closed

[2021-04-21 08:57] #218 closed

[2021-04-21 09:11] #1001 closed

[2021-04-21 10:13] #939 closed

[2021-04-21 10:20] #969 closed

[2021-04-21 10:25] #1083 closed

[2021-04-21 10:43] #502 closed

[2021-04-21 10:45] #1102 closed

[2021-04-21 10:48] #924 closed

[2021-04-21 13:19] bug-debug-done commented on #792
@ridsuteri  hey I am done with the code but there is some problem with the photos some photos do not load

[2021-04-21 13:32] Vedant-Rahane commented on #1122
Hey, @kanisshka I have modified the Todo app project. Please check PR #1069
If you want to improve it further you can go ahead, just wanted to tell you that this visual is changed.

[2021-04-21 13:57] kanisshka commented on #1122
oh oky thank uh for this info.

[2021-04-21 14:09] Vedant-Rahane opened #1129 "Modify Video Player Project"
I would like to work on the following issues.
- Full-Screen feature not working.
- Modify Styling.
- Make well responsive.

![video-player](https://user-images.githubusercontent.com/71424483/115567344-ccf25000-a2d8-11eb-8ab7-97bea35dcef7.png)

@991rajat @urvashi-code1255 Please assign me this.

[2021-04-21 14:59] aastha621 opened #1130 "New Project- GHOST TEXT"
## Is your feature request related to a problem? Please describe.
No its not a problem. I am contributing a project named GHOST TEXT.

## Describe the solution you'd like
I have made a text effect called ghost text, in which the text vanishes with a spooky look when hovered upon.

[2021-04-21 16:13] bug-debug-done commented on #792
@ridsuteri I am getting this error "failed to push some refs to 'https://github.com/bug-debug-done/Awesome-JavaScript-Projects.git'
" not able to update

[2021-04-21 18:08] bilal-23 commented on #214
I'll raise the PR by tomorrow @harshgupta20

[2021-04-21 21:31] harshgupta20 commented on #515
@fatma-sia27 any update?
Kindly reply within 2 days or i have to close it.

[2021-04-21 21:32] harshgupta20 commented on #518
@991rajat Any Update ?
Kindly reply within 2 days or i have to assign it to someone else.

[2021-04-21 21:34] harshgupta20 commented on #522
@PrathmeshSadake Please don't commit on main branch, create a separate branch for your PR.

[2021-04-22 01:24] #427 closed

[2021-04-22 06:44] #1085 closed

[2021-04-22 09:17] #1110 closed

[2021-04-22 09:21] #1071 closed

[2021-04-22 13:29] Rishika-05 opened #1141 "New Project- Reaction game using JS"
### **Is your feature request related to a problem? Please describe.**

No its not a problem. I would like to add a new project called Reaction game.

### **Describe the solution you'd like**
In this game you can score max 15 points by clicking on the circles that can appear anywhere on the screen within 1 second , if you fail to do so you lose.

### **Additional context**
I am a gssoc21 participa

[2021-04-22 17:35] akshay399 opened #1142 "I will add a multiplayer dice game using html, css, js"
I will add a dice game using html, css, js, in which the player will win once he scores more than or equal to 20 points and his score will be set to zero if he rolls an one on dice  and then player 2 will get to play.
![image](https://user-images.githubusercontent.com/55823965/115760431-fdacb500-a3be-11eb-81f3-84daf3b8b87f.png)

![image](https://user-images.githubusercontent.com/55823965/115760629

[2021-04-22 19:03] AnshikaAgrawal5501 opened #1143 "New Project - Temperature Converter"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a new project called Temperature Converter.
## Describe the solution you'd like
In this project, the temperature in any unit can be converted to others.

## Additional context
I am a gssoc21 participant and would like to work on this issue. Please assign me this.

@Vishal-raj-1 @urvashi-code1255 @

[2021-04-22 19:08] AnshikaAgrawal5501 opened #1144 "New Project - Animated Background"
## Is your feature request related to a problem? Please describe.
No its not a problem. I would like to add a new project called Animated Background.
## Describe the solution you'd like
There will be colorful boxes and stars floating in the upward direction.

## Additional context
I am a gssoc21 participant and would like to work on this issue. Please assign me this.

@Vishal-raj-1 @urvashi-code12

[2021-04-22 20:43] codDoc98 opened #1145 "make-match game"
I want to add this game to **awesome javascript projects**

**About Game** :

**Added awesome features include** :
1. the game will be resizable.(4X4, 4X6...)
2. its card can have multiple design option(like colors, cartoons etc)
3. random cards
4. play again feature
5. game can be to search two or four similar cards (choice of player).

*please assign this to me as gssoc participant. I am current

[2021-04-22 21:56] K-jais opened #1146 "Add Picture to Picture Project"
This project has the functionality to stream some other tab's video in your particular tab in which you are working. This will be more clear if you just watch the video.

Its working video,

https://user-images.githubusercontent.com/75881393/115789762-45453800-a3e3-11eb-935d-7b609c60969b.mp4

[2021-04-22 21:59] K-jais opened #1147 "Add Custom Countdown Project"
This project will set a reminder for a particular date and then it will just get saved in local storage. And when it's time to give you the reminder, it will just give you the message.

Its working video,

https://user-images.githubusercontent.com/75881393/115790307-24311700-a3e4-11eb-8c97-9561ac87892f.mp4

[2021-04-23 02:17] fatma-sia27 commented on #515
Yes Yes Iam doing .

[2021-04-23 06:06] Deeksha-Rawat opened #1148 "Task list [GGSOC 21]"
please assign it to me under GGSOC'21.

![task list](https://user-images.githubusercontent.com/50552823/115826189-1f8e5200-a428-11eb-8684-3d5bb9c2c708.gif)

[2021-04-23 06:44] Ankita297 opened #1149 "add welcome bot"
## Is your feature request related to a problem? Please describe.
Add github action to greet contributor on his /her first issue and PR creation .
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.
![New issue · Issue #1 · Ankita

[2021-04-23 06:45] Ankita297 commented on #1149
@Vishal-raj-1 @ridsuteri @urvashi-code1255 @harshgupta20 can i work on this ?

[2021-04-23 06:58] codDoc98 commented on #2
anything else left to add in readme? Let me do it. Desperate to be assigned first project issue.

[2021-04-23 07:05] codDoc98 commented on #24
clearly, she isn't. Please assign me will do immediatey.

[2021-04-23 08:56] Meghag5 commented on #24
hey i am due to some health issues I was not able to do it

[2021-04-23 09:00] K-jais commented on #1146
Please @ridsuteri @urvashi-code1255 review this issue.

[2021-04-23 09:00] K-jais commented on #1147
Please @ridsuteri @urvashi-code1255 review this issue.

[2021-04-23 09:15] Ayushjain2205 opened #1151 "Xylophone instrument simulator"
Make a xylophone simulator that allows user to play cool music!

[2021-04-23 09:15] #1122 closed

[2021-04-23 09:15] Ayushjain2205 commented on #1151
@991rajat  I would like to work on this

[2021-04-23 09:27] ambivert-sam commented on #983
I'm a participant of gssoc'21 want to contribute to this issue can I work on it?

[2021-04-23 10:27] codDoc98 commented on #24
ok, stay healthy.

[2021-04-23 11:35] #1043 closed

[2021-04-23 13:01] #1024 closed

[2021-04-23 13:17] Raj142 commented on #518
@harshgupta20 i found same project on project list. However i will add to do list app with CRUD operation . Additionally user is allow to search tasks.
I will add this project by tonight. @991rajat

[2021-04-23 13:38] harshgupta20 commented on #327
Since there is no response from the contributor.

[2021-04-23 13:38] #327 closed

[2021-04-23 13:39] harshgupta20 commented on #309
@Amisha-here Its been month, you haven't replied, so you have to reply within 2 days, else I have to close it.

[2021-04-23 13:40] #308 closed

[2021-04-23 13:41] harshgupta20 commented on #304
@SatyaPrakash26 Kindly reply within 2 days or I have to close this.

[2021-04-23 13:41] harshgupta20 commented on #280
@ireneelizabethsabu update ?

[2021-04-23 13:42] #244 closed

[2021-04-23 13:45] harshgupta20 commented on #165
@Ayush7614 Any update ? Kindly reply within 2 days or I have to close this.

[2021-04-23 13:46] #163 closed

[2021-04-23 13:47] harshgupta20 commented on #158
@mirakiii any update ? Kindly reply within 2 days or I have to close this.

[2021-04-23 13:48] harshgupta20 commented on #138
Since the project has been updated, so this issue is invalid with respect to the updated project website.

[2021-04-23 13:48] #138 closed

[2021-04-23 13:49] harshgupta20 commented on #128
@Meghag5 Kindly reply within 2 days or I have to close this.

[2021-04-23 13:49] harshgupta20 commented on #123
@shreyasingh7673 Any update ? Kindly reply within 2 days or I have to close this.

[2021-04-23 13:50] harshgupta20 commented on #111
@diptendunandi Any update ? Kindly reply within 2 days or I have to close this.

[2021-04-23 13:50] harshgupta20 commented on #95
@Archna29 Any Update ? Kindly reply within 2 days or I have to close this.

[2021-04-23 13:50] Ace-07 opened #1155 "Add a awesome project(ACE_EYE)"
I'm Kumar Ritush a GSSOC participant wants to contribute in your repo with a js project that help to tract cursor location with an eye looking black circle.
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to add a new project in this repo.
## Describe the solution you'd like
I want to add ACE_EYE.html with ACE_EYE.css and ACE_EYE.js.
![Screenshot (37

[2021-04-23 13:52] harshgupta20 commented on #85
@kanishkaa24 Yes you can send the PR :)

[2021-04-23 13:53] harshgupta20 commented on #61
This PR has been merged.

[2021-04-23 13:53] #61 closed

[2021-04-23 13:54] harshgupta20 commented on #40
@frappelatte28 Any update? Kindly reply within 2 days or I have to close this.

[2021-04-23 13:56] harshgupta20 commented on #27
@Abhinav0909 Any update? Kindly reply within 2 days or I have to assign this to someelse.

[2021-04-23 13:56] Meghag5 commented on #128
@harshgupta20 pls give me time 5 days time.
I am not well i will not be able to work

[2021-04-23 13:57] harshgupta20 commented on #21
@archana-9430 Any update? Kindly reply within 2 days or I have to assign this to some-else.

[2021-04-23 13:59] harshgupta20 commented on #20
@Sakshi0401 Any update? Kindly reply within 2 days or I have to assign this to some-else.

[2021-04-23 14:00] harshgupta20 commented on #19
@Abhinav0909 Any Update? Kindly reply within 2 days or I have to assign this to some-else.

[2021-04-23 14:02] #19 closed

[2021-04-23 14:19] archana-9430 commented on #21
@harshgupta20 , This issue has already been solved. I've already sent the PR and they've merged that too.

[2021-04-23 14:33] archana-9430 commented on #21
@harshgupta20 , see PR  #193 .

[2021-04-23 14:47] jhamadhav opened #1158 "Project idea : Bird loader"
# Bird loader

I saw this illustration on dribbble and I have tried to make it from CSS and add animation to convert it into a screen loader.

Concept credit : [Jeroen van eerden](https://dribbble.com/jeroenvaneerden)

## Main goal

1. Make the concept art in CSS
2. Add animation to it
3. Make it into a screen loader

## Tech stack

- **Frontend**: HTML and SCSS/CSS

## Concept art

![image](https

[2021-04-23 14:48] jhamadhav commented on #1158
As part of `GSSOC'21` I would love to develop it and contribute to this project.
@urvashi-code1255  @991rajat please assign me this!

[2021-04-23 14:58] jhamadhav opened #1160 "Project idea : Purple rain"
# Purple rain

Recently I came across [this video](https://youtu.be/KkyIDI6rQJI) by [Coding train](https://www.youtube.com/channel/UCvjgXvBlbQiydffZU7m1_aw). In the video the project is coded in processing and inspired from this I will try to make it via vanilla JavaScript.

## Main goal

1. Make Purple rain project in JavaSript

## Tech stack

- **Frontend**: HTML, SCSS/CSS, and JS

## Sample

![

[2021-04-23 15:03] #1101 closed

[2021-04-23 15:08] #1103 closed

[2021-04-23 15:13] kanisshka opened #1161 "Stopwatch isn't looking that much vibrant"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of stopwatch.

## Additional context

screenshot is attached.
![image](https://user-images.githubusercontent.com/76627599/115891898-3f4b6780-a474-11eb-99ed-c5b23909264d.png)

[2021-04-23 15:19] frappelatte28 commented on #40
You can close it, I am not working anymore on this issue.

[2021-04-23 15:43] Ankita297 commented on #1149
@991rajat can i work on this ?

[2021-04-23 15:45] Ankita297 commented on #1149
also can i raise a issue where label of gssoc21 is added automatically on the PRs opened through a github action  . If it is okay the i will raise the issue .

[2021-04-23 15:52] #1060 closed

[2021-04-23 16:14] ireneelizabethsabu commented on #280
I have sent the PR already.Please look into it.

[2021-04-23 19:36] syedmdsaifihassan commented on #416
Hi, @991rajat @Vishal-raj-1
I have created the Dynamic Timeline in Vanilla js, please review my pull request.

[2021-04-23 19:48] Shivangi-ch opened #1164 "Add a Brick Breaker game with sounds"
## Is your feature request related to a problem? Please describe.
No its not a problem. It is a new project.
## Describe the solution you'd like
I would like to add Brick breaker game with music  implemented in javascript.

## Additional context
I am a GSSOC participant.
Please assign this to me.
@Vishal-raj-1

[2021-04-24 02:43] Ankita297 commented on #1149
@Vishal-raj-1 @ridsuteri @urvashi-code1255 @harshgupta20 @991rajat  can i work on this ?

[2021-04-24 04:21] Ankita297 commented on #330
@harshgupta20 @Vishal-raj-1 @urvashi-code1255 @ridsuteri can i work on this ?

[2021-04-24 05:09] Mrinal81 commented on #805
@harshgupta20 @ridsuteri kindly review the PR #1166 ....

[2021-04-24 05:27] kumarankm opened #1167 "Updating documentation"
## Is your feature request related to a problem? Please describe.
Yes, I think we can add one more command in the contribution guideline to make individual repo be updated(forked repository).
## Describe the solution you'd like
By doing this, Even if the project gets deleted from the local computer, next time while we are cloning it will be easy for the contributor to get a flow.
![Untitled](https

[2021-04-24 05:48] #1130 closed

[2021-04-24 05:54] #349 closed

[2021-04-24 05:55] Ankita297 commented on #1149
@991rajat can i work on this ?

[2021-04-24 05:56] Ankita297 commented on #330
@991rajat can i work on this ?

[2021-04-24 06:26] #435 closed

[2021-04-24 06:52] 991rajat commented on #1075
What you would like to change please specify.

[2021-04-24 06:52] 991rajat commented on #1076
Already fixed.

[2021-04-24 06:52] #1076 closed

[2021-04-24 06:54] 991rajat commented on #1082
It works, when keys are pressed. You could add mouse event to it
Would you like to work on it.

[2021-04-24 06:58] 991rajat commented on #2
Hey @codDoc98 Readme looks fine, Would you like to work on first good issues. like bugs
Let me know I'll assign it to you.

[2021-04-24 07:02] 991rajat commented on #1049
Already fixed. If you found new one create a new issue.

[2021-04-24 07:02] #1049 closed

[2021-04-24 07:04] 991rajat commented on #1093
It is fixed. If you want to improve or modify create a new issue will be happy to assign you.

[2021-04-24 07:04] #1093 closed

[2021-04-24 07:04] 991rajat commented on #1036
Already fixed.

[2021-04-24 07:04] #1036 closed

[2021-04-24 07:05] 991rajat commented on #1035
Already fixed.

[2021-04-24 07:05] #1035 closed

[2021-04-24 07:06] #756 closed

[2021-04-24 07:07] 991rajat commented on #761
Groccery App has been added. If you want to improve upon it create a issue will be happy to assign you.

[2021-04-24 07:07] #761 closed

[2021-04-24 07:10] 991rajat commented on #793
Already fixed.

[2021-04-24 07:10] #793 closed

[2021-04-24 07:15] 991rajat commented on #1125
Already Exist if you want to improve upon it create a new issue will be happy to assign you.

[2021-04-24 07:15] #1125 closed

[2021-04-24 07:19] 991rajat commented on #1144
Describe more, any preview you could show would be helpfull.

[2021-04-24 07:26] 991rajat commented on #1164
Hey @Shivangi-ch It was implemented earlier but now its broken
Name is Breakout.
What you could do is replace that one with yours new one.

[2021-04-24 07:28] 991rajat commented on #1148
It's like to-do list right?
Which is already present. If you want to add new feature to it let me know will assign it to you.

[2021-04-24 07:29] 991rajat commented on #1161
Yes you can change UI of it. Make it good.

[2021-04-24 08:16] codDoc98 commented on #1145
thank you!!

[2021-04-24 08:18] kanisshka commented on #1161
sure
I'll try my best.

[2021-04-24 08:20] codDoc98 commented on #2
@991rajat yes I would like to sort those bug out if possible.

[2021-04-24 08:29] akshay399 commented on #1142
hi @991rajat i added a [PR](https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/1170) please review it, thank you :)

[2021-04-24 10:18] 991rajat commented on #2
I'll try assign you a starter bug.

[2021-04-24 10:20] 991rajat commented on #1092
@tend2infinity This is good starter problem, I already assigned you 1-2 issue I think,
Are you okay  with this If I assign this to someone new, He is first time contributor.
If not let me know I'll assign it to you.

[2021-04-24 10:54] SrishtiArya07 commented on #1082
Yes, I will work on it.  Please assign it to me under gssoc 21.

[2021-04-24 11:52] tend2infinity commented on #1092
@991rajat If you think its a level 1 issue then sure, you can assign that to a beginner. But if you feel its a level 2 kindly assign that to me, I'm in search of some valuable points!

[2021-04-24 15:37] robin025 opened #1174 "addition of sudoku game"
## Is your feature request related to a problem? Please describe.
No its not a problem. Its a  addition of new script
## Describe the solution you'd like
I would like to add a sudoku game which will be completely build with plain js,html and css

## Additional context
I am a GSSOC participant.
Please assign this to me.
@Vishal-raj-1

[2021-04-24 17:18] AnshikaAgrawal5501 commented on #1144
Hey @991rajat ,
This is what I wish to add as a new Project. Please do let me know if you feel to change anything in the animation or add something more. Due to the blur screen recording, starts are not properly visible, sorry for that.
Thanks.

![screen-capture](https://user-images.githubusercontent.com/56653257/115967202-dc7ace80-a54e-11eb-8e07-10fed36e414c.gif)

[2021-04-25 04:03] Ankita297 commented on #330
@harshgupta20 @Vishal-raj-1 @urvashi-code1255 @ridsuteri can i work on this ?

[2021-04-25 05:39] #805 closed

[2021-04-25 05:47] #1146 closed

[2021-04-25 05:50] #1044 closed

[2021-04-25 05:53] #1046 closed

[2021-04-25 06:08] ridsuteri commented on #667
@Ankita297 you want to do it manually or by writing a sort function or so?, if you are doing it manually ,i don't think it is of any use..,  as it will  break when other project will get added.

[2021-04-25 06:53] Ankita297 commented on #667
@ridsuteri I want to do it by adding sort function  not manually .
So can i work on t this @Vishal-raj-1 @urvashi-code1255 @harshgupta20

[2021-04-25 06:55] Ankita297 commented on #802
Can i work on this @harshgupta20 @ridsuteri @urvashi-code1255 @Vishal-raj-1 ?

[2021-04-25 07:16] SatyaPrakash26 commented on #304
I have almost completed my project.

[2021-04-25 07:17] #95 closed

[2021-04-25 07:17] #111 closed

[2021-04-25 07:17] #123 closed

[2021-04-25 07:18] harshgupta20 commented on #128
@Meghag5 No problem, Please take care of your health first, and come back stronger :)

[2021-04-25 07:18] #158 closed

[2021-04-25 07:18] #165 closed

[2021-04-25 07:19] #386 closed

[2021-04-25 07:20] harshgupta20 commented on #385
@Aarti002 Any update?, Kindly reply within 2 days or I have close it.

[2021-04-25 07:21] harshgupta20 commented on #362
@vaishnavig20 Any update?, Kindly reply within 2 days or I have to close it.

[2021-04-25 07:22] #309 closed

[2021-04-25 07:22] Aarti002 commented on #385
i'm really very sorry i just forgot about this one , i will show by tonight itself @harshgupta20

[2021-04-25 07:23] Aarti002 commented on #385
can you add label tag in it @harshgupta20 ?

[2021-04-25 07:23] harshgupta20 commented on #304
@SatyaPrakash26 , No problem you can take your time, but kindly inform us about the project you making so that your issue will not consider as inactive.

[2021-04-25 07:28] harshgupta20 commented on #433
@signifershrey Any update?, Kindly reply within 2 days or I have to close it.

[2021-04-25 07:28] harshgupta20 commented on #428
@amrzaki2000 Any update?, Kindly reply within 2 days or I have to close it.

[2021-04-25 07:29] harshgupta20 commented on #425
@gupta31 Any update?, Kindly reply within 2 days or I have to close it.

[2021-04-25 07:31] harshgupta20 commented on #423
@Tanu-priya-Roy Any update?, Kindly reply within 2 days or I have to close it.

[2021-04-25 07:32] harshgupta20 commented on #402
PR of this issue has been merged.

[2021-04-25 07:32] #402 closed

[2021-04-25 07:38] harshgupta20 commented on #392
@Goheljay Send the PR for this issue:)

[2021-04-25 07:38] harshgupta20 commented on #388
@aliya-rahmani Any update?, Kindly reply within 2 days or I have to close it.

[2021-04-25 07:39] harshgupta20 commented on #387
@Mrinal81 Any update?, Kindly reply within 2 days or I have to close it.

[2021-04-25 07:42] Goheljay commented on #392
In 2 to 3 days I will sending this PR.

[2021-04-25 07:44] mirakiii commented on #158
Hey wait ! I was about to send the pull request if you let me ... Was busy with endsem stuff

[2021-04-25 07:45] Mrinal81 commented on #387
@harshgupta20 yaa working on it. I will made PR  ASAP..

[2021-04-25 07:57] Bhavya-Sehgal opened #1179 "Scroll-top button in Projects section"
I want to add scroll-top button in projects section that will help user to reach directly at the top of website.

[GSSOC'21]

@Vishal-raj-1 @urvashi-code1255 @harshgupta20 @ridsuteri Please assign me this issue

[2021-04-25 07:59] Tanya933 opened #1180 "[GSSOC'21] Random name generator"
I would like to work on this issue .Please assign this issue to me .Thankyou

[2021-04-25 08:08] SatyaPrakash26 commented on #304
Sorry for that. Won't happen again

[2021-04-25 08:33] Tanya933 opened #1183 "Math trainer app using javascript"
I would like to work on this issue as a gssoc'21 participant .Please assign this issue to me.Thankyou
@Vishal-raj-1

[2021-04-25 08:51] Tanu-priya-Roy commented on #423
Yes, I am working on it.

On Sun, 25 Apr 2021, 1:01 pm Harsh Gupta, ***@***.***> wrote:

[2021-04-25 08:59] #976 closed

[2021-04-25 09:03] #1098 closed

[2021-04-25 09:30] #582 closed

[2021-04-25 09:35] Bhavya-Sehgal opened #1185 "Adding Validations to contact form"
I want to work on this issue as  GSSOC'21 participant

[GSSOC'21]

@Vishal-raj-1 @urvashi-code1255 @harshgupta20 @ridsuteri Please assign me this issue

[2021-04-25 09:38] #736 closed

[2021-04-25 09:41] Bhavya-Sehgal opened #1186 "Updating UI of Infix Evaluator"
I want to :

- [x] Update its UI
- [x] Make it responsive
- [x] Addition of Reset button

[GSSOC'21]

Screenshot:

![infix](https://user-images.githubusercontent.com/66208607/115988690-7b97d880-a5d8-11eb-939c-b270a18776eb.png)

@Vishal-raj-1 @urvashi-code1255 @harshgupta20 @ridsuteri Please assign me this issue

[2021-04-25 09:49] #1129 closed

[2021-04-25 09:51] #214 closed

[2021-04-25 09:53] 991rajat commented on #1092
It's a level 0 issue
Just need to remove the duplicate section I think. So that's why

[2021-04-25 09:55] 991rajat commented on #1092
I'm assigning this you @codDoc98.

[2021-04-25 09:56] bilal-23 opened #1187 "Weather App"
I want to add a weather app .
Assign this project to me

![image](https://user-images.githubusercontent.com/71442068/115989166-a3883b80-a5da-11eb-9cc1-ac2ac2787596.png)

[2021-04-25 10:02] SrishtiArya07 opened #1188 "Multiplication table calculator using JavaScript"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a Mathematical table calculator feature.
## Describe the solution you'd like
Multiplication Tables (times table) Calculator is a tool that displays the multiplication of numbers using javascript.

## Additional context
Please assign this issue to me under GSSOC 21.

[2021-04-25 12:35] #708 closed

[2021-04-25 13:13] codDoc98 commented on #1092
yay!!! will do @991rajat

[2021-04-25 13:17] codDoc98 commented on #1092
but how do we find the project in which this bug is?

[2021-04-25 15:17] sohini3062 opened #1192 "Add Length Unit Conversions project"
GSSOC 2021
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a project which converts length units like cm, inches, kilometer, meter among each other.
## Describe the solution you'd like
I will be using simple HTML,CSS,JAVASCRIPT for the project

## Additional context
Add any other context about the feature request here.

[2021-04-25 16:14] 991rajat commented on #1180
How would it work?
from where you would you get names?

[2021-04-25 16:23] Tanya933 commented on #1180
I will hardcode a list of first and last names and then by using math function i will pick randoms indices of the lists.And by combining the those indices of first and last name ,will generate random names for the users.
User will have an option to generate upto 20 names at a time.

[2021-04-25 16:42] Ankita297 commented on #667
@ridsuteri I want to do it by adding sort function not manually .
So can i work on t this @Vishal-raj-1 @urvashi-code1255 @harshgupta20

[2021-04-25 16:50] bug-debug-done commented on #802
@Ankita297 I am currently working on it there is some issue with my repo so it's taking time :)

[2021-04-25 18:46] harshgupta20 commented on #729
Issue Already resolved :)

[2021-04-25 18:46] #729 closed

[2021-04-25 18:47] harshgupta20 commented on #714
@shruti-mayank Any update? , kindly else I have to close this issue.

[2021-04-25 18:48] harshgupta20 commented on #690
This project already exist :)

[2021-04-25 18:48] #690 closed

[2021-04-25 18:51] harshgupta20 commented on #658
@vanshikapandey It's been a long time, you haven't sent the PR till now.

[2021-04-25 18:53] harshgupta20 commented on #636
@mdatif796 It's been a month that you haven't sent the PR, you have to send the PR within a week.

[2021-04-25 18:54] harshgupta20 commented on #606
@manasivaraiya Any update? , kindly reply within  2 days else I have to close this issue.

[2021-04-25 18:54] #601 closed

[2021-04-25 18:55] harshgupta20 commented on #599
@RoliGautam Any update? , kindly reply within  2 days else I have to close this issue.

[2021-04-25 18:55] harshgupta20 commented on #591
@Amit366 You can work on it :)

[2021-04-25 18:56] harshgupta20 commented on #587
@SalmaZakaria Any update? , kindly reply within  2 days else I have to close this issue.

[2021-04-25 18:57] harshgupta20 commented on #578
@vasanthgk02 Any update? , kindly reply within 2 days else I will assign it to other participants.

[2021-04-25 18:59] harshgupta20 commented on #551
This issue has been solved.

[2021-04-25 18:59] #551 closed

[2021-04-25 19:00] harshgupta20 commented on #540
@Anupreetadas Any update? , kindly reply within  2 days else I have to close this issue.

[2021-04-25 19:02] harshgupta20 commented on #537
@sejalxz Any update? , kindly reply within  2 days else I have to close this issue.

[2021-04-25 19:05] harshgupta20 commented on #515
Good @fatma-sia27 , Whats the update?

[2021-04-25 19:06] harshgupta20 commented on #512
@Riya764 Any update? , kindly reply within  2 days else I have to close this issue.

[2021-04-25 19:07] harshgupta20 commented on #510
@sejalxz Any update? , kindly reply within  2 days else I have to close this issue.

[2021-04-25 19:07] harshgupta20 commented on #491
@aliya-rahmani Any update? , kindly reply within  2 days else I have to close this issue.

[2021-04-25 19:08] #471 closed

[2021-04-25 20:10] sejalxz commented on #510
@harshgupta20 Hi! Currently my semester exams and practical's are going on that's I am going slow. Hope you'll consider that. I'll get back to it as soon as my exams end.
Thanks!

[2021-04-25 20:10] sejalxz commented on #537
@harshgupta20 Hi! Currently my semester exams and practical's are going on that's I am going slow. Hope you'll consider that. I'll get back to it as soon as my exams end.
Thanks!

[2021-04-26 03:45] Saumya-07 commented on #303
Sorry sir, I was not well, couldn't response
I had started working on the project only a day or two is required to complete it.
Can you please reopen the issue?

[2021-04-26 05:02] fatma-sia27 commented on #515
I had made changes in PR#784 please review it.
Thank you

[2021-04-26 06:26] bishalshaw-164 opened #1199 "Drum-kit using javascript"
This is a simple project developed using javascript data-key, dom-manipulation and CSS animation In this project, seven button are there by clicking each button a sound would be played. This is an interesting project for listening to self-made drum tunes.

[2021-04-26 06:34] shivammahajancse opened #1201 "Selection Sort Visualiser in JavaScript"
I would like to add a project which visualizes the selection sort in JavaScript under GSSOC 2021

[2021-04-26 06:34] shivammahajancse commented on #1201
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1

[2021-04-26 06:35] shivammahajancse opened #1202 "Insertion Sort Visualiser in JavaScript"
I would like to add a project which visualizes the insertion sort in JavaScript under GSSOC 2021.

[2021-04-26 06:35] shivammahajancse commented on #1202
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1

[2021-04-26 06:36] shivammahajancse opened #1203 "Bubble Sort Visualiser in JavaScript"
I would like to add a project which visualizes the bubble sort in JavaScript under GSSOC 2021.

[2021-04-26 06:36] shivammahajancse commented on #1203
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1

[2021-04-26 06:43] shivammahajancse opened #1204 "Quick Sort Visualizer in JavaScript"
I would like to add a project which visualizes the Quick sort in JavaScript under GSSOC 2021.

[2021-04-26 06:43] shivammahajancse commented on #1204
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1

[2021-04-26 07:29] #1203 closed

[2021-04-26 07:35] shivammahajancse opened #1208 "Counting Sort Visualizer in JavaScript"
I would like to add a project which visualizes the counting sort in JavaScript under GSSOC 2021.

[2021-04-26 07:36] shivammahajancse commented on #1208
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @urvashi-code1255

[2021-04-26 07:37] shivammahajancse opened #1209 "Heap Sort Visualizer in JavaScript"
I would like to add a project which visualizes the Heap sort.

[2021-04-26 07:38] shivammahajancse commented on #1209
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @urvashi-code1255

[2021-04-26 08:35] tend2infinity opened #1210 "Project Idea: Javascript Calendar"
## Description of the project
I will make a simple calendar using vanilla javascript along with html and css .

## Additional context
This project is not already present in the existing projects so, it's something new! Please, Assign that to me under GSSOC.

[2021-04-26 08:40] tend2infinity opened #1211 "Project Idea: Smooth scroll using javascript"
## Project description
I will create a smooth scroll transition effect to move from one section of a page to another using vanilla js.

## Additional context
Please, assign that to me under gssoc

[2021-04-26 13:35] Mrinal81 opened #1215 "ECOMMERCE WEBSITE WITH (HTML,CSS AND JAVASCRIPT)"
Want to add a e-commerce website project....

PLEASE ASSIGN ME THIS ISSUE....

[2021-04-26 15:43] mdatif796 commented on #636
I will send it soon.

On Mon, 26 Apr, 2021, 12:23 am Harsh Gupta, ***@***.***>
wrote:

[2021-04-26 16:08] SalmaZakaria commented on #587
@harshgupta20 Can I add it by the end of this month?

[2021-04-26 17:19] kanisshka commented on #1161
@991rajat hello sir i didn't know why but i'm not able to commit my changes to repo it's showing error
![image](https://user-images.githubusercontent.com/76627599/116124215-a1f56b00-a6e1-11eb-90f0-77dc2562f768.png)

[2021-04-26 18:06] Mrinal81 commented on #1215
@ridsuteri Hava a look on this issue...

[2021-04-26 18:32] kanisshka commented on #1161
@991rajat can you plz help on i tried multiple times still i didn't know why it's showing same error.

![image](https://user-images.githubusercontent.com/76627599/116132855-a9217680-a6eb-11eb-9322-94ed87bd9fa0.png)

[2021-04-26 18:55] lakshita15 commented on #662
Plss check discord for the changes I’m not able to upload ss here

On Sun, 18 Apr 2021 at 9:01 AM, Riddhi Suteri ***@***.***>
wrote:

[2021-04-26 18:56] lakshita15 commented on #662
@ridsuteri

[2021-04-27 06:26] harshgupta20 commented on #27
@Sakshi0401 Since its been a month, so I need to ask you that if you wanted to work on this issue then, let me know, I will assign it to you. Kindly reply within 2 days or I have to close this.

[2021-04-27 06:27] jhamadhav opened #1221 "Project idea : Coding Jokes"
# Coding Jokes

A collection of amazing and funny jokes on programming.

## Main goal

1. Make UI for the project
2. Add many jokes regarding programming
3. Add sharing options for jokes

## Tech stack

- **Frontend**: HTML, SCSS/CSS, and JS

[2021-04-27 06:27] jhamadhav commented on #1221
As part of `GSSOC'21` I would love to develop it and contribute to this project.
@urvashi-code1255  @991rajat please assign me this!

[2021-04-27 06:28] bug-debug-done commented on #792
@ridsuteri hey can please check the pr #1135

[2021-04-27 06:30] harshgupta20 commented on #85
@kanishkaa24 Kindly reply within 2 days or I have to close this.

[2021-04-27 06:31] #40 closed

[2021-04-27 06:31] #425 closed

[2021-04-27 06:32] harshgupta20 commented on #423
@Tanu-priya-Roy update??

[2021-04-27 06:32] kanishkaa24 commented on #85
@harshgupta20
I will make the PR today. I was not well so I could not respond.

[2021-04-27 06:32] jhamadhav opened #1222 "Project idea : Cardioid"
# Cardioid

A cardioid (from the Greek καρδία "heart") is a plane curve traced by a point on the perimeter of a circle that is rolling around a fixed circle of the same radius. It can also be defined as an epicycloid having a single cusp. It is also a type of sinusoidal spiral and an inverse curve of the parabola with the focus as the center of inversion. It's also the set of points of reflections

[2021-04-27 06:32] #388 closed

[2021-04-27 06:33] #362 closed

[2021-04-27 06:35] harshgupta20 commented on #510
@sejalxz no problem, take your time buddy:)

[2021-04-27 06:36] harshgupta20 commented on #465
@Abhikr-git Any update?, Kindly reply within 2 days or I have to close it.

[2021-04-27 06:36] harshgupta20 commented on #457
@anjali1102 Any update?, Kindly reply within 2 days or I have to close it.

[2021-04-27 06:37] harshgupta20 commented on #433
@signifershrey Kindly reply in 24 hours,

[2021-04-27 06:38] #428 closed

[2021-04-27 07:14] shruti-mayank commented on #714
Sry, I wasn't well to got through the issue, will update you in a day or two.

[2021-04-27 07:50] sheetalj2205 opened #1224 "Home page has lots of bug"
## Describe the bug
A clear and concise description of what the bug is.
I want to fix the bug of the navbar, about us section for GSSOC 21.
## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback)

[2021-04-27 08:59] Amit366 commented on #20
@harshgupta20 can I work??

[2021-04-27 09:01] Amit366 commented on #527
@harshgupta20 can I work??

[2021-04-27 09:07] Amit366 commented on #465
@harshgupta20 can I work??

[2021-04-27 11:17] ridsuteri commented on #1185
@Bhavya-Sehgal can you explain the issue?

[2021-04-27 11:26] #667 closed

[2021-04-27 11:33] #1087 closed

[2021-04-27 11:39] ridsuteri commented on #802
@bug-debug-done please try to come up with PR as soon as possible :)

[2021-04-27 11:42] bug-debug-done commented on #802
@ridsuteri yes can you also check pr #1135

[2021-04-27 11:43] bug-debug-done commented on #802
because I am not able to make multiple PRs on same project

[2021-04-27 11:45] #330 closed

[2021-04-27 12:04] #1202 closed

[2021-04-27 12:09] #1088 closed

[2021-04-27 16:36] K-jais opened #1227 "Add Brick Breaker game"
It's a brick breaker game with the scores and lives of the player.

Its working video,

https://user-images.githubusercontent.com/75881393/116279175-db42df00-a7a4-11eb-9bd6-27771587aec0.mp4

[2021-04-27 16:37] K-jais commented on #1227
Please @ridsuteri @urvashi-code1255 @991rajat review this issue.

[2021-04-28 04:30] AnshikaAgrawal5501 commented on #1144
@Vishal-raj-1 @urvashi-code1255 @991rajat @harshgupta20 @ridsuteri
Please assign me the issue.

[2021-04-28 08:57] iamabhii1 commented on #1075
actually there is two link of github on the index.html file
that i want to correct.

[2021-04-28 10:17] arpit456jain opened #1228 "About us section is looking very bad"
## Describe the bug

It is looking like this.
<img width="960" alt="about currently" src="https://user-images.githubusercontent.com/55352601/116387863-e0516e00-a838-11eb-9cd5-a0a9a193e7b0.png">

which is very bad

## Expected behavior

It should look like this
<img width="960" alt="about must be" src="https://user-images.githubusercontent.com/55352601/116387949-f65f2e80-a838-11eb-8ce5-df08a1b6d5d5

[2021-04-28 10:19] arpit456jain opened #1229 "bug in contact us page"
## Describe the bug

<img width="960" alt="bug in contact" src="https://user-images.githubusercontent.com/55352601/116388315-53f37b00-a839-11eb-99d4-d9e4e0939999.png">

[2021-04-28 10:47] #522 closed

[2021-04-28 10:54] #1050 closed

[2021-04-28 11:57] #518 closed

[2021-04-28 12:00] #1142 closed

[2021-04-28 12:07] #1099 closed

[2021-04-28 12:14] #1174 closed

[2021-04-28 12:17] #1143 closed

[2021-04-28 12:24] #280 closed

[2021-04-28 13:58] #1155 closed

[2021-04-28 14:51] AkanchhaBhadani opened #1232 "Project idea : Balloon and Brick game"
I want to design a game using javascript.
Game idea: Basically balloon type structures along with bricks would be drifting out from the bottom of the screen. There would be a dart present in one corner of screen which would move vertically only. Pressing a key would allow the dart to be shot. If it shoots a balloon then player gets point. If it hits the brick the brick gets collected at some other

[2021-04-28 15:08] harshgupta20 commented on #1148
@Deeksha-Rawat Kindly reply within 2 days else I have to close this issue.

[2021-04-28 15:08] harshgupta20 commented on #1147
merged : )

[2021-04-28 15:08] #1147 closed

[2021-04-28 15:10] harshgupta20 commented on #1144
@AnshikaAgrawal5501 Go ahead :)

[2021-04-28 15:15] harshgupta20 commented on #1082
@SrishtiArya07 Go ahead : )

[2021-04-28 15:18] harshgupta20 commented on #1075
@iamabhii1 I haven't found this issue to exist, maybe I couldn't recognize that, it would be better if attach any screenshot of it. Kindly reply within 2 days else I have to close this issue.

[2021-04-28 15:20] harshgupta20 commented on #1054
@anushree71199 Any Update? Kindly reply within 2 days else I have to close this issue.

[2021-04-28 15:20] harshgupta20 commented on #1047
Merged : )

[2021-04-28 15:20] #1047 closed

[2021-04-28 15:23] kanisshka opened #1233 "Enhancing CHESS GAME"
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of CHESS GAME.

## Describe the solution you'd like
I'll update CSS for this.

## Additional context
Screenshot attached to this.
![image](https://user-images.githubusercontent.com/76627599/116429737-c5e0ba00-a863-11eb-9577-31b56ed11176.png)

[2021-04-28 15:23] harshgupta20 commented on #1042
@Bhavya-Sehgal Any Update? Kindly reply within 2 days else I have to close this issue.

[2021-04-28 15:48] anushree71199 commented on #1054
@harshgupta20 yeah I have created the project but due to my end semester exams it's getting delayed to create a PR. Will create a pull request soon, please try to  understand that due to my exams I am just a bit inactive here. But I will make a PR till 30th april. Thanks

[2021-04-28 15:50] anushree71199 commented on #1054
This issue is almost over, I have created the project and will request a PR soon.

[2021-04-28 16:03] abhijeet141 opened #1234 "Three Github icon on website"
## Describe the bug
Three github icon on website
## To Reproduce
Steps to reproduce the behavior:
1. Open the website

## Expected behavior
There should be only one github icon
Three github icon on website

[2021-04-28 16:03] abhijeet141 commented on #1234
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-04-28 18:06] 991rajat commented on #1092
It's drumkit project. Look out in script.js Then find the html file. @codDoc98

[2021-04-28 20:31] AnshikaAgrawal5501 opened #1237 "Updation - Quiz App"
## Is your feature request related to a problem? Please describe.
No its not a problem. I would like to update the quiz app.
## Describe the solution you'd like
While going through the Quiz App project, I learned that there were only 10 questions present in the script file and while playing the randomly any five questions are displayed. Every time we play the quiz almost the same questions come wh

[2021-04-29 05:48] K-jais opened #1239 "Add Budget App"
It's a budget app that takes care of your expenses and shows the details of the items on which you have to spend your money.

Its working video,

https://user-images.githubusercontent.com/75881393/116507299-a174f400-a8dc-11eb-9ae0-7df9dfb38290.mp4

[2021-04-29 05:49] K-jais commented on #1239
Please @ridsuteri @urvashi-code1255 @991rajat review this issue.

[2021-04-29 13:14] Goheljay commented on #392
Tomorrow i will submit my project

[2021-04-29 19:29] FaizAlam commented on #1224
I want to work towards improving home page ui design and eliminate major bugs which makes website less visibly attractive.
Some of the bugs :
1. About us section
2. horizontal line not in the center
3. Less padding throughout the website which makes things cluttered
4. Nav bar design can be improved
(Attaching screenshots for better understanding)

I can solve this by majorly playing around with f

[2021-04-30 05:20] SatyaPrakash26 commented on #304
@harshgupta20  I have created the Pull Request 4 days ago. Please Look into this.

[2021-04-30 05:34] anshika208 commented on #978
hey! @991rajat i have made a pr regarding this issue 5 days ago ... pls do have a look. thanku!!

[2021-04-30 06:34] iamabhii1 commented on #1075
![Screenshot (16)_LI](https://user-images.githubusercontent.com/68424960/116657520-2e3ab300-a9ac-11eb-89e2-0838305a25ba.jpg)
this part three github link for same repo.

[2021-04-30 10:25] harshgupta20 commented on #812
@AnandBIT can you please give some more info about it, by putting the screenshot or video so that we can see it. Kindly reply within 2 days or I have to close this.

[2021-04-30 10:26] harshgupta20 commented on #803
Merged :)

[2021-04-30 10:26] #803 closed

[2021-04-30 11:45] #392 closed

[2021-04-30 11:54] Bhavya-Sehgal commented on #1185
I want to add validations to the form in contact section so that the form is not going to submit until the user doesn't enter all the details.

[2021-04-30 12:52] #792 closed

[2021-04-30 13:00] #1091 closed

[2021-04-30 13:14] #416 closed

[2021-04-30 13:40] #1113 closed

[2021-04-30 13:42] #1161 closed

[2021-04-30 13:46] #1158 closed

[2021-04-30 13:54] #1160 closed

[2021-04-30 14:00] #1121 closed

[2021-04-30 14:20] 991rajat commented on #1092
@codDoc98 An updates? If not want work will assign to someone else let me know

[2021-04-30 14:26] 991rajat commented on #433
Minion Translation Already added. If @signifershrey Want to create a new type or modify existing project Create a new Issue.
We are closing this one.

[2021-04-30 14:26] #433 closed

[2021-04-30 14:27] 991rajat commented on #587
@SalmaZakaria Ok Add it for sure.

[2021-04-30 14:28] 991rajat commented on #537
@sejalxz  Okay No problem

[2021-04-30 14:36] 991rajat commented on #1227
Please don't create PR without assiging it you,
Someone else was also working, It's become difficult to manage

[2021-04-30 14:42] #1201 closed

[2021-04-30 14:48] neha07kumari opened #1245 "Character Counter in Javascript"
I would like to add a project which counts the character in JavaScript under GSSOC 2021.

[2021-04-30 14:49] neha07kumari commented on #1245
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1

[2021-04-30 14:52] 991rajat commented on #1245
@neha07kumari Already Present named word counter.
There's a PR if he didn't respond in 1 day I could assign it to you Look at it if you are able to work at it let me know
https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/1119

[2021-04-30 14:54] 991rajat commented on #1234
https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/issues/1075 comment Here,
If he's not able to work out I'll assign it to you.

[2021-04-30 14:55] K-jais commented on #1227
@991rajat I haven't created the PR. Please check once again. It must be someone else.

[2021-04-30 14:56] 991rajat commented on #1224
Hey @sheetalj2205  and @FaizAlam Would you able to divide the work
@sheetalj2205   could work on Home Page
@FaizAlam could work on about page
Or whatever you decide let me know, I'll assign it to you.

[2021-04-30 14:58] K-jais commented on #1227
@991rajat I think this is an issue. Correct me if am wrong.

[2021-04-30 15:03] 991rajat commented on #1227
Ok Sorry for this, Actually someone is working on this too,
So once it resolves this will assign it to you.

[2021-04-30 15:05] sheetalj2205 commented on #1224
Ok! I will work on home page.

[2021-04-30 15:12] 991rajat commented on #1224
@sheetalj2205  If @FaizAlam not replied in 24Hrs You should work on issue too.

[2021-04-30 15:12] 991rajat commented on #1229
Fix it please.

[2021-04-30 15:15] abhijeet141 commented on #1234
Okay :)

[2021-04-30 15:17] #978 closed

[2021-04-30 15:22] jhamadhav commented on #1160
@991rajat Please add level tag to the PR

[2021-04-30 15:51] K-jais commented on #1227
Sir @991rajat, can u please review issue #1239?

[2021-04-30 15:52] codDoc98 commented on #1092
@991rajat  doing it nowwwwwwwww

[2021-04-30 16:33] #1183 closed

[2021-04-30 17:38] codDoc98 commented on #1092
@991rajat  i don't know if this is the way we do pull and merge in gitHub .   GitHub guided me all these steps and i did it . Please check and let me see myself in leaderboard too.

[2021-04-30 17:41] mghanatabady opened #1247 "Add Two way binding sample by proxy pattern sample"
## Is your feature request related to a problem? Please describe.
I am going to add a use full two-way binding sample to your great project.
This sample works with proxy pattern and simulates target handler technic used in angular or react simply for educational purposes.
## Describe the solution you'd like
I have updated script.js and add an HTML and an image to project

## Additional context
![T

[2021-04-30 17:41] codDoc98 commented on #1145
Its done..just figuring how to add it to your gitHub account. I'll do it tomorrow.

[2021-04-30 17:53] SrishtiArya07 opened #1249 "Kanban Board using JavaScript"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a Kanban Board feature.
## Describe the solution you'd like
A kanban board is a visual way to manage tasks and workflows, which utilizes a digital board with columns and cards. A Kanban board consists of three or more columns like "to-do", "doing", "done", etc. Cards are dragged and dropped from l

[2021-04-30 18:42] #1042 closed

[2021-05-01 00:52] Mrinal81 opened #1250 "Currency Converter with HTML,CSS AND JAVASCRIPT"
I AM A GSSOC'21 PARTICIPANT. I WANT TO MAKE CURRENCY CONVERTER WITH HTML,CSS AND JAVASCRIPT ...

PLEASE ASSIGN ME THIS ISSUE.....

[2021-05-01 00:53] Mrinal81 commented on #1250
@ridsuteri @991rajat @harshgupta20  PLEASE HAVE A LOOK ON THIS ISSUE...

[2021-05-01 05:59] arpit456jain commented on #1229
@991rajat kindly review my PR and add suitable labels to issue and my PR

[2021-05-01 07:16] FaizAlam commented on #1224
@991rajat please check PR request#1252

[2021-05-01 12:23] sheetalj2205 commented on #1224
Please assign this to me.

[2021-05-01 13:21] AkanchhaBhadani commented on #1232
@991rajat please see if I could work on it.

[2021-05-01 16:27] anushka-srivastava22 commented on #888
I am a gssoc participant Anushka. I have a good experience in html css and js  of  11 months. I will surely able to complete it within few days. Therefore I request you to kindly assign me this issue.

[2021-05-01 16:55] Mrinal81 commented on #888
@ridsuteri  @harshgupta20 Kindly review the PR #1254 .....

[2021-05-01 20:58] #1064 closed

[2021-05-02 03:31] ridsuteri commented on #662
go ahead @lakshita15

[2021-05-02 03:40] #1144 closed

[2021-05-02 03:45] #1237 closed

[2021-05-02 03:49] ridsuteri commented on #1239
@K-jais someone is already working on this issue,will  get back to you in couple of days!

[2021-05-02 04:04] K-jais commented on #1239
I am asking for this budget app.

[2021-05-02 04:05] K-jais commented on #1239
@ridsuteri not that brick breaker game as now I know someone is working on it. But please look into this budget app issue.

[2021-05-02 04:09] K-jais commented on #1239
@ridsuteri This is a budget app and I have attached the wokring video of it.

[2021-05-02 05:05] abhijeet141 commented on #1075
@991rajat @harshgupta20  Is anyone working on this issue ? I would like to fix this bug.

[2021-05-02 07:07] ridsuteri commented on #1239
@K-jais another budget app issue is also open! let's wait for it

[2021-05-02 07:14] Mrinal81 opened #1257 "COVID-19 WEBSITE with HTML,CSS AND JAVASCRIPT"
I am a GSSOC'21 Participant. I would like to add  COVID-19 WEBSITE on your project Page. This website aware us like what are the symptoms of Corona ..... How to fight with Corona......

@ridsuteri @991rajat @harshgupta20 PLEASE have a look on this issue..

PLEASE ASSIGN ME THIS ISSUE.....

[2021-05-02 07:15] kanak22 opened #1258 "Project Idea : Captcha Validator"
## Description of the project
The project will generate captcha and check if it is correctly entered by the user or not.

## Additional context
This project is not already present in the existing projects so, it's something new. Kindly assign that to me under GSSOC.
@ridsuteri

[2021-05-02 07:17] ridsuteri commented on #1257
sounds great @Mrinal81 ! go ahead with it :)

[2021-05-02 07:20] Mrinal81 commented on #1257
@ridsuteri kindly have a look on PR #1254

[2021-05-02 07:21] ridsuteri commented on #1250
@Mrinal81 there are already two currency converters available in the project ! and I don't think it's open now , hence closing it :(

[2021-05-02 07:21] #1250 closed

[2021-05-02 07:22] Mrinal81 commented on #1257
I made a PR OF Restaurant website...kindly have a look on it..

[2021-05-02 07:24] Mrinal81 commented on #1250
Ok

[2021-05-02 07:28] ridsuteri commented on #888
sorry @anushka-srivastava22 , @Mrinal81 has submitted her PR and it got merged ! hence i am closing the issue :)

[2021-05-02 07:28] #888 closed

[2021-05-02 07:28] ridsuteri commented on #1257
@Mrinal81 done :)

[2021-05-02 07:30] #1149 closed

[2021-05-02 08:57] ShubhamSj07 opened #1259 "[Css FIX] Responsive Issue in SignUp/Login Page"
## Describe the bug
A clear and concise description of what the bug is.
SignUp/Login Page is not responsive on small screen sizes & on desktop screen, css fix is required to make page look decent.

## To Reproduce
Steps to reproduce the behavior:
1. Go to /signuplogin.html
![Awesome-JS-Issue02](https://user-images.githubusercontent.com/56510414/116807656-fa00f700-ab51-11eb-8387-d625349e7844.JPG)

[2021-05-02 13:19] Abhikr-git commented on #465
Sir, my end-semester examinations are going on. Please give me a couple of days, I'll resolve the issue as soon as possible.

[2021-05-02 13:25] RuchiGitHu opened #1262 "Contact Now button is breaking, Three github icon."
## Describe the bug
The Contact now button broken in two parts. Also in the landing page, right side of navbar, three github icon is there with same information.

## To Reproduce
Steps to reproduce the behavior:
1. Go to website.
2. Scroll down to "let's get started".
3. See the bug.

## Expected behavior
It should be in sequential format. And the Github icon should be one.

## Logs
Na

## Environ

[2021-05-02 13:30] RuchiGitHu commented on #1262
Please assign this issue to me @ridsuteri
Also please let me know if images is visible to you in PR.

[2021-05-02 13:59] #1185 closed

[2021-05-02 14:05] ridsuteri commented on #1262
@RuchiGitHu i am able to see the images in your PR which seems a bug, but when i am checking site on my browser it looks normal to me...
![Screenshot (52)](https://user-images.githubusercontent.com/59795822/116815930-8543b200-ab7d-11eb-87d5-80bde55c37e3.png)

[2021-05-02 14:22] RuchiGitHu commented on #1262
Please let me clear if I am opening website in wrong manner.
I were opened https://vishal-raj-1.github.io/Awesome-JavaScript-Projects/ in Chrome and attached screenshots of bug. After your previous comment I Switched browser to bing and showing same error.
![image](https://user-images.githubusercontent.com/71754179/116816471-ab6a5180-ab7f-11eb-86ef-6928440450aa.png)

Note : Doing all this in Lapto

[2021-05-02 17:06] ShubhamSj07 commented on #1259
@ridsuteri pls review this issue

[2021-05-02 20:03] Mrinal81 commented on #387
@ridsuteri @harshgupta20 @991rajat   Kindly have a look on PR #1263 ......

Please add  Level Tag as well as GSSOC'21 Tag........

[2021-05-03 05:19] iamabhii1 opened #1265 "issue with contact.html file gitub logo"
there are two github logo in contact.html file
i want to fix that issue please assign it me

this issue :
![Screenshot (20)_LI](https://user-images.githubusercontent.com/68424960/116843332-40f7f680-abfd-11eb-80bc-6f087d38ccd0.jpg)

[2021-05-03 12:52] #786 closed

[2021-05-03 12:59] #1164 closed

[2021-05-03 13:02] ridsuteri commented on #1262
@RuchiGitHu this seems a bug !
maybe i am unable to see it bcz of my screen size or any other reason
hence i am assigning you the issue

[2021-05-03 13:28] #591 closed

[2021-05-03 13:37] #981 closed

[2021-05-03 13:41] #1054 closed

[2021-05-03 13:43] #1151 closed

[2021-05-03 13:44] #1120 closed

[2021-05-03 13:46] arpit456jain commented on #1229
@991rajat

[2021-05-03 13:47] #1092 closed

[2021-05-03 13:58] #1229 closed

[2021-05-03 14:00] 991rajat commented on #1199
@bishalshaw-164 Drum Kit Already Present in our code base. Checkout out If you want to modify it. Let me know will assign it you.

[2021-05-03 14:08] 991rajat commented on #1224
@sheetalj2205 Sorry I forgot to assign you. Most of things are fixed on the Page by Faizan. There are few changes required,
I will ask @sheetalj2205  to fix that.
There are two Awesome text
Make the footer of full width.
Remove the cartoonik
![image](https://user-images.githubusercontent.com/38184186/116886649-f26f4a00-ac46-11eb-8204-ffb828b9b5ae.png)

[2021-05-03 14:14] #1204 closed

[2021-05-03 14:17] #1208 closed

[2021-05-03 14:19] sheetalj2205 commented on #1224
okay! I have started working on it . Please give it a level label too.

[2021-05-03 14:22] 991rajat commented on #1075
Looks Like Abhimanyu fixed it. Will try to assign you different issue.

[2021-05-03 14:24] #1075 closed

[2021-05-03 14:27] 991rajat commented on #1232
I remember this game. Nostalgia
 Go Ahead

[2021-05-03 14:28] 991rajat commented on #1075
@iamabhii1 Try to find different bug or project.Let any maintainer know, will assign you asap.

[2021-05-03 14:30] 991rajat commented on #1227
@K-jais Breakout is the name of the game, Just remove the old code add your new code there.

[2021-05-03 14:35] 991rajat commented on #1245
@neha07kumari This is already been resolved.I'm closing this one.
I'm assigning a new issue to you.

[2021-05-03 14:35] #1245 closed

[2021-05-03 14:38] 991rajat opened #1269 "Fix Images of project and remove duplicate"
1. Remove Duplicate
![image](https://user-images.githubusercontent.com/38184186/116890259-0d43bd80-ac4b-11eb-98a8-eb9afa420831.png)
2. Fix Images of Image Gallery and Document to Handwriting
![image](https://user-images.githubusercontent.com/38184186/116890361-26e50500-ac4b-11eb-9dfe-21b6ec274918.png)
![image](https://user-images.githubusercontent.com/38184186/116890448-42501000-ac4b-11eb-8489-626

[2021-05-03 14:39] 991rajat commented on #1269
@neha07kumari Would you like to work on this. Let me know will assign you

[2021-05-03 14:40] shivammahajancse opened #1270 "Bubble Sort Visualizer in JavaScript"
I would like to add a project which visualizes the bubble sort in JavaScript under GSSOC 2021.

[2021-05-03 14:40] shivammahajancse commented on #1270
Please assign me this issue @ridsuteri @991rajat

[2021-05-03 14:41] 991rajat commented on #1269
If Ok Go Ahead make a PR, I'll assign it to you later

[2021-05-03 14:41] shivammahajancse opened #1271 "Bucket Sort Visualiser in JavaScript"
I would like to add a project which visualizes the bucket sort in JavaScript under GSSOC 2021.

[2021-05-03 14:42] shivammahajancse commented on #1271
Please assign me this issue @ridsuteri @991rajat

[2021-05-03 14:42] 991rajat commented on #1224
Make a PR, will label that!

[2021-05-03 14:42] shivammahajancse opened #1272 "Linear Search Visualisation in JavaScript"
I would like to add a project which visualizes the linear search in JavaScript under GSSOC 2021.

[2021-05-03 14:43] shivammahajancse commented on #1272
Please assign me this issue @ridsuteri @991rajat

[2021-05-03 14:43] shivammahajancse opened #1273 "Binary Search Visualisation in JavaScript"
I would like to add a project which visualizes the Binary search in JavaScript under GSSOC 2021.

[2021-05-03 14:44] shivammahajancse commented on #1273
Please assign me this issue @ridsuteri @991rajat

[2021-05-03 14:44] shivammahajancse opened #1274 "Merge Sort Visualiser in JavaScript"
I would like to add a project which visualizes the merge sort in JavaScript under GSSOC 2021.

[2021-05-03 14:44] 991rajat commented on #1224
@sheetalj2205 Make footer look like Contact Page.
Copy text too, That's right.

[2021-05-03 14:44] shivammahajancse commented on #1274
Please assign me this issue @ridsuteri @991rajat

[2021-05-03 14:45] shivammahajancse opened #1275 "Ternary Search Visualisation in JavaScript"
I would like to add a project which visualizes the Ternary Search in JavaScript under GSSOC 2021.

[2021-05-03 14:45] shivammahajancse commented on #1275
Please assign me this issue @ridsuteri @991rajat

[2021-05-03 14:49] 991rajat commented on #1228
It's fixed by older issue.

[2021-05-03 14:49] #1228 closed

[2021-05-03 14:51] 991rajat commented on #1272
@shivammahajancse Make Linear Search and Binary Search In One project. It will be great to see the searching speed.
Close the binary search issue. Change the name of this issue to Searching Algorithms

[2021-05-03 14:52] abhijeet141 commented on #1075
Okay :)

[2021-05-03 14:54] 991rajat commented on #1092
Good Work No worries. You did good.

[2021-05-03 14:58] harshgupta20 commented on #938
This issue already has been solved, by other participant, you can check and work for more issues on issue panel.

[2021-05-03 14:58] #938 closed

[2021-05-03 14:58] 991rajat commented on #1239
Let's merge this one, will Tell other to replace it.

[2021-05-03 15:01] harshgupta20 commented on #887
@WebVishal Any update? Kindly reply within 2 days or else i have to close this issue.

[2021-05-03 15:03] harshgupta20 commented on #871
@Deeksha-Rawat Right now, you can give the link of home pages of these social media website like youtube.com, but make sure it should be open in new tab when user clicks on it.

[2021-05-03 15:04] harshgupta20 commented on #870
@AshishRajIITI Any update? Kindly reply within 2 days or else i have to close this issue.

[2021-05-03 15:05] harshgupta20 commented on #821
@priyanka001tech Similar game already exist in the projects.

[2021-05-03 15:05] #821 closed

[2021-05-03 15:06] #812 closed

[2021-05-03 15:07] harshgupta20 commented on #802
@bug-debug-done Thanks for contributing, your PR has been merged.

[2021-05-03 15:07] #802 closed

[2021-05-03 15:08] 991rajat commented on #387
I'm closing this one. As it is merged.

[2021-05-03 15:08] #387 closed

[2021-05-03 15:08] harshgupta20 commented on #787
@bug-debug-done Any update? Kindly reply within 2 days or else i have to close this issue.

[2021-05-03 15:09] harshgupta20 commented on #789
Since the project structure has been changed this issue has been solved.

[2021-05-03 15:09] #789 closed

[2021-05-03 15:09] Ankita297 commented on #802
@harshgupta20  is search option is added ?

[2021-05-03 15:09] harshgupta20 commented on #790
@bug-debug-done Any update? Kindly reply within 2 days or else i have to close this issue.

[2021-05-03 15:10] harshgupta20 commented on #801
@bug-debug-done Any update? Kindly reply within 2 days or else i have to close this issue.

[2021-05-03 15:12] bug-debug-done commented on #802
@harshgupta20 I did not made the pr merged yet

[2021-05-03 15:13] bug-debug-done commented on #787
@Harshal0902 I'll make pr within 2 days

[2021-05-03 15:13] harshgupta20 commented on #762
@K-jais Yes, but you have to ask to the project admin first and wait for it, if participant will not respond then it will be assigned to you.
Since this issue has been solved, I have to close it.

[2021-05-03 15:13] #762 closed

[2021-05-03 15:15] harshgupta20 commented on #714
@shruti-mayank What's the update?

[2021-05-03 15:15] #941 closed

[2021-05-03 15:16] harshgupta20 commented on #658
@vanshikapandey Any update? Kindly reply within 2 days or else i have to close this issue.

[2021-05-03 15:18] harshgupta20 commented on #636
@mdatif796 What's the update? Since it will been 2 months for this issue, we can't give you more time on this, Kindly send PR within a week or I have to close the issue.

[2021-05-03 15:18] #606 closed

[2021-05-03 15:19] #599 closed

[2021-05-03 15:19] #578 closed

[2021-05-03 15:19] #540 closed

[2021-05-03 16:05] #1141 closed

[2021-05-03 17:00] #1186 closed

[2021-05-03 17:56] neha07kumari commented on #1269
@991rajat  I'm not getting the issue , the images you have attached cannot be viewed properly.

[2021-05-03 17:57] Ayushjain2205 opened #1279 "Glassmorphism product card"
# Aim
Make a glassmorphism product card using HTML , CSS and Vanilla JS

I would like to work on this under GSSOC'21

[2021-05-03 18:19] Ayushjain2205 opened #1280 "Button generator - html and css code generated"
## Idea
Button generator - the user needs to input parameters like color, text, padding etc. And based on these parameters the button is shown as output and code is generated.

I want to work on this issue under GSSOC'21

[2021-05-03 18:19] Ayushjain2205 commented on #1279
@991rajat I woul like to work on this can you please assign this to me

[2021-05-03 18:19] Ayushjain2205 commented on #1280
@991rajat I would like to work on this can you please assign this to me

[2021-05-03 18:25] anushree71199 opened #1281 "[GSSOC'21] Adding a new project of JavaScript Hang-man app"
I would like to add a JavaScript Hang-man app project under GSSOC'21. This project is called JavaScript Hang-man app and it is a word puzzle game. In this project one have to guess the correct letters that are forming a sentence. Five guesses will be given to you in order to try, this is totally random so that no one can predict a sentence from the source code. AJAX request is used for this JavaSc

[2021-05-03 18:36] neha07kumari opened #1282 "Click Shape Javascript Game"
I would like to add a project (click shape javascript game) in JavaScript under GSSOC 2021.

[2021-05-03 18:38] neha07kumari commented on #1282
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-03 20:02] Furquan712 commented on #1282
I would like to work on this , Will you assignee me

[2021-05-03 20:03] Furquan712 commented on #1281
I would like to work on this , Will you assignee me

[2021-05-03 20:03] Furquan712 commented on #1280
I would like to work on this , Will you assignee me

[2021-05-03 20:04] Furquan712 commented on #1270
I would like to work on this , Will you assignee me

[2021-05-03 20:05] Furquan712 commented on #1167
i am Gssoc 21 participant . I would like to work on this , Will you assignee me

[2021-05-04 03:33] ridsuteri commented on #1282
@Furquan712 the issues are assigned on fcfs basis, hence @neha07kumari is assigned to this issue, if she fails to come up with a PR ,it will be assigned to you :)

[2021-05-04 03:35] ridsuteri commented on #1270
@Furquan712 let's wait for @shivammahajancse to come up with a PR, if he doesn't come up with it in certain span of time, this issue will be assigned to you :)

[2021-05-04 04:01] Ankita297 commented on #27
Can i work on this @urvashi-code1255 @harshgupta20 @ridsuteri @Vishal-raj-1 ?

[2021-05-04 06:27] Deeksha-Rawat commented on #871
ok sure !!

[2021-05-04 07:50] anushree71199 commented on #1281
Please assign me this project under GSSOC'21 @ridsuteri @991rajat

[2021-05-04 11:54] Shivangi-ch opened #1288 "Add a flappy bird game with sounds in it."
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I would like to add a more better flappy bird game with sounds in it implemented in vannila js.

## Additional context
I am GSSOC participant.
Please assign this to me.

[2021-05-04 12:50] Abhikr-git opened #1289 "Adding a new project of form validation using JavaScript"
In this project I would like to include a form where the user will input their data and using JavaScript we can let the user know about the mandatory fields to be filled up. Form validation is a very useful aspect and used by many websites for client-side validation of user details, card details, address details, etc. Let's say for example if there is a mandatory input field name, the user may typ

[2021-05-04 12:51] sheetalj2205 commented on #1224
why I am not able to clon this repository?

[2021-05-04 12:51] Abhikr-git opened #1290 "Adding a new project of Photo details displayer using JavaScript"
In this project I would like to add a self-made JavaScript function which will display the details of  some images once the user hovers over the images. To use this code a developer just needs to have few images of their own and use this JavaScript function.

I've have used basic HTML and CSS along with JavaScript. The main work is done in JavaScript, one will learn how mouse hover (over and out)

[2021-05-04 13:32] anushree71199 opened #1291 "[GSSOC'21] Adding a Random User API Project"
In this project I will be adding a JavaScript AJAX request which will fetch random user APIs from all over the world and display the Name, Last name, Location, Phone, Email (phone numbers and email are fake).

Basically this JavaScript project will use an AJAX request to create Random User Generator API which will retrieve a random user information and display that as the output in our DOM. I've t

[2021-05-04 14:53] satcasm opened #1292 "Changing the units from pxs to rems/ems"
While going through the ```index.html``` file , I noticed that there are some properties that uses ```px```, would like to change it to ```rems/ems``` such that the site remains responsive under GSSOC' 21.
Thanks!

[2021-05-04 15:21] anushree71199 opened #1293 "Adding a project of BBC news feed using JavaScript"
In this project I would like to include a JavaScript feed reader where the main objective is to grab a series of RRS(Really Simple Syndication) news feed from BBC News or another feed and then display it on your web page. The main concepts that are added here is as follows:
1) fetchApi(): To fetch the information from BBC news feed and add that to this web-page. By using this api the web-page will

[2021-05-04 17:04] Furquan712 commented on #27
I would like to work on this issue, will you assign me ?

[2021-05-04 17:07] Amit366 commented on #527
@991rajat is this open??

[2021-05-04 17:19] Furquan712 commented on #1017
I would like to work on this issue, will you assign me ?

[2021-05-04 17:21] Furquan712 commented on #1292
I would like to work on this issue, will you assign me ?

[2021-05-04 17:21] Furquan712 commented on #1293
I would like to work on this issue, will you assign me ?

[2021-05-04 18:41] SilverGraph opened #1295 "Background image not visible"
## Describe the bug

- Due to the incorrect file path the background image is not visible when the page loads

## To Reproduce
Steps to reproduce the behavior:
1. Go to `Awesome Javascript` homepage
2. Click on `Projects`
3. Scroll through to find `Expense Tracker` project and click on it

## Expected behavior

- Expected the background image to show up when the page loads successfully

## Logs
If

[2021-05-04 18:49] SilverGraph opened #1296 "Background not visible in Infix Evaluator project"
## Describe the bug

- The background image is not visible when the page loads successfully

## To Reproduce
Steps to reproduce the behavior:
1. Go to `Awesome Javascript` homepage
2. Click on `Projects` in the navbar
3. Scroll through to find `Infix Evaluator` project and click on it

## Expected behavior

- Expected the background image to be visible

## Logs
If applicable, add logs to help expl

[2021-05-05 03:05] ridsuteri commented on #1281
@anushree71199 hangman project already exists :( , you can try improving it or you can try adding any other awesome project

[2021-05-05 03:05] #1281 closed

[2021-05-05 03:15] #1239 closed

[2021-05-05 03:25] #1259 closed

[2021-05-05 04:31] Ankita297 commented on #27
can i work on this @ridsuteri ?

[2021-05-05 06:04] bug-debug-done commented on #790
@harshgupta20 I will make PR within 3-4 days

[2021-05-05 06:05] bug-debug-done commented on #801
@harshgupta20 working on other PR for this repo

[2021-05-05 07:22] vanshikapandey commented on #658
I will send by today evening

On Mon, May 3, 2021, 11:16 Harsh Gupta ***@***.***> wrote:

[2021-05-05 09:51] WebVishal commented on #887
@harshgupta20 hi, It is almost done, I just have to add some CSS. I will be creating PR by tomorrow.

[2021-05-05 15:17] Mrinal81 commented on #1257
@ridsuteri @991rajat @harshgupta20 ...... Please have a look on PR #1300 ...........

Please add Level Tag as well as GSSOC'21 Tag if everything is ok..........

[2021-05-05 17:48] Shivangi-ch commented on #1288
@Vishal-raj-1 Please assign this to me.

[2021-05-06 01:36] ridsuteri commented on #1291
sorry @anushree71199 , similar project is already present in the repo :( . Try to improve that or add any other awesome project

[2021-05-06 01:36] #1291 closed

[2021-05-06 01:50] #1227 closed

[2021-05-06 01:53] #1257 closed

[2021-05-06 02:36] neha07kumari commented on #1282
@ridsuteri I'm unable to push my changes to the repository , I tried many times in different ways to resolve the issue but couldn't. As I'm switching to new branch, the new branch isn't publishing and showing error. I'm attaching the screenshot of it.Please let me know what can I do next.
![Screenshot (237)](https://user-images.githubusercontent.com/47255445/117234036-ddaad600-ae41-11eb-9b1c-338fe

[2021-05-06 03:41] anushree71199 commented on #491
Since there hasn't been any reply from 10 days on this issue, can I work on it? If I can please assign it to me under GSSOC'21 participation. I will make it using pure vanilla JavaScript. @ridsuteri @991rajat @harshgupta20

[2021-05-06 04:06] manisha-27 opened #1302 "Project idea: Build a Weather App"
Using HTML, CSS, and JavaScript to create a fully functional weather app.
Also I'll be adding humidity, wind speed as well as the weather condition fully responsive with images.

[2021-05-06 04:08] manisha-27 commented on #1302
Kindly assign me this issue under Gssoc'21.

[2021-05-06 05:11] anushree71199 opened #1303 "Adding a new project of Doodle jump [gssoc21]"
In this project I would like to add a game in which the doodle will jump from one place to another while the player will press the keys. I've tried to use JavaScript key concepts like:
createElement(): Creating an element for this doodle game.
forEach(): To set the array items and assign them.
setInterval(): Setting an interval between the time frames that are changing from time to time.
clearInte

[2021-05-06 09:39] kumarankm opened #1306 "Joystick control(Gaming console)"
## Describe the solution you'd like
I would like to add a gaming console(Joystick) control and it has few character animations with it.

## Additional context
Assign me this issue under GSSOC' 21!

[2021-05-06 13:15] K-jais opened #1309 "Add Catch The Robber Game"
It's a game of a robber that gets invisible and always changes its position and you have to find and catch him on the screen.

Its working video,

https://user-images.githubusercontent.com/75881393/117304271-2fcc1580-ae9b-11eb-9b6c-d5c9c3238967.mp4

[2021-05-06 13:15] K-jais commented on #1309
Please @ridsuteri @991rajat  @urvashi-code1255 review this issue.

[2021-05-06 13:24] K-jais opened #1310 "Add Drink Water Reminder"
This project will have the goal amount of water you have to drink and then tells you how many glasses and then the saves the data of the user as he selects the glasses.

Its working video,

https://user-images.githubusercontent.com/75881393/117305502-70785e80-ae9c-11eb-941d-970d3885aa24.mp4

[2021-05-06 13:24] K-jais commented on #1310
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-06 16:09] aashi2912 opened #1311 "Add Guess My Number Game"
## Is your feature request related to a problem? Please describe.
[GSSOC'21]
No its not a problem. I tried  to add one small project.
## Describe the solution you'd like
I want to add this little game (Guess my number) using basic JavaScript and html, CSS!

## Additional context
The game is about to guess the number until user guessed and got it right. It will also keep the highscore of your attem

[2021-05-06 16:13] codDoc98 commented on #1145
@ridsuteri @Vishal-raj-1 @urvashi-code1255 @harshgupta20 @991rajat please view its pr #1268 . If anything's odd tell me.

[2021-05-06 16:14] aashi2912 opened #1312 "We can add code source github link (file) for that particular project"
## Is your feature request related to a problem? Please describe.
[GSSOC'21]
No its not a problem. I tried to enhancing the feature of site.
## Describe the solution you'd like
The aim for this project and website is to help the user/people who visits it! While awesome and so many projects are there listed and live on site, but suppose if anyone wants to see that particular projects code and want

[2021-05-06 16:24] anushka-srivastava22 commented on #1215
Can I work upon this issue as I would love doing it. please assign me

[2021-05-06 16:42] Mrinal81 commented on #1215
@anushka-srivastava22 currently I am working on it...

[2021-05-06 18:15] Astrodevil opened #1314 "PainoApp"
GSSoC 2021 contribution
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to enhancing the look of sidenav.
## Describe the solution you'd like
I want to change colours of whole piano app
![Screenshot 2021-05-06 234430](https://user-images.githubusercontent.com/73425223/117346237-1e97fe80-aec5-11eb-92b3-66a8a76bd83c.png)

## Additional context
I want t

[2021-05-06 19:38] Furquan712 commented on #1311
I would like to work on this issue , will you assign me ?

[2021-05-07 03:42] iamabhii1 opened #1317 "adding a project game of life"
hi ,  wanted to add a project (**_game of life_**) made in javascript ,html.
this contribution is toward gssoc21.

[2021-05-07 04:07] kanisshka opened #1318 "Adding color options"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I tried to enhance the look of the Dynamic quote generator.

## Describe the solution you'd like
Adding more color options.

![image](https://user-images.githubusercontent.com/76627599/117396549-cc33fd80-af17-11eb-9f17-7dfa06361e26.png)
There is only 3 colors conversions I want to add some more.

[2021-05-07 13:26] aashi2912 commented on #1311
Checked and game is already there added. closing this issue.

[2021-05-07 13:26] #1311 closed

[2021-05-07 17:11] #1271 closed

[2021-05-07 17:15] #1272 closed

[2021-05-07 17:35] Ayushjain2205 opened #1322 "Battery indicator"
## Functionality
This project will show the user the battery left in their computer in an awesome UI

I would like to work on this under GSSOC21

[2021-05-07 17:51] manisha-27 commented on #1302
Hey, please assign me this issue.

[2021-05-08 03:53] Ankita297 opened #1324 "enhance the search bar"
## Is your feature request related to a problem? Please describe.
I want to enhance the ui of search bar
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-08 04:08] Ankita297 opened #1325 "css box shadow designs"
## Is your feature request related to a problem? Please describe.
I want to add different css box shadow styles on the page
## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-08 11:38] #1293 closed

[2021-05-08 11:41] #1309 closed

[2021-05-08 11:43] #1289 closed, assigned to Abhikr-git

[2021-05-08 15:29] kanak22 opened #1330 "Project Idea : Balloon popping game"
## Description of the project
The project will have several rows of colored balloons and on keeping the mouse on them, the balloons will pop!

## Additional context
This project is not already present in the existing projects so, it's something new. Kindly assign that to me under GSSOC.
@ridsuteri :)

[2021-05-08 17:39] neha07kumari opened #1331 "Shooting_game_JavaScript"
I would like to add a project (Shooting game) in JavaScript under GSSOC 2021.

[2021-05-08 17:39] neha07kumari commented on #1331
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-09 02:24] Mrinal81 opened #1334 "ONLINE EDUCATION WEBSITE WITH HTML,CSS AND JAVASCRIPT"
I am a GSSOC'21  Participant... I would like to add online education website on your Project Page.... The main motive of this online education website is to provide online courses to the students  during this pandemic situation.....

In INDIA all colleges, institutions are closed due to this pandemic...
so students can build his skills through these online courses......

@ridsuteri @harshgupta20 @

[2021-05-09 04:08] Mrinal81 commented on #1215
@ridsuteri @991rajat I made a PR of ECOMMERCE WEBSITE........

Please have a look on it and Add Level Tag as well as GSSOC'21 Tag................

[2021-05-09 04:19] #491 closed

[2021-05-09 07:27] anushree71199 opened #1337 "Adding a Joke Teller project"
This project will tell you a joke and make your day good. With simple Vanilla JS I've tried making a great Joke teller with an awesome UI/UX design.
Please assign me this issue under GSSOC'21. @ridsuteri @991rajat @harshgupta20 .

![joke-teller](https://user-images.githubusercontent.com/59678817/117563805-017e4e00-b0c6-11eb-816e-0355ea22024d.png)

[2021-05-09 07:34] anushree71199 opened #1338 "Adding a project of Rock Lizzards and Spock game"
I want to add a rock paper scissor lizards spock game where the user can play with a computer.
Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20
![spock](https://user-images.githubusercontent.com/59678817/117563961-08f22700-b0c7-11eb-9b25-e3f4583f02ce.png)

[2021-05-09 07:36] anushree71199 opened #1339 "Adding a project of NASA APOD"
In this project using APIs I will fetch data and images from Nasa's website. Please assign me this project under GSSOC'21 @ridsuteri @991rajat @harshgupta20
[javascript] [gssoc21]

[2021-05-09 07:46] anushree71199 opened #1340 "Adding a project of Math Sprinter game"
In this project the user will have to answer really simple questions to pass certain rounds. As this project consists of Maths I've tried to make it more fun looking alike.
Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20
[javascript][gssoc21]

[2021-05-09 09:57] akshay399 opened #1341 "Search suggestions"
## Describe the bug
I will add suggestions to the search bar for projects.

[2021-05-09 09:58] akshay399 commented on #1341
i am a gssoc member can you please assign this to me? @ridsuteri

[2021-05-09 10:04] anushree71199 opened #1342 "Adding an Animated Navbar"
I would like to add an Animated Navbar project using JavaScript, HTML, CSS.

Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

It would look like this:
https://user-images.githubusercontent.com/59678817/117567741-17e2d480-b0db-11eb-8bb7-3b5397fb5814.mp4

[2021-05-09 12:29] WebVishal opened #1343 "Bulid up landing page with JavaScript"
Hi  @ridsuteri @991rajat @harshgupta20, I want to build up a Landing Page for  E-commerce website with help of Html CSS, and JavaScript

Can I work on this idea as a Participant of GSSOC'21?

[2021-05-09 14:10] #891 closed

[2021-05-09 14:53] #942 closed

[2021-05-09 15:12] #1247 closed

[2021-05-09 15:33] #1089 closed

[2021-05-09 15:34] #1265 closed

[2021-05-09 15:36] #871 closed

[2021-05-09 15:41] #1180 closed

[2021-05-09 15:46] 991rajat commented on #1269
Anyone interested Please GO Ahead Make a PR  if not available to assign.

[2021-05-09 15:48] 991rajat commented on #1224
@sheetalj2205 You need to fork it, And then clone. it.

[2021-05-09 15:55] #1279 closed

[2021-05-09 16:11] Ankita297 opened #1344 "rem to px converter"
## Is your feature request related to a problem? Please describe.
I want to add a page which will covert rem to px or px to rem converter
#
# Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-09 16:15] iamabhii1 commented on #1317
please this this to me .
@991rajat @urvashi-code1255

[2021-05-09 17:00] sheetalj2205 commented on #1224
Please check my PR 1319

[2021-05-09 18:03] Mrinal81 commented on #1215
@ridsuteri @991rajat  have a look on this PR #1335 ....

[2021-05-09 19:12] harshgupta20 commented on #1025
Your PR has been merged thanks for contributing :)

[2021-05-09 19:12] #1025 closed

[2021-05-09 19:13] harshgupta20 commented on #1017
@Furquan712 Since this project already exist, so I have to close this issue.

[2021-05-09 19:13] #1017 closed

[2021-05-09 19:14] harshgupta20 commented on #1006
PR got merged successfully, thanks for contributing.

[2021-05-09 19:14] #1006 closed

[2021-05-09 19:16] harshgupta20 commented on #997
@tanya070820 Since its been a month and we haven't got any update from your side, kindly reply within 2 days or else I have to close it.

[2021-05-09 19:17] harshgupta20 commented on #988
@Ankita297 Any update? kindly reply within 2 days or else I have to close it.

[2021-05-09 19:17] harshgupta20 commented on #985
@Priyanshujha11 Any update? kindly reply within 2 days or else I have to close it.

[2021-05-09 19:18] harshgupta20 commented on #983
@ambivert-sam You can start working on this issue : )

[2021-05-09 19:20] harshgupta20 commented on #982
Any update? kindly reply within 2 days or else I have to close it.

[2021-05-09 19:20] harshgupta20 commented on #968
Any update? kindly reply within 2 days or else I have to close it.

[2021-05-09 19:21] harshgupta20 commented on #952
This issue has been resolved : )

[2021-05-09 19:21] #952 closed

[2021-05-09 19:22] harshgupta20 commented on #870
Issue has been resolved : )

[2021-05-09 19:22] #870 closed

[2021-05-09 19:23] harshgupta20 commented on #790
@bug-debug-done Any update?

[2021-05-09 19:24] harshgupta20 commented on #787
Any update?

[2021-05-09 19:27] harshgupta20 commented on #658
@vanshikapandey What's the update?

[2021-05-09 19:29] harshgupta20 commented on #636
@mdatif796 Any update?

[2021-05-09 19:35] K-jais opened #1346 "Add Voice Lock Project"
It's a project in which you can unlock or lock the figure by saying lock or unlock and besides that, if you speak any other word, it will not open or close.

Its working video,

https://user-images.githubusercontent.com/75881393/117584656-d2022c80-b12b-11eb-9396-779a9023fdd0.mp4

[2021-05-09 19:36] K-jais commented on #1346
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-09 19:38] K-jais opened #1347 "Add Dynamic Pie Chart Project"
This project will show you the pie chart in which you can change the values of the particular section and then dynamically the pie chart will change.

Its working video,

https://user-images.githubusercontent.com/75881393/117584736-2ad1c500-b12c-11eb-85ff-b540ce35dd9b.mp4

[2021-05-09 19:38] K-jais commented on #1347
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-09 19:49] PritomDutta89 opened #1348 "Adding a Password Generator project"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I would like to add a project which generate a password on the user's choice in JavaScript

## Additional context
Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-09 19:53] SrishtiArya07 opened #1349 "Chrome Dinosaur Game"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a new Chrome Dinosaur Game.
## Describe the solution you'd like
The Dinosaur Game, also known as the T-Rex Game is a built-in browser game in the Google Chrome web browser that can be accessed by hitting the space bar when you're offline on Google Chrome. I will build this game using HTML, CSS and

[2021-05-09 20:01] PritomDutta89 commented on #1348
ok, thankyou

[2021-05-09 23:23] SanskaarPatni commented on #968
Hey, Sorry I'm caught up with something else!
You may close it

[2021-05-10 01:42] Ankita297 commented on #24
can i work on this @urvashi-code1255 @ridsuteri @harshgupta20 @991rajat ?

[2021-05-10 01:52] Ankita297 commented on #988
Sorry Sir i will not able to work on this issue You can close it .

[2021-05-10 02:36] ridsuteri commented on #1312
@aashi2912 the project's source code is already available in the repository and the site has a link for the repository too, i guess if someone want's to view the source code of any project he/she can simple view it on the repository itself

[2021-05-10 02:40] #1310 closed

[2021-05-10 02:50] #1215 closed

[2021-05-10 02:53] #1303 closed

[2021-05-10 03:27] aashi2912 commented on #1312
Okay.

[2021-05-10 03:27] #1312 closed

[2021-05-10 04:21] ashutosh-cusat commented on #24
can i also work on this @urvashi-code1255  by collabrate if anyone want.

[2021-05-10 05:49] Priyadarshan2000 opened #1350 "World Clock"
Hello 👋🏻 @Vishal-raj-1

This is a World clock application. world any city time show here. you change ta the time

Functionalities:
- Time change
- world any city time show

@Vishal-raj-1 I am a GSSoC'21 participant and I think this is an interesting javascript project. Kindly allow me to work on this issue and contribute to this project!

## Screenshot
![image](https://user-images.githubuserconten

[2021-05-10 06:22] ridsuteri commented on #1343
@WebVishal can you share a ss/gif of what the output would look like

[2021-05-10 06:27] ridsuteri commented on #1348
@PritomDutta89 this project already exists in the repo :( you can either improve that or add any other awesome project :)

[2021-05-10 06:27] #1348 closed

[2021-05-10 06:27] #988 closed

[2021-05-10 06:29] ridsuteri commented on #24
srry @Ankita297 @ashutosh-cusat this project is already implemented ,hence i am closing this issue :(

[2021-05-10 06:29] #24 closed

[2021-05-10 06:47] WebVishal commented on #1343
hey @ridsuteri  look it, I want to build up like this

![Screenshot (121)](https://user-images.githubusercontent.com/76445546/117616929-71a1d800-b189-11eb-8b9b-63d37674794f.png)

![Screenshot (122)](https://user-images.githubusercontent.com/76445546/117616878-5c2cae00-b189-11eb-80af-9061d5023569.png)
![Screenshot (123)](https://user-images.githubusercontent.com/76445546/117616884-5d5ddb00-b189-11e

[2021-05-10 07:20] WebVishal opened #1351 "Re-create Giphy with JavaScript"
Hi @ridsuteri @991rajat @harshgupta20, basically in this project I want to use Giphy API and fetch data with help of API and display Gifs dynamically

Can I work on this project as a partner of GSSOC'21?

[2021-05-10 07:21] subhangi2731 opened #1352 "Github profiles"
I would like to add and build an Interactive Landing Page using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20 @Vishal-raj-1

[2021-05-10 07:22] subhangi2731 commented on #1352
please assign me this issue

[2021-05-10 08:22] vanshikachokhani opened #1354 "Project idea: Image puzzle game"
I want to add a image puzzle game where the user can play slide the images to solve the puzzle.
Please assign me this issue under Gssoc'21 @ridsuteri @991rajat @harshgupta20
![Screenshot from 2021-05-10 13-52-05](https://user-images.githubusercontent.com/54857354/117628620-fe06c780-b196-11eb-94da-5a420d1b7e3a.png)

[2021-05-10 09:48] #1331 closed

[2021-05-10 11:47] #1346 closed

[2021-05-10 13:49] Amit366 commented on #1269
@991rajat so should I remove the duplicates and also add images to above mentioned projects??

[2021-05-10 14:03] tanya070820 commented on #997
@harshgupta20 sir I have already created its pr

[2021-05-10 14:20] #1249 closed

[2021-05-10 14:47] PritomDutta89 opened #1357 "Adding a BookList App"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I would like to add a project where you can add the books in JavaScript

## Additional context
Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-10 14:52] 991rajat commented on #1288
Already present. If you want to modify that start working on PR Let me know will assign you

[2021-05-10 14:54] 991rajat commented on #1269
Yes

[2021-05-10 14:57] 991rajat commented on #1314
Make it look good.
Don't just stop with colors. Add something more so that it looks different.

[2021-05-10 15:03] 991rajat commented on #1269
Yes as you mentioned.
@Amit366 Do you want to work on this?

[2021-05-10 15:04] Amit366 commented on #1269
Yes I want to work

[2021-05-10 16:02] Shivangi-ch commented on #1288
@991rajat Yes.I want to modify that .Please assign

[2021-05-10 17:31] neha07kumari opened #1358 "Apple Collector Game"
I would like to add a project (Apple Collector game) in JavaScript under GSSOC 2021.

[2021-05-10 17:34] neha07kumari opened #1359 "Calorie Calculator in JavaScript"
I would like to add a project (Calorie Calculator) in JavaScript under GSSOC 2021.

[2021-05-10 17:34] neha07kumari commented on #1359
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-10 17:35] Shivangi-ch opened #1360 "Add a SlingShot game"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I will Add A slingshot game.
![Screenshot from 2021-05-10 22-57-53](https://user-images.githubusercontent.com/57783826/117700846-2bc62d80-b1e4-11eb-972e-e62ea1a0445d.png)
![Screenshot from 2021-05-10 22-57-35](https://user-images.githubusercontent.com/57783826/117700855-2d8ff

[2021-05-10 17:37] neha07kumari opened #1361 "Train Schedule Manager"
I would like to add a project (Train Schedule Manager) in JavaScript under GSSOC 2021.

[2021-05-10 17:37] neha07kumari commented on #1361
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-10 17:56] Shivangi-ch opened #1362 "The Rubik's cube game"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I will add a rubik's cube game.
![Screenshot from 2021-05-15 19-12-00](https://user-images.githubusercontent.com/57783826/118363341-80d1bd00-b5b1-11eb-921d-71671f83123e.png)

## Additional context
Please assign this to me.
I am a GSSOC participant.

[2021-05-10 18:44] Shivangi-ch opened #1363 "Adding binary circle animation"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I will add a binary cirle falling animation.
![Screenshot from 2021-05-11 00-07-06](https://user-images.githubusercontent.com/57783826/117708531-8ca63380-b1ed-11eb-82a1-fd2acdd4922b.png)

## Additional context
I am a GSSOC participant.
Assign this to me.

[2021-05-10 18:53] Shivangi-ch opened #1364 "Adding Alaska cartoon"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I will add  Alaska cartoon animations.
![Screenshot from 2021-05-11 00-17-55](https://user-images.githubusercontent.com/57783826/117709685-d93e3e80-b1ee-11eb-9ff3-544a7a42e12f.png)
![Screenshot from 2021-05-11 00-17-57](https://user-images.githubusercontent.com/57783826/11770

[2021-05-10 18:56] Shivangi-ch opened #1365 "Adding a 3D racing game."
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I will add a hue jumper 3D racing game using javascript.

## Additional context
I am a Gssoc participant.
Please assign this to me.

[2021-05-10 20:46] K-jais opened #1366 "Add Chore Robot Game"
This project is a game in which you have to guess in which doors the chore robot is not there and if choose that gate in which the bot is there then the game finishes.

Its working video,

https://user-images.githubusercontent.com/75881393/117722564-d77c7700-b1fe-11eb-94fb-7ac611a4a38d.mp4

[2021-05-10 20:48] K-jais opened #1367 "Add Record Player Project"
This project is an ancient record player in which you can play and pause the music and can increase the volume as well.

Its working video,

https://user-images.githubusercontent.com/75881393/117722770-1ca0a900-b1ff-11eb-9500-cde485361bec.mp4

[2021-05-11 01:27] ridsuteri commented on #1357
@PritomDutta89 we already have a similar project by the name of library app  :( , is your project similar to that ? if not , please share a img/gif of your project

[2021-05-11 02:44] anushree71199 opened #1368 "Adding a finger pool game"
I would like to add a finger pool game using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

This project would look like this:
![finger-pool](https://user-images.githubusercontent.com/59678817/117750329-dc5a1e80-b230-11eb-8b12-4fac090bed24.png)

[2021-05-11 06:59] subhangi2731 commented on #1352
@Vishal-raj-1 please assign me the issue

[2021-05-11 07:02] subhangi2731 opened #1372 "Project Idea: Build an Interactive Landing Page"
I would like to add and build an Interactive Landing Page using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-11 08:46] Ananya-Misra opened #1373 "Add a maze generator"
## Is your feature request related to a problem? Please describe.
No, it's not a problem.
## Describe the solution you'd like
I would like to add a maze generator app using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-11 09:00] Ananya-Misra opened #1374 "Add Face Detection App"
## Is your feature request related to a problem? Please describe.
No, it's not a problem.
## Describe the solution you'd like
I would like to add a real time face detection app using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-11 09:14] aashi2912 opened #1375 "Add project : Pig Game"
[GSSOC'21]
## Is your feature request related to a problem? Please describe.
No its not a problem. I tried to add one amazing game called Pig Game.
## Describe the solution you'd like
It's a game where 2 players play and roll the dice. When someone roll dice and it comes 1, the current score becomes zero. Player can also hold it's score and respectively their score will be added into current score

[2021-05-11 09:14] #1375 closed, assigned to nobody

[2021-05-11 09:16] aashi2912 opened #1376 "Add project : Pig Game"
**[GSSOC'21]**

**Is your feature request related to a problem? Please describe.**
No its not a problem. I tried to add one amazing game called Pig Game.

**Describe the solution you'd like**
It's a game using html, CSS and JavaScript where 2 players play and roll the dice. When someone roll dice and it comes 1, the current score becomes zero. Player can also hold it's score and respectively their

[2021-05-11 10:46] subhangi2731 commented on #714
@Vishal-raj-1 @harshgupta20 I  want to work on this I will send a pr tomorrow please assign me this

[2021-05-11 12:01] robin025 opened #1379 "Add Project : Ping Pong Game"
# Is your feature request related to a problem? Please describe.
No, it's not a problem.

# Describe the solution you'd like
I would like to add a Ping Pong Game using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-11 12:11] robin025 opened #1380 "Add project : Tip Calculator"
# Is your feature request related to a problem? Please describe.
No, it's not a problem.

# Describe the solution you'd like
I would like to add a Tip Calculator  using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-11 12:14] robin025 opened #1382 "Add Project : Mouseover effect project"
Is your feature request related to a problem? Please describe.
No, it's not a problem.

Describe the solution you'd like
I would like to add a Mouseover Effect  converter using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-11 12:14] K-jais commented on #1366
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-11 12:20] robin025 opened #1383 "Add project : Ludo game"
Is your feature request related to a problem? Please describe.
No, it's not a problem.

Describe the solution you'd like
I would like to add a Ludo game using JavaScript. Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-11 13:57] sreetu opened #1386 "Add project : Match Four game"
## Is your feature request related to a problem? Please describe.
No its not a problem.

## Additional context
I would like to add connect four game using javascript. In this game, player who makes four consecutive same color-match is declared as winner.

I'm a GSSoC'21 participant. Kindly assign me this issue @admins .

[2021-05-11 16:09] ridsuteri commented on #790
@bug-debug-done progress?

[2021-05-11 16:13] ridsuteri commented on #1368
srry @anushree71199 , similar issue is already assigned ,hence this issue is not available to be assigned :(

[2021-05-11 16:13] #1368 closed

[2021-05-11 16:21] ridsuteri commented on #1352
@subhangi2731 is this issue regarding addition of landing page issue?

[2021-05-11 16:23] ridsuteri commented on #1352
if yes then i have already assigned that issue to you hence please close this one

[2021-05-11 16:55] ridsuteri commented on #1379
@robin025 the project by the name of 'color picker and converter' does this job of converting rgb to hex .
you can improve it to add rgba to hex within that project , as adding a entirely new project simply for 'a' factor is not feasible according to me

[2021-05-11 16:57] ridsuteri commented on #1352
@subhangi2731 the description of this issue doesn't match with the heading . kindly provide a description of the issue along with any img/gif.

[2021-05-11 17:02] ridsuteri commented on #1379
@robin025 if you are interested in improving that color converter project you can open another issue for that :)

[2021-05-11 17:02] #1357 closed, assigned to nobody

[2021-05-11 17:06] robin025 commented on #1379
i will be creating a color converter which will include all the color converters like RGB to HEX,CMYK,HSV,HSL and vice versa
will that be okay @ridsuteri  ?

[2021-05-11 17:25] ridsuteri commented on #1379
yeah this sounds great @robin025 and make changes directly to  hex to rgb converter since hex to rgb conversion feature is already available in the color picker and converter project

[2021-05-11 17:35] #1352 closed

[2021-05-11 17:39] subhangi2731 opened #1393 "Project Idea: Parallax Effect"
This is the Front-end (parallax effect) using Javascript.

[2021-05-12 04:33] #1367 closed

[2021-05-12 04:36] #1382 closed

[2021-05-12 06:51] kumarankm opened #1397 "Pubg Drop"
## Describe the solution you'd like
I would like to add a responsive pubg airdrop to this project.

## Additional context
Assign me this issue under GSSOC' 21!

## UI Image
![11](https://user-images.githubusercontent.com/60292723/119239152-e4855880-bb64-11eb-9ca4-47dadcbc6215.png)

[2021-05-12 08:42] kumarankm opened #1399 "Compressing amongus game mode"
## Describe the solution you'd like
Last month, I have added two projects regarding amongus, This time I would like to compress two different projects into single one and make it look like a mode choosing

## Screenshot
![Untitled1](https://user-images.githubusercontent.com/60292723/117945035-8ae28a00-b32b-11eb-91e7-1dbc3e284307.png)

## Additional context
Assign me this issue under GSSOC' 21!

[2021-05-12 08:52] K-jais opened #1400 "Add Snowman Dress up Game"
This project is a game in which you have to dress up the snowman with the things which are there on the screen by just dragging the things and drooping them on the snowman figure.

Its working video,

https://user-images.githubusercontent.com/75881393/117947122-84551200-b32d-11eb-9dbf-1b12bfb905de.mp4

[2021-05-12 08:53] K-jais commented on #1400
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-12 08:54] K-jais opened #1401 "Add Fortune Teller Project"
This project tells you the fortune by just randomly selecting the things from the API which is used to tell these kinds of fortunes.

Its working video,

https://user-images.githubusercontent.com/75881393/117947379-c41bf980-b32d-11eb-9772-6267f6c6ead1.mp4

[2021-05-12 08:55] K-jais commented on #1401
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-12 13:44] kumarankm opened #1403 "Number Cricket Game(Hand Cricket)"
## Describe the solution you'd like
I think most people might have played hand cricket games during their childhood. Now I would like to modify this hand cricket into number cricket with batting and bowling features.

## ScreenShot
This is a UI for this project

![Untitled](https://user-images.githubusercontent.com/60292723/117984794-c2fec280-b355-11eb-9a22-59ec05db0749.png)

## Additional context

[2021-05-12 13:50] WebVishal opened #1404 "Train Details Finder with javaScript"
Hi @ridsuteri @991rajat @harshgupta20, basically in this project I want to use Rapid API
and fetch data with help of API and display the Details

Can I work on this project as a participant of GSSOC'21?

![Screenshot (128)](https://user-images.githubusercontent.com/76445546/117986253-1291be00-b357-11eb-92c9-1ba2857cb3b3.png)

[2021-05-12 17:53] harshgupta20 commented on #968
@Amit366 Yes. You can start working on it : )

[2021-05-12 17:57] harshgupta20 commented on #801
@bug-debug-done Kindly link that PR with this issue.

[2021-05-12 18:00] harshgupta20 commented on #714
@subhangi2731 You start working on it : )

[2021-05-12 18:00] #787 closed

[2021-05-12 18:01] #658 closed

[2021-05-12 18:04] harshgupta20 commented on #636
@mdatif796 no problem, you can just give updates about the project, so that we can keep a record of your issue.

[2021-05-12 18:10] harshgupta20 commented on #537
Since this project already exist with more features already. I have to close it, you can look upto another issue : )

[2021-05-12 18:10] #537 closed

[2021-05-12 18:10] #527 closed

[2021-05-12 18:12] harshgupta20 commented on #515
Kindly link your PR with this issue.

[2021-05-12 18:12] #512 closed

[2021-05-12 18:12] harshgupta20 commented on #510
@sejalxz Any update about the issue?

[2021-05-12 18:13] harshgupta20 commented on #465
@Abhikr-git Any update about the issue?

[2021-05-12 18:13] #457 closed

[2021-05-12 18:14] #423 closed

[2021-05-12 18:17] harshgupta20 commented on #304
@SatyaPrakash26 Kindly llink that PR with this issue.

[2021-05-12 18:19] harshgupta20 commented on #128
Hi @Meghag5 , How is your health?, Is everything fine?

[2021-05-12 18:19] Ayushjain2205 opened #1411 "Add Project: 3D image gallery"
3d effect image gallery effect in using html css js

[2021-05-13 02:49] #1366 closed

[2021-05-13 03:39] fatma-sia27 commented on #515
https://github.com/Vishal-raj-1/Awesome-JavaScript-Projects/pull/784

[2021-05-13 03:39] fatma-sia27 commented on #515
@harshgupta20

[2021-05-13 04:39] subhangi2731 commented on #714
@harshgupta20 can u assign the level tag in this

[2021-05-13 08:02] subhangi2731 opened #1417 "Realtime-Chat-Application"
Real-time chat uses web-based apps that allow communication in a multi-user environment that is usually addressed directly but is anonymous among users.
![image](https://user-images.githubusercontent.com/53938490/118096940-aadb8180-b3ef-11eb-9f7b-7992ed3738ce.png)

[2021-05-13 08:03] subhangi2731 commented on #1417
@ridsuteri @Vishal-raj-1 please assign this issue to me

[2021-05-13 08:03] Ankita297 opened #1418 "text-style designs"
## Is your feature request related to a problem? Please describe.
A page which will contain different text designs and styles  and  user can copy it and use it .

## Describe the solution you'd like
I have updated sidenav.html and added sidenav.css for changing current sidenav project into animated sidenav

## Additional context
Add any other context about the feature request here.

[2021-05-13 08:03] Ankita297 commented on #1418
@harshgupta20 @urvashi-code1255 @991rajat Can i work on this ?

[2021-05-13 12:35] Ankita297 commented on #1418
@991rajat @urvashi-code1255 @harshgupta20 can i work on this ?

[2021-05-13 14:37] subhangi2731 commented on #1417
@ridsuteri please assign me

[2021-05-13 16:18] vanshikachokhani opened #1419 "Number Guessing Game"
I want to add a number guessing game where the user will have some predefined amount of tries to guess a random number in a given range.
Please assign me this issue under Gssoc'21 @ridsuteri @991rajat @harshgupta20

[2021-05-13 17:28] Abhikr-git commented on #465
Sir, I have resolved the issue, will create the PR today

[2021-05-13 21:18] subhangi2731 commented on #1417
please assign me this issue @ridsuteri @991rajat @harshgupta20

[2021-05-13 21:19] subhangi2731 commented on #1417
/assign

[2021-05-14 02:50] #1400 closed

[2021-05-14 02:52] #1376 closed

[2021-05-14 08:41] K-jais opened #1421 "Add Work Time Tracker Project"
This project will track your work and then start the timer when you are working and it can pause and then resume as well and this time just gets saved in the local storage as well.

Its working video,

https://user-images.githubusercontent.com/75881393/118245294-41767400-b4be-11eb-8599-44693a20c255.mp4

[2021-05-14 08:41] K-jais commented on #1421
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-14 08:44] K-jais opened #1422 "Add Functional Step Progress Project"
This is the step progress bar which is there in almost every form and in their websites as well. This progress is also saved in the local storage of the user.

It's  working video,

https://user-images.githubusercontent.com/75881393/118245660-b8137180-b4be-11eb-9ce0-0c8135586b77.mp4

[2021-05-14 08:45] K-jais commented on #1422
Please @ridsuteri @991rajat  @urvashi-code1255 review this issue.

[2021-05-14 11:19] Ankita297 commented on #1418
@991rajat @urvashi-code1255 @harshgupta20 can i work on this ?

[2021-05-14 12:00] #1401 closed

[2021-05-14 12:02] ridsuteri commented on #1419
sorry @vanshikachokhani, but this project has already been added to the repo , you can either try to improve that project or try adding any other awesome project :)

[2021-05-14 12:02] #1419 closed

[2021-05-14 12:08] #1269 closed

[2021-05-14 12:31] #1273 closed

[2021-05-14 12:34] #1275 closed

[2021-05-14 13:05] Ankita297 commented on #1418
@ridsuteri ?

[2021-05-14 14:23] vanshikachokhani opened #1425 "Mortgage loan calculator"
I want to add a mortgage loan calculator  where the user will have to enter the loan amount and interest rate and the time period and it will accordingly give the monthly installment.
Please assign me this issue under Gssoc'21 @ridsuteri @991rajat @harshgupta20

[2021-05-14 17:14] #1337 closed

[2021-05-14 17:37] Ayushjain2205 opened #1429 "Pacman game"
## Aim
Build a pac man game

## Description
Use html css and vanilla js

I would like to contrubute to this issue under GSSOC21

[2021-05-14 19:16] shivammahajancse opened #1431 "Shell Sort Visualizer"
I would like to add a project which visualizes the shell sort in JavaScript under GSSOC 2021.

[2021-05-14 19:16] shivammahajancse commented on #1431
Please assign me this issue @ridsuteri

[2021-05-15 01:46] #1338 closed

[2021-05-15 01:48] #1421 closed

[2021-05-15 01:53] #1359 closed

[2021-05-15 02:07] #1358 closed

[2021-05-15 05:59] kumarankm commented on #1397
@991rajat  @Vishal-raj-1  @urvashi-code1255  Kindly assign this issue as soon as possible :)

[2021-05-15 06:30] SrishtiArya07 opened #1436 "Decimal to Binary Converter"
## Is your feature request related to a problem? Please describe.
No its not a problem. I want to add a new Decimal to Binary converter feature.
## Describe the solution you'd like
This tool will convert the decimal number entered into its binary equivalent using Javascript, HTML, and CSS.

## Additional context
Please assign this issue to me under GSSOC 21.

[2021-05-15 07:07] RubenFalcao14 opened #1437 "Addition of show password option in the sign up or log in page."
The current sign up / log in page doesn't have a show password option. I'm a GSSOC'21 participant and I would love to add it.

[2021-05-15 09:20] K-jais opened #1440 "Add Menu Project"
This project will have menu items of restaurant and when you will click on that particular dish then you go to the respective links on google for it.

Its working video,

https://user-images.githubusercontent.com/75881393/118355305-e790af80-b58c-11eb-9a6e-4cbbb91bfa2e.mp4

[2021-05-15 09:21] K-jais commented on #1440
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-15 09:24] K-jais opened #1441 "Add Image Filter Project"
This project will have features like brightness, contrast, blur, grayscale, invert, saturate, etc which you can implement on various images.

Its working video,

https://user-images.githubusercontent.com/75881393/118355373-4fdf9100-b58d-11eb-8b8e-059318d93ff4.mp4

[2021-05-15 09:25] K-jais commented on #1441
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-15 10:06] vanshikachokhani opened #1442 "Bug in Memory Game project"
## Describe the bug
A memory game is present in the repo but the html file for the project is missing in the public folder.

## To Reproduce
Steps to reproduce the behavior:
1. Add a html file for memory game project.

## Expected behavior
The html file for memory game project was not present in the public folder.

I would like to fix the issue.

If the issue exists please assign me it under Gssoc

[2021-05-15 10:24] vanshikachokhani opened #1444 "Project idea: Glitering backgroung animation"
I want to add a glitering background animation project using javascript
Please assign me this issue under Gssoc'21 @ridsuteri @harshgupta20 @991rajat

[2021-05-15 12:07] Amit366 commented on #790
@ridsuteri @Vishal-raj-1 can I work?

[2021-05-15 14:05] PritomDutta89 opened #1448 "Word Count Tool Project"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I would like to add a project where you find length of the word which is given by user in JavaScript

## Additional context
Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-15 14:29] #1448 closed

[2021-05-15 14:33] PritomDutta89 opened #1449 "Height Conversion Project"
## Is your feature request related to a problem? Please describe.
No
## Describe the solution you'd like
I would like to add a project where you can convert feet into meter or meter into feet in JavaScript

## Additional context
Please assign me this issue under GSSOC'21 @ridsuteri @991rajat @harshgupta20

[2021-05-15 14:39] neha07kumari opened #1450 "Photo Editing Web Application in Javascript"
I would like to add a project (Photo Editing Web Application ) in JavaScript under GSSOC 2021.

[2021-05-15 14:39] neha07kumari commented on #1450
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-15 14:42] neha07kumari opened #1451 "Block Breaker Game"
I would like to add a project (Block Breaker game) in JavaScript under GSSOC 2021.

[2021-05-15 14:43] neha07kumari commented on #1451
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-15 15:00] #1211 closed

[2021-05-15 15:17] #1344 closed

[2021-05-15 15:26] 991rajat commented on #1449
Length converter already exist. If you want to modify it create a new issue regarding that.

[2021-05-15 15:26] #1449 closed

[2021-05-15 15:43] #465 closed

[2021-05-15 15:46] #1422 closed

[2021-05-15 15:48] #1363 closed

[2021-05-15 15:54] ridsuteri commented on #790
ok @Amit366 go ahead :)

[2021-05-15 15:56] #1339 closed

[2021-05-15 15:59] #1364 closed

[2021-05-15 16:03] #1365 closed

[2021-05-15 16:06] #1330 closed

[2021-05-15 16:10] #968 closed

[2021-05-15 16:13] #1325 closed

[2021-05-15 16:17] #1418 closed

[2021-05-15 16:21] #1362 closed

[2021-05-15 16:27] #1431 closed

[2021-05-15 16:49] garvitgupta13 opened #1456 "Add a memory game"
Add a memory game in which you have to flip cards such that the pictures of that 2 card matches
![image](https://user-images.githubusercontent.com/70805691/118371699-73c1c780-b5cb-11eb-9627-54c3f6d989b7.png)

You can see two cards at a time only

Plese assign me this issue under `gssoc21`

[2021-05-15 16:53] garvitgupta13 opened #1457 "Add snow.js canvas"
Add snow.js which is a great background template used in javascript

Please assign me this issue under `gssoc21`

[2021-05-15 17:14] garvitgupta13 opened #1459 "Loan Calculator"
A loan calculator which takes principal, interest and time as input and returns the monthly EMI

Please assign me this issue under `gssoc21`

[2021-05-15 19:52] kanisshka opened #1462 "3D Hover"
## Is your feature request related to a problem? Please describe.
No its not a problem.

## Describe the solution you'd like
I want to make a project on 3d hover for flip cards by css.

![image](https://user-images.githubusercontent.com/76627599/118376355-29e5db00-b5e5-11eb-9d49-f5443421e687.png)
 something like this....

[2021-05-16 02:31] #1451 closed

[2021-05-16 02:35] #1342 closed

[2021-05-16 02:36] #1440 closed

[2021-05-16 03:18] neha07kumari opened #1464 "Product Counter in Javascript"
I would like to add a project (Product Counter) in JavaScript under GSSOC 2021.

[2021-05-16 03:18] neha07kumari commented on #1464
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-16 03:20] neha07kumari opened #1465 "Virtual keyboard in javascript"
I would like to add a project (Virtual keyboard) in JavaScript under GSSOC 2021.

[2021-05-16 03:20] neha07kumari commented on #1465
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-16 11:29] K-jais opened #1467 "Add Laptop Portfolio Project"
This project is a laptop view portfolio that shows the person's details in the view of terminal view.

Its working video,

https://user-images.githubusercontent.com/75881393/118395433-162f8880-b668-11eb-9023-09ccb8183369.mp4

[2021-05-16 11:30] K-jais commented on #1467
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-16 11:31] K-jais opened #1468 "Add Image Upload Project"
This project has the feature of image upload in a very animated way. And this feature is most needed in the profile section of the websites.

Its working video,

https://user-images.githubusercontent.com/75881393/118395501-5d1d7e00-b668-11eb-9ff6-c2d23065a590.mp4

[2021-05-16 11:32] K-jais commented on #1468
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-16 12:23] #1340 closed

[2021-05-16 13:44] 991rajat commented on #1441
Hey @K-jais This Project Already Exist, Sorry Didn't know when I assigned You. I'm closing this one.
If you want to modify or improve it create an issue for the same

[2021-05-16 13:44] #1441 closed

[2021-05-16 15:13] garvitgupta13 commented on #1459
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-16 15:13] garvitgupta13 commented on #1457
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-16 15:13] garvitgupta13 commented on #1456
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-17 04:13] ridsuteri commented on #1459
sorry @garvitgupta13 , similar issue has already been assigned to someone else , hence i am closing this one :(

[2021-05-17 04:13] #1459 closed

[2021-05-17 04:14] ridsuteri commented on #1456
sorry @garvitgupta13 , this project already exists in the repo , you can either try to improve that or add any other awesome project :)

[2021-05-17 04:14] #1456 closed

[2021-05-17 04:15] ridsuteri commented on #1457
@garvitgupta13 can you share a ss/gif of the project ?

[2021-05-17 04:29] #1262 closed

[2021-05-17 05:46] jhamadhav opened #1475 "Project idea : CAESAR CIPHER"
# CAESAR CIPHER

In cryptography, a Caesar cipher, also known as Caesar's cipher, the shift cipher, Caesar's code or Caesar shift, is one of the simplest and most widely known encryption techniques. It is a type of substitution cipher in which each letter in the plaintext is replaced by a letter some fixed number of positions down the alphabet. For example, with a left shift of 3, D would be repla

[2021-05-17 05:46] jhamadhav commented on #1475
/assign

[2021-05-17 05:56] jhamadhav commented on #1475
@Vishal-raj-1 @991rajat Please assign me this project !

[2021-05-17 09:31] garvitgupta13 opened #1476 "Add a energy converter"
An energy converter to convert into different units of  such as joule to watt-hour or BTU

Please assign me this issue under `gssoc21`

[2021-05-17 09:48] garvitgupta13 commented on #1457
![20210517_151421_1 1](https://user-images.githubusercontent.com/70805691/118469016-f8732980-b722-11eb-839e-f348e9cfa792.gif)

[2021-05-17 11:39] #1467 closed

[2021-05-17 11:49] garvitgupta13 commented on #1476
Please assign me this issue @ridsuteri @991rajat @Vishal-raj-1 @harshgupta20

[2021-05-17 12:42] K-jais opened #1478 "Add Profile Picture Project"
This project is a custom animated feature of profile pic functionality which is there on every site nowadays. And the picture also gets saved in the local storage of the user.

Its working video,

https://user-images.githubusercontent.com/75881393/118490342-78a58900-b73b-11eb-8d93-2882c2b0f889.mp4

[2021-05-17 12:43] K-jais commented on #1478
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-17 12:46] K-jais opened #1479 "Add Emoji Feedback Form Project"
This project is an emoji feedback form that is used nowadays in every website and it saves the response of the user in the local storage of the user.

Its working video,

https://user-images.githubusercontent.com/75881393/118490837-01bcc000-b73c-11eb-891a-4eeb2d53af47.mp4

[2021-05-17 12:46] K-jais commented on #1479
Please @ridsuteri @991rajat @urvashi-code1255 review this issue.

[2021-05-17 13:46] #1222 closed

[2021-05-17 13:48] #1221 closed

[2021-05-17 13:50] #1233 closed

[2021-05-17 14:17] 991rajat commented on #1450
@neha07kumari Add the image for the refence please. TO check whether this project already exist or not.

[2021-05-17 14:26] #1306 closed

[2021-05-17 14:39] #1349 closed

[2021-05-17 14:43] #1295 closed

[2021-05-17 14:59] #1354 closed

[2021-05-17 15:00] #1274 closed

[2021-05-17 19:46] Shivangi-ch opened #1481 "Add a Block Ninja game."
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I would like to add a Block Ninja game.
![Screenshot from 2021-05-18 01-11-32](https://user-images.githubusercontent.com/57783826/118547151-993f0480-b776-11eb-8c85-977c3bec6bbe.png)
![Screenshot from 2021-05-18 01-11-35](https://user-images.githubusercontent.com/57783826/1185

[2021-05-17 19:49] Shivangi-ch commented on #1481
@ridsuteri @991rajat Please asssign.

[2021-05-17 19:54] Shivangi-ch opened #1482 "Add interactive colorful waves animation."
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I would like to add interactive colorful waves animation.
![Screenshot from 2021-05-18 01-21-35](https://user-images.githubusercontent.com/57783826/118548195-a6102800-b777-11eb-8fac-ec0a5a2f6d08.png)
![Screenshot from 2021-05-18 01-21-39](https://user-images.githubusercontent

[2021-05-17 19:54] Shivangi-ch commented on #1482
@ridsuteri @991rajat Please assign .

[2021-05-17 19:59] Shivangi-ch opened #1483 "Add smart temperature slider"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I would like to add  smart temperature slider
![Screenshot from 2021-05-18 01-26-54](https://user-images.githubusercontent.com/57783826/118548815-5716c280-b778-11eb-94dc-3edcb846fac6.png)
![Screenshot from 2021-05-18 01-26-57](https://user-images.githubusercontent.com/5778382

[2021-05-17 19:59] Shivangi-ch commented on #1483
@ridsuteri @991rajat Please assign

[2021-05-17 20:05] Shivangi-ch opened #1484 "Add Carousel Lock Interface"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I would like to add Carousel Lock Interface.
![Screenshot from 2021-05-18 01-30-56](https://user-images.githubusercontent.com/57783826/118549462-21bea480-b779-11eb-997c-b4c812feb828.png)
![Screenshot from 2021-05-18 01-31-09](https://user-images.githubusercontent.com/57783826

[2021-05-17 20:06] Shivangi-ch commented on #1484
@ridsuteri @991rajat Please assign.

[2021-05-18 01:10] #1465 closed

[2021-05-18 01:17] #1468 closed

[2021-05-18 01:22] ridsuteri commented on #1478
@K-jais i think this project's feature can be added to your upload image project , since most of the features are common in both the projects , what do you say?

[2021-05-18 01:37] ridsuteri commented on #1482
sorry @Shivangi-ch but this animation has already been applied to a project by the name "color flicker" :( you can either look for it's improvements or any other awesome js project

[2021-05-18 01:37] #1482 closed

[2021-05-18 05:31] #790 closed

[2021-05-18 06:05] #1464 closed

[2021-05-18 06:15] K-jais commented on #1478
Yes sir @ridsuteri , most of the features are same then I will update the upload image project with this one.

[2021-05-18 07:05] nidhivanjare opened #1485 "Area Calculator"
## Is your feature request related to a problem? Please describe.
No, it's not a problem. I tried to enhance the look of sidenav.

## Describe the solution you'd like
I would like to add a shapes calculator where the user can select shapes and calculate area, volume, perimeter, length of other sides, etc.

I am a GSSOC'21 Participant and would like to work on this issue.

[2021-05-18 07:08] nidhivanjare commented on #1485
@ridsuteri @991rajat Can I work on this ?
Please assign.

[2021-05-18 07:29] SatyaPrakash26 commented on #304
please look into this

[2021-05-18 08:04] Muskan0 opened #1487 "Add Hex to HSL converter"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I would like to add Hex to HSL converter using HTML, CSS and Javascript.

## Additional context
Please assign this under ```gssoc21```

[2021-05-18 08:16] Muskan0 opened #1488 "Expand and Collapse Card Used in FAQs"
## Is your feature request related to a problem? Please describe.
No its not a problem.
## Describe the solution you'd like
I would like to add the expand and collapse card mainly used in FAQ in websites.

## Additional context
Please assign me this under ```gssoc21```

https://user-images.githubusercontent.com/49088492/118615902-d343f100-b7de-11eb-8dc3-38adb4e7a983.mp4

[2021-05-18 08:25] Muskan0 opened #1489 "Call to action modal/lightbox"
## Is your feature request related to a problem? Please describe.
No its not a problem.

## Describe the solution you'd like
I want to make modal used in call to action or signup for email newsletter popup in almost every website.

## Additional context
Please assign this under ```gssoc21```

https://user-images.githubusercontent.com/49088492/118617843-a42e7f00-b7e0-11eb-8887-7a81a90595d0.mp4

[2021-05-18 10:49] vanshikachokhani opened #1490 "Project idea : FullScreen script"
I want to add a script which can be used in any project to add a tiny fullscreen button at bottom right of any webpage.
This button will make the navigation between fullscreen and nrmal easy.
In the html file we will just need to add
<script type="text/javascript" src="fullscreen.js"></script>
Please assign me this issue under Gssoc21 @ridsuteri @991rajat @harshgupta20